
.Heading{
    padding: 0px;
    // text-align: center;
    --background: #5A5B60;
    --color: white;
    // text-transform: uppercase;
}
.statusButton{
    height: 18px;
    --border-radius: 20px;
    font-size: 12.5px;
    text-transform: capitalize;
}
.CardContent{
    font-size: smaller;
    padding:0px;
}
.Image{
    border-radius: 5px;
    max-height: 100px;
    object-fit: cover;
    width: 80px;
    max-width: 100px;
    height: 73px;
}
.leftCol{
    padding:0px;
}
.timeSym{
   padding:0px;
   margin-top:5%;
}
.timeDetails{
    font-size: 13.5px;
    padding: 0px;
    margin-top: 3px;
    --color: green;
}
.statusImage{
    margin-top: 2px;
    max-width: 20px;
    width: 16px;
}
.mainCard{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    --background: #fff;
    --color: black;
}
.sc-ion-card-ios-h {
    margin: 8px 8px;
}
.icon-center{
    display: flex;
    justify-content: space-evenly;
}
.rowDescription{
    font-size: 13.5px;
    margin-top: 6px;
    height: 37px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;  
  }
  .statusButtonDraft{
    height: 18px;
    --border-radius: 20px;
    font-size: 12.5px;
    text-transform: capitalize;
    --background: #bcbcbc;
    --background-focused: #bcbcbc;
    --background-hover: #bcbcbc;
    --color: #fff;
    --color-activated: #ffffff;
    --color-focused: #ffffff;
  }