<farmeasy-header [Data]="headerData"></farmeasy-header>
<ion-content #content style="background-image: url('assets/images/background.jpeg');
background-repeat: no-repeat;
background-size: 100% 100%; --background: rgba(255,255,255,0.7);">
<div *ngIf="Observations.length>0">
        <ion-card class="mainCard" *ngFor="let observation of Observations">
                <ion-card-header class="Heading">
                        <ion-row>
                                <ion-col class="ion-no-padding" size="6"><p class="ion-no-margin" style="padding: 0px 6px;">{{this.block_label}} {{observation.block}}</p></ion-col>
                                <ion-col class="ion-no-padding" size="6"><p class="ion-no-margin" style="padding: 0px 6px;text-align: right;">{{observation.username}}</p></ion-col>
                        </ion-row>
                </ion-card-header>
                <ion-card-content class="CardContent" >
                        <ion-grid>
                            <ion-row>
                                <ion-col size ="9" class="leftCol">
                                    <ion-row  class="rowDescription">
                                    <p style="white-space: normal" class="line-clamp">
                                     {{observation.description}}
                                    </p>
                                        
                                    </ion-row>
                                    <ion-row >
                                        <ion-col size="3" style="padding-left: 0px;padding-right: 0px;">
                                            <ion-row>
                                                <ion-col size="3" class="timeSym" >
                                                <img  class="statusImage" *ngIf="observation.status == 'Not Yet Acknowledged'"  src="./assets/images/red.svg" >
                                                <img  class="statusImage" *ngIf="observation.status == 'Draft'"  src="./assets/images/red.svg" >
                                                <img  class="statusImage" *ngIf="observation.status == 'Acknowledged'"  src="./assets/images/orange.svg" >
                                                <img  class="statusImage" *ngIf="observation.status == 'Actioned'"   src="./assets/images/green.svg" >
                                            </ion-col>
                                                <ion-col style="text-align:right;margin-top: 3.5px;font-size: 10px;" class="timeDetails">{{observation.days}}</ion-col>
                                            </ion-row>
                                        </ion-col>
                                        <ion-col size="9" style="text-align:right;">
                                            <ion-button (click)="viewObservationMode(observation)" *ngIf="observation.status == 'Not Yet Acknowledged'" class="statusButton" color="danger">{{this.not_acknowledge}}</ion-button>
                                            <ion-button (click)="viewObservationMode(observation)" *ngIf="observation.status == 'Acknowledged'" class="statusButton" color="secondary">{{this.acknowledged}}</ion-button>
                                            <ion-button (click)="viewObservationMode(observation)" *ngIf="observation.status == 'Actioned'" class="statusButton" color="success">{{'Actioned'}}</ion-button>
                                            <ion-button (click)="editObservation(observation)"  *ngIf="observation.status == 'Draft'" class="statusButtonDraft" >{{this.draft}}<ion-icon slot="end" name="create"></ion-icon>
                                            </ion-button>
                                        </ion-col>
                                    </ion-row>
                                </ion-col>
                                <ion-col  *ngIf="observation.address" size ="3" style="padding: 3px 0px 3px 0px;" (click)="viewObservationMode(observation)">
                                      <img class="Image" *ngIf="observation.address[0]['type'] === 'gallery' || observation.address[0]['type'] === 'camera'" [src]="observation.address[0]['url']">
                                      <img *ngIf="observation.address[0]['type'] === 'video'" class="Image" src="assets/images/placeholder_user.png">
                                </ion-col>
                                <ion-col  *ngIf="!observation.address" size ="3" style="padding: 3px 0px 3px 0px;" (click)="editObservation(observation)" >
                                    <img class="Image" src="assets/images/placeholder_user.png">
                              </ion-col>
                            </ion-row>
                            <ion-row *ngIf="name" text-center>
                                <ion-col no-padding>
                                    <ion-button (click)="editObservation(observation)" class="statusButton" color="medium">{{'Edit'}}
                                            <ion-icon slot="end" name="create"></ion-icon>
                                    </ion-button>
                                </ion-col>
                                <ion-col no-padding>
                                    <ion-button (click)="deleteObservation(observation)" class="statusButton" color="medium">{{'Delete'}}
                                            <ion-icon slot="end" name="trash"></ion-icon>
                                    </ion-button>
                                </ion-col>
                            </ion-row>
        <!-- 
                            <ion-row *ngIf="name">
                                <ion-col size="4">
                                    {{this.priority}}: {{observation.priority}}
                                </ion-col>
                                <ion-col size="4" *ngIf="observation.labour">
                                    {{this.labour}}: {{observation.labour.name}}
                                </ion-col>
                                <ion-col size="4" class="icon-center">
                                    <ion-icon style="font-size: 28px; padding: 4px;color: #7D7D7D;" (click)="editObservation(observation)" name="create"></ion-icon>
                                    <ion-icon style="font-size: 28px; padding: 4px;color: #7D7D7D;" (click)="deleteObservation(observation)" name="trash"></ion-icon>
                                </ion-col>
                            </ion-row> -->
                            
                        </ion-grid>
                </ion-card-content>
            </ion-card>
            
</div>

    
            <ion-card class="mainCard" *ngIf="Observations == 'No Observations'">
                    <ion-card-content class="CardContent">
                            <ion-grid>
                                <ion-row center>
                                    <ion-col text-center>
                                        {{this.transObservation}}
                                      </ion-col>
                                </ion-row>
                            </ion-grid>
                    </ion-card-content>
                </ion-card>
                <ion-infinite-scroll #infi threshold="100px" (ionInfinite)="loadData($event)">
                    <ion-infinite-scroll-content infinite-scroll-immediate-check="true"
                      loadingSpinner="bubbles"
                      loadingText="Loading more data...">
                    </ion-infinite-scroll-content>
            </ion-infinite-scroll>
</ion-content>

