<farmeasy-header [Data]='headerData'></farmeasy-header>

<ion-content style="background-image: url('assets/images/tm_background.jpg');
background-repeat: no-repeat;
background-size: 100% 100%; --background: rgba(255,255,255,0.6);">
  <div style="margin-top: 3%"></div>
  <app-block-selection *ngIf="categoriesData && categoriesData.blocks" [Data]="categoriesData.blocks" [totalData]="categoryByPlots"
     (selected_block)="getBlock($event)" [arrow]=false [viewPlot]="viewPlot" [flags]="selectedBlockFlag" ></app-block-selection>

  <!-- <app-users-priority [Data]="usersData" (labour)="getLabourData($event)" (selectedPriority)="getPriority($event)"></app-users-priority> -->
  <ion-card style="--background: #fff;margin:6px 6px;">
    <ion-grid>
      <ion-row>
        <!-- <ion-col size='1'></ion-col> -->
        <ion-col size='5'>
          <p class="fs-startEnd">{{this.labels.StartDate}}</p>
          <p class="fs-startEnd1" style="margin-block-start: 17px;">{{this.labels.EndDate}} </p>
        </ion-col>
        <ion-col size='4'>
          <p class="datefield" (click)="openStartEndDatePopover('Start Date')">{{dateConverter(presentDate)}}</p>
          <p class="datefield" (click)="openStartEndDatePopover('End Date')">{{dateConverter(dateAfterOneYear)}}</p>
        </ion-col>
        <ion-col size='2'>
          <img style="width:26px;" src="../../assets/images/date.png" class="fs-dateImage" (click)="openStartEndDatePopover('Start Date')">
          <img src="../../assets/images/date.png" style="width: 26px;" class="fs-dateImage" (click)="openStartEndDatePopover('End Date')">
        </ion-col>
        <ion-col size='1'>

        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>

  <farmeasy-labours [fromBlock]="fromBlock" [Data]="usersData" [editTask]="editTask" (labour)="getLabourData($event)"
    (selectedPriority)="getPriority($event)" ></farmeasy-labours>
  <ion-label class="label">{{description_label}}</ion-label>
  <ion-card class="galleryComponentCard">
    <farm-gallery-component [editDescription]="editTask" (FarmeasyAdditionalNoates)='getAdditionalNotes($event)'
     (video)="getVideo($event)" (audio)="getRecordedAudio($event)" (cameraImage)="getCameraImage($event)" 
    (attchments)="getAttachments($event)"></farm-gallery-component>
  </ion-card>

  <div *ngIf="taskByBlock && taskByBlock.media && taskByBlock.media.camera" style="margin-top: 8%;margin-left: 2%;">
      <div *ngFor="let camera of taskByBlock.media.camera;let i=index">
        <img *ngIf="camera && camera.url" src="../../../assets/images/cross.svg" class="closeImage" (click)="closeImage('camera',i)">
        <img *ngIf="camera && camera.url" [src]="camera.url" class="image">
      </div>
  
    </div>
  
    <div *ngIf="taskByBlock && taskByBlock.media && taskByBlock.media.video">
      <div *ngFor="let video of taskByBlock.media.video;let i=index" style="margin-top: 6%;margin-left: 2%;">
        <img *ngIf="video && video.url" src="../../../assets/images/cross.svg" class="closeImage" (click)="closeImage('video',i)">
  
        <video *ngIf="video && video.url" width="100%" height="200" controls style="background: black;margin-top: 5%;">
          <source [src]="video.url" type="video/mp4" />
        </video>
      </div>
    </div>
    <div *ngIf="taskByBlock && taskByBlock.media && taskByBlock.media.attachments">
      <div *ngFor="let image of taskByBlock.media.attachments;let i=index;" style="margin-top: 8%;margin-left: 2%;">
        <img *ngIf="image && image.url" src="../../../assets/images/cross.svg" class="closeImage" (click)="closeImage('attachments',i)">
        <img *ngIf="image && image.url" [src]="image.url" class="image">
      </div>
    </div>
    <div *ngIf="taskByBlock && taskByBlock.media && taskByBlock.media.audio">
      <div *ngFor="let audio of taskByBlock.media.audio;let i=index" style="margin-top: 6%;margin-left: 2%;">
        <img *ngIf="audio && audio.url" src="../../../assets/images/cross.svg" class="closeImage" (click)="closeImage('audio',i)">
        <audio *ngIf="audio && audio.url" controls style="width: 100%;margin-top: 4%;">
          <source [src]="audio.url" type="audio/mpeg">
        </audio>
      </div>
    </div>
    
</ion-content>
<ion-footer>
  <ion-button class="createTask"  (click)="createTask('leftButtonAction')">{{this.labels.create}}</ion-button>
</ion-footer>
<!-- [isEnableCreate]='isCreatedTask' [isEnableDraft]='isdraft' -->
<!-- <farmeasy-footer [Data]="footerData" [isEnableLeft]='isCreatedTask' [isEnableRight]='isdraft' (leftButtonAction)="createTask($event)" (rightButtonAction)="createTask($event)"></farmeasy-footer> -->
<!-- <farmeasy-footer [Data]="footerData" [isEnableLeft]='isCreatedTask'  (leftButtonAction)="createTask($event)" ></farmeasy-footer> -->

