.galleryComponentCard{
    --background: transparent;
    padding: 4px 0px 4px 0px;
    margin: 5px 6px 10px 6px;
    padding-left: 0px !important;
    padding-right: 0px;
    box-shadow: none;
}
.footer{
    background: rgba(255,255,255,0.9);
    text-align: center;
}
.createTask{
    font-weight: bold;
    height: 29px;
    --max-height: 83px;
    font-size: 13px;
    --background: rgba(139, 195, 74, 1);
    width: 38%;
}
.item{
    padding-left: 0%;
    --background:transparent;
    --padding-start:0px;
    --border-color: transparent;
    margin-bottom: 2%;
    margin-top: -1%;
}

.dateCard{
    margin: 6px;
    --background: #fff;
}
.selectDateText{
    margin-left: 5%;
    font-size: 14px;
}
.dateImage{
    color: red;
}
.fs-dateImage{
    margin-top: 23%;
    height: 22px;
}
.fs-startEnd{
    color: #1f70c1;
    font-size: 13.4px;
    margin-left: 1%;
}
.fs-startEnd1{
    color: #1f70c1;
    font-size: 13.4px;
    margin-left: 1%;
    margin-top: 17px;
}
.closeImage{
    width: 8%;
    position: absolute;
    right: 4px;
    z-index: 99;
   
}
.image{
    margin-top: 8%;
    margin-left: 2%;
    width: 100%;
    height: 200px;
}
ion-footer{
    background: white;
    text-align: center;
}
.label{
    font-size: 14px;
    color: #676768;
    padding-left: 2%;
}
.datefield{
    font-size: 13.4px;
    text-align: center;
    margin: 0;
    border: 1px solid #b1b1b1;
    padding: 6px;
    margin-top: 3px;
    border-radius: 4px;
}