<farmeasy-header [Data]="headerData"></farmeasy-header>
<ion-content style="background-image: url('assets/images/tm_background.jpg');
background-repeat: no-repeat;
background-size: 100% 100%; --background: rgba(255,255,255,0.9);">
<!-- <ion-item   no-lines *ngFor="let mainMenu of menu;let i=index" (click)="selectedTask(mainMenu)">
  <ion-button slot="start" class="em-avatarButton">
    <ion-avatar class="em-avatar">
    <img [src]="mainMenu.image" style="object-fit: cover;">
    </ion-avatar>
  </ion-button>
  <ion-label style="padding: 6px;">
    <p class="em-heading">{{mainMenu.heading}}</p>
    <p item-left class="em-description">{{mainMenu.description}}</p>
  </ion-label>
  <ion-icon name="ios-arrow-forward" item-right padding-horizontal></ion-icon>
</ion-item> -->

<ion-card *ngFor="let mainMenu of menu" (click)="selectedTask(mainMenu)">
  <ion-item>
    <ion-avatar slot="start">
       <img [src]="mainMenu.image" style="object-fit: cover;">
    </ion-avatar>
    <ion-label no-margin>
      <p class="farmmodule_title">{{mainMenu.heading}}</p>
      <p class="farmmodule_subtitle">{{mainMenu.description}}</p>
      <img slot="end" src="assets/images/forwordarrow.png" class="cssarrow">
    </ion-label>

  </ion-item>
</ion-card>



</ion-content>