 .block-okCancelButton{
    text-align: center;
    margin :5%;
    }
    .block-ok{
        --padding-top: 6px;
        --padding-end: 10px;
        --padding-bottom: 5px;
        --padding-start: 9px;
        --border-radius:10px;
        font-weight: bold;
        --background:rgba(139, 195, 74, 1);
        height: 19px;
        font-size: 12px;
    }
    .block-cancel{
        --padding-top: 6px;
        --padding-end: 10px;
        --padding-bottom: 5px;
        --padding-start: 9px;
        --border-radius: 12px;
        font-weight: bold;
        --background:red;
        height: 19px;
        width: 70px;
        font-size: 12px;
    }
 .cssimage{
    width: 15px;
    opacity: 0.7;
    position: absolute;
    right: 2%;
    top: 5%;
  }