<ion-content padding>
  <div>
<div id="recaptcha-container"></div>
<ion-item>
  <ion-input [(ngModel)]="mobile" type="number" placeholder="Enter Mobile Number" (ionChange)="listMobileNumber()" ></ion-input>
  <!-- <ion-button (click)="checkNumberInDB()">get OTP</ion-button> -->
</ion-item>
<ion-item *ngIf="showOpt">
  <ion-input [(ngModel)]="otp" type="number" placeholder="Enter OTP" (ionChange)="listenOTP()" ></ion-input>
  <!-- <ion-button (click)="verifyNumber()" >Verify</ion-button> -->
</ion-item>
<p *ngIf="otperror" style="color:red;text-align:center">wrong OTP</p>
<div  class="block-okCancelButton">
      <ion-button class="block-cancel" (click)="popOverDateCancel()">{{'Close'}}</ion-button>
      <ion-button class="block-ok" id="send-otp" [disabled]="dontShowSend" *ngIf="!showOpt" (click)="checkNumberInDB()" >Send OTP</ion-button>
      <ion-button class="block-ok"  *ngIf="showOpt" (click)="verifyNumber()" >Verify</ion-button>

</div>
</div>
</ion-content>
