.headerGreen{
    --background :rgba(255, 152, 0, 1) 100%;
    --color:#fff;
 }
 .alignCenter{
    text-align: center;
}
.title-ios {
   padding: 0 12px;
}
.toolbar-title{
   text-align: center;
   color: #fff;
   font-size: 16px !important;
}
ion-title{
   font-size: 16px;
   // margin-left: -46px;
}
ion-toolbar {
   --min-height: 47px;
}
ion-label{
   text-transform: capitalize;
}
.item{
   --padding-start: 1px;
   --border-width: 0 0 0 0 !important;
   --show-full-highlight: 0 !important;
   --show-inset-highlight: 0 !important;
   --inner-border-width: 0px 0px 0px 0px;
   --background:transparent;
}
.card{
   margin: 5px 10px;
   --background: rgba(255,255,255,0.7) ! important;
   --color: rgba(0,0,0,0.8);
   border-radius: 4px;
}
.buttons_start{
   margin-top: 0px !important;
}
.segment{
   --background:#096763;
   --border-color:#096763;
   --background-checked:red;
   --color-checked: transparent;
   font-size: 13px;
   margin-bottom: 4px;
//--background-checked:transparent;

}
.segment-button-indicator {
   height: 3px;
}
.segmentLabel{
   font-size: 13px;
}
// .segment_button{
//    min-height: 40px;
// }
.thumbnail{
   margin: 1px 18px 1px 1px;
   // height: 70px;
   // width: 28%;
}
.searchBarItem{
   --inner-padding-end: 5px;
   --inner-padding-start: 5px;
   --background: transparent;
   // padding-top: 3%;
   // padding-bottom: 3%;
   --border-width: 0 0 0 0 !important;
   --show-full-highlight: 0 !important;
   --show-inset-highlight: 0 !important;
   --min-height:6px;
   // margin-bottom: 6%;
   margin-top: -9px;
   margin-bottom: 8px;
}
.toolbar-title{
   text-align: center;
   color: #fff;
   font-size: 16px !important;
}
.viewText{
   color: #49a8f0;
   font-size: 14px;
   --box-shadow: 0 0px 0px -2px rgba(0,0,0,0.2),0 0px 0px 0 rgba(0,0,0,0),0 0px 0px 0 rgba(0,0,0,0);
   --box-shadow: 0 0px 0px -3px rgba(0,0,0,0.2),0 0px 0px 0px rgba(0,0,0,0.14),0 0px 0px 0px rgba(0,0,0,0.12);
   --background:transparent;
   margin-left: 46px;
   text-transform: unset;
   font-size: 14px;
}
.createButton{
   --box-shadow: 0 0px 0px -2px rgba(0,0,0,0.2),0 0px 0px 0 rgba(0,0,0,0),0 0px 0px 0 rgba(0,0,0,0);
   --box-shadow: 0 0px 0px -3px rgba(0,0,0,0.2),0 0px 0px 0px rgba(0,0,0,0.14),0 0px 0px 0px rgba(0,0,0,0.12);
   --background:transparent;
   position: absolute;
   right: -12px;
   height: 20px;
   margin: 0px;
}
.createIcon{
   color: rgba(0,0,0,0.7);
}
.segment-scrollable.sc-ion-segment-md-h::-webkit-scrollbar {
   display: unset;
}
ion-segment-button{
   font-size: 16px;
   color: #4A4A4A;
   border: 0px;
   border-radius: 0px;
   background-color: #e6e6e6;
   text-transform: capitalize;
    min-height: 30px;
}
.segment-button-checked{
   // background: #ff9800;
   color: #1EC400;
   font-weight: 1000;
    border-bottom: 4px solid #ff9800;
}
.Title .md .title-md .hydrated{
   margin-left: -46px;
}

// .segment-button {
//    ion-label {
//        color: var(--ion-color-medium);
//    }
// }

// .segment-button-checked {
//    ion-label {
//        color: var(--ion-color-light) !important;
//    }
// }
