<ion-header>
  <ion-toolbar class="headerGreen">
    <ion-buttons slot="start" class="buttons_start">
      <ion-menu-button style="color:#fff"></ion-menu-button>
    </ion-buttons>
    <ion-title class="Title" style="text-align: center;">{{this.title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="home()">
        <ion-icon style="font-size: 28px;" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content style="background-image: url('assets/images/tm_background.jpg');
background-repeat: no-repeat;
background-size: 100% 100%; --background: rgba(252, 244, 242,0.8);">
<ion-segment (ionChange)="segmentChanged($event.detail.value)" class="segment" scrollable>
  <ion-segment-button value="Fruit" class="segment_button" checked>
    <ion-label no-margin class="segmentLabel">{{this.labels.fruits}}</ion-label>
  </ion-segment-button>
  <ion-segment-button value="Vegetable" class="segment_button">
    <ion-label no-margin class="segmentLabel">{{this.labels.vegetables}}</ion-label>
  </ion-segment-button>
  <ion-segment-button value="Pulses" class="segment_button">
    <ion-label no-margin class="segmentLabel">{{this.labels.pulses}}</ion-label>
  </ion-segment-button>
  <ion-segment-button value="Grains" class="segment_button">
    <ion-label no-margin class="segmentLabel">{{this.labels.grains}}</ion-label>
  </ion-segment-button>
  <ion-segment-button value="Tubers" class="segment_button">
    <ion-label no-margin class="segmentLabel">{{this.labels.tubers}}</ion-label>
  </ion-segment-button>
  <ion-segment-button value="Treenuts" class="segment_button">
    <ion-label no-margin class="segmentLabel">{{this.labels.treenuts}}</ion-label>
  </ion-segment-button>
</ion-segment>
  <div *ngIf="showFruitsData">
    <ion-item no-lines class="searchBarItem">
      <ion-searchbar item-left [(ngModel)]="myInput" [showCancelButton]="true" (keyup)="searchByFruits($event)"
        (ionCancel)="onCancel($event)" (ionClear)="cancelSearch()" style="background-color: transparent;">
      </ion-searchbar>
    </ion-item>
    <ion-card class="card" *ngFor="let fruitData of fruitsData">
      <!-- <ion-button slot="end" class="createButton">
            <ion-icon name="create" class="createIcon"></ion-icon>
          </ion-button> -->
      <ion-item no-lines class="item">

        <ion-thumbnail class="thumbnail" slot="start">
          <img *ngIf="fruitData && fruitData.image && fruitData.image.url" [src]="fruitData.image.url" style="object-fit: cover; border-radius: 4px;"> 
          <img *ngIf="!fruitData.image.url" src="../../assets/images/placeholder_user.png">
        </ion-thumbnail>
        <ion-label slot="start" style="font-size: 14px;">{{fruitData.plant_name}}</ion-label>
        <ion-button slot="end" (click)="getSelectedFruit(fruitData)" class="viewText">{{this.labels.view}}

        </ion-button>

      </ion-item>
    </ion-card>
  </div>
  <div *ngIf="showvegitablesData">
    <ion-item no-lines class="searchBarItem">
      <ion-searchbar item-left [(ngModel)]="myInput" [showCancelButton]="true" (keyup)="searchByVegitables($event)"
        (ionCancel)="onCancel($event)" (ionClear)="cancelSearch()" style="background-color: transparent;">
      </ion-searchbar>
    </ion-item>
    <ion-card class="card" *ngFor="let vegetableData of vegetablesData">
      <!-- <ion-button slot="end" class="createButton">
            <ion-icon name="create" class="createIcon"></ion-icon>
          </ion-button> -->
      <ion-item no-lines class="item">
        <ion-thumbnail class="thumbnail" slot="start">
          <img [src]="vegetableData.image.url" style="object-fit: cover;">
          <img *ngIf="!vegetableData.image.url" src="../../assets/images/placeholder_user.png">
        </ion-thumbnail>
        <ion-label slot="start" style="font-size: 14px;">{{vegetableData.plant_name}}</ion-label>
        <ion-button (click)="getSelectedvegetable(vegetableData)" slot="end" class="viewText">{{this.labels.view}}
        </ion-button>
      </ion-item>
    </ion-card>
  </div>
  <div *ngIf="showPulsesData">
    <ion-item no-lines class="searchBarItem">
      <ion-searchbar item-left [(ngModel)]="myInput" [showCancelButton]="true" (keyup)="searchByPulses($event)"
        (ionCancel)="onCancel($event)" (ionClear)="cancelSearch()" style="background-color: transparent;">
      </ion-searchbar>
    </ion-item>
    <ion-card class="card" *ngFor="let pulseData of pulsesData">
      <!-- <ion-button slot="end" class="createButton">
            <ion-icon name="create" class="createIcon"></ion-icon>
          </ion-button> -->
      <ion-item no-lines class="item">

        <ion-thumbnail class="thumbnail" slot="start">
          <img [src]="pulseData.image.url" style="object-fit: cover; border-radius: 4px; ">
          <img *ngIf="!pulseData.image.url" src="../../assets/images/placeholder_user.png">
        </ion-thumbnail>
        <ion-label slot="start" style="font-size: 14px;">{{pulseData.plant_name}}</ion-label>
        <ion-button (click)="getSelectedvegetable(pulseData)" slot="end" class="viewText">{{this.labels.view}}

        </ion-button>

      </ion-item>
    </ion-card>
  </div>
  <div *ngIf="showGrainsData">
    <ion-item no-lines class="searchBarItem">
      <ion-searchbar item-left [(ngModel)]="myInput" [showCancelButton]="true" (keyup)="searchByGrains($event)"
        (ionCancel)="onCancel($event)" (ionClear)="cancelSearch()" style="background-color: transparent;">
      </ion-searchbar>
    </ion-item>
    <ion-card class="card" *ngFor="let grainData of grainsData">
      <!-- <ion-button slot="end" class="createButton">
            <ion-icon name="create" class="createIcon"></ion-icon>
          </ion-button> -->
      <ion-item no-lines class="item">

        <ion-thumbnail class="thumbnail" slot="start">
          <img [src]="grainData.image.url" style="object-fit: cover;border-radius: 4px;">
          <img *ngIf="!grainData.image.url" src="../../assets/images/placeholder_user.png">
        </ion-thumbnail>
        <ion-label slot="start" style="font-size: 14px;">{{grainData.plant_name}}</ion-label>
        <ion-button (click)="getSelectedvegetable(grainData)" slot="end" class="viewText">{{this.labels.view}}

        </ion-button>

      </ion-item>
    </ion-card>
  </div>
  <div *ngIf="showTubersData">
    <ion-item no-lines class="searchBarItem">
      <ion-searchbar item-left [(ngModel)]="myInput" [showCancelButton]="true" (keyup)="searchByTubers($event)"
        (ionCancel)="onCancel($event)" (ionClear)="cancelSearch()" style="background-color: transparent;">
      </ion-searchbar>
    </ion-item>
    <ion-card class="card" *ngFor="let tuberData of tubersData">
      <!-- <ion-button slot="end" class="createButton">
            <ion-icon name="create" class="createIcon"></ion-icon>
          </ion-button> -->
      <ion-item no-lines class="item">

        <ion-thumbnail class="thumbnail" slot="start">
          <img [src]="tuberData.image.url"  style="object-fit: cover;border-radius: 4px;">
          <img *ngIf="!tuberData.image.url" src="../../assets/images/placeholder_user.png">
        </ion-thumbnail>
        <ion-label slot="start" style="font-size: 14px;">{{tuberData.plant_name}}</ion-label>
        <ion-button (click)="getSelectedTuber(tuberData)" slot="end" class="viewText">{{this.labels.view}}

        </ion-button>

      </ion-item>
    </ion-card>
  </div>
  <div *ngIf="showTreenutsData">
    <ion-item no-lines class="searchBarItem">
      <ion-searchbar item-left [(ngModel)]="myInput" [showCancelButton]="true" (keyup)="searchByTreenuts($event)"
        (ionCancel)="onCancel($event)" (ionClear)="cancelSearch()" style="background-color: transparent;">
      </ion-searchbar>
    </ion-item>
    <ion-card class="card" *ngFor="let treenutData of treenutsData">
      <!-- <ion-button slot="end" class="createButton">
            <ion-icon name="create" class="createIcon"></ion-icon>
          </ion-button> -->
      <ion-item no-lines class="item">

        <ion-thumbnail class="thumbnail" slot="start">
          <img [src]="treenutData.image.url"  style="object-fit: cover;border-radius: 4px;"> 
          <img *ngIf="!treenutData.image.url" src="../../assets/images/placeholder_user.png">
        </ion-thumbnail>
        <ion-label slot="start" style="font-size: 14px;">{{treenutData.plant_name}}</ion-label>
        <ion-button (click)="getSelectedTuber(treenutData)" slot="end" class="viewText">{{this.labels.view}}

        </ion-button>

      </ion-item>
    </ion-card>
  </div>
</ion-content>