<farmeasy-header [Data]='headerData'></farmeasy-header>
<ion-content style="background-image: url('assets/images/tm_background.jpg');
background-repeat: no-repeat;
background-size: 100% 100%; --background: rgba(255,255,255,0.6);">
  <!-- <app-contact></app-contact> -->
  <div *ngIf="displayData">

    <!-- <farmeasy-categories [editTask]="editTask" *ngIf="categoriesData" [Data]="categoriesData.categories"
      (category)="getcategory($event)"></farmeasy-categories> -->
    <app-frequency-selection *ngIf="categoriesData.frequency" [Data]="categoriesData.frequency"
      [selectedCategory]="selectedCategory" [selectedDate]="yearDate" [selectedDates]="selectedDates"
      [selectedStartDate]='selectedStartDateFormate' [selectedEndDate]='selectedEndDateFormate'
      (selectedFrequency)="getFrequency($event)" (isDateClicked)="openDaysOfMonthPopOver($event)" (Day)=getDay($event)
      [editTask]="editTask"></app-frequency-selection>
    <!-- <div *ngIf="days && selectedFrequency">
      <app-block-selection [Data]="categoriesData.blocks" [totalData]="categoryByPlots" [flags]="selectedBlockFlag" [viewPlot]="viewPlot" [arrow]=true [finalData]="finalData" (selected_block)="getBlock($event)"
      [selectedblocksWithCategory]="selectedblocksWithCategory" (selected_blockWithPlotName)="getselected_blockWithPlotName($event)"></app-block-selection>
    </div> -->
    <ion-card *ngIf="showAdditionalNotes">


      <!-- <ion-item>
        <ion-input type="text" placeholder="Title" [(ngModel)]="event.title"></ion-input>
      </ion-item> -->
      <!-- <ion-item>
        <ion-input type="text" placeholder="Description" [(ngModel)]="event.desc"></ion-input>
      </ion-item> -->
      <ion-item>
        <ion-label>Start Date</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.startTime"
          [min]="minDate"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>End Date</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.endTime"
          [min]="minDate"></ion-datetime>
      </ion-item>
      <!-- <ion-item>
        <ion-label>All Day?</ion-label>
        <ion-checkbox [(ngModel)]="event.allDay"></ion-checkbox>
      </ion-item> -->
      <!-- <ion-button fill="outline" expand="block" (click)="addEvent()" [disabled]="event.title == ''">Add Event</ion-button> -->
 
    </ion-card>
    <div class="search-disease-css">
      <div class="form-group-sm">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for Employee" [(ngModel)]="search_user" (keyup)="searchInventory()">
          <span class="input-group-btn">
            <button class="btn btn-sm"><img class="search_img" src="assets/images/search.svg" /></button>
          </span>
        </div>
      </div>
    </div>
    <farmeasy-labours *ngIf="showAdditionalNotes" [Data]="usersData" [editTask]="editTask"
      (labour)="getLabourData($event)" (selectedPriority)="getPriority($event)"></farmeasy-labours>
    <ion-label class="label" *ngIf="showAdditionalNotes">{{labels.description}}</ion-label>
    <ion-card class="galleryComponentCard" *ngIf="showAdditionalNotes">
      <farm-gallery-component [editDescription]="editTask" (FarmeasyAdditionalNoates)='getAdditionalNotes($event)'
        (video)="getVideo($event)" (audio)="getRecordedAudio($event)" (cameraImage)="getCameraImage($event)"
        (attchments)="getAttachments($event)"></farm-gallery-component>
    </ion-card>
  </div>
  <div *ngIf="taskByCategory && taskByCategory.media && taskByCategory.media.camera"
    style="margin-top: 8%;margin-left: 2%;">
    <div *ngFor="let camera of taskByCategory.media.camera;let i=index">
      <img *ngIf="camera && camera.url" src="../../../assets/images/cross.svg" class="closeImage"
        (click)="closeImage('camera',i)">
      <img *ngIf="camera && camera.url" [src]="camera.url" class="image">
    </div>
  </div>
  <!-- {{taskByCategory.media.video}} -->
  <div *ngIf="taskByCategory && taskByCategory.media && taskByCategory.media.video">
    <div *ngFor="let video of taskByCategory.media.video;let i=index" style="margin-top: 6%;margin-left: 2%;">
      <img *ngIf="video && video.url" src="../../../assets/images/cross.svg" class="closeImage"
        (click)="closeImage('video',i)">
      <video *ngIf="video && video.url" width="80%" height="200" controls class="video">
        <source [src]="video.url" type="video/mp4" />
      </video>
    </div>
  </div>

  <div *ngIf="taskByCategory && taskByCategory.media && taskByCategory.media.attachments">
    <div *ngFor="let image of taskByCategory.media.attachments;let i=index;" style="margin-top: 8%;margin-left: 2%;">
      <img *ngIf="image && image.url" src="../../../assets/images/cross.svg" class="closeImage"
        (click)="closeImage('attachments',i)">
      <img *ngIf="image && image.url" [src]="image.url" class="image">
    </div>
  </div>

  <div *ngIf="taskByCategory && taskByCategory.media && taskByCategory.media.audio">
    <div *ngFor="let audio of taskByCategory.media.audio;let i=index" style="margin-top: 6%;margin-left: 2%;">
      <img *ngIf="audio && audio.url" src="../../../assets/images/cross.svg" class="closeImage"
        (click)="closeImage('audio',i)">
      <audio *ngIf="audio && audio.url" controls class="audio">
        <source [src]="audio.url" type="audio/mpeg">
      </audio>
    </div>
  </div>



</ion-content>
<ion-footer style="padding-top: 15px" >
  <ion-button class="createTask" (click)="createTask('leftButtonAction')">{{this.labels.create}}</ion-button>
</ion-footer>
<!-- <farmeasy-footer [Data]="footerData" [isEnableLeft]='isCreatedTask' [isEnableRight]='isdraft' (leftButtonAction)="createTask($event)" (rightButtonAction)="createTask($event)"></farmeasy-footer> -->
<!-- <farmeasy-footer [Data]="footerData" [isEnableLeft]='isCreatedTask' (leftButtonAction)="createTask($event)" ></farmeasy-footer> -->