.catergory-card{
    margin:10px 12px 0px 12px;
    box-shadow: none;
    // --background:#fff;
}
.category{
    width: 77px;
    height: 75px;
    padding: 0px;
    border-radius: 7px;
    background-size: cover;
}
.catergory-text{
    padding-right: 9px;
    padding-left: 3px;
    width: inherit;
    bottom: 5px;
    position: absolute;
    line-height: 20px;
    border-radius: 0px 0px 7px 7px;
    text-align: center;
    color: #fff;
    font-size: 11.5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: linear-gradient(to top, #010101, transparent);
}
// ion-col{
//     flex: 0 0 calc(calc(4 / var(--ion-grid-columns, 12)) * 100%);
//     width: calc(calc(4 / var(--ion-grid-columns, 12)) * 100%);
//     max-width: calc(calc(4 / var(--ion-grid-columns, 12)) * 100%);
//     // display: flex !important;
//     // justify-content: center !important;
// }

.cssimg{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-bottom: -20px;
 }
 .user_background{
    // bottom: 5px;
    width: 100px;
    position: relative;
    line-height: 20px;
    border-radius: 0px 0px 7px 7px;
    text-align: center;
    padding-right: 9px;
    padding-left: 3px;
    color: #fff;
    // font-family: 'Roboto-Regular', sans-serif;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: rgba(51, 59, 42, 0.4);
    z-index: 100;
    // border: 1px solid rgba(187, 187, 187, 0.6);
  }
  .different-views{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 4px;
  }

  ion-thumbnail {
      height: 45px;
      width: 45px;
  }