<farmeasy-header [Data]="headerData"></farmeasy-header>
<ion-content style="background-image: url('assets/images/tm_background.jpg');
background-repeat: no-repeat;
background-size: 100% 100%; --background: rgba(255,255,255,0.7);">
<ion-card no-padding no-margin style="box-shadow: none;">
  <ion-searchbar (ionClear)="clear()" [placeholder]="labels.search" [(ngModel)]="searchkeys" (ionChange)="search()"></ion-searchbar>
  <div text-end (click)="showlist()" class="different-views" *ngIf="!showlistflag">
      <ion-icon style="font-size: 24px;margin-right: 10px;" name="list"></ion-icon><p no-margin style="font-size: 14px; margin: 2px;margin-right: 6px;">{{this.labels.list}}&nbsp;</p>
  </div>
  <div text-end (click)="showgrid()" class="different-views" *ngIf="showlistflag">
      <ion-icon style="font-size: 24px;margin-right: 10px;" name="grid"></ion-icon><p no-margin style="font-size: 14px; margin: 2px;margin-right: 6px;">{{this.labels.grid}}&nbsp; </p>
  </div>
<ion-card no-margin style="box-shadow: none;" *ngIf="!showlistflag">
        <ion-card-content no-padding *ngIf="Employee_data.length>0">
          <ion-grid>
              <ion-row>
                  <ion-col col-4 *ngFor="let labour of Employee_data;let idx=index" (click)="selectLabour(labour)">
                      <img class="cssimg" [src]="labour.profile_url">
                      <div class="user_background">{{labour.name}}</div>
                  </ion-col>
                </ion-row>
            </ion-grid>
      </ion-card-content>
      <ion-card-content style="text-align: center;" *ngIf="Employee_data.length==0">
        Not found {{this.searchkeys?'with '+this.searchkeys:''}}
      </ion-card-content>
</ion-card> 
<ion-card class="catergory-card" *ngIf="showlistflag">
  <ion-list *ngIf="Employee_data.length>0">
    <ion-item *ngFor="let labour of Employee_data;let idx=index" (click)="selectLabour(labour)">
      <ion-thumbnail>
        <img [src]="labour.profile_url" style="object-fit: cover;border-radius: 8px;">
      </ion-thumbnail>
      <ion-label margin-start>{{labour.name}}</ion-label>
      <img src="assets/images/chevron-right.svg" style="width: 25px;">
    </ion-item>
  </ion-list>
  <ion-card-content style="text-align: center;" *ngIf="Employee_data.length==0">
    Not found {{this.searchkeys?'with '+this.searchkeys:''}}
  </ion-card-content>
</ion-card>
</ion-card>
 
</ion-content>
