<farmeasy-header [Data]="headerData"></farmeasy-header>
<ion-content style="background-image: url('assets/images/tm_background.jpg');
background-repeat: no-repeat;
background-size: 100% 100%; --background: rgba(255,255,255,0.7);" >
<ion-card *ngFor="let item of list" (click)="naviagation(item)">
  <ion-item lines="none">
    <ion-thumbnail class="avatar-icon">
      <img [src]="item.icon" style="object-fit: cover;">
    </ion-thumbnail>
    <ion-label margin-start>{{item.name}}</ion-label>
    <img src="assets/images/chevron-right.svg" style="width: 25px;">
  </ion-item>
</ion-card>

</ion-content>