<ion-card class="fs-card">
  <ion-grid>
    <ion-row style="height: 34px; margin-top: -12px;">
      <ion-col size="5" style="padding-top: 16px;">
        <ion-label class="fs-label">{{this.labels.frequency}}</ion-label>
      </ion-col>
      <ion-col size="7" style="display:inline;" *ngIf="frequency=='Weekly'">
        <ion-item class="daysOfWeek">
          <ion-label item-left class="fs-label">{{this.labels.dayof}}</ion-label>
          <!-- <ion-toggle item-right style="padding: 3px 0px 3px 0px;" [(ngModel)]='activeToggle' item-right (ionChange)="getStarEndtDate($event)"></ion-toggle> -->
        </ion-item>
      </ion-col>
      <ion-col size="7">
          <ion-label item-left class="fs-label">{{this.labels.daysofm}}</ion-label>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5" class="fs-col">
        <!-- <ion-item class="fs-item" no-lines> -->
          <ion-select  interface="popover" value="brown" [okText]="labels.ok" [cancelText]="labels.cancel" class="fs-frequencySelect" (ionChange)="selectFrequency($event)"
            [placeholder]="this.labels.freq_place" [(ngModel)]="userSelectedFrequency">
            <ion-select-option *ngFor="let selectFrequency of selectFrequencies.options" [value]="selectFrequency.name">{{selectFrequency.view}}</ion-select-option>
          </ion-select>
        <!-- </ion-item> -->
      </ion-col>
      <span *ngIf="frequency=='Weekly'" style="display: inherit;">
      <ion-col size="1" class="fs-daysCol"  *ngFor="let day of selectFrequencies.days_of_week;let idx=index;">
        <ion-button *ngIf="frequency=='Weekly'" class="fs-days" [ngClass]="{'fs-days1':checkSelectedDay[idx]==true}"
          (click)="selectedDay(day,idx)">{{day.label}}</ion-button>
      </ion-col>
      </span>
      <span style="display: inherit;" *ngIf="frequency=='Yearly'">
        <ion-col size="1" style="padding:0px;">
          <img *ngIf="frequency=='Yearly'" src="../../assets/images/date.png" style="width: 26px;" class="fs-dateImage" (click)="openStartEndDatePopover('Select Date')">
        </ion-col>
        <ion-col *ngIf="selectedDateMonth && selectedDateDate">
          <div class="yearly-date" (click)="openStartEndDatePopover('Select Date')">
              <p style="margin: 0px;">{{months[selectedDateMonth]}}  {{selectedDateDate}}</p>
          </div>
        </ion-col>
        <!-- <ion-col size="1" *ngFor="let day of selectedDates1">
          <ion-button class="fs-days1" (click)="selectedDay(day)">{{day}}</ion-button>
        </ion-col> -->
      </span>
      <!-- <span style="display: inherit;" *ngIf="frequency=='Monthly'">
        <ion-col size="1" style="padding:0px;">
          <img *ngIf="frequency=='Monthly'" src="../../assets/images/date.png" style="width: 26px;" class="fs-dateImage" (click)="openStartEndDatePopover('Select Date(s)')">
        </ion-col>
        <ion-col size="1" *ngFor="let day of selectedDates1">
          <ion-button class="fs-days1" (click)="selectedDay(day)">{{day}}</ion-button>
        </ion-col>
      </span> -->
    </ion-row>
    <!-- <ion-row style=" margin-top: -8px;" *ngIf="frequency=='One Time'"> 
      <ion-col size='5'>
        <p class="fs-startEnd" style="margin-top: 8px;">{{this.labels.start}}</p>
      </ion-col>
      <ion-col size='4'>
        <p class="date-field">{{this.dateConverter(currentDate)}}</p>
      </ion-col>
      <ion-col size='2'>
        <img style="width:26px" src="../../assets/images/date.png" class="fs-dateImage" (click)="openStartEndDatePopover('Start Date')">
      </ion-col>
      <ion-col size='1'>

      </ion-col>
    </ion-row> -->
    <!-- <ion-row style=" margin-top: -8px;" *ngIf="frequency !='One Time'"> 
      <ion-col size='5'>
        <p class="fs-startEnd">{{this.labels.start}}</p>
        <p class="fs-startEnd1" style="margin-block-start: 17px;">{{this.labels.end}} </p>
      </ion-col>
      <ion-col size='4'>
        <p class="date-field" (click)="openStartEndDatePopover('Start Date')">{{this.dateConverter(currentDate)}}</p>
        <p class="date-field" (click)="openStartEndDatePopover('End Date')" >{{this.dateConverter(endDate)}}</p>
      </ion-col>
      <ion-col size='2'>
        <img style="width:26px" src="../../assets/images/date.png" class="fs-dateImage" (click)="openStartEndDatePopover('Start Date')">
        <img src="../../assets/images/date.png" style="width:26px" class="fs-dateImage" (click)="openStartEndDatePopover('End Date')">
      </ion-col>
      <ion-col size='1'>

      </ion-col>
    </ion-row> -->
  </ion-grid>
  <!-- <ion-grid *ngIf="category && category.id !='1'">
    <ion-row>
      <ion-col size="5">
        <ion-label class="fs-label">{{this.labels.frequency}}</ion-label>
      </ion-col>
      <ion-col size="7">
        <ion-label item-left class="fs-label">{{this.labels.daysofm}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">
      
         
          <ion-select value="brown" ok-text="Okay" cancel-text="Dismiss" class="fs-frequencySelect" (ionChange)="selectFrequency($event)"
          [placeholder]="this.labels.freq_place" [(ngModel)]="userSelectedFrequency">
          <ion-select-option *ngFor="let selectFrequency of selectFrequencies.options">{{selectFrequency.name}}</ion-select-option>
        </ion-select>
      
      </ion-col>
      <ion-col size="1" style="padding:0px;">
        <img *ngIf="frequency=='Monthly'" src="../../assets/images/date.png" class="fs-dateImage" (click)="openStartEndDatePopover('Select Date(s)')">
      </ion-col>
      <ion-col size="1" *ngFor="let day of selectedDates1">
        <ion-button class="fs-days1" (click)="selectedDay(day)">{{day}}</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>

      <ion-col size='5'>
        <p class="fs-startEnd">{{this.labels.start}}</p>
        <p class="fs-startEnd1" style="margin-block-start: 17px;">{{this.labels.end}}</p>
      </ion-col>
      <ion-col size='4'>
        <p style="font-size: 13.4px;text-align: center;">{{currentDate}}</p>
        <p style="font-size: 13.4px;text-align: center;margin-block-start: 17px;">{{endDate}}</p>
      </ion-col>
      <ion-col size='2'>
        <img style="width:59%;" src="../../assets/images/date.png" class="fs-dateImage" (click)="openStartEndDatePopover('StartDate')">
        <img src="../../assets/images/date.png" style="width: 59%;" class="fs-dateImage" (click)="openStartEndDatePopover('EndDate')">
      </ion-col>
      <ion-col size='1'>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-card>