.fs-card{
    margin: 2.5px 6px 2px 6px;
    --background:rgba(217, 239, 251, 0.84);
}
.fs-label{
    color: #1f70c1;
    font-size: 13.4px;
}
.fs-startEnd{
    color: #1f70c1;
    font-size: 13.4px;
    margin-left: 1%;
    margin-top: 8px;
}
.fs-startEnd1{
    color: #1f70c1;
    font-size: 13.4px;
    margin-left: 1%;
    margin-top: 17px;
}

.fs-startEndDate{
    padding: 0px;
    --padding-start:0px;
    --inner-padding-start:0px;
    --background: transparent;
    --min-height: 20px;
    --min-height: 9px;
    height: 32px;
}
.fs-frequencySelect{
    // height: 24px;
    // --max-height: 100px;
    // padding-top: 4px;
    // padding-left: 0px;
    // font-size: 13px;
    // padding-right: 0px;
    // width: 100%;
    // max-width: 100%;
    // padding-bottom: 2px;
    // margin-left: 0px;


    border: 1px solid #bababa;
    height: 30px;
    margin-left: 16%;
    width: 100%;
    padding: 5px 5px 5px 7px;
    font-size: 13px;
    margin: 0px;
    border-radius: 5px;
    background: #fff;
    margin-top: 1.5%;
    margin-bottom: 5%;
}
.fs-item{
    width: 100%;
    margin-top: 0px;
    --max-height: 33px;
    --height: 25px;
    --border-radius: 7px;
    --min-height: 28px;
    --border: 1px solid #bababa;
}
.fs-radioIcon{
    font-size: 21px;
    padding: 0px;
    color: #1f70c1;
}
.fs-dateText{
    font-size: 13px;
}
.fs-date{
    padding: 0px;
    font-size: 13px;
    margin-top: 18px;
}

.item{
    --inner-border-width: 0px 0px 0px 0px;
}
.fs-days{
    width: 1%;
    height: 25px;
    font-size: 13px;
    margin: 0px;
    --background:#fff;
    color:black;
    --border-radius: 0px;
    margin-top: 13%;
}
.fs-days1{
    width: 1%;
    height: 22px;
    font-size: 12px;
    margin: 0px;
    --background:#47a3e8;
    color:#fff;
    --border-radius: 0px;

}
.ion-grid{
    padding-top: 3px;
    --padding-start:0px;
}
.button{
    --padding-start: 14px;
    --padding-end: 11px;
}
.fs-daysCol{
    padding-left: 3px;
    padding-right: 0px;
}
.fs-dateImage{
    width: 90%;
    margin-top: 14%;
    height: 26px;
}
.daysOfWeek{
    --background:transparent;
    --padding-start: 0px;
    --padding-end: 0px;
    --inner-padding-end: 0px;
    --min-height: 15px;
}
.item-native {
    --padding-start: 0px;
}
.daysOfWeek .item-native {
    padding-left: 0px;
    --padding-start: 0px;
}
.daysOfWeek .item-inner{
    padding-right: 0px;
    --padding-end: 0px;
}
.date-field{
    padding: 6px;
    font-size: 13.4px;
    background: white;
    text-align: center;
    color: black;
    margin: 0px;
    border: 1px solid #b1b1b1;
    border-radius: 4px;
    margin-top: 3px;
}

.yearly-date{
    border: 1px solid #bababa;
    text-align: center;
    padding: 4px;
    background: #e4e4e4;
    border-radius: 4px;
    min-height: 30px;
}