<ion-content>
  <p style="text-align: right"><ion-icon (click)="cancel()" name="close" style="font-size: 25px;
    "></ion-icon></p>
  <div id="Invoice">
     <ion-row>
      <ion-col size="3">
          <img src="assets/images/logo.png">
      </ion-col>
      <ion-col size>
          <p class="receipt">{{'Bill/Invoice'}}</p>
      </ion-col>
      <ion-col size="3">
        <p style="font-size: 12px;" no-margin>{{date}}</p>
        <p style="font-size: 12px;" no-margin>{{"Bill #"+harvest_outdata.short_name+'-'+this.harvest_outdata.Bill_no }}</p>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p class="food_park">{{this.labels[1]}}</p>
        <p class="address_style">{{this.labels[2]}}
            </p>
        <p class="address_style1">{{this.labels[3]}}</p>
      </ion-col>
    </ion-row>

  <div id="container">
    <table style="width:100%">
      <tr>
        <th>{{this.labels[4]}}</th>
        <th>{{this.labels[5]}}</th>
        <th>UOM</th>
        <th>QTY</th>
        <th>{{this.labels[6]}}</th>
      </tr>
      <tr *ngFor="let data of harvest_outdata.record">
        <td>{{data.category}}</td>
        <td>{{data.subcategory}}
        </td>
        <td>{{data.UOM}}</td>
        <td>{{data.Quantity}}</td>
        <td>{{data.Rate}}</td>
      </tr>
      <tr>
        <td colspan="3">{{this.toWords(this.amount)}}</td>
        <td>{{this.labels[12]}}</td>
        <td>{{this.amount}}</td>
      </tr>
    </table>
  </div>
  
  <div style="    margin-left: 8px;">
    <p class="farm_style">{{this.labels[7]}}</p>
    <p class="address">#219/11,{{this.labels[8]}},
      {{this.labels[9]}}</p>
    <p class="Registration">{{this.labels[10]}}: AAGCC1632F</p>
  </div>

</div>
<div class="button-container">
  <ion-button  size="small" (click)="shareVia()"><ion-icon slot="end" name="share"></ion-icon> {{'Share'}}</ion-button>
  <ion-button  size="small" (click)="Print()"><ion-icon slot="end" name="print"></ion-icon> {{'Print'}}</ion-button>
</div>
  
</ion-content>
<!--
 0 'Harvest Out - Invoice',
 1 'Srini Food Park',
 2 'Mallik arjuna rao Karge ,121,  Chittoor Main Road',
 3 'Andhra Pradesh, Chittor',
 4 'Category',
 5 'Subcategory',
 6 'Rate',
 7 'WellNest Natural Farms',
 8 'JP Corp, Bellary Road, Sada shiva nagar',
 9 ' Bangalore, Karnataka, India.',
 10 'Registration No',
 11 'Print Invoice',
 12 'Total'
-->