    .bill-style{
    margin-top: 0px;
    font-size: 11px;
    }
  
    #container {
        margin: 0 -3px;
        overflow: auto;
    }
    table {
        border-collapse: separate;
        border-spacing: 3px;
    }
    td {
    
        font-weight: 400;
        height: 30px;
        background-color: rgba(255, 255, 255, 0.8);
        color: rgba(136, 136, 136, 1);
        font-size: 14px;
        text-align: left;
        // font-family: Roboto;
        padding: 5px;
    }
    th{
        font-size: 14px;
        font-weight: 400;
        color: #101010;
    }
    .div_style{
        text-align: right !important;
        margin-right: -2px !important;
        margin-left: 65% !important;
    }
    .farm_style{
        color: #223BC8;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 5px;
    }
    .total_text{
        color: #101010;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 7px;
    }
    .address{
        color: #101010;
        margin-bottom: 5px;
        font-size: 12px;
        margin-top: 0px;
        
    
    }
    .Registration{
        color: #101010;
        font-size: 12px;
        margin-top: 0px;
    
    }
    .food_park{
        color: #223BC8;
        font-size: 20px;
        font-weight: 500; 
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .address_style{
        color: #101010;
        font-size: 12px;
        font-weight: 600;
        margin-top: 0px;
        margin-bottom: 5px;
    }
    .address_style1{
        color: #101010;
        font-size: 12px;
        font-weight:300;
        margin-top: 0px;
    }
    
    .receipt{
        color: blue;
        font-size: 28px;
        margin: 0;
        text-align: center;
    }
    .button-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .receipt-content{
        margin: 16px 0px;
        padding: 12px;
        text-align: justify;
        font-size: 14px;
    }