.item{
    max-height: 25px;
}
.textitem{
    height: 32px;
    width: 96%;
    margin-left: 2%;
    font-size: 14px;
    border-radius: 5px;
    border: solid 1px #BBBBBB;
    background-color: #fff;
    margin: 8px;
 }
 .camera{
    height: 100px;
    width: 100px;
    background-color: #fff;
    border-radius: 5px;
   }
 .error{
    color: red;
    margin-left: 14px;
    font-size: 11px;
 }
 .save {
   display: flex;
   justify-content: center;
   margin-top: 36px;
 }
 .update-edit {
   display: flex;
   justify-content: space-evenly;
   margin-top: 36px;
 }
 .buttonClass{
  height: 29px;
 }