<farmeasy-header [Data]="headerData"></farmeasy-header>
<ion-content style="background-image: url('assets/images/tm_background.jpg');
background-repeat: no-repeat;
background-size: 100% 100%; --background: rgba(255,255,255,0.7);" >
<p style="margin: 0px 9px;">Name</p>
 <div class="textitem">
  <ion-input placeholder="Name" [(ngModel)]="name"></ion-input>
</div>
<p style="margin: 0px 9px;">GST</p>
<div class="textitem">
  <ion-input placeholder="GST" [(ngModel)]="gst"></ion-input>
</div>
<p style="margin: 0px 9px;">Block</p>
<div class="textitem" >
  <ion-select  interface="popover" placeholder="-Select Block-" [(ngModel)]="blocks" style="padding: 4px;" multiple="true"> 
        <ion-select-option *ngFor="let block of blocksData">{{block}}</ion-select-option>
  </ion-select>
</div>
<div class="save">
  <div class="camera">
    <ion-icon *ngIf="!address"  (click)="chooseFile()" style="padding: 33px;font-size: xx-large;" name="camera"></ion-icon>
    <img style="height: 100px;width: 100px;object-fit: cover;" *ngIf="address" [src]="address" (click)="chooseFile()">
  </div>
</div>

<input style="display: none;" id="image" name="image" type="file" (change)="upload($event)" multiple>
<div class="save">
  <ion-button *ngIf="!updateflag" color="success" class="buttonClass" (click)="validateData()">Submit</ion-button>
</div>
<div class="update-edit">
  <ion-button *ngIf="updateflag" color="success" class="buttonClass" (click)="validateData()">Update</ion-button>
  <ion-button *ngIf="updateflag" color="danger" class="buttonClass" (click)="deleteCategory()">Delete</ion-button>
</div>
<!-- <ion-row>
    <ion-col size="5">
    </ion-col>
    <ion-col size="2"></ion-col>
      <ion-col size="5">
      </ion-col>
</ion-row> -->
</ion-content>