<ion-content >

<div *ngIf="notifications_data && notifications_data.length>0">
  <ion-card *ngFor="let data of notifications_data; let idx = index">
    <ion-item [ngClass]="{'unread':!data.read}">
      <ion-thumbnail slot="start" class="notification_avatar" style="margin-right: 8px !important; --border-radius: 10% !important; 
    margin-top: 10px; height:60px; width:60px;">
        <img [src]="data.senderimage" style="object-fit: cover;">
      </ion-thumbnail>
      <ion-label class="label">
        <p class="notification_description" style="display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical !important;
        overflow: hidden;">{{data.notiification_description}}</p>
        <ion-row style="margin-top: -5px; margin-left:-5px;">
          <ion-col size="4.5" style="padding-top: 5px;">
            <ion-button class="notification_Acknowledge" (click)="updatestatus(data)" *ngIf="data.status == 'Acknowledge' && data.status_label">{{data.status_label}} </ion-button>
            <ion-button class="notification_Acknowledged" *ngIf="data.status == 'Acknowledged' && data.status_label">{{data.status_label}} </ion-button>
          </ion-col>
          <ion-col size="4.5" style="padding-top: 5px;">
            <ion-button class="notification_mark" (click)="notification_status(data)" *ngIf="data.notification_status == 'Mark as Done' && data.notification_status_label">
              {{data.notification_status_label}}</ion-button>
            <ion-button class="notification_mark" *ngIf="data.notification_status == 'Completed' && data.notification_status_label">{{data.notification_status_label}}</ion-button>
          </ion-col>
          <!-- <ion-col size="1" class="notification-icon" (click)="Viewnotification(data)">
            <ion-icon style="color:#666464;" name="eye"></ion-icon>
          </ion-col> -->
          <!-- <ion-col  >
            <span class="notification-time">hello</span>
          </ion-col> -->
        </ion-row>
      </ion-label>
    </ion-item>
  </ion-card>
</div>
<p *ngIf="notifications_data && notifications_data.length ==0" style="text-align: center;">{{error_message}}</p>
</ion-content>
