.notification_Acknowledge{
    margin: 0px !important;
    --background: #FF4081 !important;
    font-size: 10px !important;
    text-transform: capitalize !important;
    padding: 0px 4px;
    font-size: 10px;
    --border-radius: 13px;
}
.notification_Acknowledged{
margin: 0px !important;
--background:#41B2FB  !important;
text-transform: capitalize !important;
padding: 0px 4px;
    font-size: 10px;
    --border-radius: 10px
}
.notification_mark{
margin: 0px !important;
--background:#8BC34A !important;
font-size: 10px !important;
text-transform: capitalize !important;
padding: 0px 4px;
font-size: 10px;
--border-radius: 13px;
}
.item{
--padding-start:5px !important;
--padding-end:0px !important;
}
ion-card{
margin:0px !important;
}
.notification-time{
font-size: 11px;
position: absolute;
    right: 0px;
    top: 16px; 
color:#469DBF ;
}
.notification-icon{
font-size: 22px;
padding:13px 0px 0px 0px;
}
ion-avatar{
margin-right: 8px !important; 
--border-radius: 10% !important; 
margin-top: -11px;
height: 45px;
width: 45px;
}
ion-label{
margin-right: 0px !important; 
--border-color: transparent !important;  
}
.notification_description{
color:#101010;
font-size: 14px;

white-space: normal;
line-height: 1.2;
// font-family: 'Roboto-Regular', sans-serif; 
}
ion-card{
border-radius: 0px !important;
// border-bottom: 1px solid #DFDCDC !important;
box-shadow:none;
border:1px solid rgba(223, 220, 220, 0.3);
--background: #fff;
}
.label{
margin-bottom: 0px !important; 
--border-color: transparent !important;
}
.item{
    --border-style: transparent !important; 
    // margin-top:10px;
}
ion-content{
    --background:rgba(255,255,255,0.8);; 
    background-color: rgba(255,255,255,0.8);
}
.footer-item{
--background: transparent;
}
.add-button{
--background-activated: #ff9800;
--background: #ff9800;
text-transform: capitalize;
}
.unread{
    font-weight: bold;
    --background: #e0e0e0;
    // margin-top: 10px;
}