.textitem{
    height: 32px;
    width: 96%;
    margin-left: 2%;
    font-size: 14px;
    border-radius: 5px;
    border: solid 1px #BBBBBB;
    background-color: #fff;
    margin: 8px;
 }

 .accordion-label{
    width: 96%;
    margin-left: 2%;
    font-size: 14px;
    border-radius: 5px;
    border: solid 1px #BBBBBB;
    background-color: #fff;
    margin: 8px;
 }
 .heading{
    background: #e6e6e6;
    height: auto;
    display: flex;
 }
 .icon{
    position: absolute;
    right: 32px;
 }
 .source{
    height: 32px;
    width: 96%;
    font-size: 14px;
    border-radius: 5px;
    border: solid 1px #BBBBBB;
    background-color: #fff;
    margin:0px;
    padding:0px;
 }
 .save {
   display: flex;
   justify-content: center;
   margin-top: 36px;
 }
 .update-edit {
   display: flex;
   justify-content: space-evenly;
   margin-top: 36px;
 }
 .buttonClass{
   height: 30px;
    --background: linear-gradient(to right,#D42453,#C92462,#B82575,#A32590,#9025A5);

 }

 ion-label{
   margin: 12px;
 }