<farmeasy-header [Data]="headerData"></farmeasy-header>
<ion-content padding style="background-image: url('assets/images/spalsh.jpeg');
background-repeat: no-repeat;
background-size: 100% 100%; --background: rgba(255,255,255,0.8);">
<ion-label>Name</ion-label>
  <div class="textitem">
      <ion-input placeholder="Name" (ionChange)="validate()" [(ngModel)]="name"></ion-input>
  </div>
<ion-label>Plots</ion-label>
  <div class="textitem">
      <ion-input placeholder="No of Plots"  (ionChange)="validate()" [(ngModel)]="plots"></ion-input>
  </div>
  <div class="textitem" style="display: inline-flex;">
      <input style="height: 30px;width: 30px;" type="color"  (ionChange)="validate()" [(ngModel)]="color"><ion-input  (ionChange)="validate()" placeholder="Color" [(ngModel)]="color"></ion-input>
  </div>
  <div>
    <div class="accordion-label" *ngFor="let division of subDivisions;let idx = index" >
        <div class="heading"  (click)="openAccordian(idx)">
            <label style="font-size: 18px;padding: 6px;">
               <span *ngIf="idx === sub_div_len-1">Add Sub Division</span> 
               <span *ngIf="idx !== sub_div_len-1">{{division.name}}</span>
               <span *ngIf="idx !== sub_div_len-1 && division.name == ''">[enter division name]</span>
            </label>
            <ion-icon class="icon" *ngIf="!division.flag" size="large" name="arrow-dropdown"></ion-icon>
            <ion-icon class="icon" *ngIf="division.flag" size="large" name="arrow-dropup"></ion-icon>
        </div>
        <div *ngIf="division.flag">
                <div style="display: flex">
                        <div class="textitem" >
                                <ion-input placeholder="Sub Division Name"  (ionChange)="validate()" [(ngModel)]="this.subDivisions[idx].name" (keyup)="addRow(idx)"></ion-input>
                        </div>
                        <div>
                                <ion-icon (click)="deleteDiv(idx)" *ngIf="idx !== sub_div_len-1" style="font-size: 28px;color: red;margin-top: 8px;margin-right: 10px;" name="trash"></ion-icon>
                        </div>
                </div>
                
                <ion-row>
                    <ion-col size="4" no-margin style="font-weight: 900;">Watering</ion-col>
                    <ion-col size="4"  class="source"><ion-input placeholder="Source 1" [(ngModel)]="watering[idx].source1"></ion-input></ion-col>
                    <ion-col size="4"  class="source"><ion-input placeholder="Source 2" [(ngModel)]="watering[idx].source2"></ion-input></ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4" no-margin  style="font-weight: 900;">Cleaning</ion-col>
                    <ion-col size="4"  class="source"><ion-input placeholder="Source 1" [(ngModel)]="cleaning[idx].source1"></ion-input></ion-col>
                    <ion-col size="4"  class="source"><ion-input placeholder="Source 2" [(ngModel)]="cleaning[idx].source2"></ion-input></ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4" no-margin  style="font-weight: 900;">Fertigation</ion-col>
                    <ion-col size="4"  class="source"><ion-input placeholder="Source 1" [(ngModel)]="fertigation[idx].source1"></ion-input></ion-col>
                    <ion-col size="4"  class="source"><ion-input placeholder="Source 2" [(ngModel)]="fertigation[idx].source2"></ion-input></ion-col>
                </ion-row>
        </div>
    </div>
  </div>
  <!-- <div style="margin-left: 31%;margin-top: 26px;">
      <ion-button *ngIf="!updateflag" color="success" (click)="validateData()">Submit</ion-button>
    </div>
    <ion-row>
        <ion-col size="5">
              <ion-button *ngIf="updateflag" color="success" (click)="validateData()">Update</ion-button>
        </ion-col>
        <ion-col size="2"></ion-col>
          <ion-col size="5">
              <ion-button *ngIf="updateflag" color="danger" (click)="deleteBlock()">Delete</ion-button>
          </ion-col>
    </ion-row> -->
        <!-- <div class="save">
        <ion-button *ngIf="!updateflag" class="buttonClass" (click)="validateData()">Submit</ion-button>
      </div>
      <div class="update-edit">
        <ion-button *ngIf="updateflag"  class="buttonClass" (click)="validateData()">Update</ion-button>
        <ion-button *ngIf="updateflag"  class="buttonClass" (click)="deleteBlock()">Delete</ion-button>
      </div> -->
</ion-content>
<farmeasy-footer *ngIf="!updateflag" [Data]="footerData" [isEnableMiddle]="disable" (middleButtonAction)="validateData()" ></farmeasy-footer>
<farmeasy-footer *ngIf="updateflag" [Data]="footerData" (leftButtonAction)="validateData()" (rightButtonAction)="deleteBlock()"></farmeasy-footer>


