.bs-card{
    margin:0px 6px 2px 6px;
    --background:#fff;
    padding-bottom: 3%;
}
.bs-text{
    margin-top: 11px;
    margin-left: 7px;
    color: rgba(59, 59, 59, 1);
    font-size: 13.5px;
    margin-bottom: 0px;
}
.ion-grid{
    padding-top: 3px;
    --padding-start:0px;
    padding-left: 0px;
    padding-right: 0px;
}
.button{
    --box-shadow: none;
}
.block-button{
    width: 72px;
    font-size: 13.2px;
    height: 28px;
    margin-left: 0px;
    margin-right: 0px;
    display: inline-block;
    --background: transparent;
    border-radius: 50px;
    --background-activated:transparent; 
}
.block-col{
    padding: 0px;
    display: inline-grid;
    margin-left: 2.7%;
}
.blocks1-button{
    width: 38px;
    height: 38px;
    margin-left: 0px;
    margin-right: 0px;
    --background-activated: transparent;
    --background:transparent;
    display: table-caption;
}
.bs1-card{
    margin:0px 6px 2px 6px;
    --background:#fff;
    padding-bottom: 3%;
}
.block-blockName{
    font-size: 10px;
    font-weight: bold;
    margin-top: -10px;
    margin-bottom: 0px;
}
.block-arrow{
    font-size: 12px;
    color: #fff;
    font-weight: bold;
}
.block-checkImage{
    position: absolute;
    display: block;
    width: 41%;
    top: 20px;
}
.block-checkImage.ios{
   // position: absolute;
    display: block;
    width:100%;
    // top: 20px;
}
.thumnails{
    overflow-x: scroll;
    overflow-y: hidden;
    .list-thumbnail{
        height: 100%;
        white-space: nowrap;
      
    }
}
::-webkit-scrollbar { 
    display: none; 
}
.button-native {
    line-height: 9px;
}



