<ion-card class="bs-card">
    <p class="bs-text">{{this.label}}</p>

    <div style="overflow-x:scroll;overflow-y:scroll;white-space:nowrap;">
        <div class="block-col" *ngFor="let block of blocks; let i=index">
            <ion-button class="block-button" *ngIf="!this.selectedBlockFlag[i]"
            [style.color]="block.color" 
            [style.border]="'1px solid'+block.color" (click)="selectedBlock(block)">{{block.name}}</ion-button>
            <ion-button class="block-button" *ngIf="this.selectedBlockFlag[i]"
            [style.background]="block.color" 
            [style.border]="'1px solid'+block.color" (click)="selectedBlock(block)">{{block.name}}</ion-button>
        </div>
    </div>
</ion-card>
<ion-card class="bs1-card" *ngIf="this.viewPlot">
    <div style="overflow-x:scroll;overflow-y:scroll;white-space:nowrap;">
        <div class="block-col" *ngFor="let block of blocks">
            <ion-button class="blocks1-button" *ngFor="let plot of block.plots" [style.background]="block.color"
            (click)="getplot(plot,block)"> 
                <p slot="start" *ngIf="plot && plot.name" class="block-blockName" >{{plot.name}} </p>
                <span *ngIf="arrow">
                    <ion-icon slot="end" name="arrow-dropdown" *ngIf="plot.name" class="block-arrow"></ion-icon>
                </span>
           
                <!-- <img *ngIf="plot && plot.source" src="./assets/images/red.svg" class="block-checkImage"> -->
                <!-- <img *ngIf="plot && plot.source && plot.source.name=='Water Source'" src="https://firebasestorage.googleapis.com/v0/b/farmeasy-2b7e4.appspot.com/o/farmeasy%2FTaskManager%2Fdrop%20(1).svg?alt=media&token=0dbf6206-e20d-4b2c-b323-a2a16bb24d6f"
                class="block-checkImage"> -->

                <img *ngIf="plot && plot.source && plot.source.name=='Water Source'" src="./assets/images/drop (1).svg" class="block-checkImage">
                <img *ngIf="plot && plot.source && plot.source.name=='Cleaning Method'" src="./assets/images/scissors (1).svg" class="block-checkImage">
                <img *ngIf="plot && plot.source && plot.source.name=='Fertigation Source'" src="./assets/images/green-tea.svg" class="block-checkImage">

            </ion-button>
        </div>
    </div>
</ion-card>