.footer{
    background: rgba(255,255,255,0.9);
    text-align: center;
}
.createTask{
    font-weight: bold;
    height: 29px;
    --max-height: 83px;
    font-size: 13px;
    --background: rgba(139, 195, 74, 1);
    width: 38%;
}
.errorMsg{
    font-size: 13px;
    color: red;
    margin-left: 2%;
}
.closeImage{
    width: 8%;
    position: absolute;
    right: 4px;
    z-index: 99;
   
}
.image{
    margin-top: 8%;
    margin-left: 2%;
    width: 100%;
    height: 200px;
    object-fit: cover;
}
ion-footer{
    background: white;
    text-align: center;
}
.label{
    font-size: 14px;
    color: #676768;
    padding-left: 2%;
}