<farmeasy-header [Data]='headerData'></farmeasy-header>

<ion-content padding  style="background-image: url('assets/images/tm_background.jpg');
background-repeat: no-repeat;
background-size: 100% 100%; --background: rgba(255,255,255,0.9);">
  <!-- <farmeasy-create-task-labour  [editTask]="editTask" (openDatePopOver)="openDateCalender()"  (selectedBlock)="getBlock($event)"
  (selectedLabour)="getLabour($event)" (selectedPriority)="getPriority($event)" [isLabour_date]="isLabour_date" (getSelectedDate)=getSelectedDate($event)>
</farmeasy-create-task-labour> -->

<farmeasy-create-task-labour type='date' [laboursData]="laboursData" [blocks]="blocks" [editTask]="editTask" [showBlock]="showBlock" (openDatePopOver)="openDateCalender()"  (selectedBlock)="getBlock($event)"
(selectedLabour)="getLabour($event)" (selectedPriority)="getPriority($event)"  
[selectedDate]="selectedDate" ></farmeasy-create-task-labour>

<p *ngIf="isDate" class="errorMsg">{{this.labels.dateerrmsg}}</p>
<p *ngIf="isLabour" class="errorMsg">{{this.labels.labourerrmsg}}</p>
<ion-label class="label">{{this.labels.description}}</ion-label>
  <ion-card style="margin: 8px 0px 0px 0px;">
    <farm-gallery-component [editDescription]="editTask" (FarmeasyAdditionalNoates)='getAdditionalNotes($event)'
     (video)="getVideo($event)" (audio)="getRecordedAudio($event)" (cameraImage)="getCameraImage($event)" 
    (attchments)="getAttachments($event)"></farm-gallery-component>
  </ion-card>
  <div *ngIf="taskByDate && taskByDate.media && taskByDate.media.camera" style="margin-top: 8%;margin-left: 2%;">
      <div *ngFor="let camera of taskByDate.media.camera;let i=index">
        <img *ngIf="camera && camera.url" src="../../../assets/images/cross.svg" class="closeImage" (click)="closeImage('camera',i)">
        <img *ngIf="camera && camera.url" [src]="camera.url" class="image">
      </div>
  
    </div>
  
    <div *ngIf="taskByDate && taskByDate.media && taskByDate.media.video">
      <div *ngFor="let video of taskByDate.media.video;let i=index" style="margin-top: 6%;margin-left: 2%;">
        <img *ngIf="video && video.url" src="../../../assets/images/cross.svg" class="closeImage" (click)="closeImage('video',i)">
  
        <video *ngIf="video && video.url" width="100%" height="200" controls style="background: black;margin-top: 5%;">
          <source [src]="video.url" type="video/mp4" />
        </video>
      </div>
    </div>
    <div *ngIf="taskByDate && taskByDate.media && taskByDate.media.attachments">
      <div *ngFor="let image of taskByDate.media.attachments;let i=index;" style="margin-top: 8%;margin-left: 2%;">
        <img *ngIf="image && image.url" src="../../../assets/images/cross.svg" class="closeImage" (click)="closeImage('attachments',i)">
        <img *ngIf="image && image.url" [src]="image.url" class="image">
      </div>
    </div>
    <div *ngIf="taskByDate && taskByDate.media && taskByDate.media.audio">
      <div *ngFor="let audio of taskByDate.media.audio;let i=index" style="margin-top: 6%;margin-left: 2%;">
        <img *ngIf="audio && audio.url" src="../../../assets/images/cross.svg" class="closeImage" (click)="closeImage('audio',i)">
        <audio *ngIf="audio && audio.url" controls style="width: 100%;margin-top: 4%;">
          <source [src]="audio.url" type="audio/mpeg">
        </audio>
      </div>
    </div>
  
</ion-content>
<ion-footer>
  <ion-button class="createTask"  (click)="createTask('leftButtonAction')">{{this.labels.create}}</ion-button>
</ion-footer>
<!-- <farmeasy-footer [Data]="footerData" [isEnableLeft]='isCreatedTask' [isEnableRight]='isdraft' (leftButtonAction)="createTask($event)" (rightButtonAction)="createTask($event)"></farmeasy-footer> -->
<!-- <farmeasy-footer [Data]="footerData" [isEnableLeft]='isCreatedTask' (leftButtonAction)="createTask($event)"></farmeasy-footer> -->