<ion-content style="--background: #d0d0d0;" >

<ion-header style="position: absolute;">
  <ion-toolbar style="--background:auto;color:white">
        <ion-buttons slot="start" >
          <ion-button (click)="back()">
            <img src="assets/images/back-arrow.svg" style="width:21px;height: 21px;">
          </ion-button>
        </ion-buttons>
        <ion-title >{{title}}<br /></ion-title>
     </ion-toolbar>
</ion-header>
<div class="media-container">
<img [src]="media.url" style="object-fit: contain;">
</div>



</ion-content>
