.edit{
    font-size: 22px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.cssname{
    // font-family: 'Roboto',sans-serif;
    font-size: 18px;
    color: #484747;
}
.csstype{
    // font-family: 'Roboto',sans-serif;
    font-size: 16px;
    color: #484747;
}