<farmeasy-header [Data]="headerData"></farmeasy-header>
<ion-content style="background-image: url('assets/images/tm_background.jpg');
background-repeat: no-repeat;
background-size: 100% 100%; --background: rgba(255,255,255,0.7);">
<ion-card  *ngFor="let source of sources" style="background: rgba(255,255,255,0.8);">
  <ion-card-content no-padding>
      <ion-icon (click)="getSource(source)" class="edit" name="create"></ion-icon>
    <ion-grid>
      <ion-row>
        <ion-col size="8">
          <ion-row class="cssname">Name :{{source.source_name}}</ion-row>
          <ion-row class="csstype">Type :{{source.type}}</ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- <ion-list style="background: transparent;"> -->
        <ion-item *ngFor="let sub of source.data" style="--background: transparent;">
            <ion-thumbnail slot="start">
                <img *ngIf = "sub && sub.image" [src]="sub.image" style="object-fit: cover;--border-radius: 4px;border: 1px solid rgba(190, 194, 201, 0.3);">
                <img *ngIf ="(sub && sub.image && sub.image == null) || (sub && sub.image && sub.image == '') " src="assets/images/placeholder_user.png">
            </ion-thumbnail>
            <ion-label>
              <h2>{{sub.name}}</h2>
              <p>Code :{{sub.source_code}}</p>
            </ion-label>
          </ion-item>
    <!-- </ion-list> -->
   
  </ion-card-content>
</ion-card>

</ion-content>
