<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>  
    </ion-buttons>
    <ion-title>{{this.title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="nofication_count()">
        <ion-icon name="notifications" class="tm-hearderIcons"></ion-icon>
        <ion-badge  class="tm-notificationBadge">{{this.sg["notificationscount"]}}</ion-badge>
        </ion-button>  
      <ion-button>
        <ion-icon name="home" class="tm-hearderIcons"></ion-icon>
      </ion-button>    
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->
<farmeasy-header [Data]='headerData'></farmeasy-header>

<ion-content style="background-image: url('assets/images/tm_background.jpg');
background-repeat: no-repeat;background-size: 100% 100%; --background: rgba(255, 255, 250,0.9); padding: 8px;">
   <ion-card *ngFor="let mainMenu of mainMenus;let i=index" (click)="selectedTask(mainMenu)">
    <ion-item>
      <ion-avatar slot="start">
         <img [src]="mainMenu.image" style="object-fit: cover;">
      </ion-avatar>
      <ion-label no-margin>
        <p class="farmmodule_title">{{mainMenu.heading}}</p>
        <p class="farmmodule_subtitle">{{mainMenu.description}}</p>
        <img slot="end" src="assets/images/forwordarrow.png" class="cssarrow">
      </ion-label>
  
    </ion-item>
  </ion-card>

</ion-content>
