<farmeasy-header [Data]="headerData"></farmeasy-header>
<ion-content>
  <!-- <ion-card *ngIf="addDiseasesFlag1"> -->
  <ion-row style="height:100%;" *ngIf="addDiseasesFlag1">
    <ion-col>

      <ion-segment [(ngModel)]="calendar.mode">
        <ion-segment-button class="add_category_button" value="month">
          <ion-label>Month</ion-label>
        </ion-segment-button>
        <ion-segment-button  class="add_category_button" value="week">
          <ion-label>Week</ion-label>
        </ion-segment-button>
        <ion-segment-button class="add_category_button" value="day">
          <ion-label>Day</ion-label>
        </ion-segment-button>
      </ion-segment>
      <ion-row>
        <!-- <ion-col size="3">
          <ion-button expand="block" [color]="calendar.mode == 'month' ? 'primary' : 'secondary'"
            (click)="changeMode('month')">Month</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button expand="block" [color]="calendar.mode == 'week' ? 'primary' : 'secondary'"
            (click)="changeMode('week')">Week</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button expand="block" [color]="calendar.mode == 'day' ? 'primary' : 'secondary'"
            (click)="changeMode('day')">
            Day</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button (click)="today()">Today</ion-button>
        </ion-col> -->

        <!-- Move back one screen of the slides -->
        <ion-col size="4" text-left>
          <ion-button fill="clear" (click)="back()">
            <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="5" text-left>
          <p style="margin-top: 7px;">{{viewTitle}}</p>

          <!-- <ion-button fill="clear" (click)="back()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button> -->
        </ion-col>
        <!-- Move forward one screen of the slides -->
        <ion-col size="3" text-right>
          <ion-button fill="clear" (click)="next()">
            <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>

    <calendar 
      [eventSource]="eventSource" 
      [calendarMode]="calendar.mode" 
      [currentDate]="calendar.currentDate"
      (onEventSelected)="onEventSelected($event)"
      (onTitleChanged)="onViewTitleChanged($event)"
      (onTimeSelected)="onTimeSelected($event)" 
      startTime="6" 
      endTime="20" 
      step="30" 
      startingDayWeek="1">
    </calendar>
    </ion-col>
  </ion-row>




  <ion-card *ngIf="addDiseasesFlag" style="width:95%; margin-top:3px;border-radius:15px;background: white;">
    <ion-icon name="close" (click)="previewOff()" style="float: right;font-size: 24px;">
    </ion-icon>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Assigned By </ion-card-title>
        <ion-card-subtitle>{{creator}}</ion-card-subtitle>
        <ion-card-title>Priorty</ion-card-title>
        <ion-card-subtitle>{{priorty}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Assignment</ion-card-title>
        <ion-card-subtitle>{{description}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Start Date :</ion-card-title>
        <ion-card-subtitle>{{start_time}}</ion-card-subtitle>
        <ion-card-title>End Date :</ion-card-title>
        <ion-card-subtitle>{{end_time}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    
    <ion-card class="card">
    
   <ion-item>
     <ion-textarea rows="4" [(ngModel)]="additionalNotes" value={{additionalNotes}} autocomplete="on" autocorrect="on" (ionChange)="getAdditionalData($event)" ></ion-textarea>
   </ion-item>
 <div class="container">
   <img item-left src="assets/images/camera.svg" (click)="captureImage()" class="cemera" >
   <img item-left src="assets/images/video.svg" class="video" (click)="captureVedio()">
   <img item-left src="assets/images/attachment.svg" (click)="multipleImageAttachment()" class="attachment">
 </div>
  
 </ion-card>
 
    <form [formGroup]="feedbackForm">
      <ion-textarea rows="3" style="margin: 20px 11px 10px 16px;width: 90%;border-radius: 10px;background: #f3f3f3;"
        placeholder=" Provide Remarks" type="text" formControlName="remarks">
      </ion-textarea>

      <div>
        <ion-row style="margin-top:25px;margin-bottom: 25px;">
          <ion-col size="6" style="text-align: center;">
            <div style="font-size: 20px;" class="form-group form-check">
              <input type="checkbox" style="font-size: 20px; margin-top: 5px;" formControlName="acceptTerms"
                class="form-check-input" />
              <label class="form-check-label">Acknowledged</label>
              <!-- <label *ngIf="acceptTerms" class="form-check-label">Readed</label> -->

              <!-- <div *ngIf="submitted" class="invalid-feedback">Accept Ts & Cs is required</div> -->
            </div>
          </ion-col>
          <ion-col size="6" style="text-align: center;">
            <div style="font-size: 20px;" class="form-group form-check">
              <input type="checkbox" formControlName="noted" class="form-check-input" />
              <label class="form-check-label">Completed</label>
              <!-- <label *ngIf="acceptTerms" class="form-check-label">Readed</label> -->

              <!-- <div *ngIf="submitted" class="invalid-feedback">Accept Ts & Cs is required</div> -->
            </div>
          </ion-col>
          
        </ion-row>
      </div>
    </form>
    <ion-row>
      <ion-col  style="text-align: center;">
        <ion-button class="createTask" [disabled]="!this.feedbackForm.valid" (click)="submitRead()">Submit
        </ion-button>
      </ion-col>
      <!-- <ion-col size="6" style="text-align: center;">
        <ion-button  class="createTask" (click)="submitRead()">Read</ion-button>
      </ion-col>
      <ion-col size="6" style="text-align: center;">
        <ion-button class="createTask" (click)="submit()">Submit</ion-button>
      </ion-col> -->
      <!-- <ion-col size="6" style="text-align: center;">
        <ion-button  class="createTask" (click)="submitNoted()" >Noted</ion-button>
      </ion-col> -->
    </ion-row>
  </ion-card>



</ion-content>