<farmeasy-header [Data]="headerData"></farmeasy-header>
<ion-content>
    <ion-grid margin-top no-padding>
        <ion-row>
            <ion-col size="4" class="heading" style="padding:2px;" no-padding><ion-label>{{'Type'}}</ion-label></ion-col>
            <ion-col size="4" class="heading" no-padding><ion-label>{{'Date'}}</ion-label> </ion-col>
            <!-- <ion-col size="4" class="heading" no-padding> <ion-label>{{this.todate_label}}</ion-label></ion-col> -->
        </ion-row>
        <ion-row >
          <ion-col size="4" no-padding>
            <div class="textitem" >
            <ion-select (ionChange)="filterData()" interface="popover" placeholder="-select-" style="padding: 4px;" [(ngModel)]="type"  > 
                <ion-select-option>{{'All'}}</ion-select-option>
                <ion-select-option>{{'InFlow'}}</ion-select-option>
                <ion-select-option>{{'OutFlow'}}</ion-select-option>
            </ion-select>
            </div>
          </ion-col>
          <ion-col size="3" no-padding>
            <div class="textinput">
                <ion-input placeholder="{{dateConverter(to)}}" style="font-size: 12px;" no-padding readonly></ion-input>
            </div>
          </ion-col>
          <ion-col size="1" no-padding>
              <img  (click)="pickDate('to')" style="width: 26px;" src="assets/images/date.png" >
          </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid *ngIf="showList && displayList.length>0" >
      <ion-row style="font-size: 12px;color: #747474;font-weight: bold;">
        <ion-col>Date</ion-col>
        <ion-col>Category</ion-col>
        <ion-col>Amount</ion-col>
        <ion-col>Type</ion-col>
      </ion-row>
      <ion-row style="font-size: 12px;color: #747474;" *ngFor="let item of displayList">
        <ion-col>{{this.dateConverter(item.date)}}</ion-col>
        <ion-col>{{item.category}}</ion-col>
        <ion-col>{{item.amount}}</ion-col>
        <ion-col>{{item.type}}</ion-col>
      </ion-row>
    </ion-grid>
    <ion-card  *ngIf=" showList && displayList.length == 0">
      <ion-card-content>
        <p>No Reports found on this date</p>
      </ion-card-content>
    </ion-card>

</ion-content>
<ion-footer>
<div class="button-container">
    <ion-button (click)="viewDetailedReports()" [disabled]="selectedFlag" class="buttonClass" size="small">{{'VIEW DETAILED REPORT'}}</ion-button>
</div>
</ion-footer>