.item{
    margin-top: 4px;
    --border-radius: 6px;
    margin-bottom: 11px;
    --min-height: 43px;
    --border-width: 0 0 0 0 !important;
    --show-full-highlight: 0 !important;
    --show-inset-highlight: 0 !important;
    --inner-border-width: 0px 0px 0px 0px;
}
.label{
    font-size: 14px;
    margin-left: 2%;
}
.input{
    font-size: 13px;
    --min-height: 21px;
    height: 33px;
}
.submitButton{
    text-transform: capitalize;
    width: 28%;
    height: 29px;
    font-size: 14px;
}
.cameraButton{
    --background: transparent;
    position: absolute;
    bottom: 198px;
    right: -3px;
    --box-shadow: 0 0px 0px -2px rgba(0,0,0,0.2),0 0px 0px 0 rgba(0,0,0,0),0 0px 0px 0 rgba(0,0,0,0);
    --box-shadow: 0 0px 0px -3px rgba(0,0,0,0.2),0 0px 0px 0px rgba(0,0,0,0.14),0 0px 0px 0px rgba(0,0,0,0.12);
}
.footer{
    background: rgba(255, 255, 255, 0.9);
}
.span{
    margin-right: 1%;
    color: red;
}
.error{
    font-size: 13px;
    color: red;
    padding-bottom: 1%;
    padding-left: 2%;
}
.img{
    height: 195px;
    width: 100%;
    object-fit: cover;
}
.previewText{
    margin: 0px;
    font-size: 13px;
    font-weight: 500;
 }
 .previewText1{
    margin: 9px 0px 0px 0px;
    font-size: 12px;
    font-weight: 350;
 }
 .item1{
    --padding-start: 1px;
    --border-width: 0 0 0 0 !important;
    --show-full-highlight: 0 !important;
    --show-inset-highlight: 0 !important;
    --inner-border-width: 0px 0px 0px 0px;
    --inner-padding-end: 0px;
    --background: rgba(255,255,255,0.8);
 }
 .previewUrl{
    color: blue;
    font-size: 12px;
    padding-left: 1%;
 }
 