<farmeasy-header [Data]='headerData'></farmeasy-header>
<ion-content padding style="background-image: url('assets/images/tm_background.jpg');
background-repeat: no-repeat;
background-size: 100% 100%; --background: rgba(252, 244, 242,0.8);">
    <!-- <ion-card> -->
    <div style="margin-bottom: 7%;" *ngIf="!editPlant">
        <img src="../../assets/images/mangos.jpeg" class="img" style="object-fit: cover;"> 
        <ion-button class="cameraButton" (click)="captureImage()">
            <ion-icon name="camera" style="font-size: 27px;"></ion-icon>
        </ion-button>
    </div>
    <div style="margin-bottom: 7%;" *ngIf="editPlant">
        <img [src]="editPlant.image.url" class="img">
        <ion-button class="cameraButton" (click)="captureImage()">
            <ion-icon name="camera" style="font-size: 27px;"></ion-icon>
        </ion-button>
    </div>

    <form [formGroup]="formgroup">

        <ion-label class="label"><span class="span">*</span>Plant Name</ion-label>
        <ion-item class="item" no-lines>

            <ion-input type="text" autocomplete="on" autocorrect="on" formControlName="plantName" placeholder="ex: Mango"
                class="input" [(ngModel)]="plant_name" (ionChange)="getPlant_name($event)" [class.invalid]="!formgroup.controls.plantName.valid  && (formgroup.controls.plantName.dirty && submitAttempt)">
            </ion-input>
        </ion-item>
        <p *ngIf="!formgroup.controls.plantName.valid  && (formgroup.controls.plantName.dirty|| submitAttempt)" class="error">*
            Please Enter Plant Name</p>
        <!-- <ion-label *ngIf="plantName.hasError('required') && plantName.touched" style="color:red;" padding>No Name</ion-label> -->

        <ion-label class="label"><span class="span">*</span>Depth & Length</ion-label>
        <ion-item class="item" no-lines>
            <!-- <ion-textarea placeholder="6m & 35-40m" class="input"></ion-textarea> -->
            <ion-input type="text" autocomplete="on" autocorrect="on" formControlName="DepthLength" placeholder="6m & 35-40m"
                class="input" [(ngModel)]="plant_depth_length" (ionChange)="getPlant_depth_length($event)"
                [class.invalid]="!formgroup.controls.DepthLength.valid  && (formgroup.controls.DepthLength.dirty && submitAttempt)">
            </ion-input>
        </ion-item>
        <p *ngIf="!formgroup.controls.DepthLength.valid  && (formgroup.controls.DepthLength.dirty|| submitAttempt)"
            class="error">* Please Enter Depth & Length</p>

        <ion-label class="label"><span class="span">*</span>Diseases controlling methods without Chemicals</ion-label>
        <ion-item class="item" no-lines>
            <ion-textarea autocomplete="on" autocorrect="on" formControlName="diseasesControllingMethods" placeholder="A balanced fertilizer may be applied once or twice every year."
                class="input" [(ngModel)]="plant_diseases_without_chemicals" (ionChange)="getPlant_diseases_without_chemicals($event)"
                [class.invalid]="!formgroup.controls.diseasesControllingMethods.valid  && (formgroup.controls.diseasesControllingMethods.dirty && submitAttempt)">

            </ion-textarea>
            <!-- <ion-input type="text" placeholder="A balanced fertilizer may be applied once or twice every year." class="input"> -->
            <!-- </ion-input> -->
        </ion-item>
        <p *ngIf="!formgroup.controls.diseasesControllingMethods.valid  && (formgroup.controls.diseasesControllingMethods.dirty|| submitAttempt)"
            class="error">* Please Enter Diseases controlling methods without Chemicals</p>

        <ion-label class="label"><span class="span">*</span>How to yield crop in different ways</ion-label>
        <ion-item class="item" no-lines>
            <ion-textarea autocomplete="on" autocorrect="on" formControlName="croppingMethods" placeholder="By Novel Method"
                class="input" [(ngModel)]="plant_cropping_methods" (ionChange)="getPlant_cropping_methods($event)"
                [class.invalid]="!formgroup.controls.croppingMethods.valid  && (formgroup.controls.croppingMethods.dirty && submitAttempt)"></ion-textarea>
            <!-- <ion-input type="text" placeholder="By Novel Method" class="input"> -->
            <!-- </ion-input> -->
        </ion-item>
        <p *ngIf="!formgroup.controls.croppingMethods.valid  && (formgroup.controls.croppingMethods.dirty|| submitAttempt)"
            class="error">* Please Enter How to yield crop in different ways</p>

        <ion-label class="label"><span class="span">*</span>Life Span</ion-label>
        <ion-item class="item" no-lines>
            <!-- <ion-textarea placeholder="300yrs" class="input"></ion-textarea> -->
            <ion-input type="text" autocomplete="on" autocorrect="on" formControlName="lifeSpan" placeholder="300yrs"
                class="input" [(ngModel)]="plant_life_span" (ionChange)="getPlant_life_span($event)" [class.invalid]="!formgroup.controls.lifeSpan.valid  && (formgroup.controls.lifeSpan.dirty && submitAttempt)">
            </ion-input>
        </ion-item>
        <p *ngIf="!formgroup.controls.lifeSpan.valid  && (formgroup.controls.lifeSpan.dirty|| submitAttempt)" class="error">*
            Please Enter Life Span</p>

        <ion-label class="label"><span class="span">*</span>Mature Period</ion-label>
        <ion-item class="item" no-lines>
            <ion-textarea autocomplete="on" autocorrect="on" formControlName="maturePeriod" placeholder="4mnths" class="input"
                [(ngModel)]="plant_mature_period" (ionChange)="getPlant_mature_period($event)" [class.invalid]="!formgroup.controls.maturePeriod.valid  && (formgroup.controls.maturePeriod.dirty && submitAttempt)"></ion-textarea>
            <!-- <ion-input type="text" placeholder="4mnths" class="input"> -->
            <!-- </ion-input> -->
        </ion-item>
        <p *ngIf="!formgroup.controls.maturePeriod.valid  && (formgroup.controls.maturePeriod.dirty|| submitAttempt)"
            class="error">* Please Enter Mature Period</p>

        <ion-label class="label"><span class="span">*</span>Place Required</ion-label>
        <ion-item class="item" no-lines>
            <ion-textarea autocomplete="on" autocorrect="on" formControlName="placeRequired" placeholder="Radius - 10m"
                class="input" [(ngModel)]="plant_place_required" (ionChange)="getPlant_place_required($event)"
                [class.invalid]="!formgroup.controls.placeRequired.valid  && (formgroup.controls.placeRequired.dirty && submitAttempt)"></ion-textarea>
            <!-- <ion-input type="text" placeholder="Radius - 10m" class="input"> -->
            <!-- </ion-input> -->
        </ion-item>
        <p *ngIf="!formgroup.controls.placeRequired.valid  && (formgroup.controls.placeRequired.dirty|| submitAttempt)"
            class="error">* Please Enter Place </p>

        <ion-label class="label"><span class="span">*</span>Prevention to take before diseases</ion-label>
        <ion-item class="item" no-lines>
            <ion-textarea autocomplete="on" autocorrect="on" formControlName="preventionBeforeDiseasea" placeholder="Avoid planting mango where conditions are favourable for disease development."
                [(ngModel)]="plant_preventions_before_diseases" class="input" (ionChange)="getPlant_preventions_before_diseases($event)"
                [class.invalid]="!formgroup.controls.preventionBeforeDiseasea.valid  && (formgroup.controls.preventionBeforeDiseasea.dirty && submitAttempt)"></ion-textarea>
            <!-- <ion-input type="text" placeholder="Avoid planting mango where conditions are favourable for disease development."
            class="input">
        </ion-input> -->
        </ion-item>
        <p *ngIf="!formgroup.controls.preventionBeforeDiseasea.valid  && (formgroup.controls.preventionBeforeDiseasea.dirty|| submitAttempt)"
            class="error">* Please Enter Prevention to take before diseases</p>

        <ion-label class="label"><span class="span">*</span>Temperature</ion-label>
        <ion-item no-lines class="item">
            <!-- <ion-textarea placeholder="Below 35F" class="input"></ion-textarea> -->
            <ion-input type="text" autocomplete="on" autocorrect="on" formControlName="temparature" placeholder="Below 35F"
                class="input" [(ngModel)]="plant_temparature" (ionChange)="getPlant_temparature($event)"
                [class.invalid]="!formgroup.controls.temparature.valid  && (formgroup.controls.temparature.dirty && submitAttempt)">
            </ion-input>
        </ion-item>
        <p *ngIf="!formgroup.controls.temparature.valid  && (formgroup.controls.temparature.dirty|| submitAttempt)"
            class="error">* Please Enter Temperature</p>

        <ion-label class="label"><span class="span">*</span>Timing of cropping</ion-label>
        <ion-item class="item" no-lines>
            <ion-textarea autocomplete="on" autocorrect="on" formControlName="croppingTimings" placeholder="4mnths"
                class="input" [(ngModel)]="plant_cropping_timings" (ionChange)="getPlant_cropping_timings($event)"
                [class.invalid]="!formgroup.controls.croppingTimings.valid  && (formgroup.controls.croppingTimings.dirty && submitAttempt)"></ion-textarea>
            <!-- <ion-input type="text" placeholder="Below 35F" class="input">
        </ion-input> -->
        </ion-item>
        <p *ngIf="!formgroup.controls.croppingTimings.valid  && (formgroup.controls.croppingTimings.dirty|| submitAttempt)"
            class="error">* Please Enter Timing of cropping</p>

        <ion-label class="label"><span class="span">*</span>Type of energy required to grow</ion-label>
        <ion-item class="item" no-lines>
            <ion-textarea autocomplete="on" autocorrect="on" formControlName="energyRequiredToGrow" placeholder="Sunlight & Water"
                class="input" [(ngModel)]="plants_energy_required" (ionChange)="getPlant_energy_required($event)"
                [class.invalid]="!formgroup.controls.energyRequiredToGrow.valid  && (formgroup.controls.energyRequiredToGrow.dirty && submitAttempt)"></ion-textarea>
            <!-- <ion-input type="text" placeholder="Sunlight & Water" class="input">
        </ion-input> -->
        </ion-item>
        <p *ngIf="!formgroup.controls.energyRequiredToGrow.valid  && (formgroup.controls.energyRequiredToGrow.dirty|| submitAttempt)"
            class="error">* Please Enter Type of energy required to grow</p>

        <ion-label class="label"><span class="span">*</span>Organic material Required</ion-label>
        <ion-item class="item" no-lines>
            <ion-textarea autocomplete="on" autocorrect="on" formControlName="organicMaterialRequired" placeholder="Manure of animals"
                class="input" [(ngModel)]="plant_organic_material" (ionChange)="getPlant_organic_material($event)"
                [class.invalid]="!formgroup.controls.organicMaterialRequired.valid  && (formgroup.controls.organicMaterialRequired.dirty && submitAttempt)"></ion-textarea>
            <!-- <ion-input type="text" placeholder="Manure of animals" class="input">
        </ion-input> -->
        </ion-item>
        <p *ngIf="!formgroup.controls.organicMaterialRequired.valid  && (formgroup.controls.organicMaterialRequired.dirty|| submitAttempt)"
            class="error">* Please Enter Organic material Required</p>

        <ion-label class="label"><span class="span">*</span>Water Quantity</ion-label>
        <ion-item class="item" no-lines>
            <ion-textarea autocomplete="on" autocorrect="on" formControlName="waterQuantity" placeholder="60-400lit per day"
                class="input" [(ngModel)]="plant_water_quantity" (ionChange)="getPlant_water_quantity($event)"
                [class.invalid]="!formgroup.controls.waterQuantity.valid  && (formgroup.controls.waterQuantity.dirty && submitAttempt)"></ion-textarea>
            <!-- <ion-input type="text" placeholder="60-400lit per day" class="input">
        </ion-input> -->
        </ion-item>
        <p *ngIf="!formgroup.controls.waterQuantity.valid  && (formgroup.controls.waterQuantity.dirty|| submitAttempt)"
            class="error">* Please Enter Water Quantity</p>

        <ion-label class="label"><span class="span">*</span>Witout freeze time</ion-label>
        <ion-item class="item" no-lines>
            <ion-textarea autocomplete="on" autocorrect="on" formControlName="withoutFreezTime" placeholder="Whole mangoes can last up to 5 days."
                class="input" [(ngModel)]="plant_without_freeze_time" (ionChange)="getPlant_without_freeze_time($event)"
                [class.invalid]="!formgroup.controls.withoutFreezTime.valid  && (formgroup.controls.withoutFreezTime.dirty && submitAttempt)"></ion-textarea>
            <!-- <ion-input type="text" placeholder="Whole mangoes can last up to 5 days." class="input">
        </ion-input> -->
        </ion-item>
        <p *ngIf="!formgroup.controls.withoutFreezTime.valid  && (formgroup.controls.withoutFreezTime.dirty|| submitAttempt)"
            class="error">* Please Enter Witout freeze time</p>

        <ion-label class="label"><span class="span">*</span>With freeze time</ion-label>
        <ion-item class="item" no-lines>
            <ion-textarea autocomplete="on" autocorrect="on" formControlName="withFreezTime" placeholder="Upto 6months in freezer"
                class="input" [(ngModel)]="plant_with_freez_time" (ionChange)="getPlant_with_freez_time($event)"
                [class.invalid]="!formgroup.controls.withFreezTime.valid  && (formgroup.controls.withFreezTime.dirty && submitAttempt)"></ion-textarea>
            <!-- <ion-input type="text" placeholder="Upto 6months in freezer" class="input">
        </ion-input> -->
        </ion-item>
        <p *ngIf="!formgroup.controls.withFreezTime.valid  && (formgroup.controls.withFreezTime.dirty|| submitAttempt)"
            class="error">* Please Enter With freeze time</p>
        <ion-card style="margin: 0px;margin-bottom:-1%;--background:rgba(255,255,255,0.8)" (click)="openLink(imagePrevie.url)">
            <ion-item no-lines class="item1" *ngIf="imagePrevie" >
                <ion-thumbnail class="thumbnail" slot="start">
                    <img *ngIf=" imagePrevie && imagePrevie.image" [src]="imagePrevie.image" style="object-fit: cover;">
                    <img *ngIf="imagePrevie && !imagePrevie.image" src="../../assets/images/placeholder_user.png">
                </ion-thumbnail>
                <!-- <ion-label slot="start" style="font-size: 14px;">{{imagePrevie.title}}</ion-label> -->
                <div slot="end" style="margin:0px;">
                    <p class="previewText">{{imagePrevie.title}}</p>
                    <p class="previewText1">{{imagePrevie.description}}</p>
                </div>

            </ion-item>
            <p *ngIf="imagePrevie"  class="previewUrl">{{imagePrevie.url}}</p>
        </ion-card>
        <ion-label class="label" *ngIf="showLink"><span class="span"></span>Link</ion-label>
        <ion-item class="item" no-lines>
            <ion-textarea autocomplete="on" autocorrect="on" formControlName="link" placeholder="https://www.google.com/search?ei=1ascXM6kFoftvgTG86rIBA&q=info+about+mango&oq=info+about+mango&gs_l=psy-ab.3.0.0l2j0i10i30j0i30l5.38495.47086..47956...1.0..0.222.1452.1j10j1......0....1..gws-wiz.......0i71j0i7i30j0i7i10i30j0i8i7i30j0i13j0i13i10i30j0i13i30.1Tl1bZTttzo"
                class="input" [(ngModel)]="plant_link" (ionChange)="getPlant_link($event.detail.value)"></ion-textarea>
            <!-- <ion-input type="text" placeholder="Upto 6months in freezer" class="input">
            </ion-input> -->
        </ion-item>

    </form>
    <!-- </form> -->


    <!-- </ion-card> -->

</ion-content>
<ion-footer class="footer">
    <div style="text-align:center">
        <ion-button class="submitButton" (click)="submitPlantDetails()">submit</ion-button>
    </div>
</ion-footer>
<!-- <ion-footer>
        <ion-button class="createTask" [disabled]="isCreatedTask" (click)="createTask()">CREATE TASK</ion-button>
      </ion-footer> -->