.farmmodule_title{
    // height: 30px;
    color: rgba(59, 59, 59, 0.88);
    font-size: 16px;
    text-align: left;
    // font-family: 'Roboto', sans-serif;
}
    .farmmodule_subtitle{
    color: #919D83;
    font-size: 12px;
    white-space: initial;
    text-overflow: inherit;
    word-break: break-word;
    }
    ion-card{
    --background:transparent;
    margin:4px 0px 0px 0px;
    -webkit-box-shadow:none;
    box-shadow:none;
    }
    ion-avatar{
        width: 65px;
        height: 65px;
        border: 3px solid #ff9800;
        // margin: 0px 10px 0px 0px;;
        margin-bottom: 2px;
        margin-right: 20px;
    }
    
    .module_style{
    padding-top:10px;
    }
    .item{
    --background:transparent; 
    margin-left: -4px;
    // --border-style: transparent !important; 
    // padding:7px 0px 3px 0px;
    }
    .cssarrow{
        height: 20px;
        width: 20px;
        position: absolute;
        right: 8px;
        top: 30px;
    }


