<ion-card *ngFor="let module of Farm_Modules" (click)="select_module(module.path)">
  <ion-item lines="none">
    <ion-avatar slot="start">
      <img src="{{module.image}}" style="object-fit: cover;">
    </ion-avatar>
    <ion-label no-margin style="border-bottom: 1px solid #bbb;margin-top: 18px;;height: 60px;padding-right: 10px">
      <p class="farmmodule_title">{{module.title}}</p>
      <p class="farmmodule_subtitle">{{module.subtitle}}</p>
      <img slot="end" src="assets/images/forwordarrow.png" class="cssarrow">
    </ion-label>
  </ion-item>
</ion-card>