.notification_Acknowledge{
    // width:100% !important;
    margin: 0px !important;
    --background:#FF4081 !important;
    font-size: 15px !important;
    text-transform: capitalize !important;
    height: 30px !important;
    }
    .notification_Acknowledged{
        // width:100% !important;
        margin: 0px !important;
        --background:#41B2FB !important;
        font-size: 15px !important;
        text-transform: capitalize !important;
        height: 30px !important;  
    }
    .notification_mark{
    width:100% !important;
    margin: 0px !important;
    --background:#8BC34A !important;
    font-size: 14px !important;
    text-transform: capitalize !important;
    height: 28px !important;
    
    }
    .item{
    --padding-start:5px !important;
    --padding-end:0px !important;
    }
    ion-card{
    margin:0px !important;
    }
    .notification-time{
    font-size: 12px;
    padding-top: 12px;
    padding-top: 1;
    padding-left: 12px;
    color:#469DBF ;  
    }
    .notification-icon{
    font-size: 17px;
    padding-top: 11px;  
    }
    ion-avatar{
    margin-right: 8px !important; 
    --border-radius: 10% !important; 
    margin-top: -11px;
    height: 45px;
    width: 45px;
    }
    ion-label{
    margin-right: 0px !important;   
    }
    .notification_description{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-height: 1.2;
        white-space: normal;   
    }
    .notification_avatar{
        
    }
    ion-label{
        --border-color: transparent;

    }
    .notification_text{
        text-align: left;
        // font-family: 'Roboto',sans-serif;
        font-weight: 500;
        margin-bottom: 0px
  
    }
    .notification_text1{
        // font-family: 'Roboto',sans-serif;
        color: #AAA8A8;
        font-size: 15px;
        font-weight: 500;
        text-align: left;
        text-transform: capitalize;
    }
   
    .item{
        --border-style: transparent !important; 
    }
    .cssnotfn{
        color:#484747;
        font-size: 18px;
        // font-family: 'Roboto',sans-serif;
        text-align: left;
        margin-left: 10px;
        font-weight: bold;
    }
    ion-footer{
        position: absolute;
        bottom: 0px;
        // background-color: rgba(255,255,255,0.9);
        background-color: #ECEEDF;
    }
    .footer-md:before{
        background-image:none;
    }