<ion-content style="background-image: url('assets/images/background.jpeg');
background-repeat: no-repeat;
background-size: 100% 100%; --background: rgba(255,255,255,0.8);">
  <p class="cssnotfn">Notification Details</p>
  <div *ngFor="let taskData of userdata">
    <ion-card
      style="box-shadow: none;background: transparent;border: 2px solid rgba(238, 237, 237, 0.2);padding: 0px 6px;">
      <ion-item no-lines style="background-color: rgba(255,255,255,0.4);">
        <ion-avatar *ngIf="senderimage" slot="start" class="notification_avatar" style="margin-right: 8px !important; --border-radius: 4px !important; 
      margin-top: 10px;object-fit: cover; height: 90px; width: 90px;margin-left: 6px;">
          <img [src]="senderimage">
        </ion-avatar>
        <ion-label style="--border-color: transparent;">
          <p class="notification_text1">Assigned By : {{taskData.sendername}}</p>
          <p class="notification_text1" *ngIf="taskData.priority == 'High'" style="color:#ffc400;" >Priority: {{taskData.priority}} </p>
          <p class="notification_text1" *ngIf="taskData.priority == 'Medium'"  style="color:#259B24;" >Priority: {{taskData.priority}} </p>

          <p class="notification_text1"*ngIf="taskData.priority == 'Urgent'"  style="color:#ff0000;" >Priority: {{taskData.priority}} </p>
          <p class="notification_text1"*ngIf="taskData.priority == 'Low'"  style="color:#00aeff;" >Priority: {{taskData.priority}} </p>

          <!-- <p class="notification_text1" style="color:#101010;text-transform:initial;">Reported an observation <span class="notification-time"  *ngIf="createdat">{{createdat}}</span></p> -->
          <!-- <p class="notification_text">Priority :{{item.Priority}}</p> -->
        </ion-label>
        <span class="notification-time" slot="end" >{{taskData.createdat}}</span>
      </ion-item>
      <ion-item>
        <p class="notification_description" style="color: #484747;
    font-size: 16px;padding-left: 10px;">AssignMent : {{taskData.notiification_description}}</p>
      </ion-item>
      <!-- <ion-item>
        <p class="notification_description" style="color: #484747;
    font-size: 16px;padding-left: 10px;">AssignMent : {{taskData.priority}}</p>
      </ion-item> -->
      <!-- <ion-item>

        <p class="notification_description" *ngIf="remarks" style="color: #484747;
  font-size: 16px;padding-left: 10px;">Remarks : {{remarks}}</p>
      </ion-item> -->
      <!-- <p class="notification_text">Remarks :    {{remarks}}</p> -->
    </ion-card>

    <!-- <ion-card
      style="box-shadow: none;background: transparent;border: 2px solid rgba(238, 237, 237, 0.2);padding: 0px 6px; margin-top: 6px;">
      <ion-card-header>
        <ion-card-title>Reminder </ion-card-title>
      </ion-card-header>
      <ion-item>
        <p class="notification_description" *ngIf="notiification_description" style="color: #484747;
    font-size: 16px;padding-left: 10px;">AssignMent : {{notiification_description}}</p>
      </ion-item>
      <ion-item>
        <p class="notification_description" style="color: #484747;
  font-size: 16px;padding-left: 10px;">Assigned By : {{sendername}}</p>
      </ion-item>
      <ion-item>
        <p class="notification_description" style="color: #484747;
  font-size: 16px;padding-left: 10px;">Your task completetd by {{enddate}}</p>

      </ion-item>
    </ion-card> -->

    <!-- <p class="notification_text">SenderName :    {{sendername}}</p>
    <p class="notification_text">Category :      {{Category}}</p>
    <p class="notification_text">Labour :        {{Labour}}</p>
    <p class="notification_text">Priority :      {{Priority}}</p> -->

  </div>
</ion-content>