th{
    background-color: #5A5B60;
    color:white;
    padding: 0px 4px 0px 4px;
}
.delete_img{
    width: 30%;
    max-width: 30%;
    margin-left: 9%;
}
.download_img{
    width: 18%;
    max-width: 25%;
    margin-left: 7%;
}
.view_img{
    width: 31%;
    max-width: 35%;
    margin-left: 16%;
}
.card_header{
    --backgroundd:#FF5A5B60;
}
.card_content{
    --backgroundd:#fff; 
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-inline-start: 10px !important;
    padding-inline-end: 10px !important;
}
.delete_button{
    font-size: 12.5px;
    width: 87px;
    height: 21px;
    --border-radius: 9px;
    --background:rgba(255, 16, 16, 1);
}
.download_button{
    font-size: 12.5px;
    width: 110px;
    height: 21px;
    --border-radius: 9px;
    --background:#71d240;
}
.view_button{
    font-size: 12.5px;
    width: 77px;
    height: 21px;
    --border-radius: 9px;
    --background:rgba(225, 63, 124, 1);
}
.searchImage{
    width: 5%;
    margin-top: 1%;
    margin-left: 2.5%;
}
.hashtag .text-input.text-input::-webkit-input-placeholder { /* WebKit browsers */
    font-size: 11px;
    color:rgba(16,16,16,1);
    line-height: 1;
    font-weight: 300;
    font-style: italic;
   text-align: left;
    font-family: 'Roboto', sans-serif;
}
.audio{
    color: rgba(16,16,16,0.3);
    font-size: 18px;
}