<farmeasy-header [Data]="headerData"></farmeasy-header>
<ion-content style="background-image: url('assets/images/tm_background.jpg');
background-repeat: no-repeat;
background-size: 100% 100%; --background: rgba(255,255,255,0.7);">
  <!-- <ion-searchbar (ionClear)="clear()" [placeholder]="'Search Document'" [(ngModel)]="searchkeys" (ionChange)="search()"></ion-searchbar> -->
   <!-- <table *ngIf="record_data.length>0" align="center">
    <thead>
      <tr>
        <th></th>
        <th>#</th>
        <th>Doc.Category</th>
        <th>Doc Name</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of record_data,let idx = index">
          <td>
           <img (click)="deleteRecord(data)" style="margin: 5px;" src="../../../assets/images/Recycle_Bin.svg" height=21 width=21>
           </td>
           <td>{{idx+1}}</td>
           <td>{{data.category}}</td>
           <td style="padding: 2px;">{{data.name}}</td>
           <td>
             <img (click)="download(data)" style="margin: 5px;" src="../../../assets/images/download-button.svg" height=21 width=21>
           </td>
           <td> 
             <img (click)="viewDocument(data)" style="margin: 5px;" src="../../../assets/images/pdf.svg" height=21 width=21>
           </td>
   </tr>
  </tbody>
  </table> -->
  <ion-item style="width: 94%;margin: 0 3%;position: relative;z-index: 2;--background:rgba(249, 248, 248, 1);    margin-top: 6%;
  margin-bottom: 4%;--border-color: transparent;"
no-lines>
<!-- E.g. #startup, #metoo, #redcurry -->
<!-- <ion-input class="hashtag" placeholder="Enter #tags"
          (ionChange)="changeHashTag(hashtagInput)" [(ngModel)]="hashtagInput" type="text">
        </ion-input> -->
<img item-left *ngIf="hideSearchIcon" class="searchImage" src="assets/images/search.png" />
<ion-input class="hashtag" style="    text-align: left;margin-left: 10px;font-size: 13px;" [ngStyle]="{'text-align':hideSearchIcon ? 'left' : 'left' }" [ngStyle]="{'margin-left':hideSearchIcon ? '0px' : '12px' }"
    placeholder='Search Document' (ionChange)="getItems(searchInput)" [(ngModel)]="searchInput" type="text">
</ion-input>
<!-- <ion-icon name="mic" slot="end" class="audio" (click)="recordAudio()"></ion-icon> -->
</ion-item>
  <ion-card style="box-shadow: none;
  text-align: center;" *ngIf="record_data.length == 0">
    <ion-card-content>
      No Records
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let data of record_data,let idx = index" style="--background:#fff;margin-inline-end: 10px; margin-inline-start: 10px;">
    <ion-card-header class="card_header" style="  --background: #5b5b60;
    color: #fff;
    height: 22px;
    padding: 3px 0px 3px 11px;">
        {{data.name}}
    </ion-card-header>
    <ion-card-content class="card_content"> 
      <p>{{data.description}}</p>  
      <div style=" text-align: right;">
        <ion-button class="delete_button" (click)="deleteRecord(data)">DELETE <img src="../../../assets/images/Recycle_Bin_white.svg" class="delete_img"></ion-button>
        <ion-button class="download_button" (click)="download(data)">DOWNLOAD<img src="../../../assets/images/download-button_white.svg" class="download_img"></ion-button>
        <ion-button class="view_button" (click)="viewDocument(data)">VIEW<img src="../../../assets/images/file-pdf-outline.svg" class="view_img"></ion-button>
      </div>
    </ion-card-content>

  </ion-card>
</ion-content>