<farmeasy-header [Data]="headerData"></farmeasy-header>
<ion-content style="background-image: url('assets/images/tm_background.jpg');
background-repeat: no-repeat;
background-size: 100% 100%; --background: rgba(255,255,255,0.9);">
<app-from-and-to-date (isDateClicked)="openDate($event)" (search_data)="searchData($event)" [color]="color" [fromDate]='fromDate' [toDate]="toDate"></app-from-and-to-date>


<ion-card class="mainCard" *ngFor="let card of PurchaseInList">
                <ion-card-header class="Heading" >
                <p style="margin: 0px;padding: 4px;font-size: 12px;"> {{dateConverter(card.Date_of_transaction)}}: {{card.category}} </p>
                </ion-card-header>
                <ion-card-content class="CardContent">
                        <ion-grid>
                            <ion-row>
                                <ion-col size ="9.5" class="leftCol">
                                    <ion-row style="font-size:12px;" >
                                    <p style="white-space:normal;">
                                         {{formSentance(card.subcategory)}}
                                    </p>
                                    </ion-row>
                                    <ion-row>
                                    <ion-col no-padding>
                                    <div style="display: flex;">
                                         <p style="font-size: 22px;font-weight: 500; color: #606060;">{{ commaSeparater(card.total)}}</p>
                                         <span style="color: red;margin-top: 6px;margin-left: 2px;padding: 3px;">INR</span>
                                    </div>
                                    </ion-col>
                                     <ion-col no-padding style="text-align:right;">
                                     <div style="margin-top:4px;" >
                                        <ion-button *ngIf="card.status == 'Submitted'" class="statusButton" color="danger">{{card.status}}</ion-button>
                                        <ion-button *ngIf="card.status == 'RECONCILED'" class="statusButton" color="secondary">{{card.status}}</ion-button>
                                     </div>
                                    </ion-col>
                                    </ion-row>
                                </ion-col>
                                <ion-col no-padding size ="2.5" >
                                    <div  *ngIf="card.created_by" [style.backgroundImage]="'url('+ card.created_by.profile_url +')'" style="object-fit: cover;" class="category" >
                                        <div class="catergory-text">
                                            {{card.created_by.name }}
                                        </div>
                                    </div>
                                </ion-col>
                            </ion-row>
                         </ion-grid>
                </ion-card-content>
            </ion-card>
            <ion-card style="text-align: center;background: white;" *ngIf="PurchaseInList.length === 0">
                    <p> {{'No Purchases'}}</p>
         </ion-card>
        

</ion-content>
