.row1{
    background:rgba(90, 91, 96, 1);
    color: #fff;
    height: 25px;
    padding-left: 7px;
    padding-top: 3.5px;
    margin-top: 27px;
}
.p_class{
    color: #202020;
    font-size: 18px;
    margin-bottom: 8px;
}
.pCLass{
    color: #202020;
    font-size: 14px;
    margin-top: 0px;
}
.cardClass{
    --background:#f4f4f4;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-right: 8px;

}
.imageClass{
    width: 30px;
    max-width: 30px;
    margin-right: 0px;
    margin-left: -5px;
}
.imageClass1{
    width: 25px;
    max-width: 30px;
    margin-right: 0px;
}
.imageClass2{
    width: 22px;
    max-width: 30px;
    margin-right: 0px;
}

.selectCLass{
    padding: 1px;
    border: 1px solid rgba(187, 187, 187, 1);
    border-radius:4px;
    height: 25px;
    margin-right: 6px;
    padding-top: 5px;
    font-size: 12px;
    padding-left: 4px;
}

.itemClass .item-native {
    padding-inline-start: 0px !important;
    --padding-start: 0px !important;

}
.itemClass .item-inner {
    --inner-border-width: 0px 0px 0px 0px !important;
    --inner-border-width: 0px;
    --border-color: transparent;
    --ion-border-color: transparent;
    --border-color:transparent

}
.itemClass{
    padding-inline-start: 0px !important;
    --padding-start: 0px !important;
    --border-color: transparent;
    --ion-border-color: transparent;
    --border-color:transparent

}
.colClass{
    padding: 0px;
    font-size: 14px;
}
.row2{
    background: #fff;
    padding-left: 7px;
}
.textClass{
    display:inline;
    font-size:14px;
    margin-inline-start: 0px;
    margin-inline-end: 12px;
}
.block-okCancelButton{
    text-align: center;
    margin-top: 15%;
    margin-bottom: 8%;

}
.block-ok{
    --padding-top: 6px;
    --padding-end: 10px;
    --padding-bottom: 5px;
    --padding-start: 9px;
    --border-radius:10px;
    font-weight: bold;
    --background:rgba(139, 195, 74, 1);
    height: 19px;
    width: 70px;
    font-size: 12px;
    color: #fff;
    margin-right: 35px;
    text-transform: uppercase;

}
.block-cancel{
    --padding-top: 6px;
    --padding-end: 10px;
    --padding-bottom: 5px;
    --padding-start: 9px;
    --border-radius: 12px;
    font-weight: bold;
    --background:rgb(152, 153, 156);
    height: 19px;
    width: 70px;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}
.select-icon {
    width: 16px;
    height: 18px;
}
.textClass1{
    font-size:14px;
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}