<ion-card class="cardClass">
<p class="p_class">{{labels.title}}</p>
<p class="pCLass">{{labels.subtitle}}</p>
<ion-row class="row1">
  <ion-col size="4" class="colClass">{{labels.field}}</ion-col>
  <!-- <ion-col size="4" class="colClass">Existing Value</ion-col> -->
  <ion-col size="4" class="colClass">{{labels.subtitle}}</ion-col>
</ion-row>
<ion-row class="row2">
  <ion-col size="4" class="colClass">
     <ion-item class="itemClass">
        <img slot='start' class="imageClass1" src="../../assets/images/round_user.png">
        <p slot='end'  class="textClass">{{labels.labour}}</p>
    </ion-item>
    <div *ngFor="let data of taskData">
    <ion-item class="itemClass" *ngIf="data.priority">
        <img slot='start' class="imageClass2" src="../../assets/images/schedule-button.png">
        <p slot='end'  class="textClass">{{labels.priority}}</p>
    </ion-item>
    </div>
  </ion-col>
  <!-- <ion-col size="4" class="colClass"> 
   <ion-item class="itemClass">
   <p class="textClass1" style="margin-top: 5px; width: 100px;" > <span *ngFor="let data of taskData">{{data.assignee.name}}</span> </p>
    </ion-item>
    <ion-item class="itemClass">
    <p class="textClass1" *ngFor="let data of taskData"><span *ngIf="data.priority">{{data.priority}}</span></p>
    </ion-item>  
  </ion-col> -->
  <ion-col size="4" class="colClass"> 
    <!-- <ion-select interface="popover" class="selectCLass" style="margin-top: 10px;" placeholder=" - Select a Value -">
      <ion-select-option >Chellaiah</ion-select-option>
    </ion-select> -->
    <ion-select interface="popover" class="selectCLass" (ionChange)="selectLabour($event)" style="margin-top: 12px;" placeholder=" - Select a Value -" >
      <ion-select-option *ngFor="let userData of usersData" [value]="userData">{{userData.name}}</ion-select-option>
    </ion-select>
    <div *ngFor="let data of taskData">
    <ion-select *ngIf="data.priority" interface="popover" class="selectCLass" style="margin-top: 22px;" placeholder=" - Select a Value -" [(ngModel)]="selectedPriority">
      <ion-select-option >Urgent</ion-select-option>
      <ion-select-option >High</ion-select-option>
      <ion-select-option >Medium</ion-select-option>
      <ion-select-option >Low</ion-select-option>
    </ion-select>
    </div>
  </ion-col>
</ion-row>
<div class="block-okCancelButton">
    <ion-button class="block-ok"  (click)="update()">{{labels.update}}</ion-button>
    <ion-button class="block-cancel" (click)="cancel()">{{labels.cancel}}</ion-button>
  </div>
</ion-card>




