<div style="display:grid;">
  <div>
  <p class="closeIcon" (click)="sourcePopOverClose()" > <ion-icon name="close"></ion-icon> close</p>
  </div>
  <ion-card style="background:#bbbbbb;">
     <ion-card-content  no-padding>
      <ion-card no-margin style="background: transparent;box-shadow: none;" *ngFor="let item of Records.attachment; let idx = index">
            <ion-card-content no-padding>
          <img height="100%" width="100%" *ngIf="item.type == 'camera' || item.type == 'gallery'" [src]="item.url" style="object-fit: cover;">
          <video width="274" height="150" *ngIf="item.type == 'video'" controls>
              <source [src]="item.url">
         </video>
         <p style="color: black;text-align: center;" *ngIf="item.type == 'attachment'">{{item.path.name.substring(item.path.name.lastIndexOf("/")+1)}}</p>
        </ion-card-content>
      </ion-card>
    </ion-card-content>
</ion-card>
</div>
