.cssimg{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-bottom: -20px;
}
.user_background{
    width: 100px;
    position: relative;
    line-height: 20px;
    border-radius: 0px 0px 7px 7px;
    text-align: center;
    padding-right: 9px;
    padding-left: 3px;
    color: #fff;
    // font-family: 'Roboto-Regular', sans-serif;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: rgba(51, 59, 42, 0.4);
    z-index: 100;
  }
.cssdiv{
    padding: 0px;
    text-align: -webkit-center !important;
    box-shadow: none;
    background: transparent;
    margin: 0px;
}