<farmeasy-header [Data]="headerData"></farmeasy-header>
<ion-content style="background-image: url('assets/images/tm_background.jpg');
background-repeat: no-repeat;
background-size: 100% 100%; --background: rgba(255,255,255,0.7);">
<ion-card class="cssdiv" *ngIf="categoryData.length>0">
    <ion-row>
            <ion-col col-4 *ngFor="let category of categoryData,let idx = index" (click)="selectCategory(category)">
                <img class="cssimg" [src]="category.image">
                <div class="user_background">{{category.name}}</div>
            </ion-col>
    </ion-row>
</ion-card>

</ion-content>
