<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" class="buttons_start">
            <ion-menu-button style="color:#fff"></ion-menu-button>
             <!-- <ion-back-button defaultHref="/"></ion-back-button>  -->
             <!-- <ion-button (click)="goBack()">
                 <ion-icon ios="md-arrow-back" md="md-arrow-back" style="color:#fff;"></ion-icon>
                 <br /><span style="font-size:12px;">{{date}}</span>
             </ion-button> -->
        </ion-buttons>
        <ion-title><span style="font-size:20px;">Ayurveda one</span></ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="openMessageList()">
                <img src="assets/images/chat.svg" style="width:24px">
            </ion-button>
            <ion-button  style="padding:0px;margin:0px 11px 0px 0px;" class="notification_button ion-no-margin" (click)="nofication_count()" >
                <!-- <img src="assets/images/notifications.png" class="notification_img" (click)="nofication_count()" style='pointer-events: auto;'> -->
                <ion-icon name="notifications" style="width:26px;height: 26px;"></ion-icon>
            </ion-button>
            <ion-badge *ngIf="this.sg['notificationscount']" class="notification_icon"  (click)="nofication_count()" >
                <span *ngIf="this.sg['notificationscount']">{{this.sg['notificationscount']}}</span>
            </ion-badge>
            <ion-button style="padding:0px;margin:0px 3px 0px 0px;" (click)="openProfile()" >
                <img *ngIf="!this.sg['userdata'] && !this.sg['userdata'].profile_url" src="assets/images/placeholder_user.png" class="placeholder_img">
                <img  *ngIf="this.sg['userdata'] && this.sg['userdata'].profile_url" [src]="this.sg['userdata'].profile_url" class="placeholder_img">
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card class="appUpdate-card" *ngIf="showUpdateApp">
        <ion-card-header no-padding >
            <div class="appUpdate-image">
                    <img src="assets/images/ayurveda-icon.png" style="width:150px;height:150px">
            </div>
            <div class="appUpdate-header">
                    <p class="appUpdate-title">App Update Available</p>
                    <p class="appUpdate-content">There is a new version of the app available, Please update the app to access newer features</p>
                  
            </div>
        </ion-card-header>
        <ion-card-content class="appUpdate-buttons">
            <ion-button (click)="this.updateNow()"color="success" size="small" shape="round" style="text-transform: capitalize"> Update Now</ion-button>
            <ion-button (click)="this.remaindMeLater()" color="medium" size="small" shape="round" style="text-transform: capitalize" >Update Later</ion-button>
        </ion-card-content>
     </ion-card>
<!-- <app-farmeasymodules (Farmeasymoduleslist)="selectModule($event)"> </app-farmeasymodules> -->
<ion-card *ngFor="let module of this.sg['dashboard']" (click)="selectModule(module)">
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="{{module.image}}" class="module_image">
    </ion-thumbnail>
    <ion-label no-margin style="padding-right: 10px">
      <p class="farmmodule_title">{{module.title}}</p>
      <p class="farmmodule_subtitle">{{module.subtitle}}</p>
      <img slot="end" src="assets/images/forwordarrow.png" class="cssarrow">
    </ion-label>
  </ion-item>
</ion-card>

</ion-content>