ion-toolbar {
    --background: #ff9800 100%;
    --ion-color-base: #ff9800 100% !important;
    --min-height: 47px;
    
    }
    ion-icon{
    color:#fff;
    }
    ion-content{
    // --background: #fbfaeb !important;  
    margin-top: 10px; 
    }
    .notification_icon{
        position: absolute;
        vertical-align: middle;
        margin-right: 60px;
        margin-top: -9px;
        z-index: 1;
        border-radius: 20px;
        background-color: #FF0000;
        right: 0;
        width: 20px;
        height: 20px;
        border-radius: 13px;
        padding: 4px 2px 2px 2px;
        font-weight: bold;
        pointer-events: auto !important;
    }
    
    #device-android .frame-container .statusbar{
    background-image:none !important;   
    } 
    ion-icon{
    color:#fff !important;
    }
    ion-card{
    --background:transparent;
    margin:0px;
    -webkit-box-shadow:none;
    box-shadow:none;
    }
    .item{
    --background:transparent; 
    }
    .line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    }
    .farmmodule_title{
    color: #3B3B3B;
    }
    .farmmodule_subtitle{
    color: #919D83;
    font-size: 9px;
    white-space: initial;
    text-overflow: inherit;
    word-break: break-word;
    }
    span{
    font-weight:bold; 
    }
    .placeholder_img{
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 5px;  
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 1); 
    }
    .notification_img{
    // margin-right: 15px; 
    height: 26px;
    width: 26px;
    border-radius: 4px;
    
    }
    .buttons_start{
    margin-top: 0px !important;
    }
    ion-title{
    text-align:center;
    color:#fff ;
    font-size: 18px;
    // margin-left: 26px;
    }
    .notification_button{
    margin-bottom: -3px;
    padding-bottom: 0px;   
    pointer-events: auto !important;
    }
    .ion-menu-toggle{
    color:#fff;
    }
    .appUpdate-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid #D5D2D2;
        border-radius: 6px;
        margin: 12px;
        background: #fff;
    }
    .appUpdate-header{
       text-align: center
    }
    .appUpdate-image{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .appUpdate-title{
        margin: 4px;
        font-weight: 800;
        color: #606060;
        font-size: 18px;
    }
    .appUpdate-content{
        margin: 0;
        font-size: 14px;
        color: #595858;
    }
    .appUpdate-buttons{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background: #F3FBEB;
        border-top: 1px solid #D5D2D2;
        padding: 10px;
    }
    
    //dashboard
    .farmmodule_title{
        // height: 30px;
        color: rgba(59, 59, 59, 0.88);
        font-size: 16px;
        text-align: left;
        // font-family: 'Roboto', sans-serif;
    }
        .farmmodule_subtitle{
        color: #919D83;
        font-size: 12px;
        white-space: initial;
        text-overflow: inherit;
        word-break: break-word;
        }
        ion-card{
        --background:transparent;
        margin:4px 0px 0px 0px;
        -webkit-box-shadow:none;
        box-shadow:none;
        }
        .module_image{
                width: 56px;
                height: 56px;
                border: 1px solid #ff9800;
                margin-bottom: 2px;
                margin-top: 0px;
                object-fit: cover;
                border-radius: 8px;
        }
        
        .module_style{
        padding-top:10px;
        }
        .item{
        --background:transparent; 
        margin-left: -4px;
        margin-bottom: 5px;
        // --border-style: transparent !important; 
        // padding:7px 0px 3px 0px;
        }
        .cssarrow{
            height: 20px;
            width: 20px;
            position: absolute;
            right: 8px;
            top: 18px;
        }