<!-- <ion-header>
  <ion-toolbar>
      <ion-buttons slot="start" >
          <ion-button (click)="backto_dashboard()">
                  <ion-icon name="arrow-back" style="color:#fff"></ion-icon>
              </ion-button>
          </ion-buttons>
    <ion-title>{{this.title}}</ion-title>
  </ion-toolbar>
</ion-header> -->
<farmeasy-header [Data]="headerData"></farmeasy-header>
<ion-content>
<viewnotification [notificationkey]="key"></viewnotification>
</ion-content>
