ion-toolbar {
    --background: #ff9800  !important;
    --ion-color-base: #ff9800 !important;
    font-size: 15px;
    font-weight: 600;
    }
   
    
    ion-title{
    text-align: left;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    }