.textitem{
    height: 28px;
    width: 96%;
    margin-left: 2%;
    font-size: 14px;
    border-radius: 5px;
    border: solid 1px #BBBBBB;
    background-color: #fff;
 }
.select-block{
    padding: 8px 8px 2px 8px;
    font-size: 12px;
    margin-top: 5px;
}
.textinput{
    // height: 34.5px;
    width: 96%;
    // margin-left: 2%;
    // font-size: 14px;
    // border: solid 1px #BBBBBB;
    // background-color: #fff;

    height: 34.5px;
    font-size: 14px;
    border: solid 1px #BBBBBB;
    background-color: #fff;
    padding-right: 2px;
 }
.content{
    border: solid 1px #BBBBBB;
    background-color: #fff;
}
.submitButton{
    --background: #009BFF 100%;
    height: 29px;
}
.submit{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.heading{
    font-size: 10px;
    padding: 1px;
    text-align: center;
 }
 .textinput-hash{
    height: 35px;
    width: 96%;
    margin-left: 2%;
    font-size: 14px;
    border: solid 1px #BBBBBB;
    background-color: #f0f0f0;
 }
.labour-name{
    width: 72px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.footer{
    text-align: center;
    padding-bottom: 9px;
    background: rgba(255, 255, 255, 0.9);
}
ion-input{
    text-align: right;
}