<farmeasy-header [Data]="headerData"></farmeasy-header>
<ion-content style="background-image: url('assets/images/background.jpeg');
background-repeat: no-repeat;
background-size: 100% 100%; --background: rgba(255,255,255,0.8);">
<div style="padding: 0px 12px;margin-top: 13px;">
        <div class="select-block">{{this.expense_category}}</div>
        <div class="textitem">
            <ion-select  interface="popover" [placeholder]="labels.placeholder" style="padding: 4px;" [(ngModel)]="category"> 
                <ion-select-option value="Salary Payment">{{labels.salary_payment}}</ion-select-option>
             </ion-select>
      </div>
</div>
<div style="padding: 0px 12px;">
    <div class="select-block">{{labels.date_of_payment}}</div>
    <ion-row>
        <ion-col size="5">
                <div class="textinput">
                    <p style="margin: 6px;">{{dateConverter(date)}}</p>
                        <!-- <ion-datetime placeholder="DD-Mon-YY" [min]="2019-01-01" [max]="3000-12-31" [(ngModel)]="" no-padding display-format="DD-MM-YYYY"></ion-datetime> -->
                </div>
        </ion-col>
        <ion-col>
                <img  (click)="pickDate()" style=" margin-top: 3px;width: 26px;" src="assets/images/date.png" >
                <!-- <ion-icon name="calendar" (click)="pickDate()" style="font-size: 20px" ></ion-icon> -->
        </ion-col>
    </ion-row>
</div>
<div style="padding: 0px 12px;">
    <ion-grid no-padding>
        <ion-row style="margin-left: 2px;">
            <ion-col no-padding size="4"><div class="select-block">{{labels.month}}</div></ion-col>
            <ion-col no-padding size="4"><div class="select-block">{{labels.year}}</div></ion-col>
        </ion-row>
        <ion-row style="margin-left: 6px;">
                
            <ion-col no-padding size="4">
                    <div class="textitem">
                            <ion-select  interface="popover" [placeholder]="labels.placeholder" style="padding: 4px;" [(ngModel)]="month"> 
                                <ion-select-option *ngFor="let month of months" [value]="month.code">{{month.name}}</ion-select-option>
                            </ion-select>
                        </div>
            </ion-col>
            <ion-col no-padding size="4">
                    <div class="textitem">
                            <ion-select  interface="popover" [placeholder]="labels.placeholder" style="padding: 4px;" [(ngModel)]="year"> 
                                <ion-select-option>2019</ion-select-option>
                                <ion-select-option>2020</ion-select-option>
                                <ion-select-option>2021</ion-select-option>
                                <ion-select-option>2022</ion-select-option>
                                <ion-select-option>2023</ion-select-option>
                                <ion-select-option>2024</ion-select-option>
                            </ion-select>
                        </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>
<ion-grid margin-top no-padding>
    <ion-row style="margin-bottom: 6px;">
        <ion-col size='0.7'></ion-col>
        <ion-col size="3.3" class="heading" no-padding>{{labels.labour_name}}</ion-col>
        <ion-col size="2" class="heading" no-padding>{{labels.monthly_sal}}</ion-col>
        <ion-col size="2" class="heading" no-padding>{{labels.recovered}}</ion-col>
        <ion-col size="2" class="heading" no-padding>{{labels.deductions}}</ion-col>
        <ion-col size="2" class="heading" no-padding>{{labels.net_paid}}</ion-col>
    </ion-row>
    <ion-row style="padding: 1px 0px;" *ngFor="let data of labourData;let idx = index">
            <ion-col size='0.3' no-padding></ion-col>
        <ion-col size="3.7" no-padding>
            <ion-row>
                    <ion-col size="4" no-padding>
                            <ion-avatar no-margin style="height: 33px;width: 33px;border: 1px solid #fff;margin-left: 0px;">
                                <img [src]="data.profile_url" >
                            </ion-avatar>
                        </ion-col>
                        <ion-col no-padding size="8">
                                <div  style="font-size: 11px;font-weight: 700;margin-top: 1px;margin-bottom: 2px;"><p class="labour-name" no-margin>{{data.labourName}}</p></div>
                                <div  style="font-size: 10px;color: #484848;"><p class="labour-name" no-margin>{{data.role}}</p></div>
                         </ion-col>
            </ion-row>
        </ion-col>
        <ion-col size="2" no-padding>
             <div class="textinput" style="background: #F4F4F4">
                <ion-input type="number" [disabled]="true" style="margin-top: 6px;margin-right: 2%;" [(ngModel)]="labourData[idx].monthlySal"  no-padding (keyup)="storeSalary($event,idx)" ></ion-input>
             </div>
        </ion-col>
        <ion-col size="2" no-padding>
             <div class="textinput">
                <ion-input type="number" style="margin-top: 6px;margin-right: 2%;" [(ngModel)]="labourData[idx].recover"  no-padding (keyup)="recovered($event,idx)"></ion-input>
             </div>
        </ion-col>
        <ion-col size="2" no-padding>
                <div class="textinput">
                        <ion-input type="number" style="margin-top: 6px;margin-right: 2%;" [(ngModel)]="labourData[idx].deduction"  no-padding (keyup)="deductions($event,idx)"></ion-input>
                </div>
        </ion-col>
        <ion-col size="2" no-padding>
            <div class="textinput">
                <ion-input type="number"style="margin-top: 6px;margin-right: 2%;" no-padding [(ngModel)]="labourData[idx].net_paid" (keyup)="netPaid($event,idx)"></ion-input>
             </div>
        </ion-col>
    </ion-row>
</ion-grid>
    <!-- <div class="submit">
    <ion-button size="small" (click)="submit()" style="height: 29px;" class="submitButton" >{{this.submit_btn}}</ion-button>
    </div> -->
</ion-content>
<ion-footer class="footer">
        <ion-button size="small" (click)="submit()" style="height: 29px;" class="submitButton" >{{this.submit_btn}}</ion-button>
    </ion-footer>