.about-description{
    padding: 18px;
    font-family: SFUIText-Regular;
    font-size: 13px;
    color: #4a4a4a;
    text-align: justify;
}
.about-list-heading{
    margin: 0px 16px;
    font-weight: bold;
    // font-family: 'Lato', sans-serif;
    // font-family: SFUIText-Regular;
    font-size: 13px;
    color: #4a4a4a;
    text-align: justify;
    word-break: break-word;
}
// ol{
//     font-family: 'Lato', sans-serif;
// }
.ccsp{
    // font-family: SFUIText-Regular;
    font-size: 13px;
    color: #4a4a4a;
    line-height: 22px;
}
.csslist{
    // font-family: SFUIText-Regular;
    font-size: 13px;
    color: #4a4a4a;
}

ol li {
    padding-top: 12px;
}