<farmeasy-header [Data]="headerData"></farmeasy-header>
<ion-content style="background-image: url('assets/images/harvest_back.jpeg');
background-repeat: no-repeat;
background-size: 100% 100%;    --background: rgba(255,255,255,0.9); ">

<div style="margin :50px 30px 20px 20px;">
    <a style="font-size:20px ; " href="https://ayurcentralonline.com/en/" target="_blank"
           title="Click Here To Know More About Ayurveda One">
           <u>About Ayurvedha One</u></a>
</div>
<!-- <ion-button (click)="sShare()">send</ion-button>
<ion-button (click)="shareViaEmail()">email</ion-button> -->

</ion-content>