.har_indate{
    font-size: 13px;
    color: #000;
    padding-left: 16px;
    margin: 6px 0px;
    }
    .har_subcat{
    font-size: 13px;
    color: #000; 
    margin: 6px 0px;
    }
    ion-select{
    background-color: #fff;
        margin-left: 14px;
        margin-right: 20px;
        font-size: 13px;
        height: 30px;
        border-radius: 6px;
        border: 1px solid #bbbbbb;
        padding: 6px 12px;
    }
    .sub_catselection{
    margin-left: 0px !important;
    margin-right: 0px !important;
    background-color: #fff;
    margin-left: 14px;
    margin-right: 20px;
    font-size: 13px;
    border: 1px solid rgba(187, 187, 187, 1);
    padding-left: 10px;
    
    }
    .sub_catselection .select-icon{
    width: 19px;
    height: 19px;
    position: absolute;
    margin-top: -2px;
    margin-left: 95px;
    
    }
    .uom_selection{
    margin-left: -3px !important;
    margin-right: -9px !important;
    background-color: #fff;
    margin-left: 14px;
    border-radius: 6px; 
    margin-right: 20px;
    font-size: 13px;
    padding-left: 10px;
    border: 1px solid rgba(187, 187, 187, 1);
    }
    ion-input{
    background-color: #fff;
    border: 1px solid rgba(187, 187, 187, 1);
    height: 30px;
    }
    .har_uom{
    font-size: 13px;
    color: #000;  
    padding-left: 8px;
    margin: 6px 0px;
    
    }
    ion-col{
    padding-bottom:0px;
    padding-top:3px;
    }
    .select-text{
    color:#888888 !important;
    opacity: 0.5 !important;
    }   
    .har-cat 
    {
    font-size: 13px;
    color: #000;  
    padding-left: 14px;
    }
    .har-row{
    margin-left: 8px;
    margin-right: 8px;
    }
    
    .pickdate{
        margin-top: 0px;
        background-color: #fff;
        font-size: 13px;
        height: 30px;
        padding-left: 15px;
        padding-top: 7px;
        font-weight: 25px;
        border-radius: 6px;
        border: 1px solid #bbbbbb;
        margin: 0px;
    }
    .harvest-cal{
    margin-top: 3px;   
    }
    .Customer_name{
    font-size: 13px;
    color: #000;
    }
    .row-style{
    margin-left: 14px;
    margin-top: 14px;
    margin-bottom: 14px;  
    }
    .row-style ion-col{
    padding: 0px;
    font-size: 13px;
    color: #000;
    }
    .row-style1{
    margin-left: 14px;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-right: 14px;
    
    }
    .row-style1 ion-col{
    padding-left: 0px;
    
    }
    .bill_background{
        background-color: #fff;
        border: 1px solid #bbbbbb;
        height: 30px;
        font-size: 13px;
        margin: 0px;
        text-align: center;
        padding-top: 5px;  
    }
    .add-another{
        // margin-left: 26%;
        padding: 0px;
        --border-radius: 0px;
        margin-top: 12px;
        --background:#067AB9;
        font-size: 13px;
        height: 29px;
    }
    .remarks{
        background: #fff;
        border: 1px solid #bbb;
        margin: 0px 14px;
    }
    .button-container-review{
        background: rgba(249, 248, 248, 1);
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .button-container-save{
        background: rgba(249, 248, 248, 1);
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .reviewEntry{
        --background: #FF4081 100% !important;
        text-transform: uppercase;
    }
    .button-layout{
        bottom: 10px;
        position: absolute;
    }
    .footer-md:before {
        background-image: none;
    }
    
    //labour
    .csstext{
       
        // font-family: 'Lato', sans-serif;
        background-color: #fff;
        border-radius: 5px !important;
        // color: rgba(16, 16, 16, 0.4) !important;
        font-size: 13px;
        min-width: 95%;
        padding: 6px 11px;
        margin: 0px 14px;
        text-align: left !important;
        min-height: 28px;
        text-overflow: ellipsis;
        white-space: nowrap;
        border: 1px solid #bbbbbb;
      }
      .cssImg{
        width: 12px;
        position: absolute;
        right: 40px;
        top: 18px;
      }
    .item{
        padding-left: 0%;
        --background:transparent;
        --padding-start:0px;
        --border-color: transparent;
        margin-bottom: 2%;
        margin-top: -1%;
    }
    .label{
        font-size: 13px;
        color: #676768;
        padding-left: 2%;
    }
    .span{
        font-size: 15px;
        color: red;
    }
    .item-inner{
        --border-color: transparent;
    }
    .native-input {
        padding-left: 7px;
        color: black;
    }
    ion-checkbox{
        border-color: #ff4081 !important;
        --height: 25px;
        --width: 25px;
        --background-checked: #ff4081 !important;
        --border-color: #ff4081 !important;
        --border-color-checked: #ff4081 !important;
    }