<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="backto_harvest()">
        <ion-icon name="arrow-back" style="color:#fff"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="this.sg['select_harvesttype']">{{this.sg['select_harvesttype']}}</ion-title>
  </ion-toolbar>
</ion-header> -->
<farmeasy-header [Data]='headerData' ></farmeasy-header>
<ion-content style="background-image: url('assets/images/harvest_back.jpeg');background-repeat: no-repeat;background-size: 100% 100%;    --background: rgba(255,255,255,0.9); ">
<!-- <harvestincomponent [harvesttype]="harvesttype" ></harvestincomponent> -->
<!--------------- Harvest In ---------------------->
<p class="har_indate">{{this.labels[0]}}</p> <!--Date of Receiving-->
<ion-row style="margin-left: 10px;">
  <ion-col size="4">
    <p class="pickdate">{{dateConverter(dataInicial)}}</p>
  </ion-col>
  <ion-col  *ngIf="!view_mode"  size="8" style="padding-left: 0px;">
    <img (click)="open()" style="width: 26px;" src="assets/images/date.png" class="harvest-cal">
  </ion-col>
</ion-row>
<p class="har_indate">{{this.labels[1]}}</p> <!--'Select Labour'-->
<!-- <ion-select [disabled]="view_mode"  interface="popover" placeholder="--Select a Labourer---" [(ngModel)]="harvest_labourer">
  <ion-select-option value="{{Labour.name}}" *ngFor="let Labour of Labourerslist">{{Labour.name}}</ion-select-option>
</ion-select> -->
<ion-item style="height: 42px;">
    <p item-right 
      (click)="showLaboursList()" class="csstext" >{{harvest_labourer_name}}<span><img item-right class="cssImg"
      src="assets/images/drop-down-arrow.svg"></span></p>
  </ion-item>
  <ion-list *ngIf="isLaboursList" style=" width: 97%;     margin: 7px 0px 0px 0px;  border-left: 1px solid #979797;
  border-right: 1px solid rgba(187,187,187,1);padding-top:0px;
  border-bottom: 1px solid rgba(187,187,187,1);border-radius:4px 4px 0 0;background:#fff;height: 450px;overflow: auto;padding: 10px 0;margin:0;padding: 10px 0;">
    <div *ngFor="let labourData of Labourerslist">
    <ion-item  style="    padding: 0px 10px 5px 16px;
    text-transform: capitalize;
    height: 49px;
    margin-bottom: 0px;
    background: transparent;
    padding-bottom: 53px;" (click)="getLabour(labourData)">
      <ion-thumbnail item-start style="    height: 43px;
      width: 43px;
      margin-bottom: 2px;
  ">
        <img class="cssthumb" style="height: 43px;
        width: 43px;border-radius: 5px;" *ngIf="labourData.profile_url " [src]="labourData.profile_url" >
        <img class="cssthumb" style="height: 44px;
        width: 45px;border-radius: 5px;" *ngIf=" !labourData.profile_url" src="assets/images/placeholder_user1.png">
      </ion-thumbnail>     
      <p item-left style="        font-size: 14px;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 14px;">{{labourData.name}}</p> 
   
    </ion-item>
    <hr  style="height: 1.3px;
    padding-top: 0px;background-color: #979797;
  opacity: 0.5;
  margin: -7px 0px 4px 58px;">
  </div>
  <p item-left style="text-align: center;margin-top: 6px;" *ngIf ="Labourerslist && Labourerslist.length < 1"> There is no labour</p>
</ion-list>
<p class="har_indate">{{'Select Category'}}</p><!--'select category'-->
  <ion-select [disabled]="view_mode" interface="popover" multiple="false" placeholder="--Select a Value--" [(ngModel)]="harvest_category" (ionChange)="SelectCategory($event.detail.value)">
   <ion-select-option [selected]="user_role[idx]" value="{{category.cat_name}}" *ngFor="let category of harvest_categories; let idx=index">{{category.cat_name}}</ion-select-option>
</ion-select>

<p class="har_indate">{{'Select Block'}}</p><!--'select Block'-->
  <ion-select [disabled]="view_mode" interface="popover" multiple="false" placeholder="--Select a Value--" [(ngModel)]="select_block">
    <ion-select-option *ngFor="let block of blocks">{{block.name}}</ion-select-option>
</ion-select>
<div *ngIf="show_sub_cat">
<ion-grid *ngIf="harvest_griddata && harvest_griddata.length > 0 ">
<ion-row style="height: 18px;margin-left: 12px;
margin-right: -7px;">
  <ion-col size="6">
    <p class="har_subcat"> {{this.labels[8]}}</p><!--'Select Sub-Category'-->
  </ion-col>
  <ion-col size="3">
    <p class="har_uom"> {{this.labels[9]}}</p><!--'UOM'-->
  </ion-col>
  <ion-col size="3">
    <p class="har_uom">{{this.labels[10]}}</p><!--'QTY'-->
  </ion-col>
  
</ion-row>
</ion-grid>
<ion-grid *ngIf="harvest_griddata && harvest_griddata.length > 0 ">
  <div *ngFor="let data of harvest_griddata;let i=index">
            <ion-row class="har-row">
            <ion-col size="6">
              <ion-select  [disabled]="view_mode"  interface="popover" multiple="false" [(ngModel)]="harvest_griddata[i]['subcat_val']" placeholder="--Select a Value--" class="sub_catselection"
                (ionChange)="validateValue(harvest_griddata[i],i)">
                <ion-select-option value="{{subcategory.name}}" *ngFor="let subcategory of data.subcategories; let i=index">{{subcategory.name}}</ion-select-option>
              </ion-select>
            </ion-col>
            <ion-col size="3">
              <ion-select   [disabled]="view_mode"  interface="popover" class="uom_selection" [(ngModel)]="harvest_griddata[i]['uom_val']" multiple="false" (ionChange)="validateValue(harvest_griddata[i],i)">
                <ion-select-option value="{{uom.name}}" *ngFor="let uom of data.uom">{{uom.name}}</ion-select-option>
              </ion-select>
            </ion-col>
            <ion-col size="3">
              <ion-input style="text-align:right" [disabled]="view_mode" no-lines type="number" [(ngModel)]="harvest_griddata[i]['qty']" (ionChange)="validateValue(harvest_griddata[i],i)"></ion-input>
            </ion-col>
          </ion-row>
    </div>
</ion-grid>
</div>

<ion-grid *ngIf="!view_mode">
<ion-row>
  <ion-col size="6"> <p class="har_indate" no-margin>{{'Remarks'}}</p></ion-col>
  <!-- <ion-col> <ion-checkbox class="checkbox-md" [(ngModel)]="add_observation" ></ion-checkbox><span style="margin: 0px 6px;font-size: 14px;">{{'Add to Observation'}}</span></ion-col> -->
</ion-row>
<ion-row>
  <ion-col no-padding>
    <div class="remarks">
        <ion-textarea no-padding [(ngModel)]="remarks" rows="4" ></ion-textarea>
    </div>
   
  </ion-col>
</ion-row>
</ion-grid>
<!-- <div >
<div [ngClass]="{'button-container-review':!view_mode,'button-container-save':view_mode}">
  <ion-button  size="small" *ngIf="view_mode" (click)="back()">{{'back'}}</ion-button>
  <ion-button  size="small" *ngIf="view_mode" class="reviewEntry" (click)="save()">{{'Save'}}</ion-button>
  <ion-button  size="small" *ngIf="!view_mode" class="reviewEntry" (click)="harvest_in_validation()">{{this.labels[12]}}</ion-button>
  <ion-button  size="small" *ngIf="!view_mode" (click)="addNewCatergory()">{{this.labels[15]}}</ion-button>
</div>
</div> -->

<p [hidden]="error_message" style="text-align:center;"> **{{this.labels[13]}}</p><!--'Please select all fields'-->

</ion-content>

<ion-footer>
  <div [ngClass]="{'button-container-review':!view_mode,'button-container-save':view_mode}">
    <ion-button  size="small" *ngIf="view_mode" style=" text-transform: uppercase;" (click)="back()">{{'Back'}}</ion-button>
    <ion-button  size="small" *ngIf="view_mode" class="reviewEntry" (click)="save()">{{'Save'}}</ion-button>
    <ion-button  size="small" *ngIf="!view_mode" class="reviewEntry" (click)="harvest_in_validation()">{{this.labels[12]}}</ion-button>
    <ion-button  size="small" *ngIf="!view_mode" style=" text-transform: uppercase;" (click)="addNewCatergory()">{{this.labels[15]}}</ion-button>
 </div>
</ion-footer>