.farmmodule_title{
    // height: 30px;
    color: rgba(59, 59, 59, 0.88);
    font-size: 16px;
    text-align: left;
    // font-family: 'Roboto', sans-serif;
}
.farmmodule_subtitle{
    color:#3F51B5;
  font-size: 12px;
  white-space: initial;
  text-overflow: inherit;
  word-break: break-word;
}
ion-card{
 --background:transparent;
 margin:4px 0px 0px 0px;
 -webkit-box-shadow:none;
 box-shadow:none;
}
ion-avatar{
  width: 85px;
  height: 85px;
  border: 1px solid #BBBBBB;
  margin-bottom: 2px;
  margin-right: 20px;
}
.module_style{
  padding-top:10px;
}
.item{
 --background:transparent; 
 margin-left: -4px;
}
.cssarrow{
 height: 20px;
 width: 20px;
 position: absolute;
 right: 8px;
 top: 30px;
}
ion-label{
 --border-color: #D5D2D2 !important;
 margin-top: 8px;
 height: 60px;
 margin-right: 20px;
 padding: 0px 20px 0px 0px;
}