<farmeasy-header [Data]="headerData"></farmeasy-header>
<ion-content style="background-image: url('assets/images/tm_background.jpg');
background-repeat: no-repeat;
background-size: 100% 100%; --background: rgba(255,255,255,0.9);">
<ion-card *ngFor="let mainMenu of menu" (click)="selectedTask(mainMenu)">
  <ion-item>
    <ion-avatar slot="start">
       <img [src]="mainMenu.image" style="object-fit: cover;">
    </ion-avatar>
    <ion-label no-margin>
      <p class="farmmodule_title">{{mainMenu.heading}}</p>
      <p class="farmmodule_subtitle">{{mainMenu.description}}</p>
      <img slot="end" src="assets/images/forwordarrow.png" class="cssarrow">
    </ion-label>

  </ion-item>
</ion-card>



</ion-content>