<farmeasy-header [Data]="headerData"></farmeasy-header>
<ion-content style="background-image: url('assets/images/tm_background.jpg');
background-repeat: no-repeat;
background-size: 100% 100%; --background: rgba(255,255,255,0.7);">
<div>
  <!-- <div style="display: flex;">
    <p>{{this.label['month']}}</p>
    <div class="textinput">
        <ion-datetime  #datePicker no-padding [ngModel]="date" display-format="MM-YYYY" picker-format="MMMM YYYY"></ion-datetime>
    </div>
    <img  (click)="pickDate()" style="width: 26px;" src="assets/images/date.png" >
  </div> -->
  <ion-grid>
    <ion-row class="resource-table-title">
      <ion-col size="2.4">{{this.label['resource']}}</ion-col>
      <ion-col size="2.4">{{this.label['week']}} 1</ion-col>
      <ion-col size="2.4">{{this.label['week']}} 2</ion-col>
      <ion-col size="2.4">{{this.label['week']}} 3</ion-col>
      <ion-col size="2.4">{{this.label['week']}} 4</ion-col>
    </ion-row>
    <ion-row *ngFor="let item of resource_data">
      <ion-col size="2.4"><img style="width: 35px;object-fit: cover;" [src]="item.img" /></ion-col>
      <ion-col size="2.4"><p [ngClass]="{'p100': item.week1<=100 && item.week1 > 90, 
                                        'p90':  80 < item.week1&& 90 >= item.week1,
                                        'p80':  60 < item.week1&& 80 >= item.week1,
                                        'p60':  25 < item.week1&& 60 >= item.week1,
                                        'p25': item.week1<=25}
                                        ">{{item.week1}}%</p></ion-col>
      <ion-col size="2.4"><p [ngClass]="{'p100': item.week2<=100 && item.week2 > 90, 
          'p90':  80 < item.week2&& 90 >= item.week2,
          'p80':  60 < item.week2&& 80 >= item.week2,
          'p60':  25 < item.week2&& 60 >= item.week2,
          'p25': item.week2<=25}
          ">{{item.week2}}%</p></ion-col>
      <ion-col size="2.4"><p [ngClass]="{'p100': item.week3<=100 && item.week3 > 90, 
          'p90':  80 < item.week3&& 90 >= item.week3,
          'p80':  60 < item.week3&& 80 >= item.week3,
          'p60':  25 < item.week3&& 60 >= item.week3,
          'p25': item.week3<=25}
          ">{{item.week3}}%</p></ion-col>
     <ion-col size="2.4"><p [ngClass]="{'p100': item.week4<=100 && item.week4 > 90, 
        'p90':  80 < item.week4&& 90 >= item.week4,
        'p80':  60 < item.week4&& 80 >= item.week4,
        'p60':  25 < item.week4&& 60 >= item.week4,
        'p25': item.week4<=25}
        ">{{item.week4}}%</p></ion-col>
      
    </ion-row>
  </ion-grid>
  
</div>
</ion-content>