.textinput{
    height: 22px;
    width: 30%;
    font-size: 14px;
    border: solid 1px #BBBBBB;
    background-color: #fff;
    margin: 16px 6px;
 }
 .resource-table-title{
    background: #5A5B60;
    color: white;
    font-size: 12px;
 }
 .p100{
   background: yellowgreen;
   margin: 6px;
   padding: 5px;
   font-size: 12px;
   border-radius: 6px;
 }
 .p90{
   background: #C7F098;
   margin: 6px;
   padding: 5px;
   font-size: 12px;
   border-radius: 6px;
 }
 .p80{
   background: #FF9800;
   margin: 6px;
   padding: 5px;
   font-size: 12px;
   border-radius: 6px;
 }
 .p60{
   background: #F97360;
   margin: 6px;
   padding: 5px;
   font-size: 12px;
   border-radius: 6px;
 }
 .p25{
   background: #FF2000;
   color:white;
   margin: 6px;
   padding: 5px;
   font-size: 12px;
   border-radius: 6px;
 }