.headerGreen{
   --background :rgba(255, 152, 0, 1)100%;
   --color:#fff;
}
.alignCenter{
   text-align: center;
}
.title-ios {
  padding: 0 12px;
}
.toolbar-title{
  text-align: center;
  color: #fff;
  font-size: 16px !important;
}
ion-title{
  font-size: 16px;
}
ion-toolbar {
  --min-height: 47px;
}
.card{
    --background: rgba(255,255,255,0.8);
    --color: rgba(0,0,0,0.8);
    margin: 5px 0px;
    border-radius: 8px;
    padding-left: 3%;
}
.item{
    --background: transparent;
    --padding-start: 1px;
    --border-width: 0 0 0 0 !important;
    --show-full-highlight: 0 !important;
    --show-inset-highlight: 0 !important;
    --inner-border-width: 0px 0px 0px 0px;
 }
 .item1{
   --padding-start: 1px;
   --border-width: 0 0 0 0 !important;
   --show-full-highlight: 0 !important;
   --show-inset-highlight: 0 !important;
   --inner-border-width: 0px 0px 0px 0px;
   --inner-padding-end: 0px;
   --background: rgba(255,255,255,0.8);
}
.card1{
   margin: 10px 10px;
   --background: rgba(255,255,255,0.7) ! important;
   --color: rgba(0,0,0,0.8);
}
.thumbnail{
   margin: 1px 18px 1px 1px;
   // height: 70px;
   // width: 28%;
}
 
 .p{
    --color: rgba(0,0,0,0.8);
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 8px;

 }
 .arrow{
   //  width: 51%;
   width: 18px;
    height: 18px;
    margin-top: 11px;

 }
 .content{
    padding-left: 5%;
    margin: 0px;
    border-top: 1px solid rgba(0,0,0,0.4);
    padding-top: 5%;
    padding-bottom: 4%;
    padding: 5% 0% 4% 5%;
 }
 .createButton{
   --box-shadow: 0 0px 0px -2px rgba(0,0,0,0.2),0 0px 0px 0 rgba(0,0,0,0),0 0px 0px 0 rgba(0,0,0,0);
   --box-shadow: 0 0px 0px -3px rgba(0,0,0,0.2),0 0px 0px 0px rgba(0,0,0,0.14),0 0px 0px 0px rgba(0,0,0,0.12);
   --background:transparent;
   position: absolute;
   right: -12px;
   height: 20px;
   margin: 0px;
}
.img{
   height: 205px;
   width: 100%;
   object-fit: cover;
}
.previewText{
   margin: 0px;
   font-size: 13px;
   font-weight: 500;
}
.previewText1{
   margin: 9px 0px 0px 0px;
   font-size: 12px;
   font-weight: 350;
}

