<!-- <ion-header>
    <ion-toolbar class="headerGreen">
        <ion-buttons slot="start" class="buttons_start">
            <ion-back-button defaultHref='/'></ion-back-button>
        </ion-buttons>

        <ion-title class="Title" style="text-align: center;">{{this.plantData.plant_name}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="editPlant()">
                <ion-icon name="create"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header> -->
<farmeasy-header [Data]='headerData'></farmeasy-header>
<ion-content padding style="background-image: url('assets/images/tm_background.jpg');
background-repeat: no-repeat;
background-size: 100% 100%; --background: rgba(252, 244, 242,0.8);">
    <img *ngIf="plantData.image.url" [src]="plantData.image.url" class="img">
    <img *ngIf="!plantData.image.url" src="../../assets/images/placeholder_user.png">
    <ion-card class="card" *ngFor="let headerName of headerNames let i=index;">
        <!-- <ion-button slot="end" class="createButton">
            <ion-icon name="create" class="createIcon"></ion-icon>
        </ion-button> -->
        <ion-row>
            <ion-col size="10">
                <p class="p">{{headerName.name}}</p>
                <p *ngIf="showSubText[i] && content " class="content">{{content}}</p>
                <!-- <ion-card *ngIf="showSubText[i] && previewImageData" class="card1"> -->
                <div *ngIf="showSubText[i] && content=='' " style="margin:0px;">
                    <ion-item no-lines class="item1">
                        <ion-thumbnail class="thumbnail" slot="start">
                            <img *ngIf=" previewImageData && previewImageData.image" [src]="previewImageData.image" style="object-fit: cover;"> 
                            <img *ngIf="previewImageData && !previewImageData.image" src="../../assets/images/placeholder_user.png">
                        </ion-thumbnail>
                        <!-- <ion-label slot="start" style="font-size: 14px;">{{previewImageData.title}}</ion-label> -->
                        <div slot="end">
                            <p class="previewText">{{previewImageData.title}}</p>
                            <p class="previewText1">{{previewImageData.description}}</p>
                        </div>
                    </ion-item>
                    <p (click)="openLink(previewImageData.url)" style="color: blue;font-size: 12px;">{{previewImageData.url}}</p>
                </div>
                <!-- </ion-card> -->

            </ion-col>
            <ion-col size="2">
                <!-- <ion-icon class="arrowIcon" name="arrow-forward" (click)="showData(headerName.name,i)"></ion-icon> -->
                <img *ngIf="!showSubText[i]" src="../../assets/images/arrow-down.svg" (click)="showData(headerName.name,i)"
                    class="arrow">
                <img *ngIf="showSubText[i]" src="../../assets/images/up-arrow.svg" (click)="hideData(headerName.name,i)"
                    class="arrow">
            </ion-col>
        </ion-row>
    </ion-card>
</ion-content>