<farmeasy-header [Data]="headerData"></farmeasy-header>
<ion-content
  style="background-image: url('assets/images/tm_background.jpg');
background-repeat: no-repeat;
background-size: 100% 100%; --background: rgba(255,255,255,0.7);"
>  <ion-card *ngIf="pieChart.dataTable.length>1">
    <google-chart [data]="pieChart"></google-chart>
  </ion-card>
  <ion-card *ngIf="prioritypieChart.dataTable.length>1">
    <google-chart [data]="prioritypieChart"></google-chart>
  </ion-card>
  <ion-card *ngIf="observationpieChart.dataTable.length>1">
    <google-chart [data]="observationpieChart"></google-chart>
  </ion-card>
  <ion-card *ngIf="taskspieChart.dataTable.length>1">
    <google-chart [data]="taskspieChart"></google-chart>
  </ion-card>
</ion-content>
