<ion-content>
  <h2>{{this.labels['topic']}}</h2>
  
    <ion-item no-lines>
        <ion-label position="stacked" class="label_style">{{this.labels['description']}}</ion-label>
        <ion-textarea [(ngModel)]= "description" ></ion-textarea>
      </ion-item>

      <ion-item no-lines class="topic-item">
          <!-- <ion-label>Hair Color</ion-label> -->
          <ion-select  interface="popover" value="brown" okText="Okay" placeholder="Select" [(ngModel)]= "selectedtopic" cancelText="Dismiss">
            <ion-select-option [value]="User.role" *ngFor="let User of Users">{{User.role}}</ion-select-option>
          </ion-select>
    </ion-item>

    <ion-button  class="add-button"  (click)="sendtopic()" style="--background-activated: #ff9800;--background: #ff9800;margin-left: 30%;">{{this.labels['send']}}
    </ion-button>
</ion-content>