h2{
text-align: center;
color: #000000;
font-size: 15px;
}
ion-content{
--background:transparent !important;   
}
.add-button{
--background-activated: #ff9800;
--background: #ff9800;
text-transform: capitalize;
}
.item{
--border-width: 0 0 0 0 !important;
--show-full-highlight: 0 !important;
--show-inset-highlight: 0 !important;  
--border-style: solid !important; 
--border-color: transparent;
}
ion-select{
max-width: 100%;
color:#000;

}
.topic-item{
--padding-start: 0px !important;
}
.label_style{
font-size: 15px;
font-weight: 400;
}