<ion-content style="background-image: url('assets/images/spalsh.jpeg');">
  <div class="div_firstblock">
    <h2>Ayurveda one</h2>
    <p> The Next Generation </p>
    <p> Management Software</p>
  </div>
  <div style="text-align: center;margin-top: 20%;">
    <p><img class="power_img"  (click)="farm_signin()" src="assets/images/power.png"></p>
  </div>
  <div class="div_seconblock">
    <p class="fm-hand-shake"><img src="assets/images/hand-shake.png" width="36px"></p>
    <!-- <p class="Venture_title">A Joint Venture by</p> -->
    <!-- <p class="subtitle">&copy; WellNest Natural Farms & Cloud Express Solutions</p> -->
  </div>
</ion-content>
