ion-content { 
background-repeat: no-repeat;
background-size: 100% 100%;--background:transparent
}
.Venture_title{
color: #fff;
// font-weight: bold;
font-size: 16px;
margin-top: 0px;
// font-family: SFUIText-Regular;
margin-bottom: 8px;
}
.subtitle{
font-size: 14px;
text-align: center;
color: #fff;
// font-family: SFUIText-Regular;
// font-weight: bold;
}
.div_seconblock{
// margin-top: 40%;
text-align: center;
position: absolute;
bottom: 20px;
width: 100%;
}
.div_firstblock{
text-align: center;
margin-top: 36%;
}
.div_firstblock p{
font-size: 14px;
color: #8C8B8B;
font-weight: 600;
// font-family: SFUIText-Regular;
margin-bottom: 6px;
margin-top: 0px;
}
.div_firstblock p p{
font-size: 14px;
color: #8C8B8B;
font-weight: 600;
// font-family: SFUIText-Regular;
margin-top: 0px;
}
h2{
color: rgba(113, 112, 112, 1);
font-size: 46px;
color: rgb(97, 97, 97); 
// font-family: SFUIText-Medium;
}
.power_img{
width: 35px;  
}
.fm-hand-shake{
margin-bottom: 0px;
}