<farmeasy-header [Data]="headerData"></farmeasy-header>
<ion-content padding style="background-image: url('assets/images/tm_background.jpg');
background-repeat: no-repeat;
background-size: 100% 100%; --background: rgba(255,255,255,0.7);"> 
<div *ngIf="page == 'Daily Expenses'">
  <div class="select-block">{{this.expense_category}}</div>
  <div class="textitem">
      <ion-select interface="popover" placeholder="-select-" style="padding: 4px;" [(ngModel)]="category"> 
          <ion-select-option *ngFor="let option of options" [value]="option.label">{{option.value}}</ion-select-option>
      </ion-select>
</div>
</div>
<div>

    <ion-row class="select-block">{{this.justificationLabel}}</ion-row>
    <ion-row>
      <ion-col class="content">
          <ion-textarea [(ngModel)]="description" rows="4" id="messageInputBox" required></ion-textarea>
          <ion-row>
            <ion-col size="10"></ion-col>
            <ion-col size="2">
              <div (click)="uploadBills()" *ngIf="!address[0]">
                  <img src="assets/images/camera.png" style="width: 28px;height: 28px;">
                  <!-- <ion-icon name="camera" style="font-size:20px;margin-left: 5px;"></ion-icon> -->
                  <p style="font-size: 7px;" no-margin>Add Bills</p>
              </div>
              <div *ngIf="address[0]" (click)="uploadBills()">
                <img style="height:25px; width:25px;object-fit: cover;" [src]="address[0]">
            </div>
            </ion-col>
          </ion-row>
        </ion-col>
    </ion-row>
</div>

<ion-grid>
  <ion-row>
    <ion-col size="5"  class="select-block">{{this.amountLabel}}</ion-col>
    <ion-col size="1"></ion-col>
    <ion-col size="5"  class="select-block">{{this.date_of_expense}}</ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="5" no-padding>
        <div class="textinput">
            <ion-input no-padding maxlength="6" [(ngModel)]="amount" (ionChange)="validateAmount($event)"></ion-input>
      </div>
    </ion-col>
    <ion-col size="1"></ion-col>
    <ion-col size="5" no-padding>
        <div class="textinput">
          <p style="margin:2px">{{this.dateConverter(date)}}</p>
          <!-- <ion-datetime  #datePicker [min]="2019-01-01" [max]="3000-12-31" [(ngModel)]="date" no-padding display-format="DD-MM-YYYY"></ion-datetime> -->
        </div>
    </ion-col>
    <ion-col size="1" no-padding>
        <img  (click)="pickDate()" src="assets/images/date.png" style="margin-left: 5px;width: 26px;">
    </ion-col>
  </ion-row>
 
</ion-grid>

<!-- <div class="submit" *ngIf="editView">
  <ion-button size="small" [disabled]="editContent.status === 'Validated'" (click)="ValidateExpense()" class="submitButton" >{{'Validate'}}</ion-button>
    <ion-button size="small" (click)="CancelExpense()" class="submitButton" >{{'Cancel'}}</ion-button>
</div> -->
</ion-content>

<ion-footer class="footer" >
  <div *ngIf="editView">
  <ion-button size="small" [disabled]="editContent.status === 'Validated'" (click)="ValidateExpense()" class="submitButton" >{{this.label.validate}}</ion-button>
    <ion-button size="small" (click)="CancelExpense()" class="submitButton" >{{this.label.cancel}}</ion-button>
    </div>
    <div  *ngIf="!editView">
        <ion-button size="small" (click)="submitDailyExpense()" class="submitButton" >{{this.submit_btn}}</ion-button>
      </div>
</ion-footer>
