.textitem{
    height: 28px;
    width: 96%;
    margin-left: 2%;
    font-size: 14px;
    border-radius: 5px;
    border: solid 1px #BBBBBB;
    background-color: #fff;
 }
.select-block{
   padding:8px; 
   font-size: 12px;
   color: #171717;
}
.textinput{
    height: 28px;
    width: 96%;
    margin-left: 2%;
    font-size: 14px;
    border: solid 1px #BBBBBB;
    background-color: #fff;
    padding: 4px;
 }
.content{
    border: solid 1px #BBBBBB;
    background-color: #fff;
    margin: 8px;
}
.submitButton{
    --background: orange;
    height: 29px;
    width: 130px;
}
.submit{
   display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 180px;
    
}
.datetime-text {
    --font-size: 12px !important;
}
.footer{
    text-align: center;
    padding-bottom: 12px;
    background: rgba(255,255,255,0.97);
}
