<farmeasy-header [Data]="headerData"></farmeasy-header>
<ion-content padding style="background-image: url('assets/images/tm_background.jpg');
background-repeat: no-repeat;
background-size: 100% 100%; --background: rgba(255,255,255,0.5);"> 
<div>
  <div class="select-block">{{this.expense_category}}</div>
  <div class="textitem">
      <ion-select interface="popover" placeholder="-select-" style="padding: 4px;" [(ngModel)]="category"> 
          <ion-select-option>Food Expenses</ion-select-option>
          <ion-select-option>Farm Purchases</ion-select-option>
          <ion-select-option>Repair and Maintanance</ion-select-option>
          <ion-select-option>Vehicle Maintanance</ion-select-option>
          <ion-select-option>Miscellaneous Expenses</ion-select-option>
          <ion-select-option>Fuel Expense</ion-select-option>
          <ion-select-option>Statutory Expense</ion-select-option>
          <ion-select-option>Other Expense</ion-select-option>
          <ion-select-option>Transportation</ion-select-option>
     </ion-select>
</div>
</div>
<div>

    <ion-row class="select-block">{{this.justificationLabel}}</ion-row>
    <ion-row>
      <ion-col class="content">
          <ion-textarea [(ngModel)]="description" rows="4" id="messageInputBox" required></ion-textarea>
          <ion-row>
            <ion-col size="10"></ion-col>
            <ion-col size="2">
              <div (click)="uploadBills()" *ngIf="!address[0]">
                  <img src="assets/images/pdf_red.png" style="width: 28px;height: 28px;">
                  <!-- <ion-icon name="camera" style="font-size:20px;margin-left: 5px;"></ion-icon> -->
                  <p style="font-size: 7px;" no-margin>View</p>
              </div>
              <!-- <div *ngIf="address[0]" (click)="uploadBills()">
                <img style="height:25px; width:25px;object-fit: cover;" [src]="address[0]">
            </div> -->
            </ion-col>
          </ion-row>
        </ion-col>
    </ion-row>

</div>

<ion-grid>
  <ion-row>
    <ion-col size="5"  class="select-block">{{this.amountLabel}}</ion-col>
    <ion-col size="1"></ion-col>
    <ion-col size="5"  class="select-block">{{this.date_of_expense}}</ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="5" no-padding>
        <div class="textinput">
            <ion-input no-padding [(ngModel)]="amount" (ionChange)="changeAmount($event)"></ion-input>
      </div>
    </ion-col>
    <ion-col size="1"></ion-col>
    <ion-col size="5" no-padding>
        <div class="textinput">
          <ion-datetime  #datePicker [min]="2019-01-01" [max]="3000-12-31" [(ngModel)]="date" no-padding display-format="DD-MM-YYYY"></ion-datetime>
        </div>
    </ion-col>
    <ion-col size="1" no-padding>
        <img  (click)="pickDate()" style="width: 26px;" src="assets/images/date.png" >
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
<ion-footer>
  <div class="submit"  style="background:rgba(255, 255, 255, 0.9)">
    <ion-button size="small" (click)="Reconciled()" class="submitButton" >{{'RECONCILE'}}</ion-button>
      <ion-button size="small" *ngIf="!fixed_asset" (click)="marksAsFixedAsset()" class="submitButton" >{{'ADD TO FIXED ASSET'}}</ion-button>
      <ion-button size="small" *ngIf="fixed_asset" class="submitButton" color="success" >{{'Added to fixed Asset'}}</ion-button>
  </div>
</ion-footer>
