.textitem{
    height: 28px;
    width: 96%;
    margin-left: 2%;
    font-size: 14px;
    border-radius: 5px;
    border: solid 1px #BBBBBB;
    background-color: #fff;
 }
.select-block{
   padding:8px; 
   font-size: 12px;
}
.textinput{
    height: 28px;
    width: 96%;
    margin-left: 2%;
    font-size: 14px;
    border: solid 1px #BBBBBB;
    background-color: #fff;
    padding: 4px;
 }
.content{
    border: solid 1px #BBBBBB;
    background-color: #fff;
    margin: 8px;
}
.submitButton{
    --background: #2174E1;
    height: 29px;
}
.submit{
   display: flex;
    flex-direction: row;
    justify-content: center;
}
.datetime-text {
    --font-size: 12px !important;
}
