.Heading{
    padding: 0px;
    // text-align: center;
    --background: #5A5B60;
    --color: white;
}
.mainCard{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    --background: #fff;
    --color: black;
    text-align: center;
}
.CardContent{
    font-size: smaller;
    padding:0px;
}
.textinput{
    height: 28px;
    width: 96%;
    margin-left: 2%;
    font-size: 14px;
    border: solid 1px #BBBBBB;
    background-color: #fff;
    padding: 4px;
 }
 .button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0px;
}
ion-button {
    --background:#FF9800;
    height: 18px;
    font-size: 12px;
}