<ion-content>
    <p style="text-align: right;margin: 0px;">
    <ion-icon (click)="cancel()" name="close" style="font-size: 25px;"></ion-icon>
    </p>
<div>
  <ion-item lines="none">
    <div slot="start" no-margin>
      <p no-margin>{{'Breakup of Receipt'}}</p>
    </div>
    <div slot="end" no-margin>
        <span style="font-size: 12px">{{'Invoice Amount'}}</span> <span style="color: #259B24;margin-left: 4px;">{{calaculateAmount(receipt.record)}}</span>
    </div>
  </ion-item>
 
</div>

<div *ngIf="payments.length>0">
    <ion-card class="mainCard">
        <ion-card-header class="Heading">
        <ion-row>
          <ion-col size="4">{{'Date'}}</ion-col>
          <ion-col size="4">{{'Receipt'}}</ion-col>
          <ion-col size="4">{{'Balance'}}</ion-col>
        </ion-row>
        </ion-card-header>
        <ion-card-content class="CardContent">
        <ion-row *ngFor="let row of payments">
          <ion-col size="4">{{dateConverter(row.date)}}</ion-col>
          <ion-col size="4">{{row.receipt}}</ion-col>
          <ion-col size="4">{{row.balance}}</ion-col>
        </ion-row>
       </ion-card-content>
      </ion-card>
</div>
<ion-row *ngIf="payments.length>0">
    <ion-col offset="2.5" size="2"><span style="font-size:12px" >{{'Total'}}</span></ion-col>
    <ion-col offset="1"><span style="font-size:20px">{{this.receipt.total_payment}}</span></ion-col>
</ion-row>
<ion-row *ngIf="!zero_balance">
    <ion-col offset="2.5" size="2"><span style="font-size:12px" >{{'Amount'}}</span></ion-col>
    <ion-col size="3">
        <div class="textinput">
            <ion-input type="number" no-padding [(ngModel)]="amount" ></ion-input>
      </div>
    </ion-col>
</ion-row>
<div class="button-container">
    <ion-button shape="round" size="small" (click)="save()">{{'Save'}}</ion-button>
    <ion-button shape="round" size="small" (click)="cancel()">{{'Close'}}</ion-button>
    <!-- <ion-button shape="round" size="small"><ion-icon slot="end" name="share"></ion-icon> {{'Share'}}</ion-button> -->
</div>


</ion-content>