.group-icon{
    height: 280px;
    object-fit: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.group-name{
    padding: 5px 5px;
    color: white;
    text-transform: capitalize;
    font-size: 18px;
}

.group-description{
    margin: 0px;
    padding: 5px;
    text-transform: capitalize;
    display: inline-block;
    width: 255px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    color: #708655;
}

.group-members{
    margin: 0px;
    font-size: 16px;
    color: #767676;
    text-align: center;
}