<div>

  <div [ngStyle]="{'background-image':'url('+ group.group_icon +')'}" style="background-size: cover;" class="group-icon">
      <div style="height: 40px;background: rgba(0, 0, 0, 0.3);">
        <p class="group-name">{{group.name}}</p>
      </div>

  </div>
  <div>
      <p class="group-description">{{group.description}}</p>
      <!-- <p class="group-members">{{this.members.length}} Members</p> -->
      <ion-row>
        <ion-col style="text-align: center;"><img style="width: 22px;height: 22px;" src="assets/images/account-circle.png"><span style="color:#708655;font-weight: 800;padding: 6px;">{{this.members.length}}</span></ion-col>
        <ion-col *ngIf="!labour" style="text-align: center;"> <img style="width: 22px;height: 22px;" src="assets/images/information.png" (click)="info()"></ion-col>
      </ion-row>
  </div>
</div>