
<!-- <ion-content>
</ion-content> -->


<ion-card style="background: rgba(255,255,255,0.5); margin: 0px;border-radius: 0px;">
    <p class="csshead">Notification Message</p>
    <ion-card>
        <ion-textarea no-margin [(ngModel)]="description" (ionChange)="descriptionListen()" rows="6"></ion-textarea>
         <!-- <p class="cssdesc">Watering has not been done for all the plants in this block and needs immediate attention. Else the plants will die due to insufficient water supply.</p> -->
         <!-- <p class="cssdesc"> Do ensure that this is set as a task and have some practices in place to monitor such measures by being pro-active. Report back the status and acknowledge immediately. </p> -->
    </ion-card>
<p class="csshead">Priority</p>
<ion-select  interface="popover" (ionChange)="priorityListen()" placeholder="- Select a Value -" [(ngModel)]="selectedpriority">
    <ion-select-option *ngFor="let priority of prioritys; let i=index">{{priority}}</ion-select-option>
 </ion-select>
<p [hidden]="errormessage" style="text-align: center;color:red">{{this.labels['select_field']}} </p>

<!-- 
  <ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col size="3" class="col_style">
         {{this.labels['block']}}
        </ion-col>
        <ion-col size="3" class="col_style">
          {{this.labels['category']}}
        </ion-col>
        <ion-col size="3" class="col_style">
         {{this.labels['priority']}}
        </ion-col>
        <ion-col size="3" class="col_style">
          {{this.labels['labour']}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-header> -->
  <!-- <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-select  interface="popover" placeholder="Select" [(ngModel)]="selectedblock">
            <ion-select-option *ngFor="let block of blocks; let i=index">{{block.name}}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col>
          <ion-select  interface="popover" placeholder="Select" [(ngModel)]="selectedcategoty">
            <ion-select-option *ngFor="let categorie of categories; let i=index">{{categorie.name}}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col>
          <ion-select  interface="popover" placeholder="Select" [(ngModel)]="selectedpriority">
            <ion-select-option *ngFor="let priority of prioritys; let i=index">{{priority}}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col>
          <ion-select  interface="popover" placeholder="Select" [(ngModel)]="selectedLabour">
            <ion-select-option value="{{Labour.name}}" *ngFor="let Labour of Labourers">{{Labour.name}}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item no-lines class="textarea_item">
      <ion-textarea no-lines placeholder="Text input" [(ngModel)]="description"></ion-textarea>
    </ion-item>
    <ion-row class="gallery_row">
      <ion-col size="6">
      </ion-col>
      <ion-col size="2">
        <img item-right src="assets/images/camera (1).png" (click)="captureImage()" class="cemera">
      </ion-col>
      <ion-col size="2">
        <img item-right src="assets/images/video (1).png" (click)="captureVedio()" class="video">
      </ion-col>
      <ion-col size="2">
        <img item-right src="assets/images/attachment (2).png" (click)="multipleImageAttachment()" class="attachment">
      </ion-col>
    </ion-row>
  </ion-card-content> -->
<!-- </ion-card> -->
<ion-card class="users_card">
  <ion-item no-lines>
    <p slot="start" class="select_emplyees">{{this.labels['select_emp']}}
    </p>
    <p slot="end" class="select_all">{{this.labels['select_all']}}</p>
    <p slot="end" class="select_checkbox">
      <input type="checkbox"  class="all" [(ngModel)]="SelectAll" (change)="SelectAllUsers();" />
    </p>
  </ion-item>
  <ion-row style="margin-left: 4px;margin-right: 5px;">
    <ion-col size="4" *ngFor="let user of Users; let idx=index" style="padding-left: 7px;padding-right: 5px;">
      <div (click)="selectuser(idx)" class="background_div" [style.backgroundImage]="'url('+ user.profile_url +')'"
        [style.width.px]="100" [style.height.px]="100" style="background-repeat: no-repeat;background-size: 100% 100%;">
        <div>
          <div>
            <img *ngIf="selected_user[idx]" class="select_user" src="assets/images/checkbox-marked.svg">
          </div>
          <div class="user_background">
            {{user.name}}
          </div>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-card>
<ion-card *ngIf="image_data.type=='gallery' || image_data.type=='camera'" style="background:#bbbbbb">
  <ion-card-header class="view-heading" no-padding>
   </ion-card-header>
  <ion-card-content  no-padding>
    <ion-card style="background: transparent;box-shadow: none;">
      <ion-card-header>
      <img (click)="presentRemoveAlert(image_data,'camera')" class="cross"  src='assets/images/cross.svg'>
      </ion-card-header>
      <ion-card-content>
        <img height="150" *ngIf="image_data.type === 'gallery' || image_data.type=='camera'" [src]="image_data.url" style="object-fit: cover;">
        <video width="274" height="150" *ngIf="image_data.type == 'video'" controls>
            <source [src]="image_data.url">
       </video>
      </ion-card-content>
    </ion-card>
  </ion-card-content>
</ion-card>

<ion-card *ngIf="video.type=='video'" style="background:#bbbbbb">
  <ion-card-header class="view-heading" no-padding>
   </ion-card-header>
  <ion-card-content  no-padding>
    <ion-card style="background: transparent;box-shadow: none;">
      <ion-card-header>
      <img (click)="presentRemoveAlert(video,'video')" class="cross"  src='assets/images/cross.svg'>
      </ion-card-header>
      <ion-card-content>
       <video width="274" height="150" *ngIf="video.type == 'video'" controls>
            <source [src]="video.url">
       </video>
      </ion-card-content>
    </ion-card>
  </ion-card-content>
</ion-card>

<div text-center>
    <!-- {{this.labels['send']}} -->
    <ion-button class="sendnotification" [disabled]="this.sendStatus" (click)="sendnotification()">SEND NOTIFICATION </ion-button>
</div>
</ion-card>