<farmeasy-header [Data]="headerData"></farmeasy-header>
<ion-content style="background-image: url('assets/images/tm_background.jpg');
background-repeat: no-repeat;
background-size: 100% 100%; --background: rgba(255,255,255,0.9);">
<ion-card style="background: white">
  <ion-card-content no-padding>
    <ion-grid>
      <ion-row>
        <ion-col size="8">
          <ion-label>Name</ion-label>
          <div class="textitem">
              <ion-input placeholder="Source Name"  [(ngModel)]="name"></ion-input>
          </div>
          <ion-label>Type</ion-label>
          <div class="textitem">
              <ion-input placeholder="Type"  [(ngModel)]="type"></ion-input>
          </div>
        </ion-col>
        <ion-col size="4">
          <ion-icon *ngIf="!source_img" class="camera" name = 'camera' (click)="chooseFile()"></ion-icon>
          <ion-icon *ngIf="source_img" name='camera' (click)="chooseFile()"></ion-icon>
          <img class="image" *ngIf="source_img" [src]="source_img" (click)="chooseFile()">
          <input style="display: none;" id="image" name="image" type="file" (change)="upload($event)" multiple>
        </ion-col>
      </ion-row>
    </ion-grid>
    <p style="margin-left: 20px;">Add Childs</p>
    <ion-grid>
        <ion-row *ngFor="let data of source_data;let idx = index;">
          <ion-col size="8">
          <ion-label>Name</ion-label>
            <div class="textitem">
                <ion-input placeholder="Name" [(ngModel)]="source_data[idx]['name']" (keyup)="watch(idx)"></ion-input>
            </div>
          <ion-label>Description</ion-label>
            <div class="textitem">
                <ion-input placeholder="Type" [(ngModel)]="source_data[idx]['source_code']" (keyup)="watch(idx)"></ion-input>
            </div>
          </ion-col>
          <ion-col size="4" >
              <ion-icon  *ngIf="source_data[idx]['image'] == ''" class="camera" name = 'camera' (click)="chooseFile1(idx)"></ion-icon>
            <ion-icon class="view-camera" *ngIf="source_data[idx]['image'] != ''" name = 'camera' (click)="chooseFile1(idx)"></ion-icon>
            <img  class="image"  *ngIf="source_data[idx]['image'] != ''"  (click)="chooseFile1(idx)" [src]="source_data[idx]['image']">
            <input style="display: none;" id="image1" name="image1" type="file" (change)="upload1($event,idx)" multiple>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-card-content>
</ion-card>
<!-- <div style="margin-left: 31%;margin-top: 26px;">
    <ion-button *ngIf="!updateflag" color="success" (click)="validateData()">Submit</ion-button>
  </div>
  <ion-row>
      <ion-col size="5">
            <ion-button *ngIf="updateflag" color="success" (click)="validateData()">Update</ion-button>
      </ion-col>
      <ion-col size="2"></ion-col>
        <ion-col size="5">
            <ion-button *ngIf="updateflag" color="danger" (click)="deleteUser()">Delete</ion-button>
        </ion-col>
  </ion-row> -->
  <!-- <div class="save">
    <ion-button *ngIf="!updateflag"  class="buttonClass" (click)="validateData()">Submit</ion-button>
  </div>
  <div class="update-edit">
    <ion-button *ngIf="updateflag"  class="buttonClass" (click)="validateData()">Update</ion-button>
    <ion-button *ngIf="updateflag"  class="buttonClass" (click)="deleteUser()">Delete</ion-button>
  </div> -->
</ion-content>


<farmeasy-footer *ngIf="!updateflag" [Data]="footerData" (middleButtonAction)="validateData()" ></farmeasy-footer>
<farmeasy-footer *ngIf="updateflag" [Data]="footerData" (leftButtonAction)="validateData()" (rightButtonAction)="deleteUser()"></farmeasy-footer>
