.textitem{
    height: 32px;
    width: 96%;
    margin-left: 2%;
    font-size: 14px;
    border-radius: 5px;
    border: solid 1px #BBBBBB;
    background-color: #fff;
    margin: 8px;
 }
 .camera{
    font-size: 28px;
    position: relative;
    top: 55px;
    left: 40px;
 }
 .image{
    height: 72px;
    width: 72px;
    margin-top: 8px;
    object-fit: cover;
 }
 .save {
   display: flex;
   justify-content: center;
   margin-top: 36px;
 }
 .update-edit {
   display: flex;
   justify-content: space-evenly;
   margin-top: 36px;
 }
 .buttonClass{
    height: 29px;
    --background: linear-gradient(to right,#D42453,#C92462,#B82575,#A32590,#9025A5);
   }
.view-camera {
   position: absolute;
    top: 12px;
    font-size: 24px;
}
ion-label{
   margin: 12px;
}