<farmeasy-header *ngIf="!showCustomHeader" [Data]="headerData" (detailInfo)="openInfo()" (avatar)="viewGroupDescription()"></farmeasy-header>
<ion-header *ngIf="showCustomHeader">
  <ion-toolbar class="custom-header-color">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <img src="assets/images/back-arrow.svg" style="width:21px;height: 21px;">
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="this.selectedIndex.length>0">
      <ion-button (click)="deleteMessage()" >
          <ion-icon style="font-size: 28px" name="trash"></ion-icon>
      </ion-button>
      <ion-button (click)="copyMessage()" *ngIf="deletedMessageCount == 0">
          <ion-icon style="font-size: 28px" name="copy"></ion-icon>
      </ion-button>
      <!-- <ion-button (click)="more()">
          <ion-icon style="font-size: 28px" name="more"></ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content #content style="background-color: #fff;">
  <!-- <ion-refresher slot="fixed" (ionRefresh)="loadData($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->
  <ion-infinite-scroll #infi position="top" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content infinite-scroll-immediate-check="true"
      loadingSpinner="bubbles"
      loadingText="Loading messages...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

<div *ngFor="let chat of messageList;let idx = index">
  <div *ngIf="chat.sender_id && chat.sender_name">
      <div [ngClass]="{'my-container':(user_id == chat.sender_id)&&(!showCustomHeader),'others-container':user_id != chat.sender_id , 'my-container-select':(user_id == chat.sender_id)&&(showCustomHeader) }">
          <div  *ngIf="showCustomHeader" style="display: flex;margin-left: 8px;" (click)="selectMessage(idx,chat)">
              <img src="assets/images/blank-check-box.svg" style="width:20px" *ngIf="!isSelected[idx]"/>
              <img src="assets/images/checked-check-box.svg" style="width:20px" *ngIf="isSelected[idx]" />
          </div>
          <ion-item-sliding (ionSwipe)="reply(chat)" (press)="onPress($event)" (pressup)="onPressUp($event)">
              <ion-item-options side="start" hidden>
              </ion-item-options>
              <ion-item lines="none" class="ion-no-margin ion-no-padding" [ngClass]="{'select-message':isSelected[idx]}" >
              <!-- <span *ngIf="user_id != chat.sender_id"> <-</span> -->
                    <div [ngClass]="{'send-by-other':user_id != chat.sender_id,'send-by-me':user_id == chat.sender_id}" >
                      <p class="csschatusername ion-no-margin ion-no-padding" *ngIf="user_id != chat.sender_id" [style.color]="colors[chat.sender_id.split('-')[1]]" >{{chat.sender_name}}</p>
                      <div *ngIf="chat.reply_for" class="cssviewreplymessage">
                          <p class="csschatusername ion-no-margin" *ngIf="chat.reply_for.sender_name" [ngStyle]="{'color':colors[chat.reply_for.sender_id.split('-')[1]]}">{{chat.reply_for.sender_name}}</p>
                          <span class="ion-no-margin" style="font-size: 12px;" *ngIf="chat.reply_for.message && !chat.reply_for.message_users" >{{chat.reply_for.message}}</span>
                          <span class="ion-no-margin" style="font-size: 12px;" *ngIf="chat.reply_for.message_users" id=reply{{idx}} >{{dispalyReplyMessage(chat.reply_for,idx)}}</span>
                          <div *ngIf="chat.reply_for.media && chat.reply_for.media.type == 'audio'">
                              <ion-row>
                                <ion-col size="2">
                                  <img src="assets/images/play.svg" style="width: 18px;">
                                </ion-col>
                                <ion-col ><p style="margin: 4px 0px;font-size: 12px;">{{chat.reply_for.media.path.substring(chat.reply_for.media.path.lastIndexOf("/")+1)}}</p></ion-col>
                              </ion-row>
                            </div>
                            <div *ngIf="chat.reply_for.media && chat.reply_for.media.type == 'image'">
                            <img [src]="chat.reply_for.media.url" style="height: 125px;width: 250px;object-fit: contain;" />

                            </div>
                           
                      </div>
  
                      <span class="ion-no-margin" style="font-size: 12px;" *ngIf="chat.message && !chat.message_users && !chat.delete_from_everyone">{{chat.message}}</span>
                      <span class="ion-no-margin" *ngIf="chat.delete_from_everyone" style="font-style: italic;color: #747474;font-size: 12px;">{{'This Message has been Deleted'}}</span>
                      <span class="ion-no-margin" style="font-size: 12px;" *ngIf="chat.message_users && !chat.delete_from_everyone" id={{idx}} >{{dispalyMessage(chat,idx)}}</span>
                      <div *ngIf="chat.media && chat.media.type == 'audio'">
                        <ion-row>
                          <ion-col size="2">
                            <img *ngIf="!isPlaying[idx]" (click)="playAudio(chat.media,idx)" src="assets/images/play.svg" style="width: 35px;">
                            <!-- <img *ngIf="isPlaying" src="assets/images/pause.svg" style="width: 35px;"> -->
                            <img *ngIf="isPlaying[idx] && this.audio" (click)="stopAudio(idx)" src="assets/images/stop.svg" style="width: 35px;">
                          </ion-col>
                          <ion-col ><p style="margin: 5px 0px;">{{chat.media.path.substring(chat.media.path.lastIndexOf("/")+1)}}</p></ion-col>
                        </ion-row>
                      </div>
                      <div *ngIf="chat.media && chat.media.type == 'image'">
                        <img (click)="viewMedia(chat.media)" [src]="chat.media.url" style="height: 125px;width: 250px;object-fit: contain;">
                      </div>
                      <span class="cssTime ion-no-margin" *ngIf="!chat.delete_from_everyone">{{convertTime(chat.time)}}</span>
                    </div>
                    <!-- <span *ngIf="user_id == chat.sender_id">-></span> -->
              </ion-item>
            </ion-item-sliding>
      </div>
  </div>
  <div *ngIf="chat.display_message" style="text-align: center;margin: 12px;">
   <span class="middle-message">{{chat.display_message}}</span>
  </div>
 </div>
 
</ion-content>
<ion-footer style="background: #fff" >
    <ion-card *ngIf="this.audioFile && showAudio" class="ion-no-margin">
      <ion-row>
        <ion-col size="2"><img src="assets/images/headphones.svg" style="width: 35px;"></ion-col>
        <ion-col><p style="margin: 8px 0px;">{{this.audioFile.path.substring(this.audioFile.path.lastIndexOf("/")+1)}}</p></ion-col>
        <ion-col size="1"> <img (click)="presentRemoveAlert(this.audioFile.path)" style="width: 15px;margin-top: 15px;" src="assets/images/close.svg"></ion-col>
      </ion-row>
    </ion-card>
    <ion-card *ngIf="this.imageFile && isImage" [ngStyle]="{'background-image':imageFile.url}" class="ion-no-margin">
      <ion-row>
        <ion-col size="3"><img [src]="imageFile.url" style="width: 60px;height:60px;border-radius: 50%;"></ion-col>
        <ion-col><p style="margin: 20px 0px;">{{this.imageFile.path.substring(this.imageFile.path.lastIndexOf("/")+1)}}</p></ion-col>
        <ion-col size="1"> <img (click)="presentRemoveAlert(this.imageFile.path)" style="width: 15px;margin-top: 15px;" src="assets/images/close.svg"></ion-col>
      </ion-row>
    </ion-card>
    <ion-card *ngIf="this.videoFile && isVideo" class="ion-no-margin">
      <ion-row>
        <ion-col size="2"><img src="assets/images/video-camera.svg" style="width: 35px;"></ion-col>
        <ion-col><p style="margin: 8px 0px;">{{this.videoFile.path.substring(this.videoFile.path.lastIndexOf("/")+1)}}</p></ion-col>
        <ion-col size="1"> <img (click)="presentRemoveAlert(this.videoFile.path)" style="width: 15px;margin-top: 15px;" src="assets/images/close.svg"></ion-col>
      </ion-row>
    </ion-card>
    <ion-card class="ion-no-margin" *ngIf="isReply && replyObject">
      <ion-item lines="none">
          <div>
              <p class="ion-no-margin" style="color: green;font-size: 12px;font-weight: bold">{{replyObject.sender_name}}</p> 
             <p class="cssreplymessage" class="ion-no-margin" >{{replyObject.message}}</p>
             <div *ngIf="replyObject.media && replyObject.media.type">
                <ion-row>
                  <ion-col size="2" *ngIf="replyObject.media.type == 'audio'">
                    <img src="assets/images/play.svg" style="width: 26px;">
                  </ion-col>
                 <ion-col size="3" *ngIf="replyObject.media.type == 'image'"><img [src]="replyObject.media.url" style="width: 60px;height: 60px;border-radius: 50%;"></ion-col>
                  <ion-col ><p style="margin: 5px 0px;">{{replyObject.media.path.substring(replyObject.media.path.lastIndexOf("/")+1)}}</p></ion-col>
                </ion-row>
              </div>
          </div>
          <div slot="end">
              <img (click)="removeReply()" style="width: 15px;margin-top: 15px;position: absolute;top: 0;right: 12px;" src="assets/images/close.svg">
          </div>
      </ion-item>
     </ion-card>
     <ion-card   *ngIf="showAtTheRateMentions" class="userlist ion-no-margin ion-no-padding">
      <ion-list>
        <ion-item lines="none" *ngFor="let user of userList" class="css-labour-name ion-no-margin ion-no-padding" (click)="mentionName(user)">
          <ion-avatar style="height: 35px;width: 35px;margin: 8px;"><img [src]="user.profile_url" ></ion-avatar>
          <ion-label>{{user.name}}</ion-label>
        </ion-item>
      </ion-list>
     </ion-card>
     <ion-card class="ion-no-margin ion-no-padding" *ngIf="isShowAttachments">
     <ion-row center text-center>
      <ion-col class="css-gallery-item"><img src="assets/images/cam.svg" (click)="captureImage()" style="width:40px;height:40px;margin: 20px;"></ion-col>
      <ion-col class="css-gallery-item"><img src="assets/images/gallery.svg" style="width:40px;height:40px;margin: 20px;"></ion-col>
      <!-- <ion-col class="css-gallery-item"><img src="assets/images/video-camera.svg" (click)="captureVedio()" style="width:40px;height:40px;margin: 20px;"></ion-col> -->
     </ion-row>
     </ion-card>
  <ion-item class="ion-no-margin ion-no-padding" >
      <ion-textarea #textarea  #sendButton rows="1" style="background: #e4e4e4;border-radius: 12px;margin: 6px 6px;padding: 0px 6px;"
      type="text" id="messageTextBox" (ionChange)="listeningText($event)"  autocomplete="on" autocorrect="on" [(ngModel)]="messageText" placeholder=" Write message … ">
    </ion-textarea> 
    <img *ngIf="!messageText " (click)="captureAudio()" src="assets/images/mic.svg" style="width: 22px;height: auto;margin: 6px;">
    <img *ngIf="!messageText && !audioFile && !imageFile" (click)="captureImage()" src="assets/images/cam.svg"  style="width: 22px;height: auto;margin: 6px;">
    <img *ngIf="messageText || audioFile || imageFile" (click)="sendMessage()" src="assets/images/send.svg"  style="width: 22px;height: auto;margin: 6px;">

  </ion-item>
 
</ion-footer>












