ion-footer{
  --background-image: none;
}
 
.send-by-other{
    margin: 4px;
    padding: 4px;
    background: #e7ffdf;
    width: fit-content;
    margin-left: 12px;
    left:6px;
    max-width: 250px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14), 
    0 1px 3px 0px rgba(0, 0, 0, 0.2), 
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.send-by-me{
    margin: 4px;
    padding: 4px;
    background: #f3f2f2;
    width: fit-content;
    right: 6px;
    max-width: 250px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 12px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14), 
    0 1px 3px 0px rgba(0, 0, 0, 0.2), 
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.chat-bottom-border{
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.chat-top-right{
    border-top-right-radius: 12px;
}

.chat-top-left{
    border-top-left-radius: 12px;
}

.my-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.my-container-select{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.others-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.cssTime{
  float: right;
  margin: 8px 1px 0px 2px;
  font-size: 8px;
  color: #747474;
}

.sender-name-color{
  color:grey
}

.others-name-color{
  color:#0066ec;
}


ion-item-sliding{
  all:unset;
}

ion-item{
    --padding-end: 0px;
    --inner-padding-end: 6px;
    --min-height:0px;
}

.cssreplymessage{
    width: 285px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #8c8c7b;
    font-size: 12px;
}

.cssviewreplymessage{
  background: white;
    padding: 4px;
    border-radius: 8px;
    margin: 1px;
}

.userlist{
  max-height: 150px;
  overflow-y: auto;
}

.css-labour-name{
  height: 45px;
}

.css-gallery-item{
  display: flex;
    flex-direction: row;
    justify-content: center;
}

.custom-header-color{
  // --background :rgba(140, 206, 62, 1) 100%;
  --background : rgba(255, 152, 0, 1) 100%;
  --color:#fff;
}
.header-buttons{
  font-size: 16px;
    color: #fff;
}

.select-message{
  // --background: #e2e2e2;
    opacity: 0.3;
}

ion-button{
  color:white;
}


.middle-message{
  padding: 5px;
  color: #747474;
  background: aliceblue;
  font-size: 12px;
  border-radius: 12px;
}

.csschatusername{
  font-size: 12px;
  font-weight:bold;
}