ion-card{
    background-color: rgba(255,255,255,0.8);
    margin: 0px;  

}
// .item_style{
// --background:transparent; 
// --padding-start: 0px !important;
// --padding-start: 9px !important;
// }
// ion-avatar{
// width: 80px;
// height: 80px;   
// }
.user_name{
color: #757575;

font-weight: 600;
font-size: 17px;
margin-bottom: -8px;
}
.profile_style{
font-size: 15px;
color: #858585;
}
hr.new1 {
    border-top: 1px solid rgb(165, 165, 165);
  }
// ion-label{
// padding-left: 5px;
// }
.editstyle{
float: right;
font-size: 12px;
margin-right: 9px;
width: 13px;   
}
ion-input{
background-color: #E4E4E4 !important;
border-radius: 10px !important;
padding-left: 13px !important;
}
ion-toolbar {
--background: #ff9800 !important;
--ion-color-base: #ff9800 !important;
font-size: 15px;
font-weight: 600;
}
ion-title{
text-align:center;
color:#fff;
font-weight: 500;
font-size: 15px  
}
.item{
--border-color: transparent;
--border-width: 0 0 0 0 !important;
--show-full-highlight: 0 !important;
--show-inset-highlight: 0 !important;
--background: transparent!important;
margin-top: 8px;
}
.profile_card{
    --background: #B1CE8E !important;   
}
.avatar_style{
    background-color: #fff !important;
    height: 110px !important;
}
.user_details{
font-size: 12px;
font-weight:normal;
margin: 0px;
display:inline-block;
color: #828282;
// font-family: 'Roboto', sans-serif;
// text-overflow: ellipsis;
// width: 85%;
// overflow: hidden;
}
.overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(171, 175, 176, 0.74);
    // z-index: 10;
  }
  .container_preview1 {
    // max-width: 595px;
    margin: 104px auto;
    // max-height: 195vh;
    background: #fff;
    padding: 16px;
    // overflow: scroll;
    border-radius: 10px;
  }
  
.item_style{
 --background:transparent !important;
 --min-height:20px;
 --padding-start: 0px;
 margin:8px;
}
.user_name{
    color:#333B2A;
    // font-weight: 300;
    // font-size: 16px;
    // font-family: 'Robot',sans-serif;
    font-size: 18px;
    margin-bottom: 6px;
    font-weight: bold;

}
.allotted_block{
    color: #484747;
    font-size: 16px;
    padding-left: 12px;
    // font-family: 'Robot',sans-serif;
    font-weight: 600;
}
.div_background{
    text-align: center;
    padding: 10px;
    /* left: 26px; */
    /* top: 612px; */
    /* width: 110px; */
    /* height: 100px; */
    border-radius: 10px;
    background-color: rgba(243, 251, 233, 1);
    border: 1px solid rgba(157, 174, 136, 1);
}
.block{
    margin:0px;
}
.home_icon{
color:#fff;
}
.notification_icon{
    position: absolute;
    vertical-align: middle;
    margin-right: 62%;
    margin-top: -9px;
    z-index: 1;
    border-radius: 20px;
    background-color: #FF0000;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 13px;
    padding: 3px 0px 4px 2px;
    font-weight: bold;
    pointer-events: auto !important;
    }
    .cssavatar{
        width:150px;
        height:150px;
        margin-left: 0px;
    }
    ion-content { 
        background-repeat: no-repeat;
        background-size: 100% 100%;--background:transparent
        }
    .cssbutton{
         text-transform: capitalize;
        //  font-family: 'Roboto', sans-serif;
        font-weight: normal;
        font-size: 14px;
        --border-radius: 13px;
        --background: #59C0F9;
        height: 26px;
        margin: 6px 6px;
        }
    .cssdiv{
        background: rgba(207, 230, 180, 0.5);
        border: 1px solid rgba(177, 206, 142, 0.8);
        padding: 10px;
        text-align: -webkit-center !important;
    }
    .cssimg{
        width: 100px;
        height: 100px;
        border-radius: 10px;
        margin-bottom: -20px;
    }
    .csstext{
        margin: 0px 0px 0px 0px;
        text-align: center;
        background: rgba(51, 59, 42, 0.3);
        border: 1px solid rgba(187, 187, 187, 0.6);
        position: absolute;
        bottom: 5px;
        height: 26px;
        width: 100px;
        padding-top: 3px;
        color: #fff;
        // font-family: 'Roboto-Regular', sans-serif;
        font-size: 14px;
    }
    .cssblocks{
        background: rgb(244, 252, 255);
        border: 0.5px solid #D1ECF7;
        padding: 14px 0px 16px 0px;
    }
    .csscurrency{
        // position: absolute;
        // bottom: 75px;
        // left: 50px;
        margin: 0px 0px 0px 10px;
        // font-family: 'Roboto-Regular',sans-serif;
        color: #444;
        font-size: 14px;
    }
    .cssdate{
        // position: absolute;
        // bottom: 37px;
        // left: 50px;
        margin:4px 0px 0px 10px;
        // font-family: 'Roboto-Regular',sans-serif;
        color: #444;
        font-size: 14px;
    }
    .user_background{
        // bottom: 5px;
        width: 100px;
        position: relative;
        line-height: 20px;
        border-radius: 0px 0px 7px 7px;
        text-align: center;
        padding-right: 9px;
        padding-left: 3px;
        color: #fff;
        // font-family: 'Roboto-Regular', sans-serif;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        background: rgba(51, 59, 42, 0.4);
        z-index: 100;
        // border: 1px solid rgba(187, 187, 187, 0.6);
      }
.ion-col{
    padding: 0px;
}