<ion-content  style="background-image: url('assets/images/background.jpeg');background-repeat: no-repeat;
background-size: 100% 100%;    --background: rgba(255,255,255,0.8);">
  <ion-card *ngIf="addDiseasesFlag1">
    <ion-item>
      <ion-avatar slot="start" class="cssavatar">
        <img *ngIf="user_profilepic" [src]="user_profilepic" (click)="seepic()" style="height:150px;">
      </ion-avatar>
      <ion-label>
        <p class="user_name">{{this.label.name}}</p>
        <p><span *ngIf="user_languages && this.user_gender === 'Male'" class="user_details">Role : </span> <span>
            <p slot="start" class="user_details" *ngIf="user_languages && this.user_gender === 'Male'">{{ label.role}},
              {{label.gender}}</p>
          </span></p>
        <p><span *ngIf="user_languages && this.user_gender === 'Female'" class="user_details">Role : </span> <span>
            <p slot="start" class="user_details" *ngIf="user_languages && this.user_gender === 'Female'">{{label.role}},
              {{label.gender}}</p>
          </span></p>
        <p><span class="user_details">Phone :</span><span>
            <p slot="start" class="user_details">{{user_number}}</p>
          </span></p>
        <p><span class="user_details">Language :</span><span>
            <p slot="start" class="user_details" *ngIf="user_languages">{{this.label.language}}</p>
          </span></p>
          <p><span class="user_details">Branch :</span><span>
            <p slot="start" class="user_details">{{this.user_branch}}</p>
          </span></p>
          <!-- {{this.label.branch| json}} -->
          <p><span class="user_details">Department :</span><span>
            <p slot="start" class="user_details">Development</p>
          </span></p>
          <p><span class="user_details">Designation :</span><span>
            <p slot="start" class="user_details">leader</p>
          </span></p>
          <p><span class="user_details">Location :</span><span>
            <p slot="start" class="user_details">{{this.user_address}}</p>
          </span></p>
        <!-- <p><span class="user_details">Email :</span><span>
            <p slot="start" class="user_details">{{label.email}}</p>
          </span></p> -->
          <p><span class="user_details">Email :</span><span>
            <p slot="start" class="user_details">{{this.user_email}} </p>
          </span></p>
          <!-- <p><span class="user_details">Email1 :</span><span> -->
            <!-- <p slot="start" class="user_deta/ils" >{{user_email}}  </p> -->
          <!-- </span></p> -->
      </ion-label>
    </ion-item>

    <!-- 
 <p class="allotted_block">{{this.label.blocks_label}}</p>
  <div text-center class="cssblocks">
    <ion-button class="cssbutton" *ngFor="let block of user_blocks" >{{this.label.block}} {{block}}</ion-button>
  </div> -->
    <!-- <p class="allotted_block">{{this.label.resp}}</p> -->
    <div class="cssdiv">
      <ion-item  style="max-height: 36px;margin:0px;" >
        <img item-left style="width:30px;height:30px;"  (click)="seepic()" [src]="user_profilepic">
        <p item-right class="csscurrency">Reporting Manager : Ramesh K</p>
      </ion-item>
      <hr class="new1">
      <ion-item  style="max-height: 36px;margin:0px;" >
        <img item-left style="width:30px;height:30px;" src="assets/images/placeholder_user.png">
      <p item-right class="csscurrency">Ramesh K Reporting To : Sathesh</p>
      </ion-item>
     
      <!-- <ion-row> -->
        <!-- <ion-col>
              <p class="allotted_block">Reporting manager : Ramesh Sir   </p>

        </ion-col> -->
        <!-- <ion-col col-4 *ngFor="let category of categoriesData,let idx = index">
          <img class="cssimg" [src]="category.image">
          <div class="user_background">{{category.name | translate:this.sg['userdata'].primary_language | async }}</div>
        </ion-col> -->
      <!-- </ion-row> -->
    </div>


    <!-- <p *ngIf="user_salary != 'NaN' || user_join_date" class="allotted_block">{{ this.label.compensation }} $</p> -->

    <div *ngIf="user_salary != 'NaN' || user_join_date"
      style="background: rgba(255,255,255,0.8);padding: 0px 14px 14px 0px;margin-bottom: 20px;border:1px solid rgba(177, 206, 142, 0.8)">
      <ion-item  style="max-height: 36px;margin:0px;" >
      <img item-left style="width:30px;height:30px;" src="assets/images/paper-bill.svg">
      <p item-right class="csscurrency">Skills : Digital marketing</p>
    </ion-item>
    <ion-item *ngIf="user_join_date" (click)="calender()" style="max-height: 38px;">
      <ion-icon item-left style="width:26px;height:26px;" name="calendar"></ion-icon>
      <!-- <img item-left style="width:26px;height:26px;" src="assets/images/date.png"> -->
      <p item-right class="cssdate">Company Calendar </p>
    </ion-item>
      <ion-item *ngIf="user_join_date" style="max-height: 38px;">
        <img item-left style="width:26px;height:26px;" src="assets/images/date.png">
        <p item-right class="cssdate">{{this.label.since}} {{dateConverter(this.user_join_date)}}</p>
      </ion-item>
    </div>
  </ion-card>

  <div class="overlay" *ngIf="addDiseasesFlag">
    <div class="container_preview1">
      <ion-icon  name="close" (click)="previewOff()" style="float: right;font-size: 24px;">
      </ion-icon>
      <img *ngIf="user_profilepic" [src]="user_profilepic"  style="height:350px;">

    </div>
  </div>
</ion-content>