.error{
    color:red;
    margin-left: 12%;
    text-align: left;
  }

.label{
    margin: 0px;
    padding: 12px 10px 6px 14px;
    font-size: 16px;
    color: #484747;
    font-weight: 500;
}
.itemClass{
    background-color: #ffff;
    width: 94%;
    padding: 0px;
    border-radius: 6px;
    min-height: 10px;
    height: 34px;
    border: 1px solid rgba(187, 187, 187, 0.5);
    margin: 0px 10px;
}
.aboutMessage{
  height: 82px;
width: 82%;
margin-top: 1%;
margin-left: 9%;
border-radius:10px;
border:1px solid transparent;
}
ion-input{
    --padding-top: 0;
}