<farmeasy-header [Data]="headerData"></farmeasy-header>
<ion-content style="background-image: url('assets/images/harvest_back.jpeg');
background-repeat: no-repeat;
background-size: 100% 100%;    --background: rgba(255,255,255,0.8); ">

<ion-card style="background: #fff;padding-bottom: 18px;">
<ion-card-content>
<form [formGroup]="changepasswordForm">

          <p class="label"><span style="color:red">*</span>{{labels.current}}</p>
          <p no-margin *ngIf="!changepasswordForm.controls.currentpass.valid  && (changepasswordForm.controls.currentpass.dirty || submitAttempt)"  class="error">* {{labels.currenterror}}</p>
          <p no-margin *ngIf="errorflag1" class="error">{{labels.error1}}</p>
          <ion-item class="itemClass"  no-lines>
            <ion-input  (ionChange)="clearerror()" autocomplete="on" autocorrect="on" formControlName="currentpass" [(ngModel)]="currentpass" type="password" [placeholder]="labels.current" no-lines [class.invalid]="!changepasswordForm.controls.currentpass.valid  && (changepasswordForm.controls.currentpass.dirty && submitAttempt)" class="formclass" no-lines></ion-input>
          </ion-item>

          <p class="label"><span style="color:red">*</span>{{labels.new}}</p>
          <p no-margin *ngIf="!changepasswordForm.controls.newpass.valid  && (changepasswordForm.controls.newpass.dirty || submitAttempt)"  class="error">* {{labels.newerror}}</p>
          <ion-item class="itemClass"  no-lines>
            <ion-input  (ionChange)="clearerror()" autocomplete="on" autocorrect="on" formControlName="newpass" [(ngModel)]="newpass" type="password" [placeholder]="labels.new" no-lines [class.invalid]="!changepasswordForm.controls.newpass.valid  && (changepasswordForm.controls.newpass.dirty && submitAttempt)" class="formclass" no-lines></ion-input>
          </ion-item>

          <p class="label"><span style="color:red">*</span>{{labels.confirm}}</p>
          <p no-margin *ngIf="errorflag" class="error">{{labels.error2}}</p>
          <p no-margin *ngIf="!changepasswordForm.controls.confirmpass.valid  && (changepasswordForm.controls.confirmpass.dirty || submitAttempt)"  class="error">* {{labels.confirmerror}}</p>
          <ion-item class="itemClass"  no-lines>
            <ion-input  (ionChange)="clearerror()"  autocomplete="on" autocorrect="on" formControlName="confirmpass" [(ngModel)]="confirmpass" type="password" [placeholder]="labels.confirm" no-lines [class.invalid]="!changepasswordForm.controls.confirmpass.valid  && (changepasswordForm.controls.confirmpass.dirty && submitAttempt)" class="formclass" no-lines></ion-input>
          </ion-item>
</form>
</ion-card-content>
</ion-card>



</ion-content>
<farmeasy-footer [Data]="footerData" (middleButtonAction)="checkpassword()"></farmeasy-footer>
