.normalToast{
background: #aabbcc;
--color: black;
}
.textitem{
    // height: 28px;
   //  width: 96%;
    margin: 10px 10px 0px 10px;
    font-size: 14px;
   //  border-radius: 7px;
   //  border: solid 1px #BBBBBB;
    background-color: #fff;
  }
  .select-block{
   padding: 8px 10px 0px 14px;
   font-size: 16px;
  //  font-family: 'Roboto',sans-serif;
   color: #484747;
   font-weight: 500;
  }
  .activePadding {
   padding:10px 12px 10px 1px; 
  }
  
  .inactivePadding {
   padding:0px 12px 15px 1px; 
  }
  .ion-textarea{
   background-color:rgba(255,255,255,0.85);
   margin:0px 10px 0px 10px;
   width:95%;
   height:40px;
   resize:none;
   border-radius:10px;
  
   overflow:auto;
   float:left;
   line-height:20px;
  }
  .prority{
   font-size: 14px;
   margin-top: 5px;
  }
  
  .sc-ion-card-ios-h {
   margin: 8px 8px;
  }
  .item{
  --min-height: 22px;
  }
  .cross{
  width: 26px;
  position: absolute;
  top: 16px;
  right: 3px;
  z-index: 99;
  }
  .view-heading{
  color: white;
  padding: 6px 0px 0px 14px;
  }
  
  .cssthumb{
  object-fit: cover; 
  //  object-position: 100% 0%;
  }
  
  .cssselect{
  border:1px solid rgba(187, 187, 187, 0.5);
  border-radius: 4px;
  padding: 4px;
  }
  .csstextarea{
  width: 94%;
  margin-left: 11px;
  height: 180px;
  line-height: 20px;
  opacity: 0.97;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(72, 71, 71, 1);
  font-size: 14px;
  text-align: left;
  // font-family: Roboto;
  border: 1px solid rgba(240, 237, 237, 1);
  }
  .cssbutton{
   --background: #8BC34A;
   --border-radius: 9px;
  text-align: -webkit-center;
   width: 100px;
  //  font-family: 'Roboto', sans-serif;
   font-size: 14px;
   font-weight: normal;
   padding-top: 3px;
   text-transform: capitalize
  }
  .textareaCss1 .text-input.text-input::-webkit-input-placeholder{
  font-size:1.5rem;
  color: #898989; 
  // font-family: 'Lato', sans-serif;
  letter-spacing: 0.5px;
  
  }
  .draft-button{
    --background: #bcbcbc;
    --background-focused: #bcbcbc;
    --background-hover: #bcbcbc;
    --color: #fff;
    --color-activated: #ffffff;
    --color-focused: #ffffff;
    // font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding-top: 3px;
    text-transform: capitalize;
    --border-radius: 9px;
    text-align: -webkit-center;
  }