<farmeasy-header [Data]="headerData"></farmeasy-header>
  <!-- <farmeasy-enter-observation></farmeasy-enter-observation> -->
  <ion-content style="background-image: url('assets/images/background.jpeg');
  background-repeat: no-repeat;
  background-size: 100% 100%; --background: rgba(255,255,255,0.84);">
  <div>
      <!-- {{this.selectblock}} -->
    <div class="select-block" style="padding:15px 10px 0px 14px;">{{this.selectblock}}</div>
    <div class="textitem">
        <ion-select [placeholder]="block_label"  interface="popover" [okText]="ok" [cancelText]="cancel" class="cssselect" [(ngModel)]="block" (ionChange)="blockLabours()"> 
            <ion-select-option *ngFor="let block of blocks">{{block.name}}</ion-select-option>
        </ion-select>
  </div>
   </div>
   <!-- {{this.enterdescription}} -->
  <div  style="padding:10px 10px 0px 14px;" class="select-block">  {{this.enterdescription}}</div>
          <ion-textarea  class ="csstextarea" [placeholder]="enterdescriptionplace" [(ngModel)]="description" rows="6" id="messageInputBox" required></ion-textarea>
  <div>
    <div  style="padding:10px 10px 0px 14px;" class="select-block">{{this.indicatePriority}}</div>
    <div class="textitem">
        <ion-select interface="popover"  [(ngModel)]="priority" [okText]="ok" [cancelText]="cancel" [placeholder]="this.selectval" class="cssselect" > 
                  <ion-select-option *ngFor="let item of prioritylist" [value]="item.name">{{item.view}}</ion-select-option>
        </ion-select>
  </div>
  </div>
   <div  style="padding:18px 10px 0px 14px; " class="select-block">{{this.proof_label}}</div>
   <farmeasy-proof-observation (address)="getProofUrl($event)"></farmeasy-proof-observation>
   <div *ngIf="address.length>0">
    <ion-row *ngFor="let item of address; let idx = index" style="margin:5px 0px;bottom: 5%">
      <ion-col size="1"></ion-col>
      <ion-col size="10" style="padding:0px">
        <img   src='assets/images/cross.svg' (click)="presentRemoveAlert(idx,address[idx])" style="width:8%;position:absolute;z-index:1;right:-4%;top: -2%">
        <img  class="cssthumb" *ngIf="item.type === 'camera' || item.type === 'gallery'" [src]="item.url" style="border-radius:4px;height:200px;width:300px">   
        <video *ngIf="item.type == 'video'" style="border-radius:4px;height:200px;width:300px" controls>
          <source [src]="item.url">
        </video>
      </ion-col>
      <ion-col size="1"></ion-col>       
    </ion-row>
   </div>

   <!-- <div text-center>   
    <ion-button class="cssbutton" style="height: 28px;" (click)="createObservation()">{{this.submit}}</ion-button>  
       <ion-button class="draft-button" style="height: 29px;" (click)="saveDraft()">{{'Save Draft'}}</ion-button>
   </div>  -->
</ion-content>
<farmeasy-footer [Data]="footerData" (leftButtonAction)="createObservation()" (rightButtonAction)="saveDraft()"></farmeasy-footer>
