<farmeasy-header [Data]="headerData"></farmeasy-header>
<ion-content style="background-repeat: no-repeat;
background-size: 100% 100%;    --background: rgba(255,255,255,0.8);">
<app-usereditprofile ></app-usereditprofile>
</ion-content>
