.block-okCancelButton{
    text-align: center;
    margin-top: 4%;
    margin-bottom:3%;
}
.block-ok{
    --padding-top: 6px;
    --padding-end: 10px;
    --padding-bottom: 5px;
    --padding-start: 9px;
    --border-radius:10px;
    font-weight: bold;
    --background:rgba(139, 195, 74, 1);
    height: 19px;
    width: 54px;
    font-size: 12px;
}
