<div >
  <h1 padding no-margin>Success</h1>
<p padding-horizontal no-margin>
 {{message}}
</p>
  <div class="block-okCancelButton">
    <ion-button class="block-ok" (click)="sourcePopOverOk()">OK</ion-button>
  </div>
</div>