<farmeasy-header [Data]='headerData' ></farmeasy-header>
<ion-content style="background-image: url('assets/images/harvest_back.jpeg');background-repeat: no-repeat;background-size: 100% 100%;    --background: rgba(255,255,255,0.9); ">
<!-- <app-harvest-out> </app-harvest-out> -->

<!--------------- Harvest Out ---------------------->
<div>
    <p class="har_indate">{{this.labels[2]}}</p><!--'Date of Transaction'-->
    <ion-row style="margin-left: 10px;">
      <ion-col size="4">
        <p class="pickdate">{{dateConverter(dataInicial)}}</p>
      </ion-col>
      <ion-col *ngIf="!view_mode" size="8" style="padding-left: 0px;">
        <img (click)="open()" style="width: 26px;" src="assets/images/date.png" class="harvest-cal">
      </ion-col>
    </ion-row>
    </div>
    <p class="har_indate">{{'Select Category'}}</p><!--'select category'-->
      <ion-select [disabled]="view_mode"   interface="popover" multiple="false" placeholder="--Select a Value--" [(ngModel)]="harvest_category" (ionChange)="SelectCategory($event.detail.value)">
       <ion-select-option [selected]="user_role[idx]" value="{{category.cat_name}}" *ngFor="let category of harvest_categories; let idx=index">{{category.cat_name}}</ion-select-option>
    </ion-select>
    <div *ngIf="this.sg['select_harvesttype'] == 'stock out'" >
        <p class="har_indate">{{this.labels[3]}}</p><!--'Harvest  Type',-->
        <ion-select [disabled]="view_mode"  interface="popover" multiple="false" placeholder="--Select a Value--" [(ngModel)]="harvest_type" (ionChange)="Selecttype($event.detail.value)">
            <ion-select-option value="{{type.name}},{{type.short_name}}" *ngFor="let type of harvest_types_stockOut; let idx=index">{{type.name}}</ion-select-option>
        </ion-select>
    </div>
    <div *ngIf="this.sg['select_harvesttype'] == 'sales'">
        <p class="har_indate">{{this.labels[3]}}</p><!--'Harvest  Type',-->
        <ion-select [disabled]="view_mode"  interface="popover" multiple="false" placeholder="--Select a Value--" [(ngModel)]="harvest_type" (ionChange)="Selecttype($event.detail.value)">
            <ion-select-option   value="{{type.name}},{{type.short_name}}" *ngFor="let type of harvest_types_sales; let idx=index">{{type.name}}</ion-select-option>
        </ion-select>
    </div>
    <ion-row class="row-style">
    <ion-col size="2" >
      {{this.labels[5]}}<!--'Bill NO'-->
    </ion-col>
    <ion-col size="5" >
      {{this.labels[6]}}<!--,'Customer Name'-->
    </ion-col>
    <ion-col size="5" >
      {{this.labels[7]}}<!--'Contact Person'-->
    </ion-col>
    </ion-row>
    
    <ion-row class="row-style1">
    <ion-col size="2">
      <!-- <ion-input type="number" [(ngModel)]="harvest_out_bill"></ion-input>  -->
    <p class="bill_background"><span>{{har_shorttype}}</span ><span *ngIf="har_shorttype && harvest_out_bill">-</span><span>{{harvest_out_bill}}</span> </p>
    </ion-col>
    <ion-col size="5">
      <ion-input type="text" [disabled]="view_mode"  [(ngModel)]="Customer_Name"></ion-input> 
    </ion-col>
    <ion-col size="5">
      <ion-input type="text" [disabled]="view_mode"  [(ngModel)]="Contact_Person"></ion-input> 
    </ion-col>
    </ion-row>
    
    <ion-grid *ngIf="harvest_griddata && harvest_griddata.length > 0">
    <ion-row style="height: 18px;margin-left: 12px;
    margin-right: -7px;">
      <ion-col size="5">
        <p class="har_subcat"> {{this.labels[8]}}</p><!--'Select Sub-Category'-->
      </ion-col>
      <ion-col size="2">
        <p class="har_uom"> {{this.labels[9]}}</p><!--'UOM'-->
      </ion-col>
      <ion-col size="2.5">
        <p class="har_uom">{{this.labels[10]}}</p><!--'QTY'-->
      </ion-col>
      <ion-col size="2.5">
        <p class="har_uom">{{this.labels[11]}}</p><!--'Rate'-->
      </ion-col>
    </ion-row>
    </ion-grid>
    <ion-grid *ngIf="harvest_griddata && harvest_griddata.length > 0 ">
      <div *ngFor="let data of harvest_griddata;let i=index">
          <ion-row class="har-row">
            <ion-col size="5">
              <ion-select [disabled]="view_mode"   interface="popover" multiple="false" [(ngModel)]="harvest_griddata[i]['subcat_val']" placeholder="--Select a Value--" class="sub_catselection"
                (ionChange)="validateValue(harvest_griddata[i],i)">
                <ion-select-option value="{{subcategory.name}}" *ngFor="let subcategory of data.subcategories; let i=index">{{subcategory.name}}</ion-select-option>
              </ion-select>
            </ion-col>
            <ion-col size="2">
              <ion-select [disabled]="view_mode"   interface="popover" class="uom_selection" [(ngModel)]="harvest_griddata[i]['uom_val']" multiple="false" (ionChange)="validateValue(harvest_griddata[i],i)">
                <ion-select-option value="{{uom.name}}" *ngFor="let uom of data.uom">{{uom.name}}</ion-select-option>
              </ion-select>
            </ion-col>
            <ion-col size="2.5">
              <ion-input  [disabled]="view_mode" style="text-align:right" no-lines type="number" [(ngModel)]="harvest_griddata[i]['qty']" (ionChange)="validateValue(harvest_griddata[i],i)"></ion-input>
            </ion-col>
            <ion-col size="2.5">
                <ion-input [disabled]="view_mode" style="text-align:right" no-lines type="number" [(ngModel)]="harvest_griddata[i]['rate']" (ionChange)="validateValue(harvest_griddata[i],i)"></ion-input>
              </ion-col>
          </ion-row>
    </div>
    </ion-grid>
    <p [hidden]="error_message" style="text-align:center;"> **{{this.labels[13]}}</p><!--'Please select all fields'-->
</ion-content>
<ion-footer>
    <div [ngClass]="{'button-container-review':!view_mode,'button-container-save':view_mode}">
        <ion-button  size="small" *ngIf="view_mode" style=" text-transform: uppercase;" (click)="back()">{{'Back'}}</ion-button>
        <ion-button  size="small" *ngIf="view_mode" class="reviewEntry" (click)="save()">{{'Save'}}</ion-button>
        <ion-button  size="small" *ngIf="!view_mode" class="reviewEntry" (click)="harvest_in_validation()">{{this.labels[12]}}</ion-button>
        <ion-button  size="small" *ngIf="!view_mode" style=" text-transform: uppercase;" (click)="addNewCatergory()">{{this.labels[15]}}</ion-button>
      </div>
</ion-footer>