.Heading{
    padding: 0px;
    // text-align: center;
    --background: #5A5B60;
    --color: white;
}
.mainCard{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    --background: #fff;
    --color: black;
}
.CardContent{
    font-size: smaller;
    padding:0px;
}
.leftCol{
    padding:0px;
}
.Image{
    border-radius: 5px;
    max-height: 60px;
    min-height:60px;
    min-width:60px;
    max-width:60px;
    object-fit: cover;
    float: right;
}
.statusButton{
    height: 18px;
    width: 100%;
    --border-radius: 20px;
    font-size: 12px;
    text-transform: capitalize;
}
.time{
    color: green;
    margin-top: 18px;
    margin-bottom: 0px;
}
.alert-wrapper.sc-ion-alert-md {
    --width: 75% !important;
    --min-width: 75% !important;
}
.alert-wrapper.sc-ion-alert-ios {
    --width: 75% !important;
    --min-width: 75% !important;
}
