<farmeasy-header [Data]="headerData"></farmeasy-header>
<ion-content style="background-image: url('assets/images/tm_background.jpg');
background-repeat: no-repeat;
background-size: 100% 100%; --background: rgba(255,255,255,0.9);">
<app-from-and-to-date (isDateClicked)="openDate($event)" (search_data)="searchData($event)" [color]="color" [fromDate]='fromDate' [toDate]="toDate"></app-from-and-to-date>
<div style="    margin-top: 19px;">
<ion-card class="mainCard" *ngFor="let card of displaySalesList">
  <ion-card-header class="Heading">
  <p style="margin: 0px;padding: 4px;font-size: 12px;"> {{dateConverter(card.Date_of_Transaction)}}: {{card.short_name}} - {{card.Bill_no}} </p>
  </ion-card-header>
  <ion-card-content class="CardContent">
          <ion-grid>
              <ion-row>
                  <ion-col size ="7.5" class="leftCol">
                      <ion-row style="font-size:12px;">
                      <p style="white-space:normal;">
                           {{card.customer_name}}
                      </p>
                      </ion-row>
                      <ion-row>
                      <ion-col no-padding>
                      <div style="display: flex;margin-top: 14px;">
                           <p style="font-size: 18px;font-weight: 500; color: #606060;">{{ calaculateAmount(card.record) }}</p>
                           <span style="color: red;margin-top: 4px;margin-left: 2px;padding: 3px;">INR</span>
                      </div>
                      </ion-col>
                      </ion-row>
                  </ion-col>
                  <ion-col no-padding size ="4.5">
                    <!-- <ion-label slot="end">
                        <ion-button shape="round" *ngIf="card.payment_status == 'Not Paid'" class="statusButton" color="danger">{{card.payment_status}}</ion-button>
                        <ion-button shape="round" *ngIf="card.payment_status == 'Paid'"   class="statusButton" color="success">{{card.payment_status}}</ion-button>
                    </ion-label> -->
                    <ion-row>
                      <ion-col no-padding offset="3" size="9">
                          <ion-button shape="round" *ngIf="card.payment_status == 'Not Paid'" class="statusButton" color="danger">{{card.payment_status}}</ion-button>
                          <ion-button shape="round" *ngIf="card.payment_status == 'Paid'"   class="statusButton" color="success">{{card.payment_status}}</ion-button>
                      </ion-col>
                    </ion-row>
                    <ion-row style="margin-top: 10px;" *ngIf="card.payment_status == 'Not Paid'">
                      <ion-col offset="3" size="3" >
                        <img (click)="cash(card)" style="width:95%" src="assets/images/paper-bill _green.svg">
                      </ion-col>
                      <ion-col size="3" >
                          <img (click)="shareVia()" style="width:95%" src="assets/images/share.png">
                      </ion-col>
                      <ion-col size="3">
                        <img style="width:95%" (click)="comformationPopUp(card)" src="assets/images/pdf_red.png">
                      </ion-col>
                    </ion-row>
                    <ion-row style="margin-top: 10px;" *ngIf="card.payment_status == 'Paid'">
                      <ion-col size="3" >
                        <img (click)="cash(card)" style="width:95%" src="assets/images/paper-bill _green.svg">
                      </ion-col>
                      <ion-col size="3" >
                          <img (click)="shareVia()" style="width:95%" src="assets/images/share.png">
                      </ion-col>
                      <ion-col size="3">
                          <img style="width:95%" *ngIf="card.payment_status == 'Paid'" (click)="openReceipt(card)" src="assets/images/file.png">
                          <!-- <img style="width:95%" *ngIf="card.payment_status == 'Not Paid'" (click)="presentAlertPrompt()" src="assets/images/event.png"> -->
                      </ion-col>
                      <ion-col size="3">
                        <img style="width:95%" (click)="comformationPopUp(card)" src="assets/images/pdf_red.png">
                      </ion-col>
                    </ion-row>
                  </ion-col>
              </ion-row>
           </ion-grid>
  </ion-card-content>
</ion-card>
</div>
<ion-card style="text-align: center;background: white;" *ngIf="salesList.length === 0">
      <p> {{'No sales'}}</p>
</ion-card>
<ion-infinite-scroll #infi (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content threshold="100px" infinite-scroll-immediate-check="true"
    loadingSpinner="bubbles"
    loadingText="Loading more data...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>
