.list{
background: transparent !important;
}
.item{
--min-height: 40px;
--padding-start: 5px;
--border-radius: 8px;
width: 80%;
margin-left: 10%;
margin-bottom: 18px;
}
img{
margin-top: 0px;
/* padding-top: 19px; */
padding-right: 6px;
margin-bottom: 0px;
border-right: 1.5px solid #BABABA;   
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button 
{ 
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
margin: 0; 
}
ion-input{
margin-left: 16px !important;
margin-top: 3px !important;
--highlight-color-focused: transparent !important;
--border-style: none !important;
}
:host(.ion-color) .toolbar-background{
    background:blue  !important;
 
}
ion-content { 
    --background-repeat: no-repeat;
    --background-size: 100% 100%;
    
  }

ion-toolbar {
    --background: #ff9800 100%;
    --ion-color-base: #ff9800 100% !important;
}

.form_background{
    //background: #000 !important;
   
    margin-top: 88px;
    margin: 10px;
    border-radius: 8px;
    margin-top: 28%;
    left: 41px; 
   padding-top:10px;
  
    background-color: rgba(51, 59, 42, 0.5);
    text-align: center;
}
.forgot_password{
  color:#fff;
  font-size: 13px;
}
.reset_password{
    color:#fff;
    font-size: 13px;
    padding-left: 40px;
}
.farmeasysign_up{
    --background: #ff9800; 
    width: 60%;
    margin-left: 21%;
    text-transform:none;
    margin-top: 14%;
}
.farm_userimg{
    width: 90px;
    height: 90px;
    border-radius: 52px;
    top: 20px;
    left: 111px;
    position: absolute;
    object-fit: cover;
}
h2 {
    margin-top: 24px;
    font-size: 24px;
    margin-bottom: 31px;
    color:#fff;
}
.error_message{
    color:#fff;
}