<farmeasy-header [Data]="headerData"></farmeasy-header>
<ion-content>
  <ion-grid margin-top no-padding>
    <ion-row>
        <ion-col size="4" class="heading" style="padding:2px;" no-padding><ion-label>{{this.type}}</ion-label></ion-col>
        <ion-col size="4" class="heading" no-padding><ion-label>{{this.fromdate}}</ion-label> </ion-col>
        <ion-col size="4" class="heading" no-padding> <ion-label>{{this.todate}}</ion-label></ion-col>
    </ion-row>
    <ion-row *ngFor="let item of harvest_report; let idx = index">
      <ion-col size="4" no-padding>
        <div class="textitem" >
        <ion-select (ionChange)="categoryChange()" interface="popover" placeholder="-select-" style="padding: 4px;" [(ngModel)]="harvest_report[idx].type"  > 
            <ion-select-option>{{'All'}}</ion-select-option>
            <ion-select-option *ngFor="let item of types">{{item.cat_name}}</ion-select-option>
        </ion-select>
        </div>
      </ion-col>
      <ion-col size="3" no-padding>
        <div class="textinput">
            <ion-input placeholder="{{dateConverter(harvest_report[idx].from)}}" style="font-size: 12px;" no-padding readonly></ion-input>
        </div>
      </ion-col>
      <ion-col size="1" no-padding>
          <img  (click)="pickDate('from',idx)" style="width: 26px;" src="assets/images/date.png" >
        <!-- <ion-icon name="calendar" (click)="pickDate('from',idx)" style="font-size: 26px;color:#868585;" ></ion-icon> -->
      </ion-col>
      <ion-col size="3" no-padding>
        <div class="textinput">
            <ion-input placeholder="{{dateConverter(harvest_report[idx].to)}}" style="font-size: 12px;" no-padding  readonly></ion-input>
        </div>
      </ion-col>
      <ion-col size="1" no-padding>
          <img  (click)="pickDate('to',idx)" style="width: 26px;" src="assets/images/date.png" >
        <!-- <ion-icon name="calendar" (click)="pickDate('to',idx)" style="font-size: 26px;color:#868585;" ></ion-icon> -->
      </ion-col>
      <!-- <ion-col size="1" no-padding>
          <ion-icon name="close-circle" *ngIf="idx != report_length" style="font-size: 26px;color:red;" (click)="remove(idx)" ></ion-icon>
        <ion-icon name="add-circle" *ngIf="idx == report_length" style="font-size: 26px;color:#608DFB;" (click)="addMore()" ></ion-icon>
      </ion-col> -->
    </ion-row>
  </ion-grid>

  <!-- Detailed View -->
  <div  *ngIf="!showGraphs">
  <div *ngFor="let report of stockInCategoryReports">
      <ion-grid *ngIf="report.sub_category.length>0">
          <p class="category-text">{{report.category}}</p>
          <ion-row class="row-border">
            <ion-col><p class="category-text-heading">{{'Date'}}</p></ion-col>
            <ion-col><p class="category-text-heading">{{'Item'}}</p></ion-col>
            <ion-col><p class="category-text-heading">{{'Stock In'}}</p></ion-col>
          </ion-row>
          <ion-row class="row-border" *ngFor="let item of report.sub_category">
              <ion-col><p class="content-color">{{dateConverter(item.date)}}</p></ion-col>
              <ion-col><p class="content-color">{{item.subcategory}}</p></ion-col>
              <ion-col><p class="content-color">{{item.Quantity}} {{item.UOM}}</p></ion-col>
          </ion-row>
        </ion-grid>
        <ion-card *ngIf="report.sub_category.length == 0 && this.harvest_report[0].type !== 'All'" style="text-align: center;box-shadow: none;">
          <p style="font-size: 18px;">Not Found {{this.harvest_report[0].type}} Reports</p>
        </ion-card>
  </div>
  </div>

  

 
  <!-- Graphs -->
    <ion-card style="top: 6px;position: relative;box-shadow: none;" *ngIf="!viewBtn && showGraphs">
      <ion-card style="box-shadow: none;" *ngIf="pieChart.dataTable.length>1" no-padding no-margin>
        <google-chart [data]="pieChart" (chartSelect)="onSelect($event)" ></google-chart>
      </ion-card>
      <ion-card style="box-shadow: none;" *ngIf="coloumnChart.dataTable.length>1" no-padding no-margin>
          <p style="text-align: center">{{this.selectedKey}}</p>
        <google-chart #chart [data]="coloumnChart"></google-chart>
      </ion-card>
    </ion-card>
  </ion-content>



  <!-- Footers -->
<ion-footer  *ngIf="viewBtn">
    <div class="button-container">
        <ion-button (click)="getreport()" [disabled]="harvest_report.length >= 2" class="buttonClass" size="small">{{'VIEW REPORT'}}</ion-button>
    </div>
</ion-footer>
<ion-footer  *ngIf="!viewBtn && showGraphs">
  <div class="button-container">
      <ion-button (click)="viewDetailedReports()" [disabled]="harvest_report.length >= 2" class="buttonClass" size="small">{{'VIEW DETAILED REPORT'}}</ion-button>
  </div>
</ion-footer>
<ion-footer  *ngIf="!showGraphs">
  <div class="button-container">
      <ion-button  class="buttonClass" size="small">{{'PRINT'}}<ion-icon slot="end" name="print"></ion-icon></ion-button>
      <ion-button  class="buttonClass" size="small">{{'SHARE'}}<ion-icon slot="end" name="share"></ion-icon></ion-button>
  </div>
</ion-footer>