<farmeasy-header [Data]="headerData"></farmeasy-header>
<ion-content style="background-image: url('assets/images/tm_background.jpg');
background-repeat: no-repeat;
background-size: 100% 100%; --background: rgba(255,255,255,0.7);">
  <ion-card class="catergory-card" *ngIf="blocksData.length > 0">
          <div text-center class="cssblocks">
              <ion-button class="cssbutton" *ngFor="let block of blocksData" (click)="selectblock(block)" >{{'Block'}} {{ block.name }}</ion-button>
          </div>
  </ion-card>
</ion-content>
