<farmeasy-header [Data]="headerData"></farmeasy-header>
<ion-content style="background-image: url('assets/images/harvest_back.jpeg');
background-repeat: no-repeat;
background-size: 100% 100%;    --background: rgba(255,255,255,0.8); ">
  <div ion-fixed>
    <p
      style=" margin-top: 30px; text-align: center;font-size: 18px;color: #444444;font-family: 'Lato', sans-serif;font-weight:500;">
      Your Opinion Matters</p>
    <ion-card style="width:95%;border-radius:15px;background: white;">
      <form [formGroup]="feedbackForm">
        <ion-list no-lines>
          <ion-item>
            <ion-label>Select Feature </ion-label>
            <ion-select multiple="false" type="radio" formControlName="feature"
              [class.invalid]="!feedbackForm.controls.feature.valid && (feedbackForm.controls.feature.dirty )">
              <ion-select-option value="overall">Overall</ion-select-option>
              <ion-select-option value="other">Other</ion-select-option>
            </ion-select>
          </ion-item>
          <div style="color:red;text-align:center"
            *ngIf="!feedbackForm.controls.feature.valid && (feedbackForm.controls.feature.dirty )">
            * Please select the feature!
          </div>
        </ion-list>
        <ion-textarea rows="10" style="margin: 20px 11px 10px 16px;width: 90%;border-radius: 10px;background: #f3f3f3;"
          placeholder=" Provide Supports" type="text" formControlName="feedback"
          [class.invalid]="!feedbackForm.controls.feedback.valid && (feedbackForm.controls.feedback.dirty )">
        </ion-textarea>
        <div style="color:red;text-align:center"
          *ngIf="!feedbackForm.controls.feedback.valid && (feedbackForm.controls.feedback.dirty )">
          * Please give your supports!
        </div>
      </form>
      <p *ngIf="submitAttempt && !feedbackForm.valid" style="color:red;text-align:center">* Please fill out all details
        accurately!
      </p>
      <ion-row style="margin-top:25px;margin-bottom: 25px;">
        <ion-col style="text-align: center;">
          <ion-button class="createTask" (click)="shareViaEmail()">{{'Submit'}}</ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>