<div>
  <div *ngIf="type=='employee'">
    <span class="span">*</span>
    <ion-label class="label">{{this.labels.labour}}</ion-label>
    <ion-item style="height: 44px;">
      <p item-right (click)="showLaboursList()" class="csstext">{{this.labourName}}<span><img item-right class="cssImg" src="assets/images/drop-down-arrow.svg"></span></p>
    </ion-item>
    <ion-list *ngIf="isLaboursList" class="labourList">
      <div *ngFor="let labourData of laboursData" class="labourDiv">
        <ion-item class="labourItem" (click)="selectName(labourData)">
          <ion-thumbnail item-start class="labourThumbnail">
            <img class="cssthumb" *ngIf="labourData.profile_url " [src]="labourData.profile_url">
            <img class="placeholderImg" *ngIf=" !labourData.profile_url" src="assets/images/placeholder_user1.png">
          </ion-thumbnail>
          <p item-left class="labourText">{{labourData.name_label}}</p>
        </ion-item>
        <hr class="hrTag">
      </div>
      <p item-left style="text-align: center;margin-top: 6px;" *ngIf="labourData && labourData.length < 1"> {{this.no_labours}}</p>
    </ion-list>
    <div *ngIf="!isLaboursList">
      <span class="span">*</span>
      <ion-label class="label">{{this.labels.date}}</ion-label>
      <ion-item class="item" no-lines>
        <ion-input type="text" item-left class="fromInputField" placeholder={{this.dateConverter(this.selectedDate)}}
          style="--padding-start: 5px;" readonly (click)="getToDate()"></ion-input>
        <img style="margin-left: 2.5%;width: 24px;" item-left src="../../assets/images/date.png" class="dateImage"
          (click)="getToDate()">
      </ion-item>
    </div>
  </div>
  <div *ngIf="type=='date'">
    <span class="span">*</span>
    <ion-label class="label">{{this.labels.date}}</ion-label>
    <ion-item class="item" no-lines>
      <ion-input type="text" item-left class="fromInputField" style="--padding-start: 5px;" placeholder={{this.dateConverter(this.selectedDate)}}
        readonly (click)="getToDate()"></ion-input>
      <img style="margin-left: 2.5%;width:24px" item-left src="../../assets/images/date.png" class="dateImage" (click)="getToDate()">
    </ion-item>
    <div>
      <span class="span">*</span>
      <ion-label class="label">{{this.labels.labour}} </ion-label>
      <ion-item style="height: 44px;">
        <p item-right (click)="showLaboursList()" class="csstext">{{this.labourName}}<span><img item-right class="cssImg" src="assets/images/drop-down-arrow.svg"></span></p>
      </ion-item>
      <ion-list *ngIf="isLaboursList" class="labourList">
        <div *ngFor="let labourData of laboursData" class="labourDiv">
          <ion-item class="labourItem" (click)="selectName(labourData)">
            <ion-thumbnail item-start class="labourThumbnail">
              <img class="cssthumb" *ngIf="labourData.profile_url " [src]="labourData.profile_url">
              <img class="placeholderImg" *ngIf=" !labourData.profile_url" src="assets/images/placeholder_user1.png">
            </ion-thumbnail>
            <p item-left class="labourText">{{labourData.name_label}}</p>
          </ion-item>
          <hr class="hrTag">
        </div>
        <p item-left style="text-align: center;margin-top: 6px;" *ngIf="labourData && labourData.length < 1"> There is no labour</p>
      </ion-list>
    </div>

  </div>
  <div *ngIf="type=='adhoc'">
    <span class="span">*</span>
    <ion-label class="label">{{this.labels.labour}}</ion-label>
    <ion-item style="height: 44px;">
      <p item-right (click)="showLaboursList()" class="csstext">{{this.labourName}}<span><img item-right class="cssImg" src="assets/images/drop-down-arrow.svg"></span></p>
    </ion-item>
    <ion-list *ngIf="isLaboursList" class="labourList">
      <div *ngFor="let labourData of laboursData" class="labourDiv">
        <ion-item class="labourItem" (click)="selectName(labourData)">
          <ion-thumbnail item-start class="labourThumbnail">
            <img class="cssthumb" *ngIf="labourData.profile_url " [src]="labourData.profile_url">
            <img class="placeholderImg" *ngIf=" !labourData.profile_url" src="assets/images/placeholder_user1.png">
          </ion-thumbnail>
          <p item-left class="labourText">{{labourData.name_label}}</p>
        </ion-item>
        <hr class="hrTag">
      </div>
      <p item-left style="text-align: center;margin-top: 6px;" *ngIf="labourData && labourData.length < 1"> {{no_labours}}</p>
    </ion-list>
  </div>
  <!-- <div *ngIf=" !isLaboursList">
    <ion-label class="label">{{this.labels.block}}</ion-label>
    <ion-select interface="popover" value="brown" [okText]="ok" [cancelText]="cancel" class="ionSelect" [(ngModel)]="blockName"
      (ionChange)="getBlock($event)" [placeholder]="this.labels.block_place">
      <ion-select-option *ngFor="let block of blocks">{{block.name}}</ion-select-option>
    </ion-select>
  </div> -->
  <div *ngIf=" !isLaboursList">
    <ion-label class="label">{{this.labels.priority}}</ion-label>
    <ion-select interface="popover" value="brown" [okText]="ok" [cancelText]="cancel" class="ionSelect" [(ngModel)]="priority"
      (ionChange)="getPriorty($event)" [placeholder]="this.labels.priority_place">
      <ion-select-option *ngFor="let prior of priorityArr" [value]="prior.value">{{prior.name}}</ion-select-option>
      <!-- <ion-select-option>High</ion-select-option> -->
      <!-- <ion-select-option>Medium</ion-select-option> -->
      <!-- <ion-select-option>Low</ion-select-option> -->
    </ion-select>
  </div>
  <ion-label class="label" *ngIf="adhoc">{{this.labels.adhoc}}</ion-label>
  <ion-select interface="popover" *ngIf="adhoc" value="brown" [okText]="ok" [cancelText]="cancel" class="ionSelectAdhoc"
    [(ngModel)]="userTask" (ionChange)="getTask($event)" [placeholder]="this.labels.adhoc_place">
    <ion-select-option *ngFor="let test of adhocArr" [value]="test.value">{{test.name}}</ion-select-option>
    <!-- <ion-select-option>Chemical Residual Test</ion-select-option>
    <ion-select-option>Water Level Test</ion-select-option>
    <ion-select-option> Store Cleanliness Test</ion-select-option> -->
  </ion-select>

</div>