.ionSelect{
    border: 1px solid #bbbbbb;
    height: 29px;
    margin-left: 16%;
    width: 52%;
    padding: 5px 5px 5px 7px;
    font-size: 13px;
    margin: 0px;
    border-radius: 5px;
    background: #fff;
    margin-top: 1.5%;
    margin-bottom: 5%;
}
.ionSelectAdhoc{
    border: 1px solid #bbbbbb;
    height: 29px;
    margin-left: 1%;
    width: 98%;
    padding: 5px 5px 5px 7px;
    font-size: 13px;
    margin: 0px;
    border-radius: 5px;
    background: #fff;
    margin-top: 1.5%;
    margin-bottom: 5%;
}
.fromInputField{
    max-width: 42%;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    height: 27px;
    background: #fff;
    font-size: 12px;
    --padding-start: 7px;
    --color: black;
    padding-left: 5%;
}
.csstext{
    // font-family: 'Lato', sans-serif;
    background-color: #fff;
    padding-left: 10px !important;
    border-radius: 5px !important;
    margin-right: 20px !important;
    color: #bbbbbb !important;
    font-size: 15px;
    min-width: 97%;
    text-align: left !important;
    min-height: 28px;
    padding-top: 5px !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 10px !important;
    border: 1px solid #bbbbbb;
  }
  .cssImg{
    width: 15px;
    display: inline;
    margin: 0px !important;
    position: absolute;
    right: 36px;
    top: 8px;
  }
.item{
    padding-left: 0%;
    --background:transparent;
    --padding-start:0px;
    --border-color: transparent;
    margin-bottom: 2%;
    margin-top: -1%;
}
.label{
    font-size: 14px;
    color: #676768;
    padding-left: 2%;
}
.span{
    font-size: 15px;
    color: red;
}
.item-inner{
    --border-color: transparent;
}
.native-input {
    padding-left: 7px;
    color: black;
}
.labourList{
    width: 97%; 
    border-left: 1px solid #979797;
    border-right: 1px solid rgba(187,187,187,1);
    border-bottom: 1px solid rgba(187,187,187,1);
    border-radius:4px 4px 0 0;
    background:#fff;
    height: 450px;
    overflow: auto;
    margin:0;
    padding: 4px 0 10px;
}
.labourItem{
    padding: 0px 10px 5px 16px;
    text-transform: capitalize;
    padding-bottom: 0px;
    margin-bottom: 0px;
    background: transparent;
}
.labourThumbnail{
    height: 43px;
    width: 43px;
    margin-bottom: 2px;
    margin-top: 0px;
}
.labourText{
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 14px;
}
.hrTag{
    height: 1.3px;
    padding-top: 0px;
    background-color: #979797;
    opacity: 0.5;
    margin: -1px 0px 0px 58px;
}
.placeholderImg{
    height: 44px;
    width: 45px;
    border-radius: 5px;
}
.cssthumb{
    height: 43px;
    width: 43px;
    border-radius: 5px;
}
.labourDiv{
    height: 51px;
}





