.receipt{
    color: blue;
    font-size: 28px;
    margin: 0;
    text-align: center;
}
.button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:14px;
}
.receipt-content{
    margin: 16px 0px;
    padding: 12px;
    text-align: justify;
    font-size: 14px;
}
