<div>
    <p style="text-align: right"><ion-icon (click)="cancel()" name="close" style="font-size: 25px;margin: 6px;
      "></ion-icon></p>
<ion-row>
  <ion-col size="3">
      <img src="assets/images/logo.png">
  </ion-col>
  <ion-col size>
      <p class="receipt">{{'Receipt'}}</p>
  </ion-col>
  <ion-col size="3">
    <p style="font-size: 12px;" no-margin>{{this.receipt.date}}</p>
    <p style="font-size: 12px;" no-margin>{{"Bill #"+this.receipt.short_name+'-'+this.receipt.Bill_no }}</p>
    </ion-col>
</ion-row>
<div class="receipt-content">
    <p>We confirm the receipt of Rs <span style="font-weight: 700;">{{this.receipt['amount'] }} </span> from <span>{{ this.receipt.customer_name }} </span> towards the pending dues from the invoice on <span>{{ this.receipt.date }} </span> via online transfer.
    </p>
</div>
<div class="button-container">
    <ion-button  size="small" (click)="shareVia()">
    <ion-icon slot="end" name="share"></ion-icon>
      {{'Share'}}
</ion-button>
</div>

</div>