 .Heading{
    padding: 0px 10px;
    --background: #5A5B60;
    --color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.button-container{
    justify-content: space-around;
    display: flex;
}
.approve{
    margin: 0px 4px;
    color: green;
}