<farmeasy-header [Data]='headerData' ></farmeasy-header>
<ion-content style="background-image: url('assets/images/harvest_back.jpeg');background-repeat: no-repeat;background-size: 100% 100%;    --background: rgba(255,255,255,0.5); ">
<ion-card *ngFor="let card of HarvestList" >
        <ion-card-header class="Heading" (click)="this.viewBudget(card)">
                <span>{{card.short_name}}-{{card.Bill_no}}</span>
                <span>{{card.date}}</span>
             </ion-card-header>
        <ion-item>
        <div>
         <div>
         {{card.sentence}}
         </div>
         <div  class="button-container">
                <div style="padding: 12px" (click)="comformationPopUp(card)"><ion-icon class="approve" name="print"> </ion-icon><span class="approve">Print Invoice</span> </div>
         </div>
        </div>
        </ion-item>
</ion-card>

</ion-content>
