<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    
      <ion-back-button defaultHref='/' ></ion-back-button>  
    </ion-buttons>
    <ion-title *ngIf="this.sg['select_harvesttype']">{{this.sg['select_harvesttype']}}</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="add-circle-outline"></ion-icon>
      </ion-buttons>
  </ion-toolbar>
</ion-header> -->
<farmeasy-header [Data]='headerData' ></farmeasy-header>

<ion-content padding style="background-image: url('assets/images/tm_background.jpg');
background-repeat: no-repeat;
background-size: 100% 100%; --background: rgba(255,255,255,0.8);">
 <!-- <purchase-in [purchase_type]="this.sg['select_harvesttype']"></purchase-in> -->

 <p class="har_indate">{{'Date of Transaction'}}</p>
 <ion-row >
   <ion-col size="4" style="padding: 5px 5px 5px 0px;" (click)="openDate()">
     <p class="pickdate">{{dateConverter(dataInTime)}}</p>
     <!-- <ion-input type="text" readonly [(ngModel)]="dataInTime" class="pickdate" placeholder="set to Today"></ion-input> -->
   </ion-col>
   <ion-col *ngIf="!view_mode"  size="8" style="padding: 5px 5px 0px 0px;">
     <img src="assets/images/date.png" style="width: 26px;" class="harvest-cal" (click)="openDate()">
   </ion-col>
 </ion-row>
 <p class="har_indate1" style="font-size:14px;">{{this.labels[4]}}</p>
 <ion-select *ngIf="this.sg['type'] == 'PurchasesIn'" [disabled]="view_mode" interface="popover" class="select" multiple="false" placeholder="--Select a Value--" [(ngModel)]="purchase_category" (ionChange)="SelectCategory($event.detail.value)">
   <ion-select-option >{{'Farm Purchase In'}}</ion-select-option>
 </ion-select>
 <ion-select *ngIf="this.sg['type'] == 'PurchasesOut'" [disabled]="view_mode" interface="popover" class="select" multiple="false" placeholder="--Select a Value--" [(ngModel)]="purchase_category" (ionChange)="SelectCategory($event.detail.value)">
  <ion-select-option >{{'Farm Purchase Out'}}</ion-select-option>
</ion-select>
 <ion-row>
   <ion-col size="3">
     <p class="har_indate1" style="font-size: 14px;" >{{'Bill No:'}}</p>
   </ion-col>
   <ion-col size="5">
     <p class="har_indate1" style="font-size: 14px;" >{{'Vendor Name'}}</p>
   </ion-col>
 </ion-row>
 <ion-row>
   <ion-col size="3"  style="padding: 5px 5px 0px 0px;">
     <ion-input [disabled]="view_mode" class="bill_background" [(ngModel)]="bill_no" ></ion-input>
   </ion-col>
   <ion-col size="5"  style="padding: 5px 5px 0px 0px;">
     <ion-input [disabled]="view_mode" class="bill_background" [(ngModel)]="vendor_name" ></ion-input>
   </ion-col>
 </ion-row>
 <ion-row class="row-style1">
   <ion-col size="5" style="padding: 5px 5px 0px 0px;"> 
     <p class="har_indate1" style="font-size: 14px;" >{{this.labels[14]}}</p>
     </ion-col>
     <ion-col size="2" style="padding: 5px 5px 0px 0px;">
       <p class="har_indate1" >{{this.labels[9]}}</p>
     </ion-col>
     <ion-col size="2" style="padding: 5px 5px 0px 0px;">
       <p class="har_indate1" >{{this.labels[10]}}</p>
     </ion-col>
     <ion-col size="3" style="padding: 5px 5px 0px 0px;">
       <p class="har_indate1" >{{'Rate'}}</p>
     </ion-col>
 </ion-row>
 <ion-row  *ngFor="let category of subCategories;let i=index">
   <ion-col size="5" style="padding: 5px 5px 0px 0px;"> 
       <ion-input [disabled]="view_mode" class="bill_background" [(ngModel)]="purchaseIn_description[i]" (ionChange)="getDescription($event,i)"></ion-input>
   </ion-col>
   <ion-col size="2" style="padding: 5px 5px 0px 0px;">
    
     <ion-select [disabled]="view_mode"  interface="popover" style="height: 27px;padding: 5px" class="select" multiple="false" placeholder="--Select a Value--" [(ngModel)]="purchase_uom[i]" (ionChange)="selectUom($event.detail.value,i)">
       <ion-select-option   *ngFor="let uom of uomList; let idx=index">{{uom.name}}</ion-select-option>
     </ion-select>
   </ion-col>
   <ion-col size="2" style="padding: 5px 5px 0px 0px;">
     <ion-input [disabled]="view_mode" type="number" [(ngModel)]="purchase_quantity[i]" class="bill_background" (ionChange)="getQuantity($event,i)"></ion-input>
   </ion-col>
   <ion-col size="3" style="padding: 5px 5px 0px 0px;">
     <ion-input [disabled]="view_mode" type="number" [(ngModel)]="purchase_rate[i]" class="bill_background" (ionChange)="getRate($event,i)"></ion-input>
   </ion-col>
 </ion-row>
 <ion-row>
   <ion-col size="2" offset="7">{{'Total'}}</ion-col>
   <ion-col size="3"> 
       <ion-input [disabled]="true" type="number" [disabled]="true" [(ngModel)]="total" class="bill_background" ></ion-input>
   </ion-col>
 </ion-row>


 <!--
 0  'Date of Receiving',
 1  'Select Labour',
 2  'Date of Transaction',
 3  'Harvest  Type',
 4  'select category',
 5  'Bill NO',
 6  'Customer Name',
 7  'Contact Person',
 8  'Select Sub-Category',
 9  'UOM',
 10 'QTY',
 11 'Rate',
 12 'Review Entry',
 13 'Please select all fields',
 14 'Description',
 15 'ADD ANOTHER CATEGORY'
 -->
 

</ion-content>
<ion-footer>
  <div [ngClass]="{'button-container-review':!view_mode,'button-container-save':view_mode}">
    <!-- <ion-button class="addAnotherCategory" (click)="add_another_category()">{{this.labels[15]}}</ion-button> -->
  <ion-button class="reviewEntry" *ngIf="!view_mode" (click)="review()">{{'Review'}}</ion-button>
  <ion-button class="reviewEntry" *ngIf="view_mode" (click)="save()">{{'Save'}}</ion-button>
  <ion-button class="reviewEntry" color="primary" *ngIf="view_mode" (click)="back()">{{'Back'}}</ion-button>
  </div>
</ion-footer>