.har_indate{
    font-size: 14px;
    color: #000;
    /* margin-top: 8%; */
    /* margin-bottom: 4px; */
    /* margin-left: 3%; */
    margin: 0px;
}
.har_indate1{
    font-size: 14px;
    color: #000;
    /* margin-top: 0px; */
    /* margin-bottom: 7px; */
    /* margin-left: 3%; */
    margin: 4px;
}
.pickdate{
    margin: 0px;
    background-color: #fff;
    font-size: 13px;
    height: 29px;
    padding-left: 15px;
    padding-top: 7px;
    border-radius: 6px;
    width: 94%;
    border: 1px solid #bbbbbb;
}
.row-style1{
    margin-top:0%;
}
.harvest-cal{
    margin-top: 3px;   
}
.select{
    background-color: #fff;
    font-size: 12px;
    height: 30px;
    padding: 7px;
    border-radius: 6px;
    border: 1px solid #bbbbbb;
}
.bill_background{
    background-color: #fff;
    border: 1px solid #bbbbbb;
    height: 26px;
    font-size: 14px;
    margin: 0px;
    padding-top: 0px;  
}
.addAnotherCategory{
    --background: #067ab9;
    font-size: 11px;
    height: 31px;
    margin: 40% 0% 0% 0%;
    width: 60%;
}
.reviewEntry{
    font-size: 11px;
    height: 31px;
    --background:  #FF4081  !important;
    height: 29px;
}
.button-container-review{
    background: rgba(249, 248, 248, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.button-container-save{
    background: rgba(249, 248, 248, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.footer-md:before {
    background-image: none;
}