<farmeasy-header [Data]="headerData"></farmeasy-header>
<ion-content padding style="background-image: url('assets/images/tm_background.jpg');
background-repeat: no-repeat;
background-size: 100% 100%; --background: rgba(255,255,255,0.7);">
<!-- Farm Land Records -->
<div *ngIf="page == 'Land Records'">
        <div>
                <div class="select-block">{{'Select Document Category'}}</div>
                <div class="textitem">
                    <ion-select  interface="popover" placeholder="-select-" style="padding: 4px;" [(ngModel)]="category"> 
                        <ion-select-option>Khatta</ion-select-option>
                        <ion-select-option>Agreement Copy</ion-select-option>
                        <ion-select-option>Evaluation Document</ion-select-option>  
                    </ion-select>
                </div>
            </div>
            <div>
                <div class="select-block">{{'Document Name'}}</div>
                <div class="textinput">
                    <ion-input no-padding [(ngModel)]="name"></ion-input>
                </div>
            </div>
            <div>
                <div class="select-block">{{'Survey No'}}</div>
                <div class="textinput">
                    <ion-input no-padding [(ngModel)]="survey_no"></ion-input>
                </div>
            </div>
</div>
<!-- Farm Assets -->
<div *ngIf="page == 'Farm Assets'">
        <div>
            <div class="select-block">{{'Select Assets Category'}}</div>
            <div class="textitem">
                <ion-select  interface="popover" placeholder="-select-" style="padding: 4px;" [(ngModel)]="category"> 
                    <ion-select-option>Farm Asset</ion-select-option>
                </ion-select>
            </div>
        </div>
        <div>
            <div class="select-block">{{'Select Assets Sub Category'}}</div>
            <div class="textitem">
                <ion-select  interface="popover" placeholder="-select-" style="padding: 4px;" [(ngModel)]="sub_category"> 
                    <ion-select-option>Fixed Asset</ion-select-option>
                </ion-select>
            </div>
        </div>
        <div>
            <div class="select-block">{{'Assets Name'}}</div>
            <div class="textinput">
                <ion-input no-padding [(ngModel)]="name"></ion-input>
            </div>
        </div>
         <div>
            <div class="select-block">{{'Assets Value'}}</div>
            <div class="textinput">
                <ion-input no-padding [(ngModel)]="value"></ion-input>
            </div>
        </div>
</div>
<!-- farm utility details -->
<div *ngIf="page == 'Farm Utility Details'">
      <div>
            <div class="select-block">{{'Select  Category'}}</div>
            <div class="textitem">
                <ion-select  interface="popover" placeholder="-select-" style="padding: 4px;" [(ngModel)]="category"> 
                    <ion-select-option>EB Bill</ion-select-option>
                    <ion-select-option>Water Bill</ion-select-option>
                    <ion-select-option>Tax Receipt</ion-select-option>
                    <ion-select-option>Other</ion-select-option>
                </ion-select>
            </div>
      </div>
      <div>
            <div class="select-block">{{'Utility Name'}}</div>
            <div class="textinput">
                <ion-input no-padding [(ngModel)]="name"></ion-input>
            </div>
      </div>
</div>
<!-- Licenses -->
<div *ngIf="page == 'Licenses'">
      <div>
            <div class="select-block">{{'Select Category'}}</div>
            <div class="textitem">
                <ion-select  interface="popover" placeholder="-select-" style="padding: 4px;" [(ngModel)]="category"> 
                    <ion-select-option>License</ion-select-option>
                </ion-select>
            </div>
      </div>
      <div>
            <div class="select-block">{{'Name'}}</div>
            <div class="textinput">
                <ion-input no-padding [(ngModel)]="name"></ion-input>
            </div>
      </div>
</div>
<!-- Miscellaneous -->
<div *ngIf="page == 'Miscellaneous'">
    <div>
          <div class="select-block">{{'Select Category'}}</div>
          <div class="textitem">
              <ion-select disabled="true" interface="popover" placeholder="-select-" style="padding: 4px;" [(ngModel)]="category"> 
                  <ion-select-option>Miscellaneous</ion-select-option>
              </ion-select>
          </div>
    </div>
    <div>
          <div class="select-block">{{'Name'}}</div>
          <div class="textinput">
              <ion-input no-padding [(ngModel)]="name"></ion-input>
          </div>
    </div>
</div>
<!-- gallery starts   -->
            <div >
                <input #fileInput (change)="fileUpload($event)" type="file" name="pic" style="display: none;">
                <div class="select-block">{{'Description & Attachment'}}</div>
                <div class="content">
                    <ion-textarea no-margin [(ngModel)]="description" rows="9" id="messageInputBox" required></ion-textarea>
                <div class="iconcontainer">
                        <i class="material-icons icon" item-left (click)="cameraImage()">camera_alt</i>
                        <i class="material-icons icon" item-left (click)="video()">videocam</i>
                        <i class="material-icons icon" item-left (click)="gallery()">insert_photo</i>
                        <i class="material-icons icon" item-left (click)="uploadFile(fileInput)">attach_file</i>
                </div>
                </div>
            </div>
<!-- gallery ends -->

<div *ngIf="attachment.length>0">
    <ion-row *ngFor="let item of attachment; let idx = index" style="margin:5px 0px;bottom: 5%">
      <ion-col size="1"></ion-col>
      <ion-col size="10" style="padding:0px">
        <img   src='assets/images/cross.svg' (click)="presentRemoveAlert(idx,attachment[idx])" style="width:8%;position:absolute;z-index:1;right:-4%;top: -2%">
        <img  *ngIf="item.type === 'camera' || item.type === 'gallery'" [src]="item.url" style="border-radius:4px;height:200px;width:300px;object-fit: cover;">   
        <video *ngIf="item.type == 'video'" style="border-radius:4px;height:200px;width:300px" controls>
          <source [src]="item.url">
        </video>
        <p class="attach" *ngIf="item.type == 'attachment'">{{item.path.name.substring(item.path.name.lastIndexOf("/")+1)}}</p>
      </ion-col>
      <ion-col size="1"></ion-col>       
    </ion-row>
   </div>


<!-- <ion-card *ngIf="attachment.length>0" style="background:#bbbbbb">
        <ion-card-header class="view-heading" no-padding>
         </ion-card-header>
        <ion-card-content  no-padding>
          <ion-card style="background: transparent;box-shadow: none;" *ngFor="let item of attachment; let idx = index">
            <ion-card-header>
            <img (click)="presentRemoveAlert(idx,attachment[idx])" class="cross"  src='assets/images/cross.svg'>
            </ion-card-header>
            <ion-card-content>
              <img height="150" *ngIf="item.type === 'camera' || item.type === 'gallery'" [src]="item.url" style="object-fit: cover;">
              <video width="274" height="150" *ngIf="item.type == 'video'" controls>
                  <source [src]="item.url">
             </video>
             <p style="color: black;" *ngIf="item.type == 'attachment'">{{item.path.name.substring(item.path.name.lastIndexOf("/")+1)}}</p>
             <iframe [src]="item.url" *ngIf="item.type == 'attachment'" width="274" height="150" ></iframe>
            </ion-card-content>
          </ion-card>
        </ion-card-content>
 </ion-card> -->
<!-- <div class="button-container">
    <ion-button class="save" style="font-size: 14px;" (click)="validationEntry()" >Submit</ion-button>
    <ion-button class="save" style="font-size: 12px;" (click)="addAnother()">Add Another</ion-button>
</div> -->
</ion-content>
<farmeasy-footer [Data]="footerData" (leftButtonAction)="validationEntry()" (rightButtonAction)="addAnother()"></farmeasy-footer>

