.textitem{
    height: 28px;
    width: 96%;
    margin-left: 2%;
    font-size: 14px;
    border-radius: 5px;
    border: solid 1px #BBBBBB;
    background-color: #fff;
 }
.select-block{
   padding:8px; 
   font-size: 12px;
}
.textinput{
    height: 22px;
    width: 96%;
    margin-left: 2%;
    font-size: 14px;
    border: solid 1px #BBBBBB;
    background-color: #fff;
 }
 .iconcontainer{
     background: #484747;
 }
 .icon{
   color: white;
   font-size: 22px;
   margin: 0px 6px;
   padding: 4px;
 }
 .button-container{
   display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
 }
 .content{
    background: #fff;
    margin: 0px 6px;
 }
 .save{
   --background: linear-gradient(to right,#D42453,#C92462,#B82575,#A32590,#9025A5);
    height: 29px;
 }
 .cross{
   width: 25px;
   position: absolute;
   top: 2px;
   right: 2px;
 }
 .view-heading{
   color: white;
   padding: 6px 0px 0px 14px;
 }
 .attach{
  color: black;
  background: #fff;
  height: 38px;
  padding: 8px;
  border-radius: 5px;
 }