ion-toolbar {
    --background: #ff9800 100%;
    --ion-color-base: transparent !important;
    text-align: center;
    color: #fff;
    --min-height: 47px;
}
ion-content{
    // font-family: 'Lato', sans-serif;
}

.title-ios {
    padding: 0 12px;
}
.toolbar-title{
    text-align: center;
    color: #fff;
    font-size: 16px !important;
}
ion-title{
    font-size: 16px;
    margin-right: 38px;
}
ion-footer{
    background: white;
    text-align: center;
}
.backIcon{
    color: #fff;
    font-size: 24px;
}
.popover_class{
    top: 200px !important;
    left: 3px !important;
}
.popover-content.sc-ion-popover-md {
    top: 200px !important;
    left: 3px !important;
}
.footer{
    background: rgba(255,255,255,0.9);
    text-align: center;
    padding-top: 15px;
}
.createTask{
    font-weight: bold;
    height: 39px;
    --max-height: 103px;
    font-size: 13px;
    --background: #ff9800 100%;
    width: 48%;
    margin-bottom: 25px;
}
.galleryComponentCard{
    --background: #fff;
    // padding: 4px 0px 4px 0px;
    margin: 3px 6px 10px 6px;
    padding-left: 0px ! important;
    padding-right: 0px;
}
.closeImage{
    width: 8%;
    position: absolute;
    right: 4px;
    z-index: 99;
   
}
.image{
    margin-top: 5%;
    margin-left: 3%;
    width: 94%;
    height: 200px;
    padding-top: 0%;
    object-fit: cover;
}
.video{
    background: black;
    margin-top: 5%;
    width: 94%;
    margin-left: 3%;
}
.audio{
    width: 94%;
    margin-left: 3%;
    margin-top: 4%;
}
.label{
    font-size: 14px;
    color: #676768;
    padding-left: 2%;
}