
.inner-scroll {
    --padding-start: 12px;
    --padding-end: 12px;
}
.searchBar{
    margin-top: -1%;
    --background: rgba(249, 248, 248, 1);
    padding:0px;
}
.searchBarItem{
    --background: rgba(249, 248, 248, 1);
    padding-bottom: 3%;
    --min-height: 34px;
    font-size: 13px;
}
.searchbar-input {
    text-align: center;
}
.searchbar-search-icon {
    left: 10px;
    top: 11px;
    width: 20px;
    height: 20px;
}
.searchIcon{
    font-size: 21px;
    margin-right: 6%;
    margin-left: 1%;
}
.searchImage{
    width: 5.5%;
    margin-top: 1%;
    margin-left: 2.5%;
}
.hashtag .text-input.text-input::-webkit-input-placeholder { /* WebKit browsers */
    font-size: 12px;
    color:rgba(16,16,16,1);
    line-height: 1;
    font-weight: 300;
    font-style: italic;
   text-align: center;
    // font-family: 'Roboto', sans-serif;
}


.category{
    width: 70px;
    height: 70px;
    padding: 0px;
    border-radius: 7px;
    background-size: cover;
}
.catergory-text{
    width: inherit;
    top: 50px;
    position: absolute;
    line-height: 20px;
    border-radius: 0px 0px 7px 7px;
    text-align: center;
    color: #fff;
    font-size: 11.5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: linear-gradient(to top, #010101, transparent);
}





















.Heading{
    padding: 0px;
    text-align: center;
    --background: #5A5B60;
    --color: white;
    font-size: 13.5px;
}
.statusButton{
    height: 18px;
    font-size: 12.5px;
    --border-radius: 20px;
    margin-right: 8px;
    text-transform: capitalize;
}
.CardContent{
    font-size: 13.5;
    padding: 3px 3px 0px 0px;
}
.headerImage{
    max-width: 75%;
    width: auto;
    display: inline;
    margin-left: 2%;
}
.Image{
    border-radius: 5px;
    max-height: 100px;
    width: 80px;
    height: 75px;
    object-fit: cover;
}
.leftCol{
    padding:0px;
}
.timeSym{
   padding:0px;margin-top:16%;
}
.timeDetails{
    font-size: 13.5px;
    padding: 0px;
    margin-top: 12%;--background: rgba(249, 248, 248, 1);
    --color: green;
}
.mainCard{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    --background: #fff;
    --color: black;
    margin-top: 3% !important;
    border:1px solid rgba(223, 220, 220, 1);
   
}
.sc-ion-card-ios-h {
    margin: 8px 8px;
}
.notification_Acknowledge{
    width:100% !important;
    margin: 0px !important;
    --background:#FF4081 !important;
    font-size: 9px !important;
    text-transform: capitalize !important;
}
.notification_mark{
    width:100% !important;
    margin: 0px !important;
    --background:#8BC34A !important;
    font-size: 9px !important;
    text-transform: capitalize !important;
    
}
.item{
    --padding-start:5px !important;
    --padding-end:0px !important;
}
ion-card{
    margin:0px !important;
}
.notification-time{
    font-size: 12px;
    padding-top: 12px;
    padding-top: 1;
    padding-left: 12px;  
}
.notification-icon{
    font-size: 17px;
    padding-top: 11px;  
}
ion-avatar{
    margin-right: 8px !important; 
    border: 1px solid rgba(187, 187, 187, 1);
    margin-top: 0px;
    height: 45px;
    width: 45px;
}
ion-label{
    margin-right: 0px !important;   
}
.notification_description{
    text-overflow: ellipsis;
    width: 257px;
    font-size: 11px;
    /* overflow: auto; */
    word-break: break-word;
    white-space: normal;   
}
.dueDate{
    font-size: 13.5px;
    color:#00aa1a;
    padding: 5px 0px 5px 0px;
}
.overDueDate{
    color:rgba(236, 13, 13, 1);
    font-size: 13.5px;
    padding: 5px 0px 5px 0px;
}
.searchbar-input.sc-ion-searchbar-md {
    padding: 5px 47px;
    font-size: 12px;
    width: 94%;
    margin-left: 2%;
}
.searchbar .searchbar-input {
    border-radius: 4px;
    height:3.2rem;
    box-shadow : none;
    background: #f1f1f1;
    padding: 6px 10px 6px 42px;
}

.searchbar .searchbar-input::-moz-placeholder {
    color: #878787;
    font-size: 1.5rem;
    // font-family: 'Roboto', sans-serif;
}
.searchbar .searchbar-input:-ms-input-placeholder {
    color: #878787;
    font-size: 1.5rem;
    // font-family: 'Roboto', sans-serif;
}
.searchbar .searchbar-input::-webkit-input-placeholder {
    text-indent: 0;
    color: #878787;
    font-size: 1.5rem;
    // font-family: 'Roboto', sans-serif;
}

.searchbar .searchbar-clear-icon {
    background-image: url('/assets/images/clear.svg');
    right: 5px;
}
.searchbar-ios .searchbar-search-icon {
    top:10px !important ;
  } 
  .searchbar-md .searchbar-search-icon {
   top:6px !important ;
 }
.toolbar .searchbar-ios .searchbar-input{
    background-color: #FFF;
    //padding-left: 8px;
    width: 84%;
}

.searchbar-ios {
    background-color:transparent;
    border-bottom: none;
    padding: 8px 0px 8px 8px;
}
.dueToday{
    color:#ff9700;
    font-size: 13.5px;
    padding: 5px 0px 5px 0px;
}
.spanClass{
    font-size: 13.5
}
.rowDescription{
    overflow: hidden;
    text-overflow: ellipsis;
    font-size:13.5px;
    margin-top: 3px;
    height: 40px;
}
.checkbox{
    float: right;
    margin-right: 3px;
    height: 16px;
    width: 17px;
    margin-top: -1.5px;
    --background: transparent;
    --border-color: #fff;
    --border-width: 1px;
    --border-radius: 0px;
    --background-checked: rgba(255,255,255,0.9);
    --border-color-checked: transparent;
    --checkmark-color: #5A5B60;
}
.overFlowCol{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 8px;
    --height:24px;
}


