<farmeasy-header [Data]="headerData"></farmeasy-header>
<ion-content style="background-image: url('assets/images/tm_background.jpg');
background-repeat: no-repeat;
background-size: 100% 100%; --background: rgba(255,255,255,0.7);">
<app-from-and-to-date (isDateClicked)="openDate($event)" (search_data)="searchData($event)" [color]="color" [fromDate]='fromDate' [toDate]="toDate"></app-from-and-to-date>

<ion-card class="mainCard" *ngFor="let card of displayExpenseList">
        <ion-card-header class="Heading" (click)="navigateToSpecific(card)">
        <p style="margin: 0px;padding: 4px;font-size: 12px;"> {{dateConverter(card.date)}}: {{card.category}} </p>
        </ion-card-header>
        <ion-card-content class="CardContent">
                <ion-grid>
                    <ion-row>
                        <ion-col size ="9.5" class="leftCol">
                            <ion-row style="font-size:12px;" (click)="navigateToSpecific(card)">
                            <p style="white-space:normal;">
                                 {{card.description}}
                            </p>
                            </ion-row>
                            <ion-row>
                            <ion-col no-padding>
                            <div style="display: flex;margin-top: 14px;">
                                 <p style="font-size: 18px;font-weight: 500; color: #606060;">{{ commaSeparater(card.amount)}}</p>
                                 <span style="color: red;margin-top: 4px;margin-left: 2px;padding: 3px;">INR</span>
                            </div>
                            </ion-col>
                             <ion-col no-padding style="text-align:right;">
                             <div style="margin-top: 24px;margin-right: 5px;" (click)="navigateToSpecific(card)">
                                <ion-button *ngIf="card.status == 'Submitted'" class="statusButton" color="danger">{{card.status}}</ion-button>
                                <ion-button *ngIf="card.status == 'Reconciled'" class="statusButton" color="secondary">{{card.status}}</ion-button>
                             </div>
                            </ion-col>
                            </ion-row>
                        </ion-col>
                        <ion-col no-padding size ="2.5" (click)="navigateToSpecific(card)">
                            <div  *ngIf="card.created_by" [style.backgroundImage]="'url('+ card.created_by.profile_url +')'" style="object-fit: cover;" class="category" >
                                <div class="catergory-text">
                                    {{card.created_by.name }}
                                </div>
                            </div>
                        </ion-col>
                    </ion-row>
                 </ion-grid>
        </ion-card-content>
    </ion-card>
    <ion-card style="text-align: center;background: white;" *ngIf="expenseList.length === 0">
            <p> {{'No Expenses'}}</p>
 </ion-card>

</ion-content>
