.progress-outer {
    width: 100%;
    // margin: 10px 2%;
    //padding: 3px;
    text-align: center;
    background-color: #fff;
     border: 1px solid #dcdcdc;
    color: #fff;
    border-radius: 20px;
    height: 12px;
  }

  .progress-inner {
    min-width: 0%;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    border-radius: 20px;
    background-color: #ff9800;
  }
  p.cssp{
    color:#444;
    font-weight:550;
    text-align: center;
    margin:10px 0;
  }
  p.cssText{
    color:#444;
    font-weight:500;
    margin: 0 0 10px 10px;
  }
  .cssimage{
    width: 15px;
    opacity: 0.7;
    position: absolute;
    right: 2%;
    top: 5%;
  }