<ion-content padding>
<div>
    <p class="cssText">Uploading {{this.source}}, please wait</p>
    <img (click)="closePopup()"  class="cssimage"  src="assets/images/close.svg">
    <div class="progress-outer">
      <div class="progress-inner" [style.width]="this.sg['uploadProgress'] + '%'"></div>
    </div>
    <p class="cssp">{{bytesToSize(this.sg['transferBytes'])}} of {{bytesToSize(this.sg['totalBytes'])}} ({{this.sg['uploadProgress']}}%)</p>
</div>
 </ion-content>