ion-toolbar {
    --background: rgb(140, 206, 62) 100%;
    --ion-color-base: transparent !important;
    text-align: center;
    color: #fff;
    --min-height: 47px;
}
.title-ios {
    padding: 0 12px;
}
.toolbar-title{
    text-align: center;
    color: #fff;
    font-size: 16px !important;
}
ion-title{
    font-size: 16px;
}
.tm-hearderIcons{
    color: #fff;
    font-size: 22px;
}
.backIcon{
    color: #fff;
    font-size: 24px;
}
.tm-notificationBadge{
    position: absolute;
    top: -1px;
    right: -1px;
    --padding-top: 5px;
    --padding-end: 5px;
    --padding-bottom: 3px;
    --padding-start: 6px;
    border-radius: 9px;
    font-size: 11.5px;
    font-weight: 400;
    --background: rgba(236, 13, 13, 1);
}