
<farmeasy-header [Data]='headerData'  [back]="back_path"></farmeasy-header>
<!-- <ion-header>
    <ion-toolbar>
    
      <ion-buttons slot="start">
        <ion-button (click)="backto_dashboard()">
          <ion-icon name="arrow-back" style="color:#fff"></ion-icon>
        </ion-button>
       
      </ion-buttons>
      <ion-title>{{headerData.title}}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="nofication_count()">
          <ion-icon name="notifications" class="tm-hearderIcons"></ion-icon>
          <ion-badge  class="tm-notificationBadge">{{this.sg["notificationscount"]}}</ion-badge>
          </ion-button>  
        <ion-button (click)="gotoForward()">
          <ion-icon name="add-circle-outline" class="tm-hearderIcons"></ion-icon>
        </ion-button>    
      </ion-buttons>
    </ion-toolbar>
    </ion-header> -->
<ion-content style="background-image: url('assets/images/tm_background.jpg');
    background-repeat: no-repeat;
     background-size: 100% 100%; --background: rgba(255,255,255,0.6);"> 
 <!-- <div *ngIf="loadComponent == 'load'"> -->
  <farmeasy-task-list   (status)="updateStatus($event)"></farmeasy-task-list>
 <!-- </div> -->
 </ion-content>