<ion-app style="font-family: 'Roboto', sans-serif">
  <ion-split-pane>
    <!--  our side menu  -->
    <ion-menu id="menu_close" persistent="true" swipeGesture="false" #mymenu>
      <ion-content style="background-color:#F8F3E7;margin-top:0px;">
        <ion-card style="background-color:#ff9800;height: 120px;margin:0px;padding-top: 10px;">
          <ion-item *ngIf="this.sg['userdata']" no-lines style="--border-style: transparent;padding-top: 10px; ;--background:transparent;--min-height: 110px;">

            <img *ngIf="this.sg['userdata'] && this.sg['userdata'].profile_url" item-left [src]="this.sg['userdata'].profile_url" style="height: 75px;
                  width: 75px;object-fit: cover;
                  border-radius: 50px;    margin-top: -26px;">
            <img *ngIf="!this.sg['userdata'] && !this.sg['userdata'].profile_url" item-left src="assets/images/placeholder_user.png"
              style="height: 75px;
                  width: 75px;
                  border-radius: 50px;    margin-top: -26px;">
            <ion-label style="margin-top:0px;text-align: center;">
              <div style="text-align: left;padding-left: 16px;">
                <p style="text-overflow:ellipsis;overflow: hidden;font-weight: bold;font-size: 18px;color: #fff;" *ngIf="this.sg['userdata']">{{this.sg['userdata'].name}}
                </p>
                <p *ngIf="this.sg['userdata']" style="margin-left: 0px; text-overflow: ellipsis;overflow: hidden;font-size: 14px;color: #fff;">
                  <span>{{this.sg['userdata'].role}}
                  </span>
                </p>
                <p *ngIf="this.sg['userdata']" style="margin-left: 0px;text-overflow: ellipsis;overflow: hidden;font-size: 14px;color: #fff;">
                  <span>{{this.sg['userdata'].phone}}</span>
                </p>
                <p *ngIf="user_data" style="margin-left: 0px;text-overflow: ellipsis;overflow: hidden;font-size: 14px;color: #fff;">
                  <span>{{this.sg['userdata'].primary_language}}</span>
                </p>
                <!-- <p style="margin-left: 0px; text-overflow: ellipsis;overflow: hidden;font-size: 11px; margin-top: -4px;color: #fff;">
                  <span>Tamil Nadu - 658 890
                  </span>
                </p> -->
              </div>
            </ion-label>
          </ion-item>
        </ion-card>
        <div *ngIf="this.sg['hamburger']">
          <ion-item (click)="gotoprofile()" (click)="mymenu.close()" >
            <img src="assets/images/account-circle.png" width="24px">
            <ion-label style="padding-left: 6px;margin-bottom: 0px;">
              <p style="color:#708656;
              padding-bottom: 4px;">{{this.sg["hamburger"].profile}}</p>
            </ion-label>
          </ion-item>
          <ion-item *ngIf="this.sg['userdata'].role == 'employee' || this.sg['userdata'].role == 'supervisor'" >
            <img src="assets/images/language.svg" width="24px" (click)="changeLanuage()">
            <ion-label style="padding-left: 6px;margin-bottom: 0px; " (click)="changeLanuage()">
              <p style="color:#708656;
              padding-bottom: 4px;">{{this.sg["hamburger"].switch}}
              <span style="opacity: 0.3;" *ngIf="this.sg['userdata'].primary_language !== 'en'">(Language)</span></p>
            </ion-label>
         </ion-item>
         <ion-item (click)="gotoDashborad()" (click)="mymenu.close()">
          <img src="assets/images/dashboard.svg" width="24px" (click)="mymenu.close()" >
          <ion-label style="padding-left: 6px;margin-bottom: 0px; " (click)="mymenu.close()">
            <p style="color:#708656;
            padding-bottom: 4px;">{{this.sg["hamburger"].dashboard}}</p>
          </ion-label>
       </ion-item>
         <ion-select  interface="popover" style="display:none" #language [(ngModel)]="user_lang" (ionChange)="bindLang()">
          <ion-select-option *ngFor="let item of languages_support" [value]="item.code">{{item.name}}</ion-select-option>
        </ion-select>
          <ion-item  (click)="gotonotofications()" (click)="mymenu.close()">
            <img src="assets/images/notification.svg" width="24px">
            <ion-label style="padding-left: 6px;margin-bottom: 0px;">
              <p style="color:#708656;
              padding-bottom: 4px;">{{this.sg["hamburger"].notification}}</p>
            </ion-label>
          </ion-item>
          <ion-item  (click)="calender()" (click)="mymenu.close()">
            <img src="assets/images/calendar-edit.png" width="24px">
            <ion-label style="padding-left: 6px;margin-bottom: 0px; ">
              <p style="color:#708656;
              padding-bottom: 4px;">{{this.sg["hamburger"].calender}}</p>
            </ion-label>
          </ion-item>
          <ion-item  (click)="syncData()" >
            <img src="assets/images/settings.svg" width="24px">
            <ion-label style="padding-left: 6px;margin-bottom: 0px;">
              <p style="color:#708656;
              padding-bottom: 4px;">{{this.sg["hamburger"].settings}}</p>
            </ion-label>
          </ion-item>
          <ion-item (click)="openFeedback()" (click)="mymenu.close()">
            <img src="assets/images/phone.svg" width="20px">
            <ion-label style="padding-left: 6px;margin-bottom: 0px;">
              <p style="color:#708656;
              padding-bottom: 4px;">{{this.sg["hamburger"].support}}</p>
            </ion-label>
          </ion-item>
          <!-- <ion-item (click)="syncData()">
            <img src="assets/images/sync.png" width="24px">
            <ion-label style=" padding-left: 6px;margin-bottom: 0px; ">
              <p style="color:#708656;
              padding-bottom: 4px;">{{this.sg["hamburger"].sync}}</p>
            </ion-label>
          </ion-item> -->
          <ion-item (click)="about_Farmeasy()" (click)="mymenu.close()">
            <img src="assets/images/information.png" width="24px">
            <ion-label style="padding-left: 6px;margin-bottom: 0px;">
              <p style="color:#708656; 
              padding-bottom: 4px;">{{this.sg["hamburger"].about}}</p>
            </ion-label>
          </ion-item>
          <!-- <ion-item  (click)="plants_history()" >
            <img src="assets/images/plant_history.svg" width="18px">
            <ion-label style="padding-left: 6px;margin-bottom: 0px; " (click)="mymenu.close()">
              <p style="color:#708656;
              padding-bottom: 4px;">{{this.sg["hamburger"].plant_history}}</p>
            </ion-label>
          </ion-item> -->
          <ion-item  (click)="changePassword()" (click)="mymenu.close()">
            <img src="assets/images/change-password.png" width="18px">
            <ion-label style="padding-left: 6px;margin-bottom: 0px; " (click)="mymenu.close()">
              <p style="color:#708656;
              padding-bottom: 4px;">{{this.sg["hamburger"].change_pass}}</p>
            </ion-label>
          </ion-item>
          <ion-item  (click)="Logout_app()" (click)="mymenu.close()">
            <img src="assets/images/logout.png " width="24px">
            <ion-label style="padding-left: 6px;margin-bottom: 0px; ">
              <p style="color:#708656;
              padding-bottom: 4px;">{{this.sg["hamburger"].lagout}}</p>
            </ion-label>
          </ion-item>
         
        </div>
      </ion-content>
      <ion-footer >
        <div *ngIf="this.sg['hamburger']" style="font-size: 10px;background: #ff9800;color: #fff; display: flex;">
          <p style="margin:5px 0px 5px 10px;" *ngIf="android">{{this.sg["hamburger"].version}} 1.0.8</p>
          <p style="margin:5px 0px 5px 10px;" *ngIf="iOS">{{this.sg["hamburger"].version}} 1.0.8</p>
          <p style="margin:5px 0px 5px 100px;">31-Jan-2022 </p>
        </div>
      </ion-footer>
    </ion-menu>
    <!-- the main content -->
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>