.Heading{
    padding: 0px;
    // text-align: center;
    --background: #5A5B60;
    --color: white;
}
.mainCard{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    --background: #fff;
    --color: black;
}
.CardContent{
    font-size: smaller;
    padding:0px;
}
.leftCol{
    padding:0px;
}
.Image{
    border-radius: 5px;
    max-height: 60px;
    min-height:60px;
    min-width:60px;
    max-width:60px;
    object-fit: cover;
    float: right;
}
.statusButton{
    height: 18px;
    --border-radius: 20px;
    font-size: 12.5px;
    text-transform: capitalize;
}
.time{
    color: green;
    margin-top: 18px;
    margin-bottom: 0px;
}
.category{
    width: 70px;
    height: 70px;
    padding: 0px;
    border-radius: 7px;
    background-size: cover;
}
.catergory-text{
    width: inherit;
    top: 50px;
    position: absolute;
    line-height: 20px;
    border-radius: 0px 0px 7px 7px;
    text-align: center;
    color: #fff;
    font-size: 11.5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: linear-gradient(to top, #010101, transparent);
}