.Heading{
    padding: 3px 0px 5px 0px;
    text-align: center;
    --background: #5A5B60;
    --color: white;
    font-size: 13.5px;
}
.statusButton{
    height: 19px;
    font-size: 12.5px;
    --border-radius: 20px;
    text-transform: capitalize;
}
.CardContent{
    font-size: 13.5px;
    padding: 3px 3px 0px 0px;
}
.headerImage{
    max-width: 6%;
    width: 5%;
    display: inline;
    margin-left: 2%;
}
.searchBar{
    margin-top: -1%;
    --background: rgba(249, 248, 248, 1);
    padding:0px;
}
.searchBarItem{
    margin-top: 3%;
    --background: transparent;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 11px;
    --min-height: 36px;
}
.Image{
    border-radius: 5px;
    max-height: 100px;
    margin-left: -3%;
    object-fit: cover;
    height: 95px;
    width: 110px;
}
.leftCol{
    padding:0px;
}
.timeSym{
   padding:0px;margin-top:16%;
}
.searchbar .searchbar-input {
    line-height: 2.5rem;
    padding: 6px 49px;
    font-size: 13px;
}
.searchbar .searchbar-search-icon {
    top:9px;
}
.descriptionRow{
    padding: 3px 0px 9px 0px;
}
.timeDetails{
    font-size: smaller;
    padding: 0px;
    margin-top: 12%;
    --color: green;
}
.mainCard{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    --background: #fff;
    --color: black;
    margin-top: 3% !important;
    margin-left: 15px ! important;
    margin-right: 15px ! important;
    padding-bottom: 6%;
   
}
.sc-ion-card-ios-h {
    margin: 8px 8px;
}
.notification_Acknowledge{
    width:100% !important;
    margin: 0px !important;
    --background:#FF4081 !important;
    font-size: 9px !important;
    text-transform: capitalize !important;
    }
    .notification_mark{
    width:100% !important;
    margin: 0px !important;
    --background:#8BC34A !important;
    font-size: 9px !important;
    text-transform: capitalize !important;
    
    }
    .item{
    --padding-start:5px !important;
    --padding-end:0px !important;
    }
    ion-card{
    margin:0px !important;
    }
    .notification-time{
    font-size: 12px;
    padding-top: 12px;
    padding-top: 1;
    padding-left: 12px;  
    }
    .notification-icon{
    font-size: 17px;
    padding-top: 11px;  
    }
    ion-avatar{
    margin-right: 8px !important; 
    --border-radius: 10% !important; 
    margin-top: -11px;
    height: 45px;
    width: 45px;
    }
    ion-label{
    margin-right: 0px !important;   
    }
    .notification_description{
    text-overflow: ellipsis;
    width: 257px;
    font-size: 11px;
    /* overflow: auto; */
    word-break: break-word;
    white-space: normal;   
    }
    .dueDate{
        font-size: 13.5px;
        color:#00aa1a;
        padding: 5px 0px 5px 0px;
    }
    .overDueDate{
        color:rgba(236, 13, 13, 1);
        font-size: 11.5px;
        padding: 5px 0px 5px 0px;
    }
    .uploadCard{
        --background:rgba(230, 228, 228, 1);
        margin: 11px 7px 0px 7px !important;
    }
    .uploadCard1{
       
        margin: 11px 15px 0px 15px !important;
    }
    .closeImage{
        width: 9%;
        position: absolute;
        right: 0px;
    }
    .uploadIcon{
        font-size: 25px;
        margin-top: 1.3px;
    }
    .ionSelect{
        background: #fff;
        height: 29px;
        padding: 6px;
        font-size: 13px;
        border-radius: 6px;
        border: 1px solid rgba(187, 187, 187, 1);
    }
    .alert-radio-label.sc-ion-alert-md {
    --padding: 12px 6px 13px 34px;
    -ms-flex: 1;
    flex: 1;
    --color: var(--ion-color-step-850,#262626);
    --font-size: 12px;
    text-overflow: inherit;
    white-space: normal;
}
.options{
    //padding: 13px 4px 13px 26px;
    font-size:8px;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
}
.case{
    border-radius: 8px;
    border: 1px solid #b1b1b1;
    object-fit: cover;
}
// .popover-content{
//     bottom: auto !important;
//     top: 17% !important;
//     left: 30px !important;    
//     max-height: 66% !important;
//   }
  .popover-md .popover-content {
    border-radius: 4px;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    width: 100%;
    min-width: 0;
    min-height: 0;
    max-height: 66% !important;
    color: #000;
    background: #fff;
    -webkit-box-shadow: 0 3px 12px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 12px 2px rgba(0, 0, 0, 0.3);
}