<ion-card class="mainCard">
  <div *ngIf="taskData">
    <ion-card-header class="Heading">
      <span> <img align='left' *ngIf="taskData.color=='green'" class="headerImage" src="https://firebasestorage.googleapis.com/v0/b/farmeasy-2b7e4.appspot.com/o/farmeasy%2FTaskManager%2Fgreen.svg?alt=media&token=f758fc2c-b63d-4844-b246-02d3ccb8f403">
        <img align='left' *ngIf="taskData.color=='red'" class="headerImage" src="https://firebasestorage.googleapis.com/v0/b/farmeasy-2b7e4.appspot.com/o/farmeasy%2FTaskManager%2Fred.svg?alt=media&token=2884c0ec-7e58-4e8c-9196-fac7036be14a">
        <img align='left' *ngIf="taskData.color=='orange'" class="headerImage"  src="../../assets/images/orange.svg" > 
        <span *ngIf=" taskData && taskData.category && taskData.category.id=='1'">{{this.labels.water}}</span>
        <span *ngIf=" taskData && taskData.category && taskData.category.id=='2'">{{this.labels.clean}}</span>
        in </span>
      <!-- <img style="max-width: 50%;" *ngIf="observation.status == 'Acknowledged'"  [src]="coloredImage" > -->
      <!-- <img style="max-width: 50%;"    [src]="coloredImage" > -->
      <span *ngFor="let block of taskData.blocks">{{block.name}}</span>-{{this.labels.block}},
      <div *ngFor="let block of taskData.blocks" style="display: inline;">
        <span *ngIf="block.plots && block.plots.length>0">
          <span style="display: inline;" *ngFor="let plot of block.plots let idx=index">{{plot.name}}<span *ngIf="idx != (block.plots.length-1)">,
            </span></span>{{this.labels.plots}}
        </span>
      </div>
    </ion-card-header>
    <ion-card-content class="CardContent" *ngIf=" taskData ">
      <ion-grid style="padding: 5px 0px 5px 4px;">
        <ion-row>
          <ion-col size="8" class="leftCol">
            {{taskData.description}}
          </ion-col>
          <ion-col size="4" class="leftCol">
            <img *ngIf="taskData && taskData.category && taskData.category.image" class="Image" [src]="taskData.category.image">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-row *ngIf="taskData.media && taskData.media.camera">
            <div *ngFor="let image of taskData.media.camera">
              <img [src]="image.url" class="case" *ngIf="image.type=='camera' || image.type=='gallery'" />
            </div>
          </ion-row>
          <ion-row *ngIf="taskData.media && taskData.media.video">
            <div *ngFor="let image of taskData.media.video">
                <video class="case" *ngIf="image.type=='video'" width="355" controls>
                <source [src]="image.url" />
              </video>
            </div>
          </ion-row>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col *ngIf="taskData  && taskData.end_date" [ngClass]="{'dueDate':taskData.color=='green','overDueDate':taskData.color=='red' }"
            class="leftCol">
            {{(taskData.dueDate)}}

          </ion-col>
          <!-- <ion-col class="leftCol">
            <ion-button *ngIf="!showAcknowledged[i] && taskData.status && taskData.status.name != 'Acknowledged'" class="statusButton"
              (click)="markAsAcknowledged(taskData,i)" style="--background:rgba(139, 195, 74, 1)">{{this.labels.Acknowledge}}
            </ion-button>
            <ion-button class="statusButton" *ngIf="showAcknowledged[i] || taskData.status && taskData.status.name == 'Acknowledged' "
              style="--background:#47a5ff">{{this.labels.Acknowledged}}
            </ion-button>

          </ion-col> -->
          <ion-col class="leftCol">
            <div style="text-align:right;">
            <ion-button *ngIf="!showCompleted && taskData.status && taskData.status.name !='Task completed'" class="statusButton"
              (click)="markAsDone(taskData)" style="--background:rgba(139, 195, 74, 1)">{{this.labels.done}}</ion-button>
            <!-- <ion-button *ngIf="showCompleted || taskData.status.name =='Task completed'" class="statusButton" style="--background:#47a5ff">{{this.labels.completed}}</ion-button> -->
              </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
    <!-- <ion-card-header class="Heading" *ngIf=" taskData && taskData.category && taskData.category.id=='2'">
      <span><img align='left' class="headerImage" [src]="coloredImage(taskData.frequency.end_date)"> Water the plants
        in</span>
 
      <span *ngFor="let block of taskData.blocks">{{block.name}}</span>-Block,&nbsp;
      <div *ngFor="let block of taskData.blocks" style="display: inline;">
        <span style="display: inline;" *ngFor="let plot of block.plots">{{plot.name}} <span *ngIf="block.plots.length>1">,</span></span>plots
      </div>
    </ion-card-header>
    <ion-card-content class="CardContent" *ngIf=" taskData && taskData.category && taskData.category.id=='2'">
      <ion-grid>
        <ion-row>
          <ion-col size="8" class="leftCol">
            {{taskData.description}}
          </ion-col>
          <ion-col size="4" class="leftCol">

            <img class="Image" [src]="taskData.category.image">
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
          <ion-row>
            <ion-col *ngIf="taskData && taskData.frequency && taskData.frequency.end_date" [ngClass]="{'dueDate':colors(taskData.frequency.end_date),'overDueDate':!colors(taskData.frequency.end_date) }"
              class="leftCol">
              {{daysbetweenDates(taskData.frequency.end_date)}}
  
            </ion-col>
            <ion-col class="leftCol">
              <ion-button *ngIf="!showAcknowledged[i] && taskData.status != 'Acknowledged'" class="statusButton" (click)="markAsAcknowledged(taskData,i)"
                style="--background:rgba(139, 195, 74, 1)">Acknowledge
              </ion-button>
              <ion-button class="statusButton" *ngIf="showAcknowledged[i] || taskData.status == 'Acknowledged'" style="--background:#47a5ff">Acknowledged
              </ion-button>
  
            </ion-col>
            <ion-col class="leftCol">
              <ion-button *ngIf="!showCompleted[i] && taskData.status!='completed'" class="statusButton" (click)="markAsDone(taskData,i)" style="--background:#ff007e">Mark
                as Done</ion-button>
              <ion-button *ngIf="showCompleted[i] || taskData.status=='completed'" class="statusButton" style="--background:#ff007e">completed</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-card-content> -->
  </div>
  <ion-card class="uploadCard">
    <ion-grid>
      <ion-row>
        <ion-col size="7.5">
          <ion-select  interface="popover" value="brown" ok-text="Okay" cancel-text="Dismiss" class="ionSelect" [(ngModel)]="userTask"
            (ionChange)="getTaskStatus($event)" [placeholder]="placeholder" >
            <ion-select-option class="options" *ngFor="let status of statusArr" [value]="status.value">{{status.name}}</ion-select-option>
            <!-- <ion-select-option class="options">Rain - Task Not complete</ion-select-option>
            <ion-select-option class="options">Power cut - Task Not complete</ion-select-option>
            <ion-select-option class="options">Machinery repair - Task Not Complete</ion-select-option> -->
          </ion-select>
        </ion-col>
        <ion-col size="1.5">
          <ion-icon name="camera" class="uploadIcon" (click)="cameraImage()"></ion-icon>
        </ion-col>
        <ion-col size="1.5">
          <ion-icon name="image" class="uploadIcon" (click)="attachedImage()"></ion-icon>
        </ion-col>
        <ion-col size="1.5">
          <ion-icon name="paper-plane" class="uploadIcon" (click)="submitTaskDetails()"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <div *ngIf="captureImage">

    <div *ngFor=" let cameraImage of captureImage;let i=index" class="uploadCard1">

      <img *ngIf=" cameraImage && cameraImage.url" src="../../../../assets/images/cross.svg" class="closeImage" (click)="closeImage('camera',i)">
      <img *ngIf=" cameraImage && cameraImage.url" [src]="cameraImage.url" style="padding-top: 4%;object-fit: cover;">
      <!-- <img src="../../../../assets/images/placeholder_user.png" style="padding-top: 4%;"> -->
    </div>
  </div>
  <div *ngIf="attachedImages">
    <div *ngFor=" let attachedImage of attachedImages;let i=index" class="uploadCard1">
      <img *ngIf=" attachedImage && attachedImage.url" src="../../../../assets/images/cross.svg" class="closeImage"
        (click)="closeImage('attachment',i)">
      <img *ngIf=" attachedImage && attachedImage.url" [src]="attachedImage.url" style="padding-top: 4%;object-fit: cover;">
    </div>
  </div>

</ion-card>