ion-toolbar {
--background: #ff9800 100%;
--ion-color-base: #ff9800 100% !important;
--min-height: 47px;
}
ion-title{
color: #fff;
font-weight: 500;
background-color: rgba(255, 152, 0, 1);
color: rgba(255, 255, 255, 1);
font-size: 16px;
text-align: center;
padding:0px !important;
}

.col_style{
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    }
    ion-card-header{
    padding: 0px;
    background-color: #5A5B60;   
    }
    ion-card{
    margin: 2px;
    border-radius: 0px;
    background: rgba(255,255,255,0.9) ;
    border-radius: 7px;
    margin-top: 9px;
    }
    ion-select{
    // background: #fff;
    // height: 28px;
    // border-radius: 10px;
    // font-size: 9px;
    // padding-left: 10px;
    // padding-top: 7px;
    margin:-5px 10px 30px 10px;
    padding: 0px;
    background-color: rgba(255, 255, 255, 1);
    padding-left: 8px;
    padding-right: 10px;
    padding-top: 4px;
    height: 28px;
    // padding: 1px 0px 0px -2px;
    line-height: 20px;
    color: #101010;
    font-size: 14px;
    border-radius: 5px;
    // font-family: 'Roboto', sans-serif;
    border: 1px solid #BBBBBB;
    }
    ion-card-content{
    padding:0px;
    padding-bottom: 6px;
    }
    .item_style{
    --background:transparent;
    font-size: 11px;
    --padding-start: 0px !important ;
    margin-left: 12px;
    --border:transparent;
    margin-left: 7px;
    --border-style: none;
    }
    .textarea_item{
    --padding-start: 0px !important ;
    margin-left: 11px;
    margin-right: 8px;
    --border:transparent;
    margin-left: 9px;
    margin-right: 13px;
    --border-style: none;
    }
    .gallery_row{
    background: #fff;
    margin-left: 11px;
    margin-right: 7px;  
    margin-left: 9px;
    margin-right: 13px;
    }
    .cemera{
    width:20px;
    }
    .video{
    width:20px;
    }
    .attachment{
    width:20px;
    }
    .background_div{
    border-radius: 10px;
    --background-repeat: no-repeat;
    --background-size: 100% 100%;
    }
    .users_card{
    margin: 2px 8px;
    border-radius: 6px;
    background: rgba(255,255,255,0.9) ;
    }
    
    .select_user{
    width:18px;
    margin-left:74%;
    }
    .user_background{
      bottom: 5px;
      width: 100px;
      position: absolute;
      line-height: 20px;
      border-radius: 0px 0px 7px 7px;
      text-align: center;
      padding-right: 9px;
      padding-left: 3px;
      color: #fff;
      font-size: 11.5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      background: rgba(51, 59, 42, 0.4);
    }
    .select_emplyees{
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;  
    }
    .select_all{
    font-size: 14px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: -3px;
    --border-color: transparent;
    }
    .select_checkbox{
    margin-left: 5px;
    margin-bottom: 0px; 
    margin-left: 5px;
    margin-top: 2px; 
    }
    .sendnotification{
    --border-radius: 0px !important; 
    --padding-top:0;
    --padding-bottom:0;
    --padding-start:8px; 
    --padding-end: 8px; 
    --background: #8BC34A !important; 
    margin: 8% 0px;
    }
    
    .item{
    --border-width: 0 0 0 0 !important;
    --show-full-highlight: 0 !important;
    --show-inset-highlight: 0 !important;  
    --border-style: solid !important; 
    --background: transparent;  
    --border-color: transparent; 
    }
    ion-textarea{
    padding-left: 4px !important;
    }
    .all{
    width: 20px;
    height: 20px;
    background-color: rgba(16, 16, 16, 1);   
    }
    .cross{
      width: 25px;
      margin-left:92%;
    }
    .csshead{
      // font-family:'Roboto',sans-serif;
      font-size: 16px;
      color:#484747;
      text-align: left;
      margin: 12px 0px 9px 12px;
      font-weight: bold;
    }
    .cssdesc{
      // font-family:'Roboto-Regular',sans-serif;
      font-size: 14px;
      color:#484747;
      text-align: left;
      margin-left: 12px;
      --border:1px solid #F0EDED;
      line-height: 1.4;
    }