<!-- <ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="backto_dashboard()">
                <ion-icon name="arrow-back" style="color:#fff"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{this.title}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="notifications()">
                <img src="assets/images/notifications.png" style="height: 20px;width:20px;margin-right: 15px;">
            </ion-button>
            <ion-badge class="card-badge1" (click)="notifications()">
                <span *ngIf="this.sg['notificationscount']">{{this.sg['notificationscount']}}</span>
            </ion-badge>

        </ion-buttons>
    </ion-toolbar>
</ion-header> -->

<!-- <ion-content style="background-image: url('assets/images/harvest_back.jpeg');
background-repeat: no-repeat;
background-size: 100% 100%;    --background: rgba(255,255,255,0.2); ">
    <ion-card class="parent_card">
        <ion-card *ngFor="let data of Harvest_data" (click)="selected_harvest(data.title1,data.path)" class="child_card">
            <ion-item no-lines>
                <ion-avatar slot="start">
                    <img [src]="data.image" class="har-image">
                </ion-avatar>
                <ion-label style="--border-color: transparent !important;">
                    <p class="harvest_title">{{data.title}}</p>
                    <p class="harvest_subtitle">{{data.subtitle}}</p>
                </ion-label>
                <img slot="end" src="assets/images/chevron-right.svg" style="height: 30px;width: 30px;margin-right: -6px;margin-top: 8px;">
            </ion-item>
        </ion-card>
    </ion-card>
</ion-content> -->
<farmeasy-header [Data]='headerData' ></farmeasy-header>
<ion-content style="background-image: url('assets/images/tm_background.jpg');
background-repeat: no-repeat;
background-size: 100% 100%; --background: rgba(255,255,255,0.9);" >
<!-- <ion-item   no-lines *ngFor="let data of Harvest_data" (click)="selected_harvest(data.title1,data.path)">
        <ion-button slot="start" class="em-avatarButton">
          <ion-avatar class="em-avatar">
          <img [src]="data.image">
          </ion-avatar>
        </ion-button>
        <ion-label style="padding: 6px;">
          <p class="em-heading">{{data.title}}</p>
          <p item-left class="em-description">{{data.subtitle}}</p>
        </ion-label>
        <ion-icon name="ios-arrow-forward" item-right padding-horizontal></ion-icon>
  </ion-item> -->


  <ion-card *ngFor="let data of Harvest_data" (click)="selected_harvest(data.title,data.title1,data.path)">
    <ion-item>
      <ion-avatar slot="start">
         <img [src]="data.image" style="object-fit: cover;">
      </ion-avatar>
      <ion-label no-margin>
        <p class="farmmodule_title">{{data.title}}</p>
        <p class="farmmodule_subtitle">{{data.subtitle}}</p>
        <img slot="end" src="assets/images/forwordarrow.png" class="cssarrow">
      </ion-label>
  
    </ion-item>
  </ion-card>



</ion-content>