.container{
    background: #F4F9ED;
    padding: 3px 3px 3px 3px;
    border: 1px solid rgba(177, 206, 142, 0.8);
}

.block-okCancelButton{
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}
.block-ok{
     --padding-top: 8px;
    --padding-end: 10px;
    --padding-bottom: 5px;
    --padding-start: 9px;
    --border-radius: 20px;
    text-transform: capitalize;
    --background: #ff9800;
    height: 26px;
    width: 80px;
    font-size: 12px;
    color: #fff;
}

  .cssimage{
    width: 18px;
    opacity: 0.7;
    position: absolute;
    right: 4%;
    top: 18px;
  }
  .cssheading{
    color: #606060;
    text-align: center;
    font-size: 18px;
    margin: 12px;
  }
  .ionSelect{
    border-radius: 6px;
    border: 1px solid rgba(187, 187, 187, 1);
    background:#fff;
    text-overflow: unset;
    height: 30px;
    padding: 6px;
    font-size: 12px;
    
}

.csslabels{
    text-align:right;
    color: #606060;
}
.col{
    padding: 0px;
}
.fromInputField{
    font-size: 12px;
    --padding-bottom: 3px;
    --padding-end: 0px;
    --padding-top: 3px;
    --padding-start: 6%;
    border-radius: 3px;
    border: 1px solid rgba(187, 187, 187, 1);
    --background:#fff;
    height:28px;
}
ion-grid ion-row {
    padding: 8px;
}

.clearfilter{
     --padding-top: 8px;
    --padding-end: 10px;
    --padding-bottom: 5px;
    --padding-start: 9px;
    --border-radius: 20px;
    text-transform: capitalize;
    --background: #f00;
    height: 26px;
    width: auto;
    font-size: 12px;
    color: #fff;
}