<div>
<div class="container">
<p class="cssheading">{{labels.title}}</p>
 <img (click)="closePopup()"  class="cssimage"  src="assets/images/close.svg">
</div>
<div style="background:#fff">
<ion-grid>
<ion-row>
<ion-col size="3" class="csslabels"><ion-label>{{labels.labour}}</ion-label></ion-col>
<ion-col size='6' class="col">
     <ion-select interface="popover"  ok-text="Okay" [(ngModel)]="labourName" cancel-text="Dismiss" class="ionSelect"
       [placeholder]="labels.labour_place">
      <ion-select-option *ngFor="let  user of  inputData.users" [value]="user.name">{{user.name_label}}</ion-select-option>
    </ion-select>
</ion-col>
</ion-row>
<ion-row>
<ion-col size="3" class="csslabels"><ion-label>{{labels.block}}</ion-label></ion-col>
<ion-col size='6' class="col">
     <ion-select interface="popover"  ok-text="Okay" [(ngModel)]="blockName" cancel-text="Dismiss" class="ionSelect"
       [placeholder]="labels.block_place">
      <ion-select-option *ngFor="let  block of  inputData.blocks">{{block.name}}</ion-select-option>
    </ion-select>
</ion-col>
</ion-row>
<ion-row>
<ion-col size="3" class="csslabels"><ion-label>{{labels.status}}</ion-label></ion-col>
<ion-col size='6' class="col">
    <ion-select interface="popover"  ok-text="Okay" [(ngModel)]="statusValue" cancel-text="Dismiss"  class="ionSelect"
       [placeholder]="labels.status_place">
      <ion-select-option value="Open">{{this.labels['open']}}</ion-select-option>
      <ion-select-option value="Closed">{{this.labels['close']}}</ion-select-option>
    </ion-select>
</ion-col>
</ion-row>
<ion-row>
<ion-col size="3" class="csslabels"><ion-label>{{labels.category}}</ion-label></ion-col>
<ion-col size='6' class="col">
    <ion-select interface="popover"  ok-text="Okay" cancel-text="Dismiss" [(ngModel)]="categoryValue"  class="ionSelect"
      [placeholder]="labels.category_place">
       <ion-select-option *ngFor="let  category of  inputData.categories" [value]="category.name" >{{CapitalizeFirstLetter(category.name_label)}}</ion-select-option>
    </ion-select>
</ion-col>
</ion-row>
<ion-row>
<ion-col size="3" class="csslabels"><ion-label><span style="color:red">*</span>{{labels.from}}</ion-label></ion-col>
<ion-col size='4' class="col">
   <ion-input class="fromInputField" type="number" (click)="openDate('fromDate')" placeholder="{{this.dateConverter(this.fromDate)}}"  readonly></ion-input>
 </ion-col>
 <ion-col size='2' class="col">
   <img src="../../assets/images/date.png"  style="width:30px;padding: 0px 2px;" (click)="openDate('fromDate')">
 </ion-col>
</ion-row>
<ion-row>
<ion-col size="3" class="csslabels"><ion-label><span style="color:red">*</span>{{labels.to}}</ion-label></ion-col>
<ion-col size='4' class="col">
    <ion-input class="fromInputField" type="number"  (click)="openDate('toDate')" placeholder="{{this.dateConverter(this.toDate)}}" readonly></ion-input>
  </ion-col>
  <ion-col size='2' class="col">
    <img src="../../assets/images/date.png" style="width: 30px;padding: 0px 2px;"  (click)="openDate('toDate')">
  </ion-col>
</ion-row>
</ion-grid>
</div>
<div class="container">
<div class="block-okCancelButton">
    <ion-button class="block-ok"  (click)="filter()">{{labels.filter}}</ion-button>
    <ion-button class="clearfilter"  (click)="clearFilter()">{{labels.clear}}</ion-button>
  </div>
</div>
</div>