<!-- <ion-card class="mainCard"> -->

    <!-- <ion-card class="uploadCard"> -->
      <ion-grid>
        <ion-row>
          <ion-col size="7.5">
            <ion-select  interface="popover" value="brown" ok-text="Okay" cancel-text="Dismiss" class="ionSelect" [(ngModel)]="userTask"
              (ionChange)="getTaskStatus($event)" [placeholder]="placeholder" >
              <ion-select-option class="options" *ngFor="let status of statusArr" [value]="status.value">{{status.name}}</ion-select-option>
              <!-- <ion-select-option class="options">Rain - Task Not complete</ion-select-option>
              <ion-select-option class="options">Power cut - Task Not complete</ion-select-option>
              <ion-select-option class="options">Machinery repair - Task Not Complete</ion-select-option> -->
            </ion-select>
          </ion-col>
          <ion-col size="1.5">
            <ion-icon name="camera" class="uploadIcon" (click)="cameraImage()"></ion-icon>
          </ion-col>
          <ion-col size="1.5">
            <ion-icon name="image" class="uploadIcon" (click)="attachedImage()"></ion-icon>
          </ion-col>
          <ion-col size="1.5">
            <ion-icon name="paper-plane" class="uploadIcon" (click)="submitTaskDetails()"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    <!-- </ion-c/ard> -->
  
    <div *ngIf="captureImage">
  
      <div *ngFor=" let cameraImage of captureImage;let i=index" class="uploadCard1">
  
        <img *ngIf=" cameraImage && cameraImage.url" src="../../../../assets/images/cross.svg" class="closeImage" (click)="closeImage('camera',i)">
        <img *ngIf=" cameraImage && cameraImage.url" [src]="cameraImage.url" style="padding-top: 4%;object-fit: cover;">
        <!-- <img src="../../../../assets/images/placeholder_user.png" style="padding-top: 4%;"> -->
      </div>
    </div>
    <div *ngIf="attachedImages">
      <div *ngFor=" let attachedImage of attachedImages;let i=index" class="uploadCard1">
        <img *ngIf=" attachedImage && attachedImage.url" src="../../../../assets/images/cross.svg" class="closeImage"
          (click)="closeImage('attachment',i)">
        <img *ngIf=" attachedImage && attachedImage.url" [src]="attachedImage.url" style="padding-top: 4%;object-fit: cover;">
      </div>
    </div>
  
  <!-- </ion-card> -->