<farmeasy-header [Data]="headerData"></farmeasy-header>
<ion-content padding>
<p> Comparing 
  <span *ngFor="let cat of harvest_categories"> {{cat.type}} </span>
</p>
<div>
  <ion-row>
    <ion-col size="6" class="prority">{{'Select Category'}}
    </ion-col>
    <ion-col size="6">
      <div style="border-radius: 6px;border: 2px solid #BBBBBB;">
          <ion-select  interface="popover" [(ngModel)]="type" placeholder="-- select --" style="padding: 4px;" (ionChange)="selectCategory()"> 
              <ion-select-option value="SW">Sales  - Wholesale</ion-select-option>
              <ion-select-option value="SR"> Sales - Retail</ion-select-option>
              <ion-select-option  value="D">Damage</ion-select-option>
              <ion-select-option  value="IC">Internal Consumption</ion-select-option>
              <ion-select-option Value="ALL">All</ion-select-option>
          </ion-select>
      </div>
    </ion-col>
  </ion-row>
</div>
<ion-card style="top: 6px;position: relative;" >
    <ion-card *ngIf="pieChart.dataTable.length>1" no-padding no-margin>
      <google-chart [data]="pieChart" (chartSelect)="onSelect($event)" ></google-chart>
    </ion-card>
</ion-card>
<ion-card style="top: 6px;position: relative;" *ngIf="pieChart.dataTable.length == 1" >
  <p style="text-align: center">No Data Found</p>
</ion-card>
<div *ngIf="showSubFlag">
  <ion-row>
    <ion-col size="6" class="prority">{{'Select Category'}}
    </ion-col>
    <ion-col size="6">
      <div style="border-radius: 6px;border: 2px solid #BBBBBB;">
          <ion-select  interface="popover" [(ngModel)]="category" placeholder="-- select --" style="padding: 4px;" (ionChange)="selectCategorySubCat()"> 
              <ion-select-option value="SW">Sales  - Wholesale</ion-select-option>
              <ion-select-option value="SR"> Sales - Retail</ion-select-option>
              <ion-select-option  value="D">Damage</ion-select-option>
              <ion-select-option  value="IC">Internal Consumption</ion-select-option>
              <ion-select-option Value="ALL">All</ion-select-option>
          </ion-select>
      </div>
    </ion-col>
  </ion-row>
</div>
<ion-card style="top: 6px;position: relative;" >
    <ion-card *ngIf="coloumnChart.dataTable.length>1" no-padding no-margin>
      <google-chart #chart [data]="coloumnChart"></google-chart>
    </ion-card>
</ion-card>
<ion-card style="top: 6px;position: relative;" *ngIf="coloumnChart.dataTable.length == 1" >
    <p style="text-align: center">No Data Found</p>
</ion-card>
</ion-content>
