
     <ion-card class="card">
       <!-- <ion-card class="css-suggestions" *ngIf="!hide_suggestions">
          <ion-list> 
            <p style="border-bottom: 1px solid #ececec;margin: 10px 2px;" *ngFor="let suggestion of filter_suggestions"  class="ion-no-margin ion-no-padding" (click)="pickSuggestion(suggestion)"> {{suggestion}} </p>
          </ion-list>
       </ion-card> -->
    <ion-item>
      <!-- <ion-textarea placeholder="Any additional Notes"  (ionChange)="getAdditionalData($event)" [(ngModel)]='additionalNotes'></ion-textarea> -->
      <ion-textarea rows="4" [(ngModel)]="additionalNotes" value={{additionalNotes}} autocomplete="on" autocorrect="on" (ionChange)="getAdditionalData($event)" ></ion-textarea>
    </ion-item>
  <div class="container">
    <img item-left src="assets/images/camera.svg" (click)="captureImage()" class="cemera" >
    <img item-left src="assets/images/video.svg" class="video" (click)="captureVedio()">
    <img item-left src="assets/images/attachment.svg" (click)="multipleImageAttachment()" class="attachment">
  </div>
    <!-- <ion-item style="--background:#484747">
       <ion-icon name="mic" slot="end" class="audio" (click)="recordAudio()"></ion-icon> 
    </ion-item> -->
  </ion-card>


