.video{
    width: 30px;
    height: 30px;
    margin: 4px;
    object-fit: cover;
    margin-right: 15px;
}
.attachment{
    width: 30px;
    height: 30px;
    margin: 4px;
    object-fit: cover;
}
.cemera{
    width: 25px;
    height: 25px;
    object-fit: cover;
    margin: 7px 15px 5px 21px;
}
.card{
    margin: 0px;
}
.audio{
    margin-left: 49%;
    color: #fff;
}
.container{
    background: #757373;
    display: flex;
    flex-direction: row;
    height: 36px;
}

.css-suggestions{
    max-height: 100px;
    overflow-y: scroll;
    box-shadow: none;
}

p:active{
    // color:rgba(140, 206, 62, 1);
    color:rgba(255, 152, 0, 1)
}