.CardContent {
    font-size: smaller;
    padding: 0px;
}
.CardContent1{
    font-size: 13.5;
    padding: 0px;
}

.mainCard {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    --color: black;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.statusLine {
    margin-left: 12px;
    margin-top: 8px;
    font-size: 12px;
}
.title{
    position: absolute;
    top: 0;
    font-size: xx-small;
    color: white;
    padding-top: 3px;
    width: 345px;
    height: 20px;
    background-color: rgba(28, 27, 27, 0.2);
}

.observation-image {
    height: 150px;
    width:345px;
    object-fit: cover;
}
.popover_class{
    top: 200px !important;
    left: 3px !important;
}
.observation-action {
    margin-top: 2px;
    background: #898E83;
    color: #fff;
    // font-family: Roboto;
}

.observation-list {
    font-size: 10px;
}

.observation-list-time {
    font-size: 10px;
    color: #AAA8A8;
}

.sc-ion-card-ios-h {
    margin: 8px 8px;
}
.cardHeader{
    --background: rgba(137, 142, 131, 1);
    color: #fff;
    text-align: center;
    padding: 4px;
    font-size: 14px;
    // font-family: 'Roboto',sans-serif;
}
.updateCard{
    margin: 2px 0px 0px 13px;
    border-radius: 0px;
    --background: rgba(255,255,255,0.5);
    width: 93%;
    border: 1px solid rgba(223, 220, 220, 0.8);
}
.center{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100%;
}
.action-button{
    font-size: 11px;
    text-transform: capitalize;
    height: 29px;
}
.observation-user{
    --background: rgba(255,255,255,0.8);
    border-radius: 0px;
}
.avtarItem{
    padding-left: 0px;
    --padding-start:10px;
    --background: rgba(255,255,255,0.8);
}
.avtarItem .item-native{
    --padding-start: 6px;
    --padding-end: 6px;
}
.item-native{
    --padding-start: 6px;
    --padding-end: 6px;
}
.observation-view-buttons{
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    background:rgba(255,255,255,0.8);
}
.cssimg{
    border-radius: 4px; 
    width: 48px;
    height: 48px;
}