<farmeasy-header [Data]="headerData"></farmeasy-header>
<!-- <ion-content> -->
<!-- <farmeasy-observation-view-mode></farmeasy-observation-view-mode> -->
<ion-content class="back" style="background-image: url('assets/images/background.jpeg');
background-repeat: no-repeat;
background-size: 100% 100%; --background: rgba(255,255,255,0.85);">
  <div class="statusLine">
    <img style="width: 12px;" src="./assets/images/green.svg" />
    {{ this.observation.block }}
  </div>
  <ion-card class="observation-user" *ngIf="observation">
    <ion-grid no-padding>
      <ion-row>
        <ion-col size="2">
          <ion-thumbnail>
            <img  class="cssimg"  [src]="observation.user_profile" />
          </ion-thumbnail>
        </ion-col>
        <ion-col no-padding>
          <ion-row style="color:#AAA8A8;font-size: 12px;padding: 2px 0px;">{{
            this.observation.username
            }}</ion-row>
          <ion-row style="color:#259B24;font-size: 12px;padding: 2px 0px;">{{
            this.observation.user_role
            }}</ion-row>
          <ion-row>
            <ion-col size="9" style="color:#000;font-size: 12px;padding:2px 0px">Reported an observation</ion-col>
            <ion-col>
              <span style="color:#469DBF;font-size:12px;float: right;">{{ this.observation.days }} </span>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <div style="background: rgba(255,255,255,0.8);border-radius: 2px;    margin: 2px 10px;">
      <p style="font-size: 12px;margin: 5px 8px;padding: 4px 0px 4p">{{ this.observation.description }}</p>
      </div>
      <ion-slides autoplay="1000" loop="true" speed="500" pager="true">
          <ion-slide *ngFor="let image of this.observation.address">
              <div class="title">
                <ion-icon name="stopwatch"></ion-icon>{{ this.observation.save_time }}
              </div>
              <img *ngIf="image.type == 'camera' " class="observation-image" [src]="image.url" />
              <video *ngIf="image.type == 'video' " width="345" height="150" controls>
                  <source [src]="image.url" />
              </video>
          </ion-slide>
     </ion-slides>
     <ion-card class="updateCard" *ngIf="actions.length > 0">
        <ion-card-header class="cardHeader">{{this.labels.action}}</ion-card-header>
        <ion-card-content class="cardContent1" style="padding:0px;">
          <ion-item class="avtarItem" *ngFor="let comment of actions" style="--padding-start: 7px;--padding-end: 7px; ">
            <ion-thumbnail style="margin-bottom:0px;" >
              <img class="cssimg" [src]="comment.user_profile" >
            </ion-thumbnail>
            <ion-label  style="margin: 5px 0px 10px 0px;">
              <p class="time" style="color:#AAA8A8;font-size: 12px;">{{comment.date}}</p>
              <p class="status"  style="color:#000;display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
              font-size: 12px;
              white-space: normal;
              line-height: 1.2;">{{comment.action}}</p>
            </ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>


  <ion-card class="mainCard">
    <ion-card-content class="CardContent">
      <ion-grid>
         <ion-row>
         <!-- <ion-col style="padding:0px">
            <div style="background: #fff">
            <p style="font-size: 12px;">&emsp;{{ this.observation.description }}</p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row> -->
          <!-- <ion-card no-padding no-margin style="box-shadow: none;">
            <ion-card-header no-padding no-margin>
            </ion-card-header>
            <ion-card-content no-padding no-margin>
              <ion-slides autoplay="1000" loop="true" speed="500" pager="true">
                    <ion-slide *ngFor="let image of this.observation.address">
                        <div class="title">
                          <ion-icon name="stopwatch"></ion-icon>{{ this.observation.save_time }}
                        </div>
                        <img *ngIf="image.type == 'camera' " class="observation-image" [src]="image.url" />
                        <video *ngIf="image.type == 'video' " width="345" height="150" controls>
                            <source [src]="image.url" />
                        </video>
                    </ion-slide>
               </ion-slides>
            </ion-card-content>
          </ion-card> -->
        </ion-row>
      
        <!-- <ion-card class="updateCard" *ngIf="actions.length > 0">
          <ion-card-header class="cardHeader">{{this.labels.action}}</ion-card-header>
          <ion-card-content class="cardContent1" style="padding:0px;">
            <ion-item class="avtarItem" *ngFor="let comment of actions" style="--padding-start: 7px;--padding-end: 7px;">
              <ion-thumbnail  style="margin-left: 6px;" >
                <img style="border-radius: 4px;" [src]="comment.user_profile" class="img">
              </ion-thumbnail>
              <ion-label  style="margin: 10px 0px 10px 10px;">
                <p class="time" style="color:#AAA8A8;font-size: 14px">{{comment.date}}</p>
                <p class="status" style="white-space: normal;color: black;font-size: 14px;">{{comment.action}}</p>
              </ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card> -->


        <ion-row>
          <ion-col>
           
          </ion-col>
        </ion-row>
        <!-- <ion-row>

           <ion-col class="center">
            
            </ion-col>
          <ion-col class="center" *ngIf="observation.status == 'Actioned'">
           
          </ion-col>
          <ion-col class="center" *ngIf="observation.status == 'Not Yet Acknowledged'">
           
          </ion-col>
          <ion-col class="center" >
          </ion-col>
        </ion-row> -->
      </ion-grid>
             
    </ion-card-content>
  </ion-card>
 
</ion-content>
<ion-footer>
    <div class="observation-view-buttons">
        <ion-button  class="action-button" size="small" (click)="goToLocation()" color="danger">
                <ion-icon slot="start" name="pin"></ion-icon>
                  {{'Navigate'}}
        </ion-button>

         <ion-button *ngIf="observation.status == 'Actioned'" class="action-button" size="small" color="success"
              style="height: 29px;">{{this.observation.status_label}}
         </ion-button>

          <ion-button *ngIf=" ((observation.status != 'Acknowledged') || acknowledgeflag ) &&  observation.status != 'Actioned'"
              class="action-button" size="small" color="secondary" (click)="acknowledge()" style="height: 29px;">{{this.labels.acknowledge}}
            </ion-button>

            <ion-button (click)="converTask()" *ngIf="(showadmin || showsupervisor) && !observation.task_created" class="action-button" size="small" color="success" style="height: 29px;">{{this.labels.convert}}</ion-button>

        </div>
</ion-footer>
<!-- </ion-content> -->