<farmeasy-header [Data]="headerData"></farmeasy-header>
<ion-content style="background-image: url('assets/images/tm_background.jpg');
background-repeat: no-repeat;
background-size: 100% 100%; --background: rgba(255,255,255,0.7);" >
<ion-card class="catergory-card" *ngIf="stock_data.length>0">
  <ion-card-content no-padding>
    <ion-grid>
        <ion-row>
          <ion-col *ngFor="let stock of stock_data;let idx=index">
            <div [style.backgroundImage]="'url('+ stock.image +')'" class="category" (click)="selectStock(stock)">
               <div >
                  </div>
                  <div class="catergory-text">
                      {{stock.name}}
                  </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-card-content>
</ion-card> 
<ion-card *ngIf="stock_data.length == 0" style="box-shadow: none">
  <p text-center>{{this.nodatafound}}</p>
</ion-card>
</ion-content>