.catergory-card{
    margin:10px 12px 0px 12px;
    box-shadow: none;
    // --background:#fff;
}
.category{
    width: 77px;
    height: 75px;
    padding: 0px;
    border-radius: 7px;
    background-size: cover;
}

.catergory-text{
    width: inherit;
    bottom: 5px;
    position: absolute;
    line-height: 20px;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
   // background: #333B2A;
   background: linear-gradient(to top,#000, transparent);
    color: rgba(255, 255, 255, 1);
    font-size: 11.5px;
}
ion-col{
    display: flex !important;
    justify-content: center !important;
}