<farmeasy-header [Data]='headerData'></farmeasy-header>

<ion-content style="background-image: url('assets/images/tm_background.jpg');
background-repeat: no-repeat;
background-size: 100% 100%; --background: rgba(255,255,255,0.9);">
  <div style="padding:16px 16px 0px 16px;">
    <farmeasy-create-task-labour type="adhoc" [laboursData]="laboursData" [blocks]="blocks" [editTask]="editTask" (selectedBlock)="getBlock($event)" (selectedLabour)="getLabour($event)"
      (selectedPriority)="getPriority($event)" (selectedTask)="selectedTask($event)"></farmeasy-create-task-labour>
  </div>
  <p *ngIf="isLabour" class="errorMsg">{{this.labels.labourerrmsg}}</p>
  <!-- <div style="padding: 9px 1px 1px 8px;">
    <app-frequency-selection [Data]="frequency" [editTask]="editTask" [selectedCategory]="selectedCategory" (isDateClicked)="openDaysOfMonthPopOver($event)"
      (selectedFrequency)="getFrequency($event)" (Day)="getDay($event)" [selectedDates]="selectedDates1"
      [selectedStartDate]='selectedStartDate' [selectedEndDate]='selectedEndDate'>
    </app-frequency-selection>
  </div> -->
  <ion-label class="label">{{description_label}}</ion-label>
  <div style="padding: 9px 7px 16px 15px;"> 
    <farm-gallery-component [editDescription]="editTask" (FarmeasyAdditionalNoates)='getAdditionalNotes($event)'  (video)="getVideo($event)"
      (audio)="getRecordedAudio($event)" (cameraImage)="getCameraImage($event)" (attchments)="getAttachments($event)"></farm-gallery-component>
  </div>
  <!-- <audio controls *ngIf="taskByAdhoc && taskByAdhoc.media && taskByAdhoc.media.audio" style="margin-top: 8%;margin-left: 2%;">
    <source [src]="taskByAdhoc.media.audio.url" type="audio/mpeg">
  </audio>
  <video width="96%" height="200" controls style="margin-top: 8%;margin-left: 2%;background: black;" *ngIf="taskByAdhoc && taskByAdhoc.media && taskByAdhoc.media.video ">
    <source [src]="taskByAdhoc.media.video.url" type="video/mp4" />
  </video>
  <img [src]="taskByAdhoc.media.camera.url" *ngIf="taskByAdhoc && taskByAdhoc.media && taskByAdhoc.media.camera" style="margin-top: 8%;margin-left: 2%;">
  <div *ngIf="taskByAdhoc && taskByAdhoc.media && taskByAdhoc.media.attachments" style="margin-top: 8%;margin-left: 2%;">
    <img *ngFor="let image of taskByAdhoc.media.attachments" [src]="image.url" >
  </div> -->

  <div *ngIf="taskByAdhoc && taskByAdhoc.media && taskByAdhoc.media.camera" style="margin-top: 8%;margin-left: 2%;">
      <div *ngFor="let camera of taskByAdhoc.media.camera;let i=index">
        <img *ngIf="camera && camera.url" src="../../../assets/images/cross.svg" class="closeImage" (click)="closeImage('camera',i)">
        <img *ngIf="camera && camera.url" [src]="camera.url" class="image">
      </div>
  
    </div>
  
    <div *ngIf="taskByAdhoc && taskByAdhoc.media && taskByAdhoc.media.video">
      <div *ngFor="let video of taskByAdhoc.media.video;let i=index" style="margin-top: 6%;margin-left: 2%;">
        <img *ngIf="video && video.url" src="../../../assets/images/cross.svg" class="closeImage" (click)="closeImage('video',i)">
  
        <video *ngIf="video && video.url" width="100%" height="200" controls style="background: black;margin-top: 5%;">
          <source [src]="video.url" type="video/mp4" />
        </video>
      </div>
    </div>
    <div *ngIf="taskByAdhoc && taskByAdhoc.media && taskByAdhoc.media.attachments">
      <div *ngFor="let image of taskByAdhoc.media.attachments;let i=index;" style="margin-top: 8%;margin-left: 2%;">
        <img *ngIf="image && image.url" src="../../../assets/images/cross.svg" class="closeImage" (click)="closeImage('attachments',i)">
        <img *ngIf="image && image.url" [src]="image.url" class="image">
      </div>
    </div>
    <div *ngIf="taskByAdhoc && taskByAdhoc.media && taskByAdhoc.media.audio">
      <div *ngFor="let audio of taskByAdhoc.media.audio;let i=index" style="margin-top: 6%;margin-left: 2%;">
        <img *ngIf="audio && audio.url" src="../../../assets/images/cross.svg" class="closeImage" (click)="closeImage('audio',i)">
        <audio *ngIf="audio && audio.url" controls style="width: 100%;margin-top: 4%;">
          <source [src]="audio.url" type="audio/mpeg">
        </audio>
      </div>
    </div>
    
</ion-content>
<ion-footer style="text-align: center;background: #fff;">
  <ion-button class="createTask"  (click)="createTask('leftButtonAction')">{{this.create_label}}</ion-button>
</ion-footer>
<!-- <farmeasy-footer [Data]="footerData" [isEnableLeft]='isCreatedTask' [isEnableRight]='isdraft' (leftButtonAction)="createTask($event)" (rightButtonAction)="createTask($event)"></farmeasy-footer> -->

