.block-okCancelButton{
    text-align: center;
    margin-top: 8%;
    margin-bottom: 4%;

}
.block-ok{
    --padding-top: 6px;
    --padding-end: 10px;
    --padding-bottom: 5px;
    --padding-start: 9px;
    --border-radius:10px;
    font-weight: bold;
    --background:rgba(229, 28, 28, 1);
    height: 19px;
    width: 54px;
    font-size: 12px;
    color: #fff;
}
.block-cancel{
    --padding-top: 6px;
    --padding-end: 10px;
    --padding-bottom: 5px;
    --padding-start: 9px;
    --border-radius: 12px;
    font-weight: bold;
    --background:rgba(153, 155, 157, 1);
    height: 19px;
    width: 70px;
    font-size: 12px;
    color: #fff;
}
.description{
    font-size: 13.5px;
    margin-left: 15px;
    margin-top: 30px;
    line-height: 24px;
}
.header{
    font-size: 17px;
    margin-left: 15px;
}