<div>
  <p class="header">
  {{labels.title}}
  </p>
  <p class="description" >
  {{labels.message}}
  </p>
  <div class="block-okCancelButton">
    <ion-button class="block-ok"  (click)="blockPopOverOk()">{{labels.ok}}</ion-button>
    <ion-button class="block-cancel" (click)="blockPopOverCancel()">{{labels.cancel}}</ion-button>
  </div>
</div>