.sourceBlock-grid{
    margin: 12px 0px 0px 0px;
    padding: 0px;
    padding: var(--ion-grid-padding-xs,var(--ion-grid-padding,0px));
}

.sourceBlock-button{
    width: 28px;
    font-size: 10px;
    height: 28px;
    font-weight: bold;
    --background: transparent;
    border-radius:3px;
    --background-activated:transparent;
    --box-shadow:none;
}
.sourceBlock-col{
    //max-width: 14%;
    padding: 0px;
}
.sourceBlock-item{
    --max-height: 10px;
    --height: 10px;
    --min-height: 25px;
    --padding-start: 10px;
    --padding-end: 10px;
    --inner-border-width: 0px 0px 1px 0px;
}
.sourceBlock-item{
    --background:transparent;
}
.sourceBlock-heading{
    --padding-start: 8px;
}
.sourceBlock-item1{
    --background:transparent;
    --inner-border-width: 0px 0px 0px 0px;
    --padding-start: 16px;
    --inner-padding-end:0px;
}
.sourceBlock-item1 .item{
    padding-left:0px;
    --padding-start: 0px;
}
.sourceBlock-item2{
    --background:transparent;
    --inner-border-width: 0px 0px 0px 0px;
    --padding-start: 12px;
    --inner-padding-end:0px;
}

.sourceBlock-text{
    width: 30px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 4%;
    font-size: 14px;
    height: 30px;
    padding-top: 3%;
    border-radius: 50px;
    padding: 8px 0;
    //background:#fff;
    
}
// .sourceBlock-text1{
//         width: 21px;
//     height: 44px;
//     margin-left: 13% ! important;
//     text-align: center;
//     margin-top: 0px;
//     margin-bottom: 0px;
//     font-size: 14px;
//     padding-top: 3%;
//     border-radius: 50px;
//     padding: 8px 0;
// }
.item-native {
    --background:transparent
}
.sourceBlock-labours{
    width: 19px;
    height: 33px;
    margin-left: 16px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
    padding-top: 3%;
    border-radius: 50px;
    padding: 8px 0;
}
.sourceBlock-text1{
    text-align: center;
    margin: 0px;
    font-size: 12px;
    color: #fff;
    padding-top: 16%;
}
.sourcesourceBlock-okCancelRow{
    margin-top: 4%;
}
.sourceBlock-name{
    width: 35px;
    height: 26px;
}
.sourceBlock-descriptionText{
    color: rgba(5, 125, 191, 1);
    font-size: 12px;
    padding-left: 5%;
    width: 100%;
}
.sourceBlock-ok{
    --padding-top: 6px;
    --padding-end: 10px;
    --padding-bottom: 5px;
    --padding-start: 9px;
    --border-radius:10px;
    font-weight: bold;
    --background:rgba(139, 195, 74, 1);
    height: 19px;
    width: 54px;
    font-size: 12px;
}
.sourceBlock-cancel{
    --padding-top: 6px;
    --padding-end: 10px;
    --padding-bottom: 5px;
    --padding-start: 9px;
    --border-radius: 12px;
    font-weight: bold;
    --background:rgba(139, 195, 74, 1);
    height: 19px;
    width: 70px;
    font-size: 12px;
}
.sourceBlock-selectText{
    color: #fff;
    font-size: 9px;
    font-weight: bold;
    // position: absolute;
    // top: 30px;
    padding-top: 5%;
    margin: 0px;
    text-align: center;
    width: 35px;
    background: rgba(0,0,0,0.3);
    height: 13px;
}
.sourceBlock-checkImage{
    width:35%;
    margin-top: -2px !important;
    // position: absolute;
    // top: 1px;
    // left: 30%;
}
.sourceBlock-okCancelButton{
    text-align: center;
    margin: 4%;
}
.sourceBlock-cleaning{
    background: #fff;  
}
.sourceBlock-cleaningName{
    width: 72px;
    height: 75px;
}
.sourceBlock-cleaningImage{
    max-width: 76%;
    margin-left: 11%;
}
.sourceBlock-cleaningSelectText{
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    top: 58px;
    padding-top: 2.5%;
    margin: 0px;
    text-align: center;
    width: 72px;
    background: rgba(0, 0, 0, 0.3);
    height: 17px;
}
ion-segment-button{
    font-size: 14px;
    color: #4A4A4A;
    border: 0px;
    border-radius: 0px;
    background-color: #e6e6e6;
 }
 .segment-button-checked{
    // background: #ff9800;
    color: #1EC400;
    font-weight: 1000;
     border-bottom: 4px solid #ff9800;
 }
 .segment{
    --background:#096763;
    --border-color:#096763;
    --background-checked:red;
    --color-checked: transparent;
    font-size: 13px;
 //--background-checked:transparent;
 
 }
 .laboursList{
    width: 97%;     
    margin: 7px 0px 0px 0px;
    padding-top:0px;
    --ion-background-color:transparent;
    // border-bottom: 1px solid rgba(187,187,187,1);
    border-radius:4px 4px 0 0;
    height:292px;
    overflow: auto;
    padding: 10px 0;
    margin:0;
    padding: 10px 0;
 }
 .laboursItem{
    padding: 0px 10px 5px 16px;
    text-transform: capitalize;
    height: 49px;
    --border-color: transparent;
    margin-bottom: 0px;    
    padding-left: 0px;
    background: transparent;
    padding-bottom: 53px;
 }
 .laboursThumbnail{
    height: 43px;
    width: 43px;
    margin-bottom: 2px;
 }
 .labourName{
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 14px;
 }
 .hrTag{
    height: 1.3px;
    padding-top: 0px;
    background-color: #979797;
    opacity: 0.5;
   // margin: -7px 0px 4px 58px;
   margin: -3px 0px -1px 58px;
 }
