<div >
  <!-- <ion-item class="sourceBlock-item" no-lines style="background: transparent;">
    <p item-left class="sourceBlock-heading"> {{this.labels.select}} {{selectedCategories.source_name_label}}</p>
    <img item-left class="sourceBlock-text" src="./assets/images/drop.svg">

  </ion-item> -->
  <ion-segment [(ngModel)]="sourceSegment" class="segment" scrollable>
    <ion-segment-button value="source" class="segment_button" checked layout="icon-start" (ionSelect)="selectSegment('source')">
      <ion-label class="sourceBlock-heading">{{selectedCategories.source_name_label}}</ion-label>
      <!-- <img class="sourceBlock-text" src="./assets/images/drop.svg"> -->
    </ion-segment-button>
    <ion-segment-button value="labours" class="segment_button" checked layout="icon-start" (ionSelect)="selectSegment('labours')">
      <ion-label class="sourceBlock-heading">{{labels.labour}}</ion-label>
      <img class="sourceBlock-labours" src="./assets/images/account-circle.png">
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="sourceSegment">
    <ion-list *ngSwitchCase="'source'" style="--ion-background-color: transparent;margin-bottom:0px;">
      <ion-grid class="sourceBlock-grid" *ngIf="selectedCategories.id !='2' ">
        <ion-row>
          <ion-col size="6" class="sourceBlock-col" *ngFor="let category of selectedCategories.data;let idx=index">
            <ion-item class="sourceBlock-item1" (click)="getSource(idx)">
              <div item-left style="background:rgba(79, 193, 255, 0.9);">
                <div class="sourceBlock-name">
                  <p class="sourceBlock-text1">{{category.source_code}}</p>
                </div>
                <div class="sourceBlock-selectText">
                  <p style="margin:0px;" *ngIf="!checkImage[idx]">{{this.labels.select}}</p>
                  <img *ngIf="checkImage[idx]" src="./assets/images/white-check.svg" class="sourceBlock-checkImage">
                </div>
              </div>
              <p item-right class="sourceBlock-descriptionText">{{category.name_label}} </p>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid class="sourceBlock-grid" *ngIf="selectedCategories.id =='2'">
        <ion-row>
          <ion-col size="6" class="sourceBlock-col" *ngFor="let categories of selectedCategories.data;let idx=index">
            <ion-item class="sourceBlock-item2" (click)="getSource(idx)" style="margin-top:6%;">
    
              <div item-left class="sourceBlock-cleaning">
                <div class="sourceBlock-cleaningName">
                  <img [src]="categories.image" class="sourceBlock-cleaningImage" style="object-fit: cover;">
                </div>
                <div class="sourceBlock-cleaningSelectText">
                  <p style="margin:0px;" *ngIf="!checkImage[idx]">{{this.labels.select}}</p>
                  <img *ngIf="checkImage[idx]" style="width: 22%;" src="./assets/images/white-check.svg" class="sourceBlock-checkImage">
                </div>
              </div>
              <p item-right class="sourceBlock-descriptionText">{{categories.name_label}}</p>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="sourceBlock-okCancelButton">
        <ion-button class="sourceBlock-ok" [disabled]="isSelectedSource" (click)="laboursPopOverOk()">{{this.labels.ok}}</ion-button>
        <ion-button class="sourceBlock-cancel" (click)="sourcePopOverCancel()">{{this.labels.cancel}}</ion-button>
      </div>
    </ion-list>
    <div *ngSwitchCase="'labours'">
      <ion-list  class="laboursList">
        <div *ngFor="let labourData of usersData;let i=index">
          <ion-item class="laboursItem" style="   "
            (click)="selectName(labourData,i)" no-lines>
            <ion-thumbnail slot="start"  class="laboursThumbnail">
              <img class="cssthumb" style="height: 43px;width: 43px;border-radius: 5px;" *ngIf="labourData.profile_url "
                [src]="labourData.profile_url">
              <img class="cssthumb" style="height: 44px;width: 45px;border-radius: 5px;" *ngIf=" !labourData.profile_url"
                src="assets/images/placeholder_user.png">
            </ion-thumbnail>
            <p slot="start"  class="labourName">{{labourData.name_label}}</p>
            <img *ngIf="selectedLabour[i]==true" slot="end" src="assets/images/done_green.svg">

          </ion-item>
          <hr  class="hrTag">
        </div>
        <p item-left style="text-align: center;margin-top: 6px;" *ngIf="usersData && usersData.length < 1"> There is no
          labour</p>

      </ion-list>
      <div class="sourceBlock-okCancelButton" *ngIf="usersData && usersData.length > 0">
        <ion-button class="sourceBlock-ok" [disabled]="isSelectedLabour" (click)="laboursPopOverOk()">{{this.labels.ok}}</ion-button>
        <ion-button class="sourceBlock-cancel" (click)="sourcePopOverCancel()">{{this.labels.cancel}}</ion-button>
      </div>
    </div>
  </div>
</div>

<!-- <div *ngIf="selectedCategories.id =='2'">
  <ion-segment [(ngModel)]="sourceSegment" class="segment" scrollable>
    <ion-segment-button value="source" class="segment_button" checked layout="icon-start" (ionSelect)="selectSegment('source')">
      <ion-label class="sourceBlock-heading"> {{selectedCategories.source_name_label}}</ion-label>
      <img class="sourceBlock-text" src="./assets/images/drop.svg">
    </ion-segment-button>
    <ion-segment-button value="labours" class="segment_button" checked layout="icon-start" (ionSelect)="selectSegment('labours')">
      <ion-label class="sourceBlock-heading">Labours</ion-label>
      <img class="sourceBlock-labours" src="./assets/images/account-circle.png">
    </ion-segment-button>
  </ion-segment>
  <ion-grid class="sourceBlock-grid">
    <ion-row>
      <ion-col size="6" class="sourceBlock-col" *ngFor="let categories of selectedCategories.data;let idx=index">
        <ion-item class="sourceBlock-item2" (click)="getSource(idx)" style="margin-top:6%;">

          <div item-left class="sourceBlock-cleaning">
            <div class="sourceBlock-cleaningName">
              <img [src]="categories.image" class="sourceBlock-cleaningImage" style="object-fit: cover;">
            </div>
            <div class="sourceBlock-cleaningSelectText">
              <p style="margin:0px;" *ngIf="!checkImage[idx]">{{this.labels.select}}</p>
              <img *ngIf="checkImage[idx]" style="width: 22%;" src="./assets/images/white-check.svg" class="sourceBlock-checkImage">
            </div>
          </div>
          <p item-right class="sourceBlock-descriptionText">{{categories.name_label}}</p>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="sourceBlock-okCancelButton">
    <ion-button class="sourceBlock-ok" [disabled]="isSelectedSource" (click)="sourcePopOverOk()">{{this.labels.ok}}</ion-button>
    <ion-button class="sourceBlock-cancel" (click)="sourcePopOverCancel()">{{this.labels.cancel}}</ion-button>
  </div>
</div> -->