
 
  <div *ngIf="!previousflag"  class="calendar-header">
    <ion-row class="calendar-month">
      <ion-col size="2" *ngIf="!(currentMonth !== month || year !== currentYear)"></ion-col>
      <ion-col size="2" *ngIf="(currentMonth !== month || year !== currentYear)"  (click)="goToLastMonth()"><ion-icon name="arrow-back"></ion-icon></ion-col>
      <ion-col size="8"><p style="margin: 0px 0px 0px 60px;">{{currentMonth}} {{currentYear}} </p></ion-col>
      <ion-col size="2"  (click)="goToNextMonth()"><ion-icon style="position: absolute;right: 0;" name="arrow-forward"></ion-icon></ion-col>
    </ion-row>
  </div>
 <div *ngIf="previousflag" class="calendar-header">
    <ion-row class="calendar-month">
      <ion-col size="2" (click)="goToLastMonth()" ><ion-icon name="arrow-back"></ion-icon></ion-col>
      <ion-col size="8"><p style="margin: 0px 0px 0px 60px;">{{currentMonth}} {{currentYear}} </p></ion-col>
      <ion-col size="2" (click)="goToNextMonth()"><ion-icon style="position: absolute;right: 0;" name="arrow-forward"></ion-icon></ion-col>
    </ion-row>
  </div>
  <div class="calendar-body">
    <ion-grid>
      <ion-row class="calendar-weekday">
        <ion-col>Su</ion-col>
        <ion-col>Mo</ion-col>
        <ion-col>Tu</ion-col>
        <ion-col>We</ion-col>
        <ion-col>Th</ion-col>
        <ion-col>Fr</ion-col>
        <ion-col>Sa</ion-col>
      </ion-row>
      <ion-row class="calendar-date">
        <ion-col col-1 *ngFor="let lastDay of daysInLastMonth" class="last-month" >{{lastDay}}</ion-col>
        <ion-col col-1 *ngFor="let day of daysInThisMonth ;let idx=index;" (click)="selectDate(day,idx,currentMonth,currentYear)" [ngClass]="{'currentDate':showCurrentDateBackground[idx]==true,'last-month':(blockpastdates[idx]==true && month === currentMonth)}"> {{day}}
        
        </ion-col>
        <ion-col col-1 *ngFor="let nextDay of daysInNextMonth" class="next-month" >{{nextDay}}</ion-col>
      </ion-row>
    </ion-grid>
    <div  class="block-okCancelButton">
      <ion-button class="block-ok" [disabled]="showOk" (click)="popOverDateOk()">OK</ion-button>
      <ion-button class="block-cancel" (click)="popOverDateCancel()">CANCEL</ion-button>
    </div>
  </div>
 
