[col-1] {
-webkit-box-flex: 0;
-webkit-flex: 0 0 8.33333%;
-ms-flex: 0 0 8.33333%;
flex: 0 0 14.285714285714286%;
width: 14.285714285714286%;
max-width: 14.285714285714286%;
}
.col {
text-align: center;
padding: 5px;
}
.last-month, .next-month {
color: #999999;
font-size: 90%;
}
.currentDate, .otherDate {
padding: 5px;
}
// .currentDate {
// font-weight: bold;
// background-color: red;
// color: white;
// border-radius: 30px;
// }
.calendar-header {
background-color: #1a732d;
color: #FFFFFF;
}
.event-bullet {
margin: 2px auto;
height: 5px;
width: 5px;
background-color: green;
border-radius: 30px;
}
.selected-date {
width: 20px;
height: 2px;
background-color: blue;
}
.unselected-date {
border: none;
}
.calendar-body {
.grid {
padding: 0;
}
.col:last-child {
border-right: none;
}
.calendar-weekday, .calendar-date {
text-align: center;
margin: 0;
}
.calendar-weekday {
font-weight: bold;
border-bottom: solid 1px #1a732d;
background-color: #26ab56;
}
.calendar-date {
border-top: solid 1px #1a732d;
border-bottom: solid 1px #1a732d;
}
.block-okCancelButton{
    text-align: center;
    margin: 10px;
}
    .block-ok{
        --padding-top: 6px;
        --padding-end: 10px;
        --padding-bottom: 5px;
        --padding-start: 9px;
        --border-radius:10px;
        font-weight: bold;
        --background:rgba(139, 195, 74, 1);
        height: 19px;
        width: 54px;
        font-size: 12px;
    }
    .block-cancel{
        --padding-top: 6px;
        --padding-end: 10px;
        --padding-bottom: 5px;
        --padding-start: 9px;
        --border-radius: 12px;
        font-weight: bold;
        --background:rgba(139, 195, 74, 1);
        height: 19px;
        width: 70px;
        font-size: 12px;
    }
    .currentDate {
        font-weight: bold;
        background-color:#f7f900;
        color: white;
        border-radius: 30px;
      }
}