<farmeasy-header [Data]='headerData' (filter)="filterTasks($event)" (delete)="deleteTask($event)" (update)="updateTask($event)"></farmeasy-header>

<ion-content #content  class="ion-padding" style="background-image: url('assets/images/tm_background.jpg');
background-repeat: no-repeat;
background-size: 100% 100%; --background: rgba(252, 244, 242,0.8); padding: 8px;">
  <ion-item class="searchBarItem" no-lines>
    <ion-icon name="search" class="searchIcon" item-left></ion-icon>
    <ion-input item-left type="text" (ionChange)="getItems($event)" (ionCancel)="onCancel($event)" (ionClear)="cancelSearch()"
    [placeholder]='searchplaceholder'></ion-input>
  </ion-item>
<!-- <div *ngIf="this.sg['userdata'].role!='employee' ">
  <app-from-and-to-date (isDateClicked)="openDate($event)" (search_data)="searchData($event)" [clearFiltersData]="clearFiltersData" [color]="color" [fromDate]='fromDate'[toDate]="toDate"></app-from-and-to-date>
  <farmeasy-task-planner [blocks]="blocks" [users]="users" [categories]="categories" (selectAllTasks)="selectedAll($event)" (selectedBlock)="block($event)" (selectedCategory)="category($event)" 
  (selectedUser)="user($event)" (selectedStatus)="status($event)" (cleanFilters)="clearFilters($event)"></farmeasy-task-planner>
</div> -->
  <!-- <farmeasy-task-list [tasksData]="tasksData" [refresh_data]="refreshData" [selectAllTasksData]="selectAllTasksData" (status)="updateStatus($event)" (deletedTaskList)="delteTask($event)" ></farmeasy-task-list> -->
<div>
    <ion-card class="mainCard" *ngFor="let taskData of displayTaskData;let i=index">
        <div>
            <ion-card-header class="Heading">
                <ion-row style="height: 24px;">
                    <ion-col size='1'>
                        <img align='left' *ngIf="taskData.color == 'green'" class="headerImage" src="./assets/images/green.svg">
                        <img align='left' *ngIf="taskData.color == 'red'" class="headerImage" src="./assets/images/red.svg">
                        <img align='left' *ngIf="taskData.color=='orange'" class="headerImage" src="../../assets/images/orange.svg">
                    </ion-col>
                    <ion-col size='10' no-padding class="overFlowCol" >

                        <!-- <span class="spanClass" *ngIf="taskData && taskData.category && taskData.category.id == '1' ">{{this.labels.water}}</span>
                        <span class="spanClass" *ngIf="taskData && taskData.category && taskData.category.id == '2'">
                            {{this.labels.clean}} </span> -->
                        <span style= "text-align:left ;margin-left:30px" class="spanClass"  *ngIf="taskData">{{taskData.priority}}</span>
                        <!-- <span class="spanClass" *ngIf="taskData ">
                            <span class="spanClass" *ngFor="let block of taskData.blocks let idx1=index">
                                {{block.name}} -
                                {{this.labels.block}}<span *ngIf="idx1 != (taskData.blocks.length-1) || (block.plots && block.plots.length>0) ">,</span></span>
                        </span> -->

                        <!-- <div *ngFor="let block of taskData.blocks" style="display: inline;">
                            <span class="spanClass" *ngIf="block.plots && block.plots.length>0">
                                <span class="spanClass" style="display: inline;" *ngFor="let plot of block.plots let idx=index">
                                    {{plot.name}}
                                    <span class="spanClass" *ngIf="idx != (block.plots.length-1)">, </span></span>{{this.labels.plots}}
                            </span>
                        </div> -->
                        <span style= "text-align:right; margin-left:50px"  *ngIf="taskData">Assigned By : {{ taskData.created.name}}</span>

                    </ion-col>
                    <!-- <ion-col size='7' style= "background-color: red; height: 10px;">

                    </ion-col> -->
                    <ion-col size='1'>
                        
                        <ion-checkbox class="checkbox" [(ngModel)]="check[i]" (ionChange)="checked(check[i],taskData,i)"></ion-checkbox>
                    </ion-col>  
                </ion-row>
            </ion-card-header>
            <ion-card-content class="CardContent">
                <ion-grid style="padding: 5px 0px 5px 4px;">
                    <ion-row>
                        <ion-col size="9" class="leftCol">
                            <!-- <ion-row 
                                *ngIf="taskData && taskData.description" (click)="getTask(taskData)" class="rowDescription"> -->
                                <!-- <ion-col size='4'>
                                    <ion-avatar slot="start">
                                        <img *ngIf="taskData.assignee && taskData.assignee.profile_url" [src]="taskData.assignee.profile_url" style="object-fit: cover;">
                                        <img *ngIf="!taskData.assignee && !taskData.assignee.profile_url" src="./assets/images/placeholder_user" style="object-fit: cover;"> 
                                    </ion-avatar>
                                </ion-col>
                                <ion-col size='8'>
                                    <p style="display: -webkit-box;-webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                                overflow: hidden;">{{taskData.description}}</p>
                                </ion-col> -->
                                <ion-item lines="none" (click)="getTask(taskData)">
                                <ion-avatar slot="start"  *ngIf="taskData && taskData.category && taskData.category.image">
                                    <img  [src]="taskData.category.image">
                                </ion-avatar>
                                <ion-avatar slot="start" *ngIf="!(taskData && taskData.category && taskData.category.image)">
                                    <img src="assets/images/placeholder_user.png">
                                </ion-avatar>
                                    <ion-label *ngIf="taskData && taskData.description"  class="rowDescription" class="ion-no-margin" style="display: -webkit-box;-webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;">
                                      <p style="display: -webkit-box;-webkit-line-clamp: 2;
                                      -webkit-box-orient: vertical;color: rgba(16,16,16,1);
                                      overflow: hidden;white-space: normal;">Description :{{ taskData.description}} </p>
                                    </ion-label>
                                  </ion-item>
                                
                            <!-- </ion-row> -->
                            <ion-row>
                                <ion-col (click)="getTask(taskData)"  [ngClass]="{'dueDate':taskData.color == 'green','overDueDate':taskData.color == 'red','dueToday':taskData.color=='orange' }"
                                    class="leftCol">
                                    {{(taskData.dueDate)}}

                                </ion-col>
                                <ion-col class="leftCol" *ngIf="!reports">
                                    <div style="text-align:right;">
                                        <ion-button *ngIf="!showCompleted[i] && taskData.status && taskData.status.name != 'Task completed' && taskData.status && taskData.status.name != 'Draft'"
                                            class="statusButton" (click)="markAsDone(taskData,i)" style="--background:#FF8000;">{{this.labels.done}}</ion-button>
                                            <ion-button *ngIf="!showCompleted[i] && taskData.status && taskData.status.name == 'Draft'"
                                            class="statusButton" (click)="markAsDone(taskData,i)" style=" color: #fff;--background:#bcbcbc;">Draft</ion-button>
                                    </div>
                                </ion-col>
                            </ion-row>
                        </ion-col>
                        <ion-col no-padding size ="2.5" (click)="getTask(taskData)" size="3" class="leftCol" *ngIf="taskData.assignee">
                                <div class="category" *ngIf="taskData.assignee && taskData.assignee.profile_url" [style.backgroundImage]="'url('+taskData.assignee.profile_url+')'" style="object-fit: cover;">
                                    <div class="catergory-text" >
                                        {{taskData.assignee.name}}
                                    </div>
                                </div>
                        </ion-col>
                        <ion-col no-padding size ="2.5" (click)="getTask(taskData)" size="3" class="leftCol" *ngIf="!taskData.assignee">
                                <div class="category" *ngIf="!taskData.assignee && !taskData.assignee.profile_url"  style.backgroundImage="'url(./assets/images/placeholder_user)'" style="object-fit: cover;">
                                </div>
                        </ion-col>
                        <!-- <ion-col (click)="getTask(taskData)" size="3" class="leftCol" *ngIf="taskData.assignee">
                            <img class="Image" *ngIf="taskData.assignee && taskData.assignee.profile_url" [src]="taskData.assignee.profile_url" style="object-fit: cover;">

                        </ion-col>
                        <ion-col (click)="getTask(taskData)" size="3" class="leftCol" *ngIf="!taskData.assignee" >
                                <img class="Image" *ngIf="!taskData.assignee && !taskData.assignee.profile_url" src="./assets/images/placeholder_user" style="object-fit: cover;">     
                        </ion-col> -->
                    </ion-row>

                </ion-grid>
            </ion-card-content>
        </div>
    </ion-card>
    <p *ngIf="displayTaskData.length == 0" style="text-align:center">{{no_task_label}}</p>
    <ion-infinite-scroll #infi (ionInfinite)="loadData($event)">
                    <ion-infinite-scroll-content threshold="100px" infinite-scroll-immediate-check="true"
                      loadingSpinner="bubbles"
                      loadingText="Loading more data...">
                    </ion-infinite-scroll-content>
</ion-infinite-scroll>
</div>


</ion-content>   

<!-- <section id="preload" style="display: none;"></section> -->