<div>
  <p no-margin class="dark-text">Breakup of Recovery/Repayment</p>
  <ion-item lines="none" no-padding no-margin>
    <div slot="start">
      <p no-margin class="dark-text">INR {{comma(breakUp.amount)}}</p>
      <p no-margin class="ligth-small">{{dateConverter(breakUp.date)}}</p>
    </div>
    <div slot="end">
     <p no-margin class="dark-text">{{breakUp.name}}</p>
     <p no-margin class="ligth-small">{{breakUp.role}}</p>
    </div>
    <ion-avatar slot="end">
      <img [src]="breakUp.profile_url">
    </ion-avatar>
</ion-item>
<ion-card class="mainCard" *ngIf=" breakUp.recovered">
  <ion-card-header class="Heading">
  <ion-row>
    <ion-col size="4">{{'Date'}}</ion-col>
    <ion-col size="4">{{'Recovered'}}</ion-col>
    <ion-col size="4">{{'Balance'}}</ion-col>
  </ion-row>
  </ion-card-header>
  <ion-card-content class="CardContent">
  <ion-row *ngFor="let payment of breakUp.recovered" >
    <ion-col size="4">{{dateConverter(payment.date)}}</ion-col>
    <ion-col size="4">{{comma(payment.amount)}}</ion-col>
    <ion-col size="4">{{comma(payment.balance)}}</ion-col>
  </ion-row>
</ion-card-content>
</ion-card>
<div>
<ion-row>
  <ion-col offset="1" size="2"><span>{{'Total'}}</span></ion-col>
  <ion-col offset="1"><span style="font-size:20px">{{comma(breakUp.recover)}}</span></ion-col>
</ion-row>

</div>
<div class="button-container">
<ion-button size="small" (click)="ok()" shape="round" style="height: 18px;" class="submitButton" >{{'Ok'}}</ion-button>
<ion-button size="small" (click)="cancel()"  shape="round" style="height: 18px;" class="submitButton" >{{'cancel'}}</ion-button>
</div>

</div>