.Heading{
    padding: 0px;
    // text-align: center;
    --background: #5A5B60;
    --color: white;
}
.mainCard{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    --background: #fff;
    --color: black;
    text-align: center;
}
.CardContent{
    font-size: smaller;
    padding:0px;
}
ion-item{
  --background: transparent;
  --padding-end: 0px;
  --inner-padding-end: 0px;
  // here other custom CSS from documentation
}
.item-native {
    padding-left: unset;
    padding-right: unset;
    -webkit-padding-start: 0px;
    padding-inline-start: 0px;
    -webkit-padding-end: 0px;
    padding-inline-end: 0px;
}
.submitButton{
    --background: #2174E1;
}
.button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.dark-text{
    font-size: 16px;
    font-weight: 500;
}
.ligth-small{
    font-size:14px;
    color:#101010;
}