<farmeasy-header [Data]='headerData' ></farmeasy-header>
<ion-content style="background-image: url('assets/images/harvest_back.jpeg');background-repeat: no-repeat;background-size: 100% 100%;    --background: rgba(255,255,255,0.5); ">

<ion-card *ngFor="let card of HarvestList" >
        <ion-card-header class="Heading" >
                {{card.labourer_name}}
             </ion-card-header>
        <ion-item>
        <div>
        <!-- <div>
         <p>Date: {{card.date}}</p>
         </div> -->
         <div>
         {{card.sentence}}
         </div>
         <!-- <ul style="padding-left: 20px;">
             <li *ngFor="let item of card.sentence">{{item}}</li>
         </ul> -->
        </div>
        </ion-item>
</ion-card>

</ion-content>
 