.cssgroupiconcontainer{
display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}


.cssrolebutton{
    font-size: 10px;
    text-transform: capitalize;
    --border-width: 1px;
}

.add-photo-layer{
   display: flex;
    background: rgba(153, 153, 153, 0.3);
    position: relative;
    bottom: 55px;
    height: 60px;
    color: #fff;
    justify-content: center;
}
.group-icon{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
    }