.grid{
    padding:0px;
}
.row{
    margin: 8% 2% 0% 2%;
    // padding-left: 4%;
}
.col{
    padding: 0px;
}
.fromText{
    margin: 0px;
    font-size: 13px;
    margin-top: 10%;
}
.fromInputField{
    font-size: 12px;
    --padding-bottom: 3px;
    --padding-end: 0px;
    --padding-top: 3px;
    --padding-start: 6%;
    border-radius: 3px;
    border: 1px solid rgba(187, 187, 187, 1);
    --background:#fff;
}
.dateImage{
    width:75%;
}
.searchIcon{
    color: #fff;
    border-radius: 5px;
    width: 83%;
    height: 22px;
}
