<ion-grid class="grid">
  <ion-row class="row">
    <ion-col size='5.5' class="col">
      <ion-row>
        <ion-col size='3' class="col">
          <p class="fromText">From</p>
        </ion-col>
        <ion-col size='7' class="col">
          <!-- <p>{{this.fromDate}}</p> -->
          <ion-input class="fromInputField" type="number" placeholder="{{this.dateConverter(this.fromDate)}}"  readonly></ion-input>
        </ion-col>
        <ion-col size='2' class="col">
          <img src="../../assets/images/date.png"  style="width:26px;padding: 0px 2px;" (click)="getFromDate()">
        </ion-col>
      </ion-row> 
    </ion-col>
    <ion-col size="5.5" class="col">
      <ion-row>
        <ion-col size='3' class="col">
          <p class="fromText" style="text-align: right;margin-right: 8%;">To</p>
        </ion-col>
        <ion-col size='7' class="col">
          <ion-input class="fromInputField" type="number" placeholder="{{this.dateConverter(this.toDate)}}" readonly></ion-input>
        </ion-col>
        <ion-col size='2' class="col">
          <img src="../../assets/images/date.png" style="width: 26px;padding: 0px 2px;"  (click)="getToDate()">
        </ion-col>
       
      </ion-row>
    </ion-col>
    <ion-col size='1' class="col" style="text-align: right;">
      <ion-icon name="search" class="searchIcon" [ngStyle]="{'background': color}" (click)="searchData()"></ion-icon>
    </ion-col>
    
  </ion-row>
</ion-grid>