.sourceBlock-grid{
    margin: 12px 0px 0px 0px;
    padding: 0px;
    padding: var(--ion-grid-padding-xs,var(--ion-grid-padding,0px));
}

.sourceBlock-col{
    //max-width: 14%;
    padding: 0px;
}

.sourceBlock-item1{
    --background:transparent;
    --inner-border-width: 0px 0px 0px 0px;
    --padding-start: 16px;
    --inner-padding-end:0px;
}
.sourceBlock-item1 .item{
    padding-left:0px;
    --padding-start: 0px;
}

.sourceBlock-text{
    width: 30px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 4%;
    font-size: 14px;
    height: 30px;
    padding-top: 3%;
    border-radius: 50px;
    padding: 8px 0;
    //background:#fff;
    
}

.sourceBlock-name{
    width: 35px;
    height: 26px;
}

.sourceBlock-text1{
    text-align: center;
    margin: 0px;
    font-size: 12px;
    color: #fff;
    padding-top: 16%;
}
.sourceBlock-descriptionText{
    color: #768af7;
    font-size: 12px;
    padding-left: 5%;
    width: 100%;
}