<farmeasy-header [Data]="headerData"></farmeasy-header>
<ion-content>
  <ion-grid class="sourceBlock-grid">
    <ion-row>
      <ion-col size="6" class="sourceBlock-col" *ngFor="let source of sources.data;let idx=index">
        <ion-item class="sourceBlock-item1">
          <div item-left style="background:#768af7;">
            <div class="sourceBlock-name">
              <p class="sourceBlock-text1">{{source.source_code}}</p>
            </div>
            </div>
          <p item-right class="sourceBlock-descriptionText">{{source.name}} </p>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
