<farmeasy-header [Data]="headerData"></farmeasy-header>
<ion-content style="background-image: url('assets/images/tm_background.jpg');
background-repeat: no-repeat;
background-size: 100% 100%; --background: rgba(255,255,255,0.8);">
    <div style="height:500px;">
        <div style=" margin: 23px 12px 8px 12px;">
            <div class="select-block">{{this.expense_category}}</div>
            <div class="textitem" style="margin-right: 5px;">
                <ion-select placeholder="-select-" style="padding: 4px;" [(ngModel)]="category">
                    <ion-select-option value="Loans & Advance">{{labels.loan}}</ion-select-option>
                </ion-select>
            </div>
        </div>
        <div style="margin: 12px 12px 8px 12px;">
            <ion-row style=" margin-bottom: 5px;">
                <ion-col size="4" no-padding>
                    <div class="select-block">{{labels.date_label}}</div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="4" no-padding>
                    <div class="textinput">
                        <p class="col-data">{{dateConverter(date)}} </p>
                    </div>
                </ion-col>
                <ion-col size="1" no-padding>
                    <img (click)="pickDate()" style=" margin-left: 7px;width: 26px;" src="assets/images/date.png">
                </ion-col>
            </ion-row>
        </div>

        <div class="select-block" style="margin: 20px 12px 2px 12px;">{{labels.labour_name_label}}</div>
        <ion-item style="height: 40px;">
            <p item-right (click)="showLaboursList()" class="csstext">{{labourname}}<span><img item-right class="cssImg"
                        src="assets/images/drop-down-arrow.svg"></span></p>
        </ion-item>
        <ion-list *ngIf="isLaboursList" style=" width: 97%;     margin: 7px 0px 0px 0px;  border-left: 1px solid #979797;
      border-right: 1px solid rgba(187,187,187,1);padding-top:0px;
      border-bottom: 1px solid rgba(187,187,187,1);border-radius:4px 4px 0 0;background:#fff;height: 450px;overflow: auto;padding: 10px 0;margin:0;padding: 10px 0;">
            <div *ngFor="let labourData of labourNames" style="height: 53px;">
                <ion-item style="    padding: 0px 10px 0px 16px;
        text-transform: capitalize;
        height: 48px;
        margin-bottom: 0px;
        background: transparent;
        "
                    (click)="getLabour(labourData)">
                    <ion-thumbnail item-start style="    height: 43px;
          width: 43px;
          margin-bottom: 2px;margin-top: 0px;
      ">
                        <img class="cssthumb" style="height: 43px;
            width: 43px;border-radius: 5px;" *ngIf="labourData.profile_url "
                            [src]="labourData.profile_url">
                        <img class="cssthumb" style="height: 44px;
            width: 45px;border-radius: 5px;" *ngIf=" !labourData.profile_url"
                            src="assets/images/placeholder_user1.png">
                    </ion-thumbnail>
                    <p item-left style="font-size: 14px;
          margin-top: 0px;
          margin-bottom: 0px;
          margin-left: 14px;">{{labourData.name_label}}</p>

                </ion-item>
                <hr style="height: 1.3px;
        padding-top: 0px;background-color: #979797;
      opacity: 0.5;
      margin: 0px 0px 0px 58px;">
            </div>
            <p (click)="closeList()" item-left style="text-align: center;margin-top: 6px;" *ngIf="labourNames && labourNames.length < 1">
                {{labels.no_labour}}</p>
        </ion-list>
            <div style="margin: 16px 12px 8px 12px;">
                <div class="select-block" style="margin-bottom: 8px;">{{labels.month_sal}}</div>
                <ion-row>
                    <ion-col size="4" no-padding>
                        <div class="textinput" style="background-color: rgba(247, 247, 247, 1);width: 57%;height: 27px;">
                            <ion-input type="number" *ngIf="selected_labour" style="margin: 6px 2px;" [disabled]="true"
                                [(ngModel)]="selected_labour.salary" no-padding></ion-input>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
        <div *ngIf="selected_labour && labour_loan.length>0">
            <ion-grid margin-top no-padding>
                <ion-row>
                    <div no-padding class="select-block" style="margin: 0px 12px;">{{labels.prior}}</div>
                </ion-row>
                <ion-row style="margin: 5px 12px;" *ngIf="selected_labour && labour_loan.length>0">
                    <ion-col size="3.5" class="heading" no-padding>{{labels.date}}</ion-col>
                    <ion-col size="2.75" class="heading" no-padding>{{labels.adv_paid}}</ion-col>
                    <ion-col size="2" class="heading" no-padding>{{labels.recovered}}</ion-col>
                    <ion-col size="1"></ion-col>
                    <ion-col size="2.75" class="heading" no-padding>{{labels.balance}}</ion-col>
                </ion-row>
                <ion-row *ngFor="let data of labour_loan;let idx = index" style="margin: 0px 12px;">
                    <ion-col size="3.5" no-padding>
                        <div class="textinput">
                            <p class="col-data">{{dateConverter(data.date)}}</p>
                        </div>
                    </ion-col>
                    <ion-col size="2.75" no-padding>
                        <div class="textinput">
                            <p class="col-data">{{data.amount}} </p>
                        </div>
                    </ion-col>
                    <ion-col size="2" no-padding>
                        <div class="textinput">
                            <p class="col-data">{{data.recover}} </p>
                        </div>
                    </ion-col>
                    <ion-col size="1">
                        <ion-icon (click)="viewBreakUp(idx)" name="eye"></ion-icon>
                    </ion-col>
                    <ion-col size="2.75" no-padding>
                        <div class="textinput">
                            <p class="col-data">{{data.balance}} </p>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div *ngIf="selected_labour && AdvanceList.length>0">
            <ion-grid margin-top no-padding>
                <ion-row>
                    <div no-padding class="select-block" style="margin: 0px 12px;">{{labels.prior_advance_history}}</div>
                </ion-row>
                <ion-row style="margin: 5px 12px;" *ngIf="selected_labour && AdvanceList.length>0">
                    <ion-col size="4" class="heading" no-padding>{{labels.date}}</ion-col>
                    <ion-col size="4" class="heading" no-padding>{{labels.advance}}</ion-col>
                    <ion-col size="4" class="heading" no-padding></ion-col>
                </ion-row>
                <ion-row *ngFor="let data of AdvanceList;let idx = index" style="margin: 0px 12px;">
                    <ion-col size="4" no-padding>
                        <div class="textinput">
                            <p class="col-data">{{dateConverter(data.date)}}</p>
                        </div>
                    </ion-col>
                    <ion-col size="4" no-padding>
                        <div class="textinput">
                            <p class="col-data">{{data.amount}} </p>
                        </div>
                    </ion-col>
                    <ion-col size="4" no-padding>
                        <!-- {{data.status}} -->
                        <ion-button *ngIf="data.status == 'recovered'" class="statusButton"  color="primary" >{{labels.recovered}}</ion-button>
                        <ion-button *ngIf="data.status == 'recover'" class="statusButton" (click)="recovered(data,idx)" color="secondary" >{{labels.recover}}</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div style="margin: 8px 12px;">
           
            <ion-row>
                <ion-col size="4" no-padding  *ngIf="selected_labour && new_loan_flag" >
                    <div class="select-block">{{labels.new_loan}}</div>
                </ion-col>
                <ion-col size="4" no-padding *ngIf="selected_labour">
                    <div class="select-block">{{labels.new_advance}}</div>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="4" no-padding  *ngIf="selected_labour && new_loan_flag" >
                    <div class="textinput">
                        <ion-input maxlength="6" style="margin: 2px 2px;" [(ngModel)]="New_advance" (ionChange)="validateLoan($event)" no-padding></ion-input>
                    </div>
                </ion-col>
                <ion-col size="4" no-padding *ngIf="selected_labour">
                    <div class="textinput">
                        <ion-input  maxlength="5" style="margin: 2px 2px;" [(ngModel)]="advance" (ionChange)="validateAdvance($event)" no-padding></ion-input>
                    </div>
                </ion-col>
            </ion-row>

        </div>
    </div>

    <!-- <div class="submit" *ngIf="showButton">
       
    </div> -->
  

</ion-content>
<ion-footer class="footer">
    <ion-button size="small" (click)="submit()"  class="submitButton">{{this.submit_btn}}</ion-button>
</ion-footer>