.textitem{
    height: 28px;
    /* width: 96%; */
    /* margin-left: 2%; */
    font-size: 14px;
    border-radius: 5px;
    border: solid 1px #BBBBBB;
    background-color: #fff;
 }
.select-block{
   font-size: 12px;
   padding: 4px;
   color: #171717;
   margin-bottom: 3px;
}
.textinput{
    height: 24px;
    width: 96%;
    margin-left: 2%;
    font-size: 14px;
    border: solid 1px #BBBBBB;
    background-color: #fff;
 }
.content{
    border: solid 1px #BBBBBB;
    background-color: #fff;
}
.submitButton{
    --background: #2174E1;
    height: 29px;
    width: 130px;
}
.submit{
    text-align: center;
}
.heading{
    font-size: 12px;
    padding: 1px;
 }
 .textinput-hash{
    height: 28px;
    width: 96%;
    margin-left: 2%;
    font-size: 14px;
    border: solid 1px #BBBBBB;
    background-color: #f0f0f0;
 }

 .csstext{
   
    // font-family: 'Lato', sans-serif;
    background-color: #fff;
    border-radius: 5px !important;
    color: rgba(16, 16, 16, 0.4) !important;
    font-size: 12px;
    min-width: 96%;
    padding: 6px 11px;
    margin: 0px 14px;
    text-align: left !important;
    min-height: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid #bbbbbb;
  }
  .cssImg{
    width: 12px;
    position: absolute;
    right: 40px;
    top: 18px;
  }
.item{
    padding-left: 0%;
    --background:transparent;
    --padding-start:0px;
    --border-color: transparent;
    margin-bottom: 2%;
    margin-top: 0%;
}
.label{
    font-size: 14px;
    color: #676768;
    padding-left: 2%;
}
.span{
    font-size: 15px;
    color: red;
}
.item-inner{
    --border-color: transparent;
}
.native-input {
    padding-left: 7px;
    color: black;
}
.col-data{
    margin: 0px;
    color: #a6a7a7;
    padding: 4px;
}
.footer{
    text-align: center;
    padding-bottom: 12px;
    background: rgba(255,255,255,0.97);
}
.statusButton{
    height: 20px;
    font-size: 12.5px;
    --border-radius: 10px;
    margin: 0px 0px 8px 5px;
    text-transform: capitalize;
}