.headerGreen{
    // --background :rgba(140, 206, 62, 1) 100%;
    --background : rgba(255, 152, 0, 1) 100%;
    --color:#fff;
 }
 .headerOrange{
    --background : rgba(255, 152, 0, 1) 100%;
    --color:#fff;
 }
 .headerPurple{
    // --background : rgba(179, 0, 179,1) 100%;
    --background : rgba(255, 152, 0, 1) 100%;
    --color:#fff;
 }
 .headerBlue{
    //  --background : rgba(118, 138, 247, 1) 100%;
    --background : rgba(255, 152, 0, 1) 100%;
     --color: #fff;
 }
 .headerTeal{
    // --background : rgba(0, 150, 136, 1) 100%;
    // --background: linear-gradient(to right,#D42453,#C92462,#B82575,#A32590,#9025A5);
    --background : rgba(255, 152, 0, 1) 100%;
    --color: #fff;
    
}
.headerSkyblue{
    // --background : rgba(64, 180, 255, 1) 100%;
    --background : rgba(255, 152, 0, 1) 100%;
    --color: #fff;
}
.headerPink{
    // --background : rgba(255, 64, 129, 1) 100%;
    --background : rgba(255, 152, 0, 1) 100%;
    --color: #fff;
}
.alignCenter{
     text-align: center;
 }
.title-ios {
    padding: 0 12px;
}
.toolbar-title{
    text-align: center;
    color: #fff;
    font-size: 16px !important;
}
ion-title{
    font-size: 18px;
    // text-transform: uppercase;
    // font-family: 'Roboto-Regular',sans-serif;
}
ion-toolbar {
    --min-height: 47px;
}
.notificationIcon{
    color: #fff;
    font-size: 15px;
    margin-right: 2px;
}
.notification-count{
    position: absolute;
    top: -1px;
    right: 0px;
    --padding-top: 5px;
    --padding-end: 6px;
    --padding-bottom: 3px;
    --padding-start: 6px;
    border-radius: 9px;
    font-size: 11.5px;
    font-weight: 400;
    --background: rgba(236, 13, 13, 1);
}
.button1{
    margin-left: 0px;
   
    font-size: 16px;
    color: #fff;
    margin-right: 3px;
    --padding-end: 4px;
    --padding-start: 4px;
}
ion-back-button{
    --color:#fff;
}

.nobuttons{
padding-left: 0px;
margin-right: 35px;
}
.md :host .twobuttons {
    margin-left: 26px;
}