<ion-header>
  <ion-toolbar class="alignCenter" [ngClass]="{'headerGreen':(Data.color == 'green'),
  'headerOrange':(Data.color == 'orange'),
  'headerPurple':(Data.color == 'purple'),
  'headerBlue':(Data.color == 'blue'),
  'headerTeal':(Data.color == 'teal'),
  'headerSkyblue':(Data.color == 'skyblue'),
  'headerPink':(Data.color == 'pink')
   }">
        <ion-buttons slot="start" >
          <ion-button (click)="back()">
            <img src="assets/images/back-arrow.svg" style="width:21px;height: 21px;">
          </ion-button>
          <ion-avatar style="height: 36px;width: 36px;" *ngIf="Data.avatar" (click)="groupInfo()">
              <img *ngIf="Data.avatar != 'placeholder'" [src]="Data.avatar">
              <img *ngIf="Data.avatar == 'placeholder'" src="assets/images/placeholder_user.png" >
          </ion-avatar>
          <!-- <ion-back-button [defaultHref]=defaultHref ></ion-back-button>    -->
          <!-- <ion-back-button (click)="back()"  defaultHref="previousUrl"></ion-back-button> -->
        </ion-buttons>
        <!-- <ion-buttons slot="start" *ngIf="this.sg['platform'] == 'android'" >
            <ion-back-button (click)="back()"  defaultHref="previousUrl"></ion-back-button>
          </ion-buttons> -->
      <ion-title class="Title" (click)="OpenTitle()" [ngClass]="{'nobuttons': nobuttonsflag, 'twobuttons': twobuttonsflag}">{{Data.title}}<br /></ion-title>
      <ion-buttons slot="end">
          <ion-button class="button1" *ngIf="Data.button5" (click)="fifthButton()">
              <ion-icon [name]="Data.button5" style="width: 26px;height: 28px;"></ion-icon>
          </ion-button>
          <ion-button class="button1" *ngIf="Data.button4" (click)="fourthButton()">
              <ion-icon [name]="Data.button4" style="width: 26px;height: 28px;"></ion-icon>
          </ion-button>
          <ion-button class="button1" *ngIf="Data.button3" (click)="thirdButton()">
            <img  [src]="Data.button3" style="width: 26.5px;">
            </ion-button>
          <ion-button class="button1" class="notificationIcon" *ngIf="Data.button2" (click)="secondButton()">
            <ion-icon [name]="Data.button2" style="width:26px;height: 26px;"></ion-icon>
            <ion-badge *ngIf="Data.notification_count" class="notification-count">{{Data.notification_count}}</ion-badge>
          </ion-button>
          <ion-button class="button1" *ngIf="Data.button1 && showbutton1" (click)="firstButton()">
              <ion-icon [name]="Data.button1" style="width:26px;height: 26px;"></ion-icon>
          </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>