<farmeasy-header [Data]='headerData'></farmeasy-header>

<ion-content  style="background-image: url('assets/images/tm_background.jpg');
background-repeat: no-repeat;
background-size: 100% 100%; ">
        <ion-card>
            <!-- <ion-card-content class="CardContent"> -->
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>Assigned By </ion-card-title>
                        <ion-card-subtitle>{{creator}}</ion-card-subtitle>
                        <ion-card-title>Priorty</ion-card-title>
                        <ion-card-subtitle>{{priorty}}</ion-card-subtitle>
                    </ion-card-header>
                </ion-card>
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>Assignment</ion-card-title>
                        <ion-card-subtitle>{{name}}</ion-card-subtitle>
                    </ion-card-header>
                </ion-card>

                <ion-card>
                    <ion-card-header>
                        <ion-card-title>Start Date :</ion-card-title>
                        <ion-card-subtitle>{{start_date}}</ion-card-subtitle>
                        <ion-card-title>End Date :</ion-card-title>
                        <ion-card-subtitle>{{end_date}}</ion-card-subtitle>
                    </ion-card-header>
                </ion-card>
            <!-- </ion-card-content> -->
            <app-task-view [taskData]="task" (status)="updateStatus($event)" (updateTask)="updateTask($event)">
            </app-task-view>
            
            <ion-row>
                <!-- <ion-col  style="text-align: center;">
                  <ion-button class="createTask"  (click)="submitRead()">Submit
                  </ion-button> 
                </ion-col> -->
                <!-- <ion-col size="6" style="text-align: center;">
                  <ion-button  class="createTask" (click)="submitRead()">Read</ion-button>
                </ion-col>
                <ion-col size="6" style="text-align: center;">
                  <ion-button class="createTask" (click)="submit()">Submit</ion-button>
                </ion-col> -->
                <!-- <ion-col size="6" style="text-align: center;">
                  <ion-button  class="createTask" (click)="submitNoted()" >Noted</ion-button>
                </ion-col> -->
              </ion-row>
        </ion-card>
        <app-task-update-history [taskData]="task"></app-task-update-history>

</ion-content>
<ion-footer style="padding-top: 10px" >
    <ion-button class="createTask" (click)="submitRead()">Submit</ion-button>
  </ion-footer>