.createTask{
    font-weight: bold;
    height: 30px;
    --max-height: 103px;
    font-size: 13px;
    --background: #ff9800 100%;
    width: 48%;
    margin-bottom: 20px;
}
ion-footer{
    background: white;
    text-align: center;
}