.outerDiv{
    border: solid 2px orange;
    background: #fff;
    border-radius: 6px;
    position: relative;
    width: 75px;
    height: 75px;
}
.outerDiv-inactive{
    border: solid 2px #9DAE88;
    background: #fff;
    border-radius: 6px;
    width: 75px;
    height: 75px;
}
.blockName{
    width: 70%;
    position: absolute;
    top: 54px;
    left: 12px;
}
.blockName-Inactive{
    width: 70%;
    position: absolute;
    top: 60px;
    left: 18px;
}
.block-icon{
    width: 38px;
    position: absolute;
    left: 16px;
    top: 14px;
}
.block-icon-Inactive{
    width: 38px;
    position: absolute;
    left: 25px;
    top: 20px;
}
.block-checked{
    width: 14px;
    margin-top: 1px;
    margin-left: 56px;
}
.block-name{
    background: #8BC34A;
    width: 38px;
    height: 18px;
    border-radius: 5px;
    margin-left: 18px;
    margin-top: -4px;
}
.select-icon-inner {
    left: -3px;
    top: 50%;
    margin-top: -3px;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    color: currentColor;
    opacity: .33;
    pointer-events: none;
}
// ion-col{
//     justify-content: center !important;
// }
ion-col{
    flex: 0 0 calc(calc(4 / var(--ion-grid-columns, 12)) * 100%);
    width: calc(calc(4 / var(--ion-grid-columns, 12)) * 100%);
    max-width: calc(calc(4 / var(--ion-grid-columns, 12)) * 100%);
    // display: flex !important;
    // justify-content: center !important;
}