<ion-card style="background: #EBF7DE">
    <ion-grid>
      <ion-row>
          <ion-col *ngFor="let block of blocks;let idx = index">
              <div [ngClass]="{'outerDiv':blockActive[idx],'outerDiv-inactive':!blockActive[idx]}" (click)="selectBlock(idx)">
                <div><img *ngIf="blockActive[idx]"  class="block-checked" src="./assets/images/orange-check.svg"></div>
                <img [ngClass]="{'block-icon':blockActive[idx],'block-icon-Inactive':!blockActive[idx]}" [src]="block.url" style="object-fit: cover;">
                <div [ngClass]="{'blockName':blockActive[idx],'blockName-Inactive':!blockActive[idx]}">{{block.name}}</div>
              </div>
              <div class="block-name" *ngIf="block.blocks">
                  <ion-select  interface="popover" style="padding: 0px">
                      <ion-select-option *ngFor="let option of block.blocks">{{option.name}}</ion-select-option>
                    </ion-select>
              </div>
            </ion-col>
       </ion-row>
    </ion-grid>
</ion-card>