.textitem{
    height: 28px;
    width: 96%;
    margin-left: 2%;
    font-size: 14px;
    border-radius: 5px;
    border: solid 1px #BBBBBB;
    background-color: #fff;
 }
.textinput{
    height: 28px;
    width: 97%;
    margin-left: 1%;
    font-size: 14px;
    border-radius: 3px;
    padding: 5px 4px;
    border: solid 1px #BBBBBB;
    background-color: #fff;
 }

.heading{
    font-size: 12px;
    padding-left: 10px;
 }
 .button-container{
    display: flex;
    justify-content: center;
}
.buttonClass{
    height: 29px;
}
ion-footer{
    background: white;
    background-image: none;
}
ion-label{
    margin: 4px;
}