<farmeasy-header [Data]="headerData"></farmeasy-header>
<ion-content>
    <div>
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1sQ6TmdTC8l4clT54bdwM-A0b5TEpuCgs&z=15.5" frameborder="0" width="375" height="500"></iframe>
    </div>
    <div style="padding:4px">
        <p class="ion-no-margin"><span style="color: green;font-weight: bold;">Wellnest Natural Farms</span></p>
        <p class="ion-no-margin" style="color:#6e6e6e">Vengalaraju kuppam(V),Palasamudram(M)</p>
        <p class="ion-no-margin" style="color:#6e6e6e">Chittor(D), Andhra Pradesh.</p>
    </div>
</ion-content>
