ion-toolbar {
    --background: #ff9800 100%;
    --ion-color-base: #ff9800 100% !important;
    --min-height: 47px;
}
ion-title{
    text-align:center;
    color:#fff ;
    font-size: 18px;
}
.placeholder_img{
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 5px;  
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 1); 
    }
    .appUpdate-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 6px;
        margin: 0;
        box-shadow: none;
        margin-top: 22%;
    }
    .appUpdate-header{
       text-align: center
    }
    .appUpdate-image{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .appUpdate-title{
        margin: 4px;
        font-weight: 800;
        color: #606060;
        font-size: 18px;
    }
    .appUpdate-content{
        margin: 0;
        font-size: 14px;
        color: #595858;
    }
    .appUpdate-buttons{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 10px;
    }