<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button style="color:#fff"></ion-menu-button>
      </ion-buttons>
      <ion-title><span style="font-size:20px;">Ayurveda one</span></ion-title>
      <ion-buttons slot="end">
         <ion-button style="padding:0px;margin:0px 3px 0px 0px;">
              <img *ngIf="!this.sg['userdata'] && !this.sg['userdata']" src="assets/images/placeholder_user.png" class="placeholder_img">
              <img  *ngIf="this.sg['userdata'] && this.sg['userdata']" [src]="this.sg['userdata'].profile_url" class="placeholder_img">
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content >
  <ion-card class="appUpdate-card">
    <ion-card-header no-padding >
        <div class="appUpdate-image">
                <img src="assets/images/ayurveda-icon.png" style="width:200px;height:200px">
        </div>
        <div class="appUpdate-header">
                <p class="appUpdate-title">Connectivity Issue</p>
                <p class="appUpdate-content">Looks like your experiencing connectivity issues</p>
        </div>
    </ion-card-header>
    <ion-card-content class="appUpdate-buttons">
        <ion-button (click)="retry()" color="warning" size="small" shape="round" style="text-transform: capitalize"> RETRY NOW </ion-button>
    </ion-card-content>
 </ion-card>
</ion-content>
