<farmeasy-header [Data]="headerData"></farmeasy-header>
<ion-content>
<ion-card style="margin: 0px 0px 5px 0px;">
<div class="cssgroupiconcontainer">
  <div class="group-icon">
      <img *ngIf="groupDetails.group_icon" class="group-icon" [src]="groupDetails.group_icon" />
      <img *ngIf="!groupDetails.group_icon" class="group-icon" src="assets/images/placeholder_user1.png" />
      <input style="display: none;" id="profile" name="image" type="file" (change)="upload($event,'profile')" multiple>
      <div class="add-photo-layer" (click)="chooseFile('profile')">
       <p style="margin: 4px 0px;" *ngIf="!groupDetails.group_icon">Add Photo</p>
       <p style="margin: 4px 0px;" *ngIf="groupDetails.group_icon">Change Photo</p>
       <img src="assets/images/camera-white.png" style="width: 30px;height: 28px;padding:2px;"/>
     </div>
  </div>
</div>
    <ion-label style="margin:12px">Group Name</ion-label>
    <ion-item  lines="none">
    <ion-input placeholder="Enter Group Name" [(ngModel)]="groupDetails.name" maxlength="30" (ionChange)="listenGroupName($event)"></ion-input>
    <span style="color: #aabbcc;">{{groupNameLen}}/30</span>
    <!-- <img slot="end" src="assets/images/done_green.svg" style="width:25px;height:25px" (click)="saveGroupName()"/> -->
 </ion-item>
</ion-card>
<ion-card style="margin: 0px 0px 5px 0px;">
    <ion-label style="margin:12px">Description</ion-label>
    <ion-item lines="none">
    <ion-textarea [rows]="rows" placeholder="Enter Group Description"   [(ngModel)]="groupDetails.description" maxlength="200" (ionChange)="listenGroupDesc($event)"></ion-textarea>
    <span style="color: #aabbcc;">{{groupDescLen}}/200</span>
 </ion-item>
</ion-card>
<ion-card style="margin: 0px 0px 5px 0px;">
<ion-list>
<ion-item lines="none" (click)="addParticipants()">
<ion-avatar style="margin: 8px;">
<img src="assets/images/user-add.svg" >
</ion-avatar>
 <ion-label>Add Participants</ion-label>
 </ion-item>

 <ion-item-sliding  *ngFor="let user of usersList;let idx = index">
      <ion-item-options side="start">
        <ion-item-option color="danger" expandable (click)="removeuser(user,idx)">
          Remove
        </ion-item-option>
      </ion-item-options>
  
      <ion-item lines="none">
          <ion-avatar style="margin: 8px;">
              <img [src]="user.profile_url" />
            </ion-avatar>
            <ion-label>{{user.name}}</ion-label>
            <ion-button class="cssrolebutton" size="small" fill="outline" color="success">{{user.role}}</ion-button>
      </ion-item>
   </ion-item-sliding>
</ion-list>
</ion-card>

</ion-content>
<farmeasy-footer [Data]="footerData" (middleButtonAction)="validateGroupDetails()"></farmeasy-footer>

