<!-- <ion-card no-margin no-padding class="catergory-card">
    <div class="cssdiv" >
        <ion-row>
            <ion-col no-padding col-4 *ngFor="let category of categories;let idx=index" >
                <div style="text-align: -webkit-right;"><img *ngIf="categoryActive[idx]" class="catergory-checked" src="./assets/images/white-check.svg"></div>
                <img class="cssimg" [src]="category.image">
                <div class="user_background">{{category.name}}</div>
            </ion-col>
        </ion-row>
    </div>
 </ion-card> -->
 <ion-card no-margin class="cssdiv">
    <ion-row>
            <ion-col col-4 *ngFor="let category of categories,let idx = index" (click)="selectCategory(idx)">
                <!-- <img *ngIf="this.categoryActive[idx]" class="csscheckbox" src="assets/images/check-square.svg"> -->
                <img *ngIf="categoryActive[idx]" class="catergory-checked" src="./assets/images/checked-check-box.svg">

                <img class="cssimg" [src]="category.image">
                <div class="user_background">{{category.name}}</div>
            </ion-col>
    </ion-row>
</ion-card>