.catergory-card{
    margin:10px 6px 0px 6px;
    --background:#fff;
}
.category{
    width: 97px;
    height: 92px;
    padding: 0px;
    border-radius: 8px;
    background-size: cover;
   // background: linear-gradient(to top,#465141, transparent);
  
}
.catergory-checked{
    width: 25px;
    /* margin-left: 60px; */
    position: absolute;
    // top: 23px;
    // margin: 2% 1% 0% 0%;

    right: 15px;


    height: 18px;
    // width: 18px;
    // position: absolute;
    top: 10px;
    // right: 15px;
}
.catergory-checked{
    width: 20px;
    margin: 2% 1% 0% 0%;
}
.category-Inactive{
    width: 75px;
    height: 75px;
    border-radius: 10px;
    
}
.catergory-text{
    width: inherit;
    bottom: 5px;
    position: absolute;
    line-height: 21.5px;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
    background: linear-gradient(to top,#000, transparent);
    font-size: 12px;
    text-transform: capitalize;
    color:#fff;
}
.cssimg{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-bottom: -20px;
}
.user_background{
    width: 100px;
    position: relative;
    line-height: 20px;
    border-radius: 0px 0px 7px 7px;
    text-align: center;
    padding-right: 9px;
    padding-left: 3px;
    color: #fff;
    // font-family: 'Roboto-Regular', sans-serif;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: rgba(51, 59, 42, 0.4);
    z-index: 100;
    text-transform: capitalize;
  }
.cssdiv{
    padding: 5px;
    text-align: -webkit-center !important;
    box-shadow: none;
    background: #fff;
    margin: 6px;
}
.csscheckbox {
    height: 18px;
    width: 18px;
    position: absolute;
    top: 10px;
    right: 15px;
  }

// ion-col{
//     flex: 0 0 calc(calc(4 / var(--ion-grid-columns, 12)) * 100%);
//     width: calc(calc(4 / var(--ion-grid-columns, 12)) * 100%);
//     max-width: calc(calc(4 / var(--ion-grid-columns, 12)) * 100%);
//     // display: flex !important;
//     // justify-content: center !important;
// }