

.ionSelect{
    border-radius: 6px;
    border: 1px solid rgba(187, 187, 187, 1);
    background:#fff;
    text-overflow: unset;
    height: 24px;
    padding: 4px;
    font-size: 12px;
    
}
.selectAll{
    --background: rgba(229, 28, 28, 1);
    color: #fff;
    font-size: 11px;
    height: 22px;
    width: 80px;
    margin-top: -5px;
    --border-radius: 8px;
    margin-left: 0px;
    font-weight: bold;
}
.select-icon {
    width: 12px;
    height: 18px;
    top: -1px;
    left: -2px;
}
.col{
    padding: 3px 2px 3px 2px;
}
.labourList{
    width: 97%; 
    border-left: 1px solid #979797;
    border-right: 1px solid rgba(187,187,187,1);
    border-bottom: 1px solid rgba(187,187,187,1);
    border-radius:4px 4px 0 0;
    background:#fff;
    height: 450px;
    overflow: auto;
    margin:0;
    padding: 4px 0 10px;
}
.labourItem{
    padding: 0px 10px 5px 16px;
    text-transform: capitalize;
    padding-bottom: 0px;
    margin-bottom: 0px;
    background: transparent;
}
.labourThumbnail{
    height: 43px;
    width: 43px;
    margin-bottom: 2px;
    margin-top: 0px;
}
.labourText{
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 14px;
}
.hrTag{
    height: 1.3px;
    padding-top: 0px;
    background-color: #979797;
    opacity: 0.5;
    margin: -1px 0px 0px 58px;
}
.placeholderImg{
    height: 44px;
    width: 45px;
    border-radius: 5px;
}
.cssthumb{
    height: 43px;
    width: 43px;
    border-radius: 5px;
}
.labourDiv{
    height: 51px;
}
.dropImg{
    width: 10px;
    float: right;
    margin-top: 3px;
}
#interestOverlay, #locationOverlay, #avatarOverlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 2;
    cursor: pointer;
  }
