<!-- Filteration By Block, Category, Names, Status -->



<ion-row style=" margin-top: 11px;margin-bottom: 11px;">
  <ion-col size='1.5' class="col">
    <ion-select interface="popover" value="brown" ok-text="Okay" [(ngModel)]="block" cancel-text="Dismiss" class="ionSelect"
      (ionChange)="getBlock($event)" [placeholder]="'Select Frequency'">
      <ion-select-option *ngFor="let  block of  blocks">{{block.name}}</ion-select-option>
    </ion-select>
  </ion-col>
  <ion-col size='2.8' class="col">
    <ion-select interface="popover" value="brown" ok-text="Okay" cancel-text="Dismiss" class="ionSelect" [(ngModel)]="category"
      (ionChange)="getCategory($event)" placeholder="Category">
      <ion-select-option *ngFor="let categorie of categories">{{categorie.name}}</ion-select-option>
    </ion-select>
  </ion-col>
  <!-- <ion-col size='2.7' class="col" >
    <ion-select  value="brown" ok-text="Okay" cancel-text="Dismiss" class="ionSelect" [(ngModel)]="labour"
    (ionChange)="showLaboursList()" placeholder="Labour">
      <ion-select-option *ngFor="let user of users"><ion-item class="labourItem" (click)="selectName(user)">
        <ion-thumbnail item-start class="labourThumbnail">
          <img class="cssthumb" *ngIf="user.profile_url " [src]="user.profile_url">
          <img class="placeholderImg" *ngIf=" !user.profile_url" src="assets/images/placeholder_user1.png">
        </ion-thumbnail>
        <p item-left class="labourText">{{user.name}}</p>
      </ion-item>
      <hr class="hrTag"></ion-select-option>
    </ion-select>
  </ion-col> -->
  <ion-col size='2.7' class="col">
    <!-- <ion-item class="ionSelect"> -->
    <p item-right (click)="showLaboursList()" style="margin-top: 0px;color: #bbbbbb;" class="ionSelect">{{this.labourName}}<span><img
          item-right class="dropImg" src="assets/images/drop-down-arrow.svg"></span></p>
    <!-- </ion-item> -->
  </ion-col>
  <ion-col size='2' class="col">
    <ion-select interface="popover" value="brown" ok-text="Okay" cancel-text="Dismiss" [(ngModel)]="status" class="ionSelect"
      (ionChange)="getStatus($event)" placeholder="Status">
      <ion-select-option>Open</ion-select-option>
      <!-- <ion-select-option>WIP</ion-select-option> -->
      <ion-select-option>Closed</ion-select-option>
    </ion-select>
  </ion-col>
  <ion-col size='1.5'>
    <img src="assets/images/clean.svg" style="width: 26px;height: 26px;" (click)="clearData()">
  </ion-col>
  <ion-col offset="0.5" size='1'>
    <ion-checkbox style="float: right" class="checkbox" (ionChange)="selectAll($event)"></ion-checkbox>
    <!-- <ion-button class="selectAll" (click)="selectAll()">SELECT ALL</ion-button> -->
  </ion-col>
</ion-row>

  <div id="interestOverlay" (click)="off()">
    <div class="modal" style="overflow: auto;margin-top: 140px;">
      <div class="modal-dialog">
        <div class="modal-content" style="padding: 0 10px;text-align: center;">
            <ion-list  class="labourList">
          <div *ngFor="let user of users" class="labourDiv">
            <ion-item class="labourItem" (click)="selectName(user)">
              <ion-thumbnail item-start class="labourThumbnail">
                <img class="cssthumb" *ngIf="user.profile_url " [src]="user.profile_url">
                <img class="placeholderImg" *ngIf=" !user.profile_url" src="assets/images/placeholder_user1.png">
              </ion-thumbnail>
              <p item-left class="labourText">{{user.name}}</p>
            </ion-item>
            <hr class="hrTag">
          </div>
        </ion-list>
        </div>
      </div>
    </div>
  </div>
  <!-- <p item-left style="text-align: center;margin-top: 6px;" *ngIf="users && users.length < 1"> There is no labour</p> -->
