// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


ion-content { 
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.popover_class{
  --background: rgba(244,244,244,1);  // to take care of a possible css4
  background:rgba(0,0,0,0.8);     // to treat it as normal css
  --width:94%;

}
.popover_class .popover-content{
  top: 150px !important;
  //padding-bottom: 3%;
  width: 92%;
  left: 4% !important;
}
.popoverclass{
  --background: rgba(244,244,244,1);  // to take care of a possible css4
  background:rgba(0,0,0,0.8);     // to treat it as normal css
  --width:94%;
}
.popoverclass .popover-content{
  top: 128px !important;
  left:8px !important;
  padding:10px !important;
}
.popover_class1{
  --background: rgba(244,244,244,1);  // to take care of a possible css4
  background:rgba(0,0,0,0.8);     // to treat it as normal css
  --width:94%;

}
.popover_class1 .popover-content{
  top: 65px !important;
}
.datePopover_class .popover-content{
  top: 96px !important;
  padding-bottom: 3%;
  width: 96%;
  left:2% !important;
}
.datePopover_class .popover_class{
  --background: rgba(244,244,244,1);  // to take care of a possible css4
  background:rgba(0,0,0,0.8);     // to treat it as normal css
  --width:94%;
}
.view-document-class{
  --background: rgba(244,244,244,1);  // to take care of a possible css4
  background:rgba(0,0,0,0.8);     // to treat it as normal css
  --width:94%;
  --height: 95vh;
}
.harvestvoice-popup .popover-content{
  top: 5px !important;
  --max-height: 100%;
  left:0px !important;
  width:100%;
}

.progress-bar-popover .popover-content{
    top: 283.333px;
    left: 28px;
    width: 85%;
}
.progress-bar-popover  .popover_class{
  --background: rgba(244,244,244,1);  // to take care of a possible css4
  background:rgba(0,0,0,0.8);     // to treat it as normal css
  --width:94%;
}
.normalToast {
  --background: #D4F7AC;
  --color:black;
}
ion-menu{
  --width:250px;
}

.popover_TaskDelete{
  --background: rgba(244,244,244,1);  // to take care of a possible css4
  background:rgba(0,0,0,0.8);     // to treat it as normal css
  --width:94%;
}

// .back-button-icon-ios{
//   font-size: 2.4rem !important;
//   --color:white !important; 
//   --padding:4px !important;
// }
.button-inner.sc-ion-back-button-ios {
  display: flex;
  flex-flow: row nowrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 1.0rem !important;
  color: white !important;
  padding: 6px !important;
}

// .popover-content.sc-ion-popover-md{
//   min-width: 86%;
// }

ion-item {
  --highlight-color-valid: transparent;
  --highlight-color-invalid: transparent;
  --highlight-color-focused: transparent;
}

ion-checkbox{
  --border-radius: 0px;
  --background-checked: #ff9800;
  --border-color-checked: #ff9800;
    height: 22px;
    width: 22px;
}
ion-content{
  font-family: 'Roboto', sans-serif;
}
ion-footer{
    background-image: none;
    font-family: 'Roboto', sans-serif;
}
ion-header{
  font-family: 'Roboto', sans-serif;
}
@font-face{
  font-family: SFUIText-Regular;
  src:url('assets/fonts/SFUIText-Regular.woff');
}
@font-face{
  font-family: SFUIText-Medium;
  src:url('assets/fonts/SFUIText-Medium.woff');
}
@font-face{
  font-family: SFUIText-Light;
  src:url('assets/fonts/SFUIText-Light.woff');
}
@font-face{
  font-family: SFUIText-Bold;
  src:url('assets/fonts/SFUIText-Bold.woff');
}
@font-face{
  font-family: SFUIText-LightItalic;
  src:url('assets/fonts/SFUIText-LightItalic.woff');
}
@font-face{
  font-family: SFUIText-Semibold;
  src:url('assets/fonts/SFUIText-Semibold.woff');
}
.my-custom-class{
  --background: #f0f0f0;
  --color: #444444;
  text-align:center;
  --border-radius: 16px; 
}

.add-users-popup .popover-content{
    top: 10px !important;
    --max-height: 100%;
    left: 10px !important;
    width: 95%;
}


.group-chat-menu .popover-content{
  top: 20px !important;
  right: 4px !important;
  --max-height: 100%;
  width: 50% !important;
  left: unset !important;
}

.group-chat-menu ion-backdrop{
  opacity: 0.0 !important;
}

strong{
    font-weight: bold;
    color: green;
    font-size: 16px;
}


.group-description .popover-content{
  top: 100px !important;
  padding-bottom: 3%;
  width: 70%;
  // left:2% !important;
}
.group-description .popover_class{
  --background: rgba(244,244,244,1);  // to take care of a possible css4
  background:rgba(0,0,0,0.8);     // to treat it as normal css
  --width:94%;
}

// .weekview-header {
  // background-color: red;
// }

.weekview-allday-table {
  height: 60px;
    overflow: hidden;
    margin-top: -15px;
  // position: relative;
  border-bottom: 1px solid #ddd;
  background-color: white;
}

// .weekview-normal-event-container {
//   overflow: hidden;
//   margin-top: -100px;
//   height: 500px;
//   z-index: -1000;
// }







