<div>
  <ion-row *ngIf="startEndDate"> 
    <ion-col size='1'></ion-col>
    <ion-col size='4'>
      <p style="font-size: 15px;">{{this.labels.StartDate}}</p>
      <p style="font-size: 15px;">{{this.labels.EndDate}}</p>
    </ion-col>
    <ion-col size='4'>
      <p style="font-size: 15px;text-align: center;">{{todayDate}}</p>
      <p style="font-size: 15px;text-align: center;">{{endDate}}</p>
    </ion-col>
    <ion-col size='2'>
      <img style="margin-top: 35%;" src="../../assets/images/Date Wise.svg" class="fs-dateImage" (click)="openDatePopover('startDate')">
      <img src="../../assets/images/Date Wise.svg" class="fs-dateImage" (click)="openDatePopover('endDate')">
    </ion-col>
    <ion-col size='1'>

    </ion-col>
  </ion-row>
  <div *ngIf="showDate" style="margin-top: 2%;">
    <p class="block-selectDateText">{{StartOrEndDate}} </p>
    <div style="background:#fff;margin-top: -2%;">
      <div class="calendar-header">
        <ion-row class="calendar-month">
          <ion-col size="2" *ngIf="!(currentMonth !== month || year !== currentYear)"></ion-col>
          <ion-col size="2" *ngIf="(currentMonth !== month || year !== currentYear)"  (click)="goToLastMonth()"><ion-icon name="arrow-back"></ion-icon></ion-col>
          <ion-col size='8' style="text-align: center;">{{currentMonth}} {{currentYear}}</ion-col>
          <ion-col size='2' (click)="goToNextMonth()"><ion-icon style="position: absolute;right: 0;"  name="arrow-forward"></ion-icon></ion-col>
        </ion-row>
      </div>
      <div class="calendar-body">
        <ion-grid style="padding: 0px;">
          <ion-row class="calendar-weekday">
            <ion-col>Su</ion-col>
            <ion-col>Mo</ion-col>
            <ion-col>Tu</ion-col>
            <ion-col>We</ion-col>
            <ion-col>Th</ion-col>
            <ion-col>Fr</ion-col>
            <ion-col>Sa</ion-col>
          </ion-row>
          <ion-row class="calendar-date">
            <ion-col size="1.7"  *ngFor="let lastDay of daysInLastMonth;let i=index" class="last-month" [ngClass]="{'currentDate':showLastDateBackground[i]==true}">{{lastDay}}</ion-col>
            <ion-col size='1.7'  *ngFor="let day of daysInThisMonth;let j=index" (click)="getThisMonthDate(day,currentMonth,currentYear,j)" [ngClass]="{'currentDate':showCurrentDateBackground[j]==true,'last-month':(blockpastdates[j]==true && month === currentMonth)}">{{day}}
              <!-- <span class="currentDate" *ngIf="currentDate === day; else otherDate" [ngClass]="{'currentDate':showBackground==true}">{{day}}</span>
              <ng-template #otherDate class="otherDate" [ngClass]="{'currentDate':showBackground==true}">{{day}}</ng-template> -->
            </ion-col>
            <ion-col size='1.7'  *ngFor="let nextDay of daysInNextMonth;let k=index" class="next-month"  >{{nextDay}}</ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
    <div  class="block-okCancelButton">
      <ion-button class="block-ok" [disabled]="showOk" (click)="popOverDateOk()">{{this.labels.ok}}</ion-button>
      <ion-button class="block-cancel" (click)="popOverDateCancel()">{{this.labels.cancel}}</ion-button>
    </div>
  </div>

</div>