ion-toolbar {
--background: #FF9800 ;
--ion-color-base: #FF9800 !important;
--min-height: 47px;
--background-activated:#FF9800 ;
font-size: 15px;
font-weight: 600;
}
ion-title{
text-align:center;
color:#fff;
font-weight: 500;
font-size: 15px  
}
.date-style{
margin-bottom: 0px;
font-size: 11px;

}
ion-title{
    text-align:center;
    color:#fff;
    font-weight: 500;
    font-size: 15px  
    }
.bill-style{

margin-top: 0px;
font-size: 11px;
}
// th{
// color: rgba(16, 16, 16, 1);
// font-size: 13px;
// font-weight: 400;
// }
// td{
// height: 30px;
// background-color: rgba(255, 255, 255, 0.37);
// color: #888888;
// font-size: 14px;
// text-align: center;
// font-family: Roboto;
// }
#container {
    margin: 0 -3px;
    overflow: auto;
}
table {
    border-collapse: separate;
    border-spacing: 3px;
}
td {

    font-weight: 400;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(136, 136, 136, 1);
    font-size: 14px;
    text-align: left;
    // font-family: Roboto;
    padding: 5px;
}
th{
    font-size: 14px;
    font-weight: 400;
    color: #101010;
}
.div_style{
    text-align: right !important;
    margin-right: -2px !important;
    margin-left: 65% !important;
}
.farm_style{
    color: #223BC8;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}
.total_text{
    color: #101010;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 7px;
}
.address{
    color: #101010;
    margin-bottom: 5px;
    font-size: 12px;
    margin-top: 0px;
    

}
.Registration{
    color: #101010;
    font-size: 12px;
    margin-top: 0px;

}
.print{
    margin-left: 28%;
    width: 141px;
    height: 36px;
    line-height: 20px;
    border-radius: 2px 2px 2px 2px;
    --background-activated:#FF4081;
    --background: #FF4081;
    --background-focused: #FF4081;
    text-align: center;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.24);
}
.food_park{
    color: #223BC8;
    font-size: 20px;
    font-weight: 500; 
    margin-top: 5px;
    margin-bottom: 5px;
}
.address_style{
    color: #101010;
    font-size: 12px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 5px;
}
.address_style1{
    color: #101010;
    font-size: 12px;
    font-weight:300;
    margin-top: 0px;
}
