<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="backto_dashboard()">
          <ion-icon name="arrow-back" style="color:#fff"></ion-icon>
      </ion-button>
  </ion-buttons>
  <ion-title>{{this.labels[0]}}</ion-title>
</ion-toolbar>
</ion-header> -->
<farmeasy-header [Data]='headerData' ></farmeasy-header>
<ion-content style="background-image: url('assets/images/harvest_back.jpeg');background-repeat: no-repeat;background-size: 100% 100%;    --background: rgba(255,255,255,0.5);">
  <div #invoice>
  <ion-grid>
    <ion-row>
      <ion-col size="8">
        <div>
          <img src="assets/images/logo.png" style="max-width:65%;">
          <p class="food_park">{{this.labels[1]}}</p>
          <p class="address_style">{{this.labels[2]}}
              </p>
          <p class="address_style1">{{this.labels[3]}}</p>
          </div>
        </ion-col>
        <ion-col size="4">
            <p class="date-style">{{date}}</p>
            <p  class="bill-style" *ngIf="harvest_outdata && harvest_outdata.Bill_no > 9"><span>#{{harvest_outdata.short_name}}</span ><span >-</span><span>0{{harvest_outdata.Bill_no}}</span> </p>
            <p  class="bill-style" *ngIf="harvest_outdata && harvest_outdata.Bill_no < 9"><span>#{{harvest_outdata.short_name}}</span ><span >-</span><span>{{harvest_outdata.Bill_no}}</span> </p>
          </ion-col>
      </ion-row>
    </ion-grid>

  <div id="container">
    <table style="width:100%">
      <tr>
        <th>{{this.labels[4]}}</th>
        <th>{{this.labels[5]}}</th>
        <th>UOM</th>
        <th>QTY</th>
        <th>{{this.labels[6]}}</th>
      </tr>
      <tr *ngFor="let data of harvest_outdata.record">
        <td>{{data.category}}</td>
        <td>{{data.subcategory}}
        </td>
        <td>{{data.UOM}}</td>
        <td>{{data.Quantity}}</td>
        <td>{{data.Rate}}</td>
      </tr>
      <tr>
        <td>{{this.labels[12]}}</td>
        <td style="background: transparent;"></td>
        <td style="background: transparent;"></td>
        <td style="background: transparent;"></td>
        <td>{{this.amount}}</td>
      </tr>
    </table>
  </div>
  <!-- <div class="div_style">
    <ion-row>
      <ion-col class="total_text">Total
      </ion-col>
      <ion-col class="total_text1" *ngIf="total" style="text-align: center; background-color: rgba(255, 255, 255, 0.8);
      color: rgba(136, 136, 136, 1);
      font-size: 14px;">{{total}}
      </ion-col>
    </ion-row>
  </div>
  <div class="div_style">
    <ion-row>
      <ion-col class="total_text" style="padding-left: 0px;">GST
      </ion-col>
      <ion-col style="font-size: 14px;color:#348BE1;text-align: center; background-color: rgba(255, 255, 255, 0.8);
     
      font-size: 14px;">100
      </ion-col>
    </ion-row>
  </div>
  <div>
    <ion-row>
      <ion-col size="8" class="total_text">{{countinwords}}
      </ion-col>
      <ion-col size="2" class="total_text">Total
      </ion-col>
      <ion-col size="2" class="total_text" style="text-align: center;    background-color: rgba(255, 255, 255, 0.37);
      color: rgba(136, 136, 136, 1);" *ngIf="finaltotol">{{finaltotol}}
      </ion-col>
    </ion-row>
  </div> -->

  <div style="    margin-left: 8px;">
    <p class="farm_style">{{this.labels[7]}}</p>
    <p class="address">#219/11,{{this.labels[8]}},
      {{this.labels[9]}}</p>
    <p class="Registration">{{this.labels[10]}}: AAGCC1632F</p>
  </div>

</div>
  
    <ion-button expand="full"  class="print" (click)="Print()">{{this.labels[11]}}</ion-button>

</ion-content>
<!--
 0 'Harvest Out - Invoice',
 1 'Srini Food Park',
 2 'Mallik arjuna rao Karge ,121,  Chittoor Main Road',
 3 'Andhra Pradesh, Chittor',
 4 'Category',
 5 'Subcategory',
 6 'Rate',
 7 'WellNest Natural Farms',
 8 'JP Corp, Bellary Road, Sada shiva nagar',
 9 ' Bangalore, Karnataka, India.',
 10 'Registration No',
 11 'Print Invoice',
 12 'Total'
-->