.updateCard{
    margin: 10px 10px 3px 10px;
}
.cardHeader{
    --background: rgba(137, 142, 131, 1);
    color: #fff;
    text-align: center;
    padding: 4px;
    font-size: 12.5px;
}
.avtarItem{
    padding-left: 0px;
    --padding-start:10px;
    --background: rgba(255,255,255,0.8);
}
.cardContent{
    padding: 0px;
}
.status{
    white-space:normal;
    font-size: 13.5px;
    color: rgba(16, 16, 16, 1);
}
.time{
    color: rgba(170, 168, 168, 1);
    font-size: 13.5px;
}
.updateAvatar{
    position: absolute;
    top: 1px;
    left: 15px;
    width: 50px;
    height: 51.5px;
    //border: 1px solid rgba(187,187,187,1);
}
.avtarItem .item-native{
    --padding-start: 6px;
    --padding-end: 6px;
}
.item-native{
    --padding-start: 6px;
    --padding-end: 6px;
}
.img{
    object-fit: cover;
    height: 50px;
    width: 51.5px; 
    max-width: 100px;
}

