<ion-card class="updateCard">
  <ion-card-header class="cardHeader">{{this.labels.title}}</ion-card-header>
  <ion-card-content class="cardContent">
    <ion-item class="avtarItem" *ngFor="let data of updateHistoryData" style="--padding-start: 6px;
    --padding-end: 6px;">
      <ion-avatar slot="start" *ngIf="data.created" class="updateAvatar">
        <img [src]="data.created.profile_url" class="img">
      </ion-avatar>
      <ion-label *ngIf="data.created" style="margin: 11px 0px 13px 80px;" >
        <p class="time">{{covert12HoursFormate(data.created.date)}}</p>
        <p class="status">{{data.status.name}}</p>
      </ion-label>
      <ion-avatar slot="start" *ngIf="data.updated" class="updateAvatar">
        <img [src]="data.updated.profile_url" class="img">
      </ion-avatar>
      <ion-label *ngIf="data.updated " style="margin: 11px 0px 13px 80px;">
        <p class="time">{{covert12HoursFormate(data.updated.date)}}</p>
        <p *ngIf="data.status" class="status">{{data.status.name}}</p>
        <!-- <p *ngIf="data.status &&  (data.status.name!='Acknowledged')" class="status">{{data.status.name}} </p> -->
        <div *ngIf="data && data.status && data.status.cameraImage" style="margin-bottom: 20px;">
          <div *ngFor="let cameraImage of data.status.cameraImage">
            <img *ngIf="cameraImage && cameraImage.url" [src]="cameraImage.url" style="object-fit: cover;">
          </div>
        </div>
        <div *ngIf="data && data.status && data.status.attachedImage">
          <div *ngFor="let attachedImage of data.status.attachedImage">
            <img *ngIf="attachedImage && attachedImage.url" [src]="attachedImage.url" style="object-fit: cover;">
          </div>
        </div>
        <!-- <p *ngIf="data.status && data.status.name=='Acknowledge' " class="status">{{data.status.name}}</p> -->
      </ion-label>
    </ion-item>
  
  </ion-card-content>
</ion-card>

