<farmeasy-header [Data]="headerData"></farmeasy-header>
<ion-content>
    <ion-grid margin-top no-padding>
        <ion-row>
            <ion-col size="4" class="heading" style="padding:2px;" no-padding><ion-label>{{this.type_label}}</ion-label></ion-col>
            <ion-col size="4" class="heading" no-padding><ion-label>{{this.todate_label}}</ion-label> </ion-col>
            <!-- <ion-col size="4" class="heading" no-padding> <ion-label>{{this.todate_label}}</ion-label></ion-col> -->
        </ion-row>
        <ion-row >
          <ion-col size="4" no-padding>
            <div class="textitem" >
            <ion-select (ionChange)="categoryChange()" interface="popover" placeholder="-select-" style="padding: 4px;" [(ngModel)]="type"  > 
                <ion-select-option>{{'All'}}</ion-select-option>
                <ion-select-option *ngFor="let item of types">{{item.cat_name}}</ion-select-option>
            </ion-select>
            </div>
          </ion-col>
          <ion-col size="3" no-padding>
            <div class="textinput">
                <ion-input placeholder="{{dateConverter(to)}}" style="font-size: 12px;" no-padding readonly></ion-input>
            </div>
          </ion-col>
          <ion-col size="1" no-padding>
              <img  (click)="pickDate('to')" style="width: 26px;" src="assets/images/date.png" >
          </ion-col>
         </ion-row>
      </ion-grid>
      <div *ngIf="viewStockOut">
          <div *ngFor="let report of stockOnHand">
              <ion-grid *ngIf="report.subcategory.length>0">
                  <p class="category-text">{{report.category}}</p>
                  <ion-row class="row-border">
                    <ion-col><p class="category-text-heading">{{'Date'}}</p></ion-col>
                    <ion-col><p class="category-text-heading">{{'Item'}}</p></ion-col>
                    <ion-col><p class="category-text-heading">{{'Stock In'}}</p></ion-col>
                    <ion-col><p class="category-text-heading">{{'Stock Out'}}</p></ion-col>
                    <ion-col><p class="category-text-heading" style="text-align: right;">{{'Stock On Hand'}}</p></ion-col>
                  </ion-row>
                  <ion-row class="row-border" *ngFor="let item of report.subcategory">
                      <ion-col><p class="content-color">{{dateConverter(to)}}</p></ion-col>
                      <ion-col><p class="content-color">{{item.name}}</p></ion-col>
                      <ion-col><p class="content-color">{{item.stock_in_quantity}} {{item.stock_in_uom}}</p></ion-col>
                      <ion-col><p class="content-color">{{item.stock_out_quantity}} {{item.stock_out_uom}}</p></ion-col>
                      <ion-col><p class="content-color">{{calaculateStockOnHand(item.stock_in_quantity,item.stock_out_quantity)}} {{item.stock_in_uom}}</p></ion-col>
                  </ion-row>
                </ion-grid>
                <ion-card *ngIf="report.subcategory.length == 0 && this.type !== 'All'" style="text-align: center;box-shadow: none;">
                  <p style="font-size: 18px;">Not Found {{this.type}} Reports</p>
                </ion-card>
          </div>
      </div>
        
      
      </ion-content>
      <ion-footer>
        <div class="button-container">
            <ion-button *ngIf="!viewStockOut" (click)="viewDetailedReports()" class="buttonClass" size="small">{{'VIEW DETAILED REPORT'}}</ion-button>
            <ion-button *ngIf="viewStockOut" class="buttonClass" size="small" (click)="toast()">{{'DOWNLOAD'}}<ion-icon slot="end" name="download"></ion-icon></ion-button>
            <ion-button *ngIf="viewStockOut" class="buttonClass" size="small" (click)="shareVia()">{{'SHARE'}}<ion-icon slot="end" name="share"></ion-icon></ion-button>
        </div>
      </ion-footer>