.textitem{
    height: 28px;
    width: 96%;
    margin-left: 2%;
    font-size: 14px;
    border-radius: 5px;
    border: solid 1px #BBBBBB;
    background-color: #fff;
 }
.textinput{
    height: 28px;
    width: 97%;
    margin-left: 1%;
    font-size: 14px;
    border-radius: 3px;
    padding: 5px 4px;
    border: solid 1px #BBBBBB;
    background-color: #fff;
 }

.heading{
    font-size: 12px;
    padding-left: 10px;
 }
 .centerButtons{
    display: flex !important;
    justify-content: center !important;
}
.buttonClass{
    height: 29px;
}
.button-container{
    display: flex;
    justify-content: center;
}
ion-footer{
    background: white;
    background-image: none;
}
ion-label{
    margin: 4px;
}

.row-border{
    border-bottom: 1px solid #EBEEF5;
}

.content-color{
    color: #909399;
    font-size: 12px;
    margin: 8px 0px;
}

.category-text{
    font-size: 18px;
    color: #626161;
    font-weight: 600;
    margin: 6px 4px;
}

.category-text-heading{
    color: #909399;
    margin: 8px 0px;
    font-weight: 800;
    font-size: 14px;
}


