.csssearch{
    margin: 4px;
    --background: #e4e4e4;
    border-radius: 36px;
}

.cssrolebutton{
    font-size: 10px;
    text-transform: capitalize;
    --border-width: 1px;
}

.cssselected{
    text-align: center;
    max-height: 70px;
    overflow-y: auto;
}

.selectcapsule{
    --padding-start: 0px;
    --padding-end: 0px;
    font-size: 12px;
    text-transform: capitalize;
}

.fab-done{
    position: absolute;
    bottom: 8px;
    right: 8px;
}