<ion-header>
  <ion-toolbar style="--background: #ff9800;color: #fff;">
    <ion-buttons slot="start">
      <ion-button>
        <img (click)="close()" src="assets/images/close_white.svg" style="width: 18px;"/>
      </ion-button>
    </ion-buttons>
    <ion-title> Add Participant </ion-title>
    <ion-buttons slot = "end" *ngIf="selectedUsers.length>0">
      <img src="assets/images/done.svg" (click)="done()" style="width:25px;height:25px;margin-right: 12px;"/>
    </ion-buttons>
  </ion-toolbar>
  <div style="padding:4px;">
    <ion-item lines="none" class="csssearch">
      <ion-icon name="search" slot="start"></ion-icon>
      <ion-input placeholder="Search..." (ionChange)="listenSearch($event)" [(ngModel)]="search" ></ion-input>
    </ion-item>
  </div>
  <div class="cssselected">
          <ion-button *ngFor="let user of selectedUsers" (click)="removeCapsule(user)" class="selectcapsule" size="small" shape="round" color="success">
            <ion-avatar style="height: 25px;width:25px">
              <img [src]="user.profile_url" />
          </ion-avatar>
          <span>{{user.name}}</span>
          <ion-icon name="close-circle" style="font-size: 22px" ></ion-icon>
        </ion-button>
  </div>
</ion-header>
<ion-content>
  <div style="overflow-y: auto;height:500px;">
      <ion-list>
        <div *ngFor="let user of this.usersList;let idx= index">
            <ion-item lines="none" (click)="addToGroup(user,idx)" *ngIf="user.farmeasy_id != this.sg['userdata'].farmeasy_id">
                <img src="assets/images/blank-check-box.svg" style="width:25px" *ngIf="!this.usersList[idx].select"/>
                <img src="assets/images/checked-check-box.svg" style="width:25px" *ngIf="this.usersList[idx].select"/>
                <ion-avatar style="margin: 8px;">
                  <img [src]="user.profile_url" />
                </ion-avatar>
                <ion-label>{{user.name}}</ion-label>
                <ion-button class="cssrolebutton" size="small" fill="outline" color="success">{{user.role}}</ion-button>
            </ion-item>
        </div>
      </ion-list>
  </div>
  <!-- <ion-fab-button class="fab-done" color="success" *ngIf="selectedUsers.length>0" ><ion-icon name="add"></ion-icon></ion-fab-button> -->
</ion-content>
