<farmeasy-header [Data]='headerData' ></farmeasy-header>
<ion-content style="background-image: url('assets/images/tm_background.jpg');
background-repeat: no-repeat;
background-size: 100% 100%; --background: rgba(255,255,255,0.9);" >
  <ion-card *ngFor="let data of Harvest_data" (click)="selected_harvest(data)">
    <ion-item>
      <ion-avatar slot="start">
         <img [src]="data.image" style="object-fit: cover;">
      </ion-avatar>
      <ion-label no-margin>
        <p class="farmmodule_title">{{data.title}}</p>
        <p class="farmmodule_subtitle">{{data.subtitle}}</p>
        <img slot="end" src="assets/images/forwordarrow.png" class="cssarrow">
      </ion-label>
  
    </ion-item>
  </ion-card>



</ion-content>