<farmeasy-header [Data]="headerData"></farmeasy-header>
<ion-content class="ion-padding" style="background-image: url('assets/images/harvest_back.jpeg');
background-repeat: no-repeat;
background-size: 100% 100%;    --background: rgba(255,255,255,0.9); ">
         <ion-list *ngIf="groupList.length>0">
            <ion-item lines="none" *ngFor="let group of groupList;let idx=index" >
              <ion-avatar (click)="viewGroupDescription(group)">
                <img *ngIf="!group || !group.group_icon" src="assets/images/placeholder_user.png">
                <img *ngIf="group && group.group_icon" [src]="group.group_icon">
              </ion-avatar>
              <div (click)="naviagateToGropuChat(group)">
              <ion-label margin-start class="cssname">{{group.name}} </ion-label>
              <ion-label margin-start class="cssrole"><span class="cssrolename">{{group.sender_name}} </span> {{group.last_message}} </ion-label>
              </div>
              <div slot="end" (click)="naviagateToGropuChat(group)">
                    <span style="font-size: 12px;color: #747474;">{{convertTime(group.time)}}</span>
              </div>
            </ion-item>
          </ion-list>
          <p  *ngIf="groupList.length == 0" style="text-align: center">No Groups</p>
</ion-content>
