.cssrole{
    color: #9b9b9b;
    font-size: 12px;
    font-weight: 450;
}
.cssrolename{
    font-weight: 450;
    color: #4a4a4a;
    text-transform: capitalize;
}
.cssname{
   color: #4a4a4a;
    font-weight: 450;
}
.cssresponsible{
  color: #9b9b9b;
  font-size: 10px;
}

.ios ion-item {
  margin: 6px 4px;
}

ion-list{
    background: transparent;
    padding:0px
}
ion-item{
    --background: transparent;
    margin: 4px 0px;
}
ion-avatar{
    width: 40px;
    height: 40px;
}
img {
    width: 40px;
    height: 40px;
    max-width: 40px;
    max-height: 40px;
    border: 0;
}
