<farmeasy-header [Data]="headerData"></farmeasy-header>
<ion-content padding style="background-image: url('assets/images/spalsh.jpeg');
background-repeat: no-repeat;
background-size: 100% 100%; --background: rgba(255,255,255,0.8);">
   <ion-label>Name</ion-label>
  <div class="textitem">
      <ion-input placeholder="Name" [(ngModel)]="name" (change)="validate()"></ion-input>
  </div>
    <div class="camera">
        <ion-icon *ngIf="!address"  (click)="chooseFile()" style="padding: 33px;font-size: xx-large;" name="camera"></ion-icon>
        <img style="height: 100px;width: 100px;object-fit: cover;" *ngIf="address" [src]="address" (click)="chooseFile()">
    </div>
    <input style="display: none;" id="image" name="image" type="file" (change)="upload($event)" multiple>
    <!-- <div style="margin-left: 31%;margin-top: 26px;">
      <ion-button *ngIf="!updateflag" color="success" (click)="validateData()">Submit</ion-button>
    </div>
    <ion-row>
        <ion-col size="5">
              <ion-button *ngIf="updateflag" color="success" (click)="validateData()">Update</ion-button>
        </ion-col>
        <ion-col size="2"></ion-col>
          <ion-col size="5">
              <ion-button *ngIf="updateflag" color="danger" (click)="deleteCategory()">Delete</ion-button>
          </ion-col>
    </ion-row> -->
    <!-- <div class="save">
      <ion-button *ngIf="!updateflag"  class="buttonClass" (click)="validateData()">Submit</ion-button>
    </div>
    <div class="update-edit">
      <ion-button *ngIf="updateflag"  class="buttonClass" (click)="validateData()">Update</ion-button>
      <ion-button *ngIf="updateflag" class="buttonClass" (click)="deleteCategory()">Delete</ion-button>
    </div> -->
</ion-content>

<farmeasy-footer *ngIf="!updateflag" [Data]="footerData" [isEnableMiddle]="disable" (middleButtonAction)="validateData()" ></farmeasy-footer>
<farmeasy-footer *ngIf="updateflag" [Data]="footerData"  (leftButtonAction)="validateData()" (rightButtonAction)="deleteCategory()"></farmeasy-footer>
