.catergory-card{
    margin: 1px 6px 0px 6px;
    --background:#fff;
}
.category{
    width: 77px;
    height: 75px;
    padding: 0px;
    border-radius: 7px;
    background-size: cover;
}

.catergory-checked{
    width: 25px;
    /* margin-left: 60px; */
    position: absolute;
    top: 23px;
    right: 15px;
}
.category-Inactive{
    width: 75px;
    height: 75px;
    border-radius: 10px;
    
}
.catergory-text{
    padding-right: 9px;
    padding-left: 3px;
    width: inherit;
    bottom: 5px;
    position: absolute;
    line-height: 20px;
    border-radius: 0px 0px 7px 7px;
    text-align: center;
    color: #fff;
    font-size: 11.5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: linear-gradient(to top, #010101, transparent);
}
ion-col{
    flex: 0 0 calc(calc(4 / var(--ion-grid-columns, 12)) * 100%);
    width: calc(calc(4 / var(--ion-grid-columns, 12)) * 100%);
    max-width: calc(calc(4 / var(--ion-grid-columns, 12)) * 100%);
    // display: flex !important;
    // justify-content: center !important;
}
.ionSelect{
    border: 1px solid #bbbbbb;
    height: 29px;
    // margin-left: 27%;
    padding: 5px 5px 5px 7px;
    font-size: 13px;
    border-radius: 5px;
    background: #fff;
    margin-top: 1.5%;
    margin-bottom: 5%;
    max-width: 75%;
    width: 54%;
}
.label{
    font-size: 13px;
    margin-top: 1%;
    margin-right: 8%;
}
.item{
    --border-width: 0 0 0 0 !important;
    --show-full-highlight: 0 !important;
    --show-inset-highlight: 0 !important;
}

.cssimg{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-bottom: -20px;
 }
 .user_background{
    // bottom: 5px;
    width: 98px;
    position: relative;
    line-height: 20px;
    border-radius: 0px 0px 7px 7px;
    text-align: center;
    padding-right: 9px;
    padding-left: 3px;
    color: #fff;
    // font-family: 'Roboto-Regular', sans-serif;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: rgba(51, 59, 42, 0.4);
    z-index: 100;
    // border: 1px solid rgba(187, 187, 187, 0.6);
  }