<ion-card class="catergory-card">
    <ion-item no-lines class="item">
        <ion-label item-left class="label">Priority</ion-label>
        <!-- <p class="label" item-left>{{this.priority_label}}</p> -->
    <ion-select  interface="popover" item-right [okText]="ok" [cancelText]="cancel"  class="ionSelect"  [(ngModel)]="priority" (ionChange)="getPriorty($event)"
      [placeholder]="this.priority_label">
      <ion-select-option *ngFor="let item of priority_list" [value]='item.name'>{{item.view}}</ion-select-option>
    </ion-select>
     </ion-item>
    <ion-grid>
        <p *ngIf="Data.length>0 && Data.page =='createTaskByCategory' " style=" margin: 4px 0px 4px 7px;">Resources</p>

        <ion-card class="catergory-card" >
          <ion-list >
            <ion-item *ngFor="let labour of Data;let idx=index" (click)="selectLabour(idx)" >
              <ion-thumbnail>
                <img [src]="labour.profile_url" style="object-fit: cover;border-radius: 8px;">
              </ion-thumbnail>
              <ion-label margin-start>{{labour.name}}</ion-label>
              <img *ngIf="labourActive[idx]" class="catergory-checked" src="./assets/images/checked-check-box.svg">
            <!-- <ion-checkbox color="dark"  *ngIf="labourActive[idx]"><label style="margin-left: 4px;"></label> -->
            <!-- </ion-checkbox> -->
            </ion-item>
          </ion-list>
        </ion-card>

        <!-- <ion-grid  *ngIf="Data.length>0">
              <ion-row>
                  <ion-col col-4  *ngFor="let labour of Data;let idx=index" (click)="selectLabour(idx)">
                      <img *ngIf="labourActive[idx]" class="catergory-checked" src="./assets/images/white-check.svg">
                      <img class="cssimg" [src]="labour.profile_url">
                      <div class="user_background">{{labour.name_label}}</div>
                  </ion-col>
                </ion-row>
            </ion-grid> -->


      <!-- <ion-row *ngIf="Data.length>0">
       
        <ion-col *ngFor="let labour of Data;let idx=index">
          <div [style.backgroundImage]="'url('+ labour.profile_url +')'" style="object-fit: cover;" class="category" (click)="selectLabour(idx)">
            <div >
              <div><img *ngIf="labourActive[idx]" class="catergory-checked" src="./assets/images/white-check.svg"></div>
                </div>
                <div class="catergory-text">
                    {{labour.name }}
                </div>
          </div>
        </ion-col>
      </ion-row> -->
      <p *ngIf="Data.length<=0">{{this.no_labour}}</p>
    </ion-grid>
</ion-card> 