<ion-footer [style.background]='Data.footerColor'>
  <!-- Left Button in Footer -->
  <ion-button class="createTask" *ngIf="Data.leftButtonName" [disabled]="isEnableLeft" (click)="leftButton()"
  [ngClass]="{'buttonGreen':(Data.leftButtonColor == 'green'),
  'buttonOrange':(Data.leftButtonColor == 'orange'),
  'buttonPurple':(Data.leftButtonColor == 'purple'),
  'buttonBlue':(Data.leftButtonColor == 'blue'),
  'buttonTeal':(Data.leftButtonColor == 'teal'),
  'buttonSkyblue':(Data.leftButtonColor == 'skyblue'),
  'buttonPink':(Data.leftButtonColor == 'pink'),
  'buttonRed':(Data.leftButtonColor == 'red'),
  'buttonGrey':(Data.leftButtonColor == 'grey')

   }"
   >{{Data.leftButtonName}}
    <ion-icon *ngIf="Data.leftButtonIcon" [name]="Data.leftButtonIcon" style="width:26px;height: 26px;"></ion-icon>
  </ion-button>

  <!-- Middle Button in Footer -->
  <ion-button class="createTask" *ngIf="Data.middleButtonName" [disabled]="isEnableMiddle" (click)="middleButton()"
  [ngClass]="{'buttonGreen':(Data.middleButtonColor == 'green'),
  'buttonOrange':(Data.middleButtonColor == 'orange'),
  'buttonPurple':(Data.middleButtonColor == 'purple'),
  'buttonBlue':(Data.middleButtonColor == 'blue'),
  'buttonTeal':(Data.middleButtonColor == 'teal'),
  'buttonSkyblue':(Data.middleButtonColor == 'skyblue'),
  'buttonPink':(Data.middleButtonColor == 'pink'),
  'buttonRed':(Data.middleButtonColor == 'red'),
  'buttonGrey':(Data.middleButtonColor == 'grey')

   }"
   >{{Data.middleButtonName}}</ion-button>
   <ion-icon *ngIf="Data.middleButtonIcon" [name]="Data.middleButtonIcon" style="width:26px;height: 26px;"></ion-icon>


  <!-- Right Button in Footer -->
  <ion-button class="createTask" [disabled]="isEnableRight" *ngIf="Data.rightButtonName" (click)="rightButton()"
  [ngClass]="{'buttonGreen':(Data.rightButtonColor == 'green'),
  'buttonOrange':(Data.rightButtonColor == 'orange'),
  'buttonPurple':(Data.rightButtonColor == 'purple'),
  'buttonBlue':(Data.rightButtonColor == 'blue'),
  'buttonTeal':(Data.rightButtonColor == 'teal'),
  'buttonSkyblue':(Data.rightButtonColor == 'skyblue'),
  'buttonPink':(Data.rightButtonColor == 'pink'),
  'buttonRed':(Data.rightButtonColor == 'red'),
  'buttonGrey':(Data.rightButtonColor == 'grey')
   }"
   >{{Data.rightButtonName}}</ion-button>
    <ion-icon *ngIf="Data.rightButtonIcon" [name]="Data.rightButtonIcon" style="width:26px;height: 26px;"></ion-icon>

</ion-footer>


<!--
Footer Data Format

{
'footerColor':'transparent',
'leftButtonName':'Submit',
'middleBUttonName':'Save Draft',
'rightButtonName':'',
'leftButtonColor':'green',
'middleButtonColor':'brown',
'rightButtonColor':'',
'leftButtonIcon':'',
'middleButtonIcon':'',
'rightButtonIcon':'',
}


-->