.createTask{
    font-weight: bold;
    height: 29px;
    --max-height: 83px;
    font-size: 13px;
   width: 30%;
   --border-radius: 5px;
}
.buttonGreen{
    // --background: rgba(139, 195, 74, 1);
    --background : rgba(255, 152, 0, 1) 100%;
    font-weight: bold;
    height: 29px;
    --max-height: 83px;
    font-size: 13px;
   width: 30%;
   --border-radius: 5px;
}
.buttonGrey{
    color: #f7f7f7;
    // --background: rgba(128, 128, 128,1);
    --background : rgba(255, 152, 0, 1) 100%;
    font-weight: bold;
    height: 29px;
    --max-height: 83px;
    font-size: 13px;
   width: auto;
   --border-radius: 5px;
}

 .buttonOrange{
    --background : rgba(255, 152, 0, 1) 100%;
    --color:#fff;
    font-weight: bold;
    height: 29px;
    --max-height: 83px;
    font-size: 13px;
   width: 30%;
   --border-radius: 5px;
 }
 .buttonPurple{
    // --background : rgba(179, 0, 179,1) 100%;
    --background : rgba(255, 152, 0, 1) 100%;
    --color:#fff;
    font-weight: bold;
    height: 29px;
    --max-height: 83px;
    font-size: 13px;
   width: 30%;
   --border-radius: 5px;
 }
 .buttonBlue{
    //  --background : rgba(118, 138, 247, 1) 100%;
    --background : rgba(255, 152, 0, 1) 100%;
     --color: #fff;
     font-weight: bold;
     height: 29px;
     --max-height: 83px;
     font-size: 13px;
    width: 30%;
    --border-radius: 5px;
 }
 .buttonTeal{
    // --background: linear-gradient(to right,#D42453,#C92462,#B82575,#A32590,#9025A5);
    --background : rgba(255, 152, 0, 1) 100%;
    --color: #fff;
    font-weight: bold;
    height: 29px;
    --max-height: 83px;
    font-size: 13px;
   width: 30%;
   --border-radius: 5px;
    
}
.buttonSkyblue{
    // --background : rgba(64, 180, 255, 1) 100%;
    --background : rgba(255, 152, 0, 1) 100%;
    --color: #fff;
    font-weight: bold;
    height: 29px;
    --max-height: 83px;
    font-size: 13px;
   width: 30%;
   --border-radius: 5px;
}
.buttonPink{
    // --background : rgba(255, 64, 129, 1) 100%;
    --background : rgba(255, 152, 0, 1) 100%;
    --color: #fff;
    font-weight: bold;
    height: 29px;
    --max-height: 83px;
    font-size: 13px;
   width: 30%;
   --border-radius: 5px;
}
.buttonRed{
    --background : #f00;
    --color: #fff;
    font-weight: bold;
    height: 29px;
    --max-height: 83px;
    font-size: 13px;
   width: 30%;
   --border-radius: 5px;
}

ion-button{
    text-transform: unset;
}

ion-footer{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.footer-md:before {
    background-image: none;
}