.textitem{
    height: 28px;
    width: 96%;
    margin-left: 2%;
    font-size: 14px;
    border-radius: 5px;
    border: solid 1px #BBBBBB;
    background-color: #fff;
 }
.textinput{
    height: 28px;
    width: 85%;
    margin-left: 15%;
    font-size: 14px;
    border: solid 1px #BBBBBB;
    background-color: #fff;
 }

.heading{
    font-size: 12px;
    padding-left: 10px;
 }
