<farmeasy-header [Data]="headerData"></farmeasy-header>
<ion-content>
  <ion-grid margin-top no-padding>
    <ion-row>
        <ion-col size="3" class="heading" style="padding:2px;" no-padding>{{this.type}}</ion-col>
        <ion-col size="4" class="heading" no-padding>{{this.fromdate}}</ion-col>
        <ion-col size="4" class="heading" no-padding>{{this.todate}}</ion-col>
        <ion-col size="1"class="heading" no-padding></ion-col>
    </ion-row>
    <ion-row *ngFor="let item of harvest_report; let idx = index">
      <ion-col size="3" no-padding>
        <div class="textitem">
        <ion-select  interface="popover" placeholder="-select-" style="padding: 4px;" [(ngModel)]="harvest_report[idx].type" > 
            <ion-select-option *ngFor="let item of types">{{item}}</ion-select-option>
        </ion-select>
        </div>
      </ion-col>
      <ion-col size="3" no-padding>
        <div class="textinput">
            <ion-input placeholder="YYYY-MM-DD" style="font-size: 12px;" no-padding [(ngModel)]="harvest_report[idx].from" readonly></ion-input>
        </div>
      </ion-col>
      <ion-col size="1" no-padding>
          <img  (click)="pickDate('from',idx)" style="width: 26px;" src="assets/images/date.png" >
        <!-- <ion-icon name="calendar" (click)="pickDate('from',idx)" style="font-size: 26px;color:#868585;" ></ion-icon> -->
      </ion-col>
      <ion-col size="3" no-padding>
        <div class="textinput">
            <ion-input placeholder="YYYY-MM-DD" style="font-size: 12px;" no-padding [(ngModel)]="harvest_report[idx].to" readonly></ion-input>
        </div>
      </ion-col>
      <ion-col size="1" no-padding>
          <img  (click)="pickDate('to',idx)" style="width: 26px;" src="assets/images/date.png" >
        <!-- <ion-icon name="calendar" (click)="pickDate('to',idx)" style="font-size: 26px;color:#868585;" ></ion-icon> -->
      </ion-col>
      <ion-col size="1" no-padding>
          <ion-icon name="close-circle" *ngIf="idx != report_length" style="font-size: 26px;color:red;" (click)="remove(idx)" ></ion-icon>
        <ion-icon name="add-circle" *ngIf="idx == report_length" style="font-size: 26px;color:#608DFB;" (click)="addMore()" ></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
