ion-toolbar {
--background: #ff9800  !important;
--ion-color-base: #ff9800 !important;
font-size: 15px;
font-weight: 600;
--min-height: 47px;
}
.notification_icon{
position: absolute;
vertical-align: middle;
margin-right: 53%;
margin-top: -9px;
z-index: 1;
border-radius: 20px;
background-color: #FF0000;
right: 0;
width: 20px;
height: 20px;
border-radius: 13px;
padding: 3px 0px 4px 2px;
/* font-size: 1.0rem; */
font-weight: bold;
}

ion-title{
text-align: left;
color: #fff;
font-weight: 500;
font-size: 16px;
}

.notification_Acknowledge{
    margin: 0px !important;
    --background: #FF4081 !important;
    font-size: 10px !important;
    text-transform: capitalize !important;
    padding: 0px 4px;
    font-size: 10px;
    --border-radius: 13px;

}
.notification_Acknowledged{
margin: 0px !important;
--background:#41B2FB  !important;
text-transform: capitalize !important;
padding: 0px 4px;
    font-size: 10px;
    --border-radius: 10px;

}
.notification_mark{
margin: 0px !important;
--background:#8BC34A !important;
font-size: 10px !important;
text-transform: capitalize !important;
padding: 0px 4px;
font-size: 10px;
--border-radius: 13px;
}
.item{
--padding-start:5px !important;
--padding-end:0px !important;
}
ion-card{
margin:0px !important;
}
.notification-time{
font-size: 11px;
position: absolute;
    right: 0px;
    top: 16px; 
color:#469DBF ;
}

.notification-time-send{
    font-size: 11px;
    position: absolute;
    right: 4px;
    bottom: 4px;
    color: #469DBF;
}

.notification-icon{
font-size: 22px;
padding:13px 0px 0px 0px;
}
ion-avatar{
margin-right: 8px !important; 
--border-radius: 10% !important; 
margin-top: -11px;
height: 45px;
width: 45px;
}
ion-label{
margin-right: 0px !important; 
--border-color: transparent !important;  
}
.notification_description{
color:#101010;
font-size: 14px;

white-space: normal;
line-height: 1.2;
// font-family: 'Roboto-Regular', sans-serif; 
}
ion-card{
border-radius: 0px !important;
// border-bottom: 1px solid #DFDCDC !important;
box-shadow:none;
border:1px solid rgba(223, 220, 220, 0.3);
--background: #e0e0e0;
}
.label{
margin-bottom: 0px !important; 
--border-color: transparent !important;
}
.item{
    --border-style: transparent !important; 
    // margin-top:10px;
}
ion-content{
    --background:rgba(255,255,255,0.8);; 
    background-color: rgba(255,255,255,0.8);
}
.footer-item{
--background: transparent;
}
.add-button{
--background-activated: #ff9800;
--background: #ff9800;
text-transform: capitalize;
}
.unread{
    font-weight: bold;
    --background: #e0e0e0;
    // margin-top: 10px;
}
.sc-ion-segment-md-h {
    --background: white;
    --background-checked: #fff;
    --background-hover:aliceblue;
    --background-activated: rgba(var(--ion-color-primary-rgb,56,128,255),0.16);
    --color: rgba(var(--ion-text-color-rgb,0,0,0),0.6);
    --color-checked: transparent;
    --color-checked-disabled: var(--color-checked);
    --border-color: transparent;
    --indicator-color: transparent;

}
ion-segment-button{
    font-size: 16px;
    color: #4A4A4A;
    border: 0px;
    border-radius: 0px;
    background-color: #e6e6e6;
    text-transform: capitalize;
    min-height: 28px;
    border-bottom: 4px solid #e6e6e6;
    margin:0px;
    padding:0px
 }
 .segment-button-checked{
    // background: #ff9800;
    color: #1EC400;
    font-weight: 1000;
     border-bottom: 4px solid #ff9800;
 }