<!-- <ion-header>
    <ion-toolbar>
        <ion-buttons slot="start"> -->
            <!-- <ion-button (click)="backto_dashboard()">
                <ion-icon name="arrow-back" style="color:#fff"></ion-icon>
             </ion-button> -->
          <!--  <ion-back-button style="color:white" defaultHref='/' ></ion-back-button>  
        </ion-buttons>
        <ion-title>{{this.title}}</ion-title>
        <ion-buttons slot="end">
            <ion-button class="notification_button" style='pointer-events: auto;'>
                <img src="assets/images/notifications.png" class="notification_img" style='pointer-events: auto;'>
            </ion-button>
            <ion-badge class="notification_icon" style='pointer-events: auto;'>
                <span *ngIf="this.sg['notificationscount']">{{this.sg['notificationscount']}}</span>
            </ion-badge>
            <ion-button (click)="createnotification()">
                <ion-icon name="add-circle-outline" style="color:#fff"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header> -->
<farmeasy-header [Data]="headerData"></farmeasy-header>
<ion-content style="background-image: url('assets/images/harvest_back.jpeg');
  background-repeat: no-repeat;
  background-size: 100% 100%;    --background: rgba(255,255,255,0.9); ">
    <!-- <appnotifications [page_status]="page_status"></appnotifications> -->
<div *ngIf="!labourflag">
 <ion-segment (ionChange)="segmentChanged($event.detail.value)" >
        <ion-segment-button value="receive" checked>
          <ion-label no-margin>{{labels.receive}} <ion-icon slot="start" name="arrow-round-down"></ion-icon></ion-label>
        </ion-segment-button>
        <ion-segment-button value="send">
          <ion-label no-margin>{{labels.send}} <ion-icon slot="end" name="arrow-round-up"></ion-icon></ion-label>
        </ion-segment-button>
    </ion-segment>
    <div>
        <div *ngIf="show_receive">
                <div *ngIf="notifications_data_receive && notifications_data_receive.length>0">
                        <ion-card *ngFor="let data of notifications_data_receive; let idx = index">
                          <ion-item [ngClass]="{'unread':!data.read}">
                            <ion-thumbnail slot="start" class="notification_avatar" style="margin-right: 8px !important; --border-radius: 10% !important; 
                          margin-top: 10px; height:60px; width:60px;">
                              <img [src]="data.senderimage" style="object-fit: cover;">
                            </ion-thumbnail>
                            <ion-label class="label">
                              <p class="notification_description" style="display: -webkit-box;
                              -webkit-line-clamp: 2;
                              -webkit-box-orient: vertical !important;
                              overflow: hidden;">{{data.notiification_description}}</p>
                              <ion-row style="margin-top: -5px; margin-left:-5px;">
                                <ion-col offset="4.5" size="4.5" style="padding-top: 5px;">
                                  <ion-button class="notification_Acknowledge" (click)="updatestatus(data)" *ngIf="data.status == 'Acknowledge'">{{labels.acknowledge}} </ion-button>
                                  <ion-button class="notification_Acknowledged" *ngIf="data.status == 'Acknowledged'">{{labels.acknowledged}} </ion-button>
                                </ion-col>
                                <!-- <ion-col size="4.5" style="padding-top: 5px;">
                                  <ion-button class="notification_mark" (click)="notification_status(data)" *ngIf="data.notification_status == 'Mark as Done' && data.notification_status_label">
                                    {{data.notification_status_label}}</ion-button>
                                  <ion-button class="notification_mark" *ngIf="data.notification_status == 'Completed' && data.notification_status_label">{{data.notification_status_label}}</ion-button>
                                </ion-col> -->
                                <ion-col size="1" class="notification-icon" (click)="Viewnotification(data)">
                                  <ion-icon style="color:#666464;" name="eye"></ion-icon>
                                </ion-col>
                                <ion-col  >
                                  <span class="notification-time">{{data.createdat}}</span>
                                </ion-col>
                              </ion-row>
                            </ion-label>
                          </ion-item>
                        </ion-card>
                      </div>
                      <p *ngIf="notifications_data_receive && notifications_data_receive.length ==0" style="text-align: center;">{{error_message}}</p>
        </div>
        <div *ngIf="show_send">
                <div *ngIf="notifications_data_send && notifications_data_send.length>0">
                        <ion-card *ngFor="let data of notifications_data_send; let idx = index" (click)="Viewnotification(data)">
                          <ion-item [ngClass]="{'unread':!data.read}">
                            <ion-thumbnail slot="start" class="notification_avatar" style="margin-right: 8px !important; --border-radius: 10% !important; 
                          margin-top: 10px; height:60px; width:60px;">
                              <img [src]="data.senderimage" style="object-fit: cover;">
                            </ion-thumbnail>
                            <ion-label class="label">
                              <p class="notification_description" style="display: -webkit-box;
                              -webkit-line-clamp: 2;
                              -webkit-box-orient: vertical !important;
                              overflow: hidden;">{{data.notiification_description}}</p>
                             </ion-label>
                            <!-- <span class="notification-time-send">{{data.createdat}}</span> -->
                          </ion-item>
                        </ion-card>
                      </div>
                      <p *ngIf="notifications_data_send && notifications_data_send.length ==0" style="text-align: center;">{{error_message}}</p>

        </div>
    </div>
  
    </div>
   <div *ngIf="labourflag">
<div *ngIf="notifications_data_receive && notifications_data_receive.length>0">
                        <ion-card *ngFor="let data of notifications_data_receive; let idx = index">
                          <ion-item [ngClass]="{'unread':!data.read}">
                            <ion-thumbnail slot="start" class="notification_avatar" style="margin-right: 8px !important; --border-radius: 10% !important; 
                          margin-top: 10px; height:60px; width:60px;">
                              <img [src]="data.senderimage" style="object-fit: cover;">
                            </ion-thumbnail>
                            <ion-label class="label">
                              <p class="notification_description" style="display: -webkit-box;
                              -webkit-line-clamp: 2;
                              -webkit-box-orient: vertical !important;
                              overflow: hidden;">{{data.notiification_description}}</p>
                              <ion-row style="margin-top: -5px; margin-left:-5px;">
                                <ion-col offset="4.5" size="4.5" style="padding-top: 5px;">
                                  <ion-button class="notification_Acknowledge" (click)="updatestatus(data)" *ngIf="data.status == 'Acknowledge'">{{labels.acknowledge}} </ion-button>
                                  <ion-button class="notification_Acknowledged" *ngIf="data.status == 'Acknowledged'">{{labels.acknowledged}} </ion-button>
                                </ion-col>
                                <!-- <ion-col size="4.5" style="padding-top: 5px;">
                                  <ion-button class="notification_mark" (click)="notification_status(data)" *ngIf="data.notification_status == 'Mark as Done' && data.notification_status_label">
                                    {{data.notification_status_label}}</ion-button>
                                  <ion-button class="notification_mark" *ngIf="data.notification_status == 'Completed' && data.notification_status_label">{{data.notification_status_label}}</ion-button>
                                </ion-col> -->
                                <!-- <ion-col size="1" class="notification-icon" (click)="Viewnotification(data)">
                                  <ion-icon style="color:#666464;" name="eye"></ion-icon>
                                </ion-col> -->
                                <ion-col  >
                                  <span class="notification-time">hi</span>
                                </ion-col>
                              </ion-row>
                            </ion-label>
                          </ion-item>
                        </ion-card>
                      </div>
                      <p *ngIf="notifications_data_receive && notifications_data_receive.length ==0" style="text-align: center;">{{error_message}}</p>

   </div>
   <ion-infinite-scroll #infi (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content threshold="100px" infinite-scroll-immediate-check="true"
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
</ion-infinite-scroll>

</ion-content>