
<div id="printable-area">
<p style="text-align: right"><ion-icon (click)="cancel()" name="close" style="font-size: 25px;
  "></ion-icon></p>

<p class="bill_voice"> {{this.labels[0]}}</p>

  <ion-grid>
    <ion-row>
      <ion-col size="8">
        <div>
        <img src="assets/images/logo.png" style="max-width:65%;"> 
         
          <p class="address_style">{{this.labels[1]}}</p>
          </div>
        </ion-col>
       <!-- <ion-col  size="3">
          Bill/Invoice
       </ion-col> -->
        <ion-col size="4">
            <p class="date-style">{{date}}</p>
            <!-- <p class="bill-style">Bill # SW -001</p> -->
            <p  class="bill-style" *ngIf="harvest_outdata && harvest_outdata.Bill_no > 9"><span>#{{harvest_outdata.short_name}}</span ><span >-</span><span>0{{harvest_outdata.Bill_no}}</span> </p>
            <p  class="bill-style" *ngIf="harvest_outdata && harvest_outdata.Bill_no < 9"><span>#{{harvest_outdata.short_name}}</span ><span >-</span><span>{{harvest_outdata.Bill_no}}</span> </p>

          </ion-col>
      </ion-row>
    </ion-grid>
  <div id="container">
    <table style="width:100%">
      <tr style="text-align: left;">
        <th>{{this.labels[2]}}</th>
        <th>{{this.labels[3]}}</th>
        <th>{{this.labels[4]}}</th>
        <th>{{this.labels[5]}}</th>
        <th>{{this.labels[6]}}</th>
      </tr>

      <tr *ngFor="let data of harvest_outdata.record" >
        <td>{{data.category }}</td>
        <td>{{data.subcategory }}<ion-icon name="arrow-dropdown" style="margin-left: 10px;
        position: absolute;
        margin-top: 2px;"></ion-icon>
        </td>
        <td>{{data.UOM}}</td>
        <td>{{data.Quantity}}</td>
        <td>{{data.Rate}}</td>
      </tr>
      <tr>
        <td>{{this.labels[9]}}</td>
        <td style="background: transparent;"></td>
        <td style="background: transparent;"></td>
        <td style="background: transparent;"></td>
        <td>{{this.amount}}</td>
      </tr>
    </table>
  </div>
  <!-- <div class="div_style">
    <ion-row>
      <ion-col class="total_text">Total
      </ion-col>
      <ion-col class="total_text" *ngIf="total" style="text-align: center;">{{total}}
      </ion-col>
    </ion-row>
  </div>
  <div class="div_style">
    <ion-row>
      <ion-col class="total_text" style="padding-left: 0px;">GST
      </ion-col>
      <ion-col style="font-size: 14px;color:#348BE1;text-align: center;">100
      </ion-col>
    </ion-row>
  </div>
  <div>
    <ion-row>
      <ion-col size="8" class="total_text">{{countinwords}}
      </ion-col>
      <ion-col size="2" class="total_text">Total
      </ion-col>
      <ion-col size="2" class="total_text" *ngIf="finaltotol" style="text-align: center;">{{finaltotol}}
      </ion-col>
    </ion-row>
  </div> -->
<p style="font-size: 13px;">{{this.labels[7]}}</p>
    <ion-button expand="full"  class="print" (click)="Print()">{{this.labels[8]}}</ion-button>
</div>

<!--
0  'Bill/Invoice',
1  '#219/11,JP Corp,Bellary Road,Sadshiva nagar,Bangalore,Karnataka, India.',
2  'Category',
3  'Subcategory',
4  'UOM',
5  'QTY',
6  'Rate',
7  'Note: This is an electronically generated Invoice and doesnt need signature',
8  'Print',
9  'Total'
-->