.farmmodule_title{
    // height: 30px;
    color: rgba(59, 59, 59, 0.88);
    font-size: 16px;
    text-align: left;
    // font-family: 'Roboto', sans-serif;
}
.farmmodule_subtitle{
  color: #ff9800;
  font-size: 12px;
  white-space: initial;
  text-overflow: inherit;
  word-break: break-word;
}
ion-card{
 --background:transparent;
 margin:4px 0px 0px 0px;
 -webkit-box-shadow:none;
 box-shadow:none;
}
.module_image{
  width: 56px;
  height: 56px;
  border: 1px solid #ff9800;
  margin-bottom: 2px;
  margin-top: 0px;
  object-fit: cover;
  border-radius: 8px;
}
.module_style{
  padding-top:10px;
}
.item{
 --background:transparent; 
 margin-left: -4px;
}
.cssarrow{
 height: 20px;
 width: 20px;
 position: absolute;
 right: 8px;
 top: 30px;
}
ion-label{
 --border-color: #D5D2D2 !important;
 margin-top: 8px;
 height: 60px;
 margin-right: 20px;
 padding: 0px 20px 0px 0px;
}