<farmeasy-header [Data]="headerData"></farmeasy-header>
<ion-content >
<ion-card *ngFor="let mainMenu of expensemanager" (click)="selectedTask(mainMenu)">
  <ion-item>
    <ion-avatar slot="start">
       <img [src]="mainMenu.image" style="object-fit: cover;">
    </ion-avatar>
    <ion-label no-margin>
      <p class="farmmodule_title">{{mainMenu.heading}}</p>
      <p class="farmmodule_subtitle">{{mainMenu.description}}</p>
      <img slot="end" src="assets/images/forwordarrow.png" class="cssarrow">
    </ion-label>

  </ion-item>
</ion-card>

</ion-content>