<ion-card class="csscard" >
    <ion-row>
        <ion-col>
            <div class="outerDiv" (click)="captureImage()">
                <!-- <ion-icon class="block-icon" size="large" name="camera"></ion-icon> -->
                <img class="cssimg" src="assets/images/camera_dark.svg">
            </div>
        </ion-col>
        <!-- <ion-col>
            <div class="outerDiv" (click)="multipleImageAttachment()" >
                <ion-icon class="block-icon" size="large" name="images"></ion-icon>
            </div>
        </ion-col> -->
        <ion-col>
            <div class="outerDiv" (click)="captureVedio()">
                <!-- <ion-icon class="block-icon" size="large" name="videocam"></ion-icon> -->
                <img class="cssimg" src="assets/images/video_dark.svg">
            </div>
        </ion-col>
     </ion-row>
</ion-card>