.outerDiv{
    width: 110px;
    height: 100px;
    text-align: -webkit-center;
    padding-top: 24px;
    border-radius: 10px;
    background: #E8E8E8;
    border: 1px solid rgba(187, 187, 187, 0.3);
}
// .block-icon{
//     position: relative;
//     left: 30%;
//     top: 28%;
// }
ion-col{
    display: flex !important;
    justify-content: center !important;
}
.csscard{
    padding: 15px 0px;
    // background: #FFFFFF;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.85);
    color: rgba(114, 132, 93, 1);
    font-size: 14px;
    text-align: left;
    // font-family: Roboto;
    border: 1px solid rgba(240, 237, 237, 1);
    box-shadow: none;
}
.cssimg{
    width: 50px;
    height: 50px;
}