.ion-grid{
    margin: 0px;
    padding: 0px;
}

.block-button{
    width: 28px;
    font-size: 10px;
    height: 28px;
    font-weight: bold;
    --background: transparent;
    border-radius:3px;
    --background-activated:transparent;
    --box-shadow:none;
}
.block-col{
    //padding: 0px;
}
.block-item{
    --max-height: 10px;
    --height: 10px;
    --min-height: 25px; 
}
.block-item{
    --background:transparent;
}
.item{
    --inner-border-width: 0px 0px 0px 0px;
}
.block-text{
    width: 30px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 4%;
    font-size: 14px;
    height: 30px;
    padding-top: 3%;
    border-radius: 50px;
    padding: 8px 0;
    background:#fff;
    line-height: 14.7px;
    
}
.block-text1{
    text-align: center;
    margin: 0px;
    font-size: 12px;
    color: #fff;
    padding-top: 16%;
}
.block-okCancelRow{
    margin-top: 4%;
}
// .block-name{
//     width: 100%;
//     height: 30px;
// }
.block-ok{
    --padding-top: 6px;
    --padding-end: 10px;
    --padding-bottom: 5px;
    --padding-start: 9px;
    --border-radius:10px;
    font-weight: bold;
    --background:rgba(139, 195, 74, 1);
    height: 19px;
    width: 54px;
    font-size: 12px;
}
.block-cancel{
    --padding-top: 6px;
    --padding-end: 10px;
    --padding-bottom: 5px;
    --padding-start: 9px;
    --border-radius: 12px;
    font-weight: bold;
    --background:rgba(139, 195, 74, 1);
    height: 19px;
    width: 70px;
    font-size: 12px;
}
.block-selectText{
    // color: #fff;
    // font-size: 9px;
    // margin: 4px 0px 0px 0px;
    // font-weight: bold;
    // padding-top: 2px;
    // text-align: center;
    // height: 13px;

    color: #fff;
    font-size: 9px;
    margin: 5px 0px 0px 0px;
    font-weight: bold;
    padding-top: 2.5px;
    text-align: center;
    height: 15px;
}
.block-checkImage{
    width: 40%;
    margin-top: -3px !important;
    // position: absolute;
    // top: 1px;
    // left: 30%;
}
.block-selectDateText{
    margin-left: 5%;
    color: black;
}
.block-okCancelButton{
    text-align: center;
    margin :5%;
}
.block-activeDate{
    background: yellow;
   
    color: #fff;
    height: 29px;
}
.block-activeDateText{
    margin: 0px;
    padding-left: 37%;
    padding-top: 21%;
}
.block-dateCol{
    padding-top: 0px;
    padding-bottom: 20px;
    height: 23px;
    width: 23px;
    text-align: center;
    border-radius: 50px;
    background: #f7f900;
    color: #fff;
}



