<div *ngIf="selectedBlock">
  <ion-item class="block-item" no-lines style="background: transparent;">
    <p item-left>{{this.labels.selectplot}}</p>
    <p item-left class="block-text" [ngStyle]="{'color':selectedBlock.color,'border':'1px solid'+selectedBlock.color}">{{selectedBlock.name}}</p>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col size="1.7" class="block-col" *ngFor="let plot of plots;let idx=index">
        <div [ngStyle]="{'background':selectedBlock.color}" (click)="getBlock(idx)" style="height: 40px;">
          <div class="block-name">
            <p class="block-text1">{{plot.name}}</p>
          </div>
          <div [ngStyle]="{'background': 'rgba(0,0,0,0.5)'}" class="block-selectText">
            <p *ngIf="!checkImage[idx]" style="margin:0px;">{{this.labels.select}}</p>
            <img *ngIf="checkImage[idx]" src="./assets/images/white-check.svg" class="block-checkImage">   
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="block-okCancelButton">
    <ion-button class="block-ok" [disabled]="isSelectedBlocks" (click)="blockPopOverOk()">{{this.labels.ok}}</ion-button>
    <ion-button class="block-cancel" (click)="blockPopOverCancel()">{{this.labels.cancel}}</ion-button>
  </div>
</div>
<div *ngIf="selectedCategory && selectedCategory.id=='2'">
  </div>
  
  <!-- <p class="block-selectDateText">Select Date(s)</p>
  <ion-grid>
    <ion-item class="block-dateItem">
      <ion-row>
        <ion-col size='1.7' *ngFor="let dayInThisMonth of daysInThisMonth;let idx=index;" (click)="getSelectedDate(idx)" >
          <div [ngClass]="{'block-dateCol': activeDate[idx] === true}">
            <p>{{dayInThisMonth}}</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-item>
    <div  class="block-okCancelButton">
        <ion-button class="block-ok" (click)="blockPopOverDateOk()">OK</ion-button>
        <ion-button class="block-cancel" (click)="blockPopOverDateCancel()">CANCEL</ion-button>
      </div>
  </ion-grid> -->
  <!-- <div class="calendar-header">
      <ion-row class="calendar-month">
        <ion-col col-2 (click)="goToLastMonth()"><ion-icon name="arrow-back"></ion-icon></ion-col>
        <ion-col col-8>{{currentMonth}} {{currentYear}}</ion-col>
        <ion-col col-2 (click)="goToNextMonth()"><ion-icon name="arrow-forward"></ion-icon></ion-col>
      </ion-row>
    </div>
    <div class="calendar-body">
      <ion-grid>
        <ion-row class="calendar-weekday">
          <ion-col>Su</ion-col>
          <ion-col>Mo</ion-col>
          <ion-col>Tu</ion-col>
          <ion-col>We</ion-col>
          <ion-col>Th</ion-col>
          <ion-col>Fr</ion-col>
          <ion-col>Sa</ion-col>
        </ion-row>
        <ion-row class="calendar-date">
          <ion-col col-1 *ngFor="let lastDay of daysInLastMonth" class="last-month" (click)="getLastMonthDay(lastDay,currentMonth,currentYear)">{{lastDay}}</ion-col>
          <ion-col col-1 *ngFor="let day of daysInThisMonth" (click)="getCurrentMonthDay(day,currentMonth,currentYear)">
            <span class="currentDate" *ngIf="currentDate === day; else otherDate">{{day}}</span>
            <ng-template #otherDate class="otherDate">{{day}}</ng-template>
          </ion-col>
          <ion-col col-1 *ngFor="let nextDay of daysInNextMonth" class="next-month" (click)="getNextMonthDay(nextDay,currentMonth,currentYear)">{{nextDay}}</ion-col>
        </ion-row>
      </ion-grid>
    </div>
 
</div> -->


