.item{
    max-height: 25px;
}
.textitem{
   height: 28px;
   width: 98%;
   border-radius: 5px;
   border: 1px solid rgba(234, 234, 234, 1);
   background-color: #fff;
   margin-left: 9px;
   margin-bottom: 18px;
 }
 .camera{
   width: 134px;
   height: 123px;
    background-color: #e5e5e5;
    border-radius: 3px;
 }
 .error{
    color: red;
    margin-left: 14px;
    font-size: 11px;
 }
 ion-input{
    --padding: 4px;
 }
 .content{
   border: 1px solid rgba(234, 234, 234, 1);
   background-color: transparent;
   margin-top: 0px;
   height: 70px;
}
.icons{
   font-size: 18px;
   margin-top: 3px;
}
.detailscard{
   border-radius: 0px;
    box-shadow: none;
    background: white;
    padding: 6px 16px;
    border: 1px solid #ffdead;
}
.add-proof{
   border-radius: 0px;
    box-shadow: none;
    background: #ffdead;
    padding: 6px 16px 6px 16px;
}
.add-proof-icon{
   height: 55px;
   width: 59px;
   text-align: -webkit-center;
   padding-top: 13px;
   background-color: white;
   border-radius: 3px;
}
.language{
   border-radius: 0px;
   box-shadow: none;
   background: white;
   padding: 6px 16px;
}
.skills{
   border-radius: 0px;
   box-shadow: none;
   background: white;
   padding: 6px 16px;
}
.save {
   display: flex;
   justify-content: center;
   margin-top: 36px;
 }
 .update-edit {
   display: flex;
   justify-content: space-evenly;
   margin-top: 36px;
 }
.buttonClass{
   height: 29px;
    --background: #8BC34A 100%;
    text-transform: capitalize;
}
.csstitle{
   font-size: 20px;
    color: #3b3b3b;
   //  font-family: 'Roboto',sans-serif;
    margin: 16px;
}
.sc-ion-input-md-h{
   --padding-top:4px;
}
.sc-ion-input-ios-h {
   --padding-top: 3px;
   --padding-end: 8px;
   --padding-bottom: 10px;
   --padding-start: 6px;
}

.csscalndr{
   right: 4px;
   width: 20px;
   position: absolute;
   top: 101px;
}
.csslocation{
   position: absolute;
   bottom: 53px;
   right: 25px;
width:25px;
}
.csslabel{
   font-size: 14px;
   margin-left: 4px;
   word-break: break-word;
   width: 40%;
   // font-family: 'Roboto',sans-serif;
   color: #101010;
   text-align: center;
}
.csstext{
   font-size: 16px;
    text-align: left;
   //  font-family: 'Roboto', sans-serif;
    color: #777777;
    margin-top:2px;
}
.cssblocks{
   background: rgb(244, 252, 255);
   border: 0.5px solid #D1ECF7;
   padding: 6px 16px 6px 16px;
}
.cssbuttonselected{
   text-transform: capitalize;
   // font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 14px;
  --border-radius: 13px;
  --background: #59C0F9;
  height: 26px;
  margin: 6px 6px;
  }
.cssbutton{
   text-transform: capitalize;
   //  font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 14px;
    --border-radius: 13px;
    --color: #3CC5FB;
    --background: #fff;
    height: 26px;
    margin: 6px 6px;
}
.cssdiv{
   background: rgba(207, 230, 180, 0.5);
   border: 1px solid rgba(177, 206, 142, 0.8);
   padding: 10px;
   text-align: -webkit-center !important;
}
.cssimg{
   width: 100px;
   height: 100px;
   border-radius: 10px;
   margin-bottom: -20px;
}
.user_background{
   // bottom: 5px;
   width: 100px;
   position: relative;
   line-height: 20px;
   border-radius: 0px 0px 7px 7px;
   text-align: center;
   padding-right: 9px;
   padding-left: 3px;
   color: #fff;
   // font-family: 'Roboto-Regular', sans-serif;
   font-size: 14px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   background: rgba(51, 59, 42, 0.4);
   z-index: 100;
   // border: 1px solid rgba(187, 187, 187, 0.6);
 }

 .csscheckbox {
   height: 18px;
   width: 18px;
   position: absolute;
   top: 10px;
   right: 10px;
 }



// .checkbox-icon{
//    border-color: #939191 !important;
//    background: #939191 !important;
// }
// :host(.checkbox-checked)