<farmeasy-header [Data]="headerData"></farmeasy-header>
<ion-content style="background-image: url('assets/images/spalsh.jpeg');
background-repeat: no-repeat;
background-size: 100% 100%; --background: rgba(255,255,255,0.85);">
    <ion-card no-margin class="detailscard">
        <div style="display: flex">
            <!-- <img src='assets/images/logo.png' style="height: 74px;width: auto;object-fit: cover;"> -->
            <p class="csstitle">{{this.labels.title}}</p>
        </div>
        <ion-row>
            <ion-col size="5" style="padding:2px">
                <div class="camera">
                    <div *ngIf="!profile" style="text-align: -webkit-center;padding-top: 30px;">
                        <img src="assets/images/camera.png" *ngIf="!profile" style="height: 40px; width: 40px;"
                            (click)="chooseFile('profile')" />
                        <p *ngIf="!profile">Add Photo</p>
                    </div>
                    <div *ngIf="profile" style="text-align: -webkit-center;">
                        <img style="width:134px;height:123px;object-fit: cover;" *ngIf="profile" [src]="profile"
                            (click)="chooseFile('profile')" />
                    </div>
                </div>
                <input style="display: none;" id="profile" name="image" type="file" (change)="upload($event,'profile')"
                    multiple>
            </ion-col>
            <ion-col size="7">
                <div class="textitem">
                    <ion-input no-padding no-margin [placeholder]="labels.name" [(ngModel)]="name"></ion-input>
                </div>
                <div class="textitem">
                    <ion-select interface="popover" [placeholder]="labels.gender" [(ngModel)]="gender"
                        style="padding: 4px 4px 4px 8px;">
                        <ion-select-option>Male</ion-select-option>
                        <ion-select-option>Female</ion-select-option>
                        <ion-select-option>Other</ion-select-option>
                    </ion-select>
                </div>
                <div class="textitem" style="width:78%; margin-bottom: 10px;">
                    <ion-row>
                        <ion-col size="12" no-padding>
                            <div class="textinput">
                                <!-- <p style="margin: 5px;">{{dateConverter(dob)}}</p> -->
                                <ion-input placeholder={{dateConverterDateOfBirth(dob)}} no-padding no-margin readonly>
                                </ion-input>
                            </div>
                        </ion-col>
                    </ion-row>
                </div> <span><img (click)="pickDate('dob')" style="width: 20px;" class="csscalndr"
                        src="assets/images/date.png"></span>
            </ion-col>
        </ion-row>
        <!-- <ion-row>
        <ion-textarea class="content" rows="2" id="messageInputBox" [placeholder]="labels.address"
            [(ngModel)]='res_address' required></ion-textarea>
        <img class="csslocation" src="assets/images/contact-mail.svg">
       </ion-col>
    </ion-row> -->
        <ion-row style="margin: 10px 0px 0px 0px;">
            <ion-col no-padding>
                <div class="textitem" style="display: flex; margin-left: 0px; margin-bottom: 4px;border-radius: 0px;">
                    <ion-input [placeholder]="labels.phone" style="font-size: 12px;" [(ngModel)]="phone"
                        (keyup)="validateNumber($event)"></ion-input>
                    <ion-icon name="phone-portrait" class="icons"></ion-icon>
                </div>
                <p *ngIf="users.length>0 && phone" class="error">{{labels.found}}</p>
            </ion-col>
            <ion-col no-padding>
                <div class="textitem" style="display: flex;margin-left: 0px; margin-bottom: 4px; border-radius: 0px;">
                    <ion-input [placeholder]="labels.email" style="font-size: 12px;" [(ngModel)]="email"></ion-input>
                    <ion-icon name="mail" class="icons"></ion-icon>
                </div>
            </ion-col>
        </ion-row>
        <!-- <ion-row style="margin:0px 3px 0px 6px">
        <ion-col no-padding>
            <div class="textitem" style="display: flex;    margin-left: 0px;">
                <ion-input [placeholder]="labels.aadhar" style="font-size: 12px;" [(ngModel)]="aadhar" ></ion-input>
                    <ion-icon name="phone-portrait" class="icons"></ion-icon> 
                <img src="assets/images/aadhar.png" style="height: 25px;width: 25px;margin-right: 4px;">
            </div>
        </ion-col>
    </ion-row> -->
    </ion-card>
    <ion-card no-margin class="add-proof">
        <ion-row>
            <ion-col style="display:flex">
                <div class="add-proof-icon">
                    <ion-icon *ngIf="!id" (click)="chooseFile('ID')" style="font-size: 30px;" name="camera"></ion-icon>
                    <img style="height: 50px;width: 50px;object-fit: cover;" *ngIf="id" [src]="id"
                        (click)="chooseFile('ID')">
                </div>
                <p class="csslabel" style="margin-left: -6px;">{{labels.proof}}</p>
                <input style="display: none;" id="ID" name="image" type="file" (change)="upload($event,'ID')" multiple>
            </ion-col>
            <ion-col style="display:flex">
                <div class="add-proof-icon">
                    <ion-icon *ngIf="!bank" (click)="chooseFile('bank')" style="font-size: 30px;" name="camera">
                    </ion-icon>
                    <img style="height: 50px;width: 50px;object-fit: cover;" *ngIf="bank" [src]="bank"
                        (click)="chooseFile('bank')">
                </div>
                <p class="csslabel">{{labels.bank}}</p>
                <input style="display: none;" id="bank" name="image" type="file" (change)="upload($event,'bank')"
                    multiple>
            </ion-col>
        </ion-row>
    </ion-card>
    <ion-card no-margin class="language">
        <p class="csstext">{{labels.known_lang}}</p>
        <ion-row>
            <ion-col size="6" *ngFor="let lang of languages;let idx = index">
                <div style="display: flex">
                    <ion-checkbox color="dark" [(ngModel)]="preference_lang[idx].value" (ionChange)="selectedLang()">
                    </ion-checkbox><label style="margin-left: 4px;">{{preference_lang[idx].name}}</label>
                </div>
            </ion-col>
        </ion-row>
    </ion-card>
    <ion-card no-margin class="language">
        <p class="csstext">{{labels.language}}</p>
        <ion-row>
            <ion-col size="6" *ngFor="let lang of languages;let idx = index">
                <div style="display: flex">
                    <img src="assets/images/like.svg" *ngIf="!primary_lang[idx].value"
                        (click)="selectprimarylang(true,idx)" style="width: 30px;height: 18px;">
                    <img src="assets/images/like-dark.svg" *ngIf="primary_lang[idx].value"
                        (click)="selectprimarylang(false,idx)" style="width: 30px;height: 18px;">
                    <label style="margin-left: 4px;">{{preference_lang[idx].name}}</label>
                </div>
            </ion-col>
        </ion-row>
    </ion-card>
    <ion-card no-margin class="add-proof">
        <p class="csstext">{{labels.details}}</p>
        <ion-row>
            <ion-col no-padding size="6">
                <div>
                    <ion-row>
                        <ion-col size="10" no-padding>
                            <ion-input class="textitem" placeholder={{dateConverterDateOfJoining(doj)}}
                                style="font-size: 12px;width: 90%;padding: 8px 6px;" readonly></ion-input>
                        </ion-col>
                        <ion-col size="2" no-padding>
                            <img style="width: 20px;margin-top: 4px;" (click)="pickDate('doj')"
                                src="assets/images/date.png">
                            <!-- <ion-icon name="calendar" (click)="pickDate('doj')" style="font-size: 22px;color:#868585;" ></ion-icon> -->
                        </ion-col>
                    </ion-row>
                </div>
            </ion-col>
            <ion-col size="6" no-padding>
                <div class="textitem">
                    <ion-select interface="popover" [placeholder]="labels.designation" [(ngModel)]="role"
                        style="padding: 4px;">
                        <ion-select-option>Employee</ion-select-option>
                        <ion-select-option>HR</ion-select-option>
                        <ion-select-option>Supervisor</ion-select-option>
                        <ion-select-option>Accounts</ion-select-option>
                        <ion-select-option>Manager</ion-select-option>
                        <ion-select-option>corporate</ion-select-option>
                        <ion-select-option>MD</ion-select-option>
                    </ion-select>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6" no-padding>
                <div class="textitem">
                    <ion-input [placeholder]="labels.salary" style="font-size: 12px;" [(ngModel)]="salary"></ion-input>
                </div>
            </ion-col>
            <ion-col size="6" no-padding>
                <div class="textitem">
                    <ion-select interface="popover" [placeholder]="labels.manager" [(ngModel)]="manage"
                        style="padding: 4px;">
                        <ion-select-option *ngFor="let item of Data">{{item.name}}</ion-select-option>
                    </ion-select>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6" no-padding>
                <div class="textitem">
                    <ion-input [placeholder]="labels.department" style="font-size: 12px;" [(ngModel)]="department">
                    </ion-input>
                </div>
            </ion-col>
            <ion-col size="6" no-padding>
                <div class="textitem">
                    <ion-input [placeholder]="labels.branch" style="font-size: 12px;" [(ngModel)]="branch"></ion-input>
                </div>
            </ion-col>           
        </ion-row>
        <!-- <ion-row>
            <ion-col size="6" no-padding>
                <div class="textitem">
                    <ion-input [placeholder]="labels.designation" style="font-size: 12px;" [(ngModel)]="designation">
                    </ion-input>
                </div>
            </ion-col>
            <ion-col size="6" no-padding>
                <div class="textitem">
                    <ion-input [placeholder]="labels.branch" style="font-size: 12px;" [(ngModel)]="branch"></ion-input>
                </div>
            </ion-col>           
        </ion-row> -->
        <ion-row>
            <ion-col size="12" no-padding>
                <div class="textitem">
                    <ion-input [placeholder]="labels.password" style="font-size: 12px;" [(ngModel)]="password">
                    </ion-input>
                </div>
            </ion-col>
            <!-- <ion-col size="6" no-padding>
                    <div class="textitem" *ngIf="role === 'employee'">
                            <ion-select  interface="popover" [placeholder]="labels.block" [(ngModel)]="blocks" style="padding: 4px;" multiple="true"> 
                                  <ion-select-option *ngFor="let block of blocksData">{{block}}</ion-select-option>
                            </ion-select>
                    </div>
            </ion-col> -->
        </ion-row>
    </ion-card>
    <!-- <ion-card no-margin text-center class="cssblocks">
        <p  class="csstext">{{'Allocate Blocks'}}</p>
        <ion-button *ngFor="let block of blocksData,let idx = index;" [ngClass]="{'cssbutton':!this.blockSelectFlag[idx],'cssbuttonselected':this.blockSelectFlag[idx]}" (click)="selectBlock(idx,block)"  >{{'Block'}} {{block}}</ion-button>
  </ion-card> -->
    <ion-card no-margin class="cssdiv">
        <p class="csstext">{{'Allocate Responsibilities'}}</p>
        <ion-row>
            <ion-col col-4 *ngFor="let category of categoriesData,let idx = index"
                (click)="selectCategory(idx,category)">
                <img *ngIf="this.categoriesSelectFlag[idx]" class="csscheckbox" src="/assets/images/checked-check-box.svg">
                <img class="cssimg" [src]="category.image">
                <div class="user_background">{{category.name}}</div>
            </ion-col>
        </ion-row>
    </ion-card>

</ion-content>

<farmeasy-footer *ngIf="!updateflag" [Data]="footerData" (middleButtonAction)="validateData()"></farmeasy-footer>
<farmeasy-footer *ngIf="updateflag" [Data]="footerData" (leftButtonAction)="validateData()"
    (rightButtonAction)="deleteUser()"></farmeasy-footer>