<h2>{{ this.labels[0]}}</h2>

<div *ngIf="harvest_data">
<p *ngIf="harvest_data && harvest_data.Date_of_Receiving">{{ this.labels[4]}}&nbsp;&nbsp;{{harvest_data.Date_of_Receiving}}
  </p>
  <p *ngIf="harvest_data && harvest_data.Date_of_Transaction">{{ this.labels[4]}}&nbsp;&nbsp;{{harvest_data.Date_of_Transaction}}
  </p>
  <p *ngIf="harvest_data && harvest_data.labourer_name">{{ this.labels[1]}}&nbsp;&nbsp;{{harvest_data.labourer_name }}
  </p>
  <table *ngIf="type != 'Purchase In'">
  <tr>
  <td>{{ this.labels[2]}}</td>
  <td>{{ this.labels[3]}}</td>
  <td>{{ this.labels[5]}}</td>
  <td>{{ this.labels[6]}}</td>
  <td *ngIf="type == 'Harvest Out'">{{ this.labels[9]}}</td>
  </tr>
  <tr *ngFor="let data of harvest_data.record">
    <td>{{data.category }}</td>
    <td>{{data.subcategory }}</td>
    <td>{{data.UOM}}</td>
    <td >{{data.Quantity}}</td>
    <td *ngIf="type == 'Harvest Out'">{{data.Rate}}</td>
  </tr>
  </table>


  <!-- <p >{{ this.labels[2]}}&nbsp;&nbsp;{{harvest_data.category }}
  </p>
  <p *ngIf="type != 'Purchase In'">{{ this.labels[3]}}&nbsp;&nbsp;{{harvest_data.subcategory }}
  </p>
  <p *ngIf="type != 'Purchase In'">{{ this.labels[5]}}&nbsp;&nbsp;{{harvest_data.UOM}}
  </p>
  <p *ngIf="type != 'Purchase In'">{{ this.labels[6]}}&nbsp;&nbsp;{{harvest_data.Quantity}}
  </p> -->


  <p *ngIf="type == 'Purchase In'">Subcategories: </p>
  <div *ngIf="type == 'Purchase In'">
  <div *ngFor="let subCategory of harvest_data.subcategory">
   
   <p> name:&nbsp;&nbsp;{{subCategory.name }}</p>
   <p>UOM:&nbsp;&nbsp;{{subCategory.uom}}</p>
   <p>Quantity:&nbsp;&nbsp;{{subCategory.quantity}}</p>
   </div>
  </div>
  
</div>

<ion-row>
  <ion-col size="4">
    <ion-button (click)="requestcancel()" style="--background:#FF9800;">
        {{ this.labels[7]}}
    </ion-button>
  </ion-col>
  <ion-col size="4">
  </ion-col>
  <ion-col size="4" style="text-align: right;">
    <ion-button (click)="requestok()" style="--background:#FF9800 ;">
        {{ this.labels[8]}}
    </ion-button>
  </ion-col>

</ion-row>

<!--
 0 'Confirm Review',
 1 'Labourer Name:',
 2 'Category Name:',
 3 'SubCategory Name:',
 4 'Date of Receiving:',
 5 'UOM:',
 6 'Quantity:',
 7 'Cancel',
 8 'Okay',
 9 'Rate:'
-->