<farmeasy-header [Data]="headerData"></farmeasy-header>
<ion-content>
    <ion-card *ngFor="let mainMenu of menuData;let i=index" (click)="selectedTask(mainMenu)">
        <ion-item>
          <ion-thumbnail slot="start">
             <img [src]="mainMenu.image" class="module_image">
          </ion-thumbnail>
          <ion-label no-margin>
            <p class="farmmodule_title">{{mainMenu.heading}}</p>
            <p class="farmmodule_subtitle">{{mainMenu.description}}</p>
            <img slot="end" src="assets/images/forwordarrow.png" class="cssarrow">
          </ion-label>
        </ion-item>
      </ion-card>
</ion-content>
