
:host(.ion-color) .toolbar-background{
background:blue  !important;

}
ion-content { 
--background-repeat: no-repeat;
--background-size: 100% 100%;
}
ion-title{
text-align:center;
color:#fff;
font-size:16px;
}
ion-toolbar {
--background: #ff9800 100%;
--ion-color-base: #ff9800 100% !important;
}
.item{
--background: transparent;
}
.form_background{
margin: 10px;
border-radius: 8px;
left: 41px; 
padding-top:10px;
background-color: rgba(51, 59, 42, 0.5);
text-align: center;
}
.forgot_password{
color:#fff;
font-size: 13px;
}
.reset_password{
color:#fff;
font-size: 13px;
margin-left: 0px;
}
.sign_in{
--background: #ff9800; 
width: 60%;
margin-left: 21%;
text-transform:none;
margin-top: 14%;
}
.farm_userstyle{
margin: 0px;
text-align: center;
margin-top: 12px;
margin-bottom: -38px;
}
.farm_userimg{
width: 90px;
height: 90px;
border-radius: 52px;
}
h2 {
margin-top: 24px;
font-size: 24px;
margin-bottom: 31px;
color:#fff;
}
.error_message{
color: #fff;
position: absolute;
top: 219px;
left: 42px;
}