<ion-header>
  <ion-toolbar>
    <ion-title>
      Ayurveda One
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<!-- <ion-content style="background-image: url('assets/images/spalsh.jpeg');background-repeat: no-repeat;background-size: 100% 100%;background-size: cover;
    background-attachment: fixed;--background:transparent"> -->
  <!-- <p class="farm_userstyle">
    <img  *ngIf="!profile_pic" src="assets/images/placeholder_user.png" class="farm_userimg" >
    <img *ngIf="profile_pic"   [src]="profile_pic" class="farm_userimg" >
  </p>


  <div class="form_background">
    <h2>Sign In</h2>
    <farm-easy-login (Farmusernumber)="onchnageusernumber($event)" (Farmpassword)="onchnageuserpassword($event)"></farm-easy-login>
    <p [hidden]="user_number_errmsg" style="color:#fff;">**please enter you credentials
    </p>
    <ion-button expand="full" shape="round" class="sign_in" (click)="Farmdashboard()">Sign In</ion-button>
    <div *ngIf="usernum_errormessage == false" class="error_message">*Please enter valid number
    </div>
    <ion-item>
      <p slot="start" class="forgot_password">Forgot password?</p>
      <p slot="end" class="reset_password"> Reset password?</p>
    </ion-item>
  </div> -->
  <farm-easy-login ></farm-easy-login>

</ion-content>