<div style="content-align:center">
  <div class="farm_userstyle">
    <img *ngIf="!profile_pic" src="assets/images/placeholder_user.png" class="farm_userimg">
    <img *ngIf="profile_pic" [src]="profile_pic" class="farm_userimg">
  </div>
  <div class="form_background">
    <h2>Sign In</h2>
    <ion-item no-lines class="input-fileds">
      <img item-left src="assets/images/cellphone-android.png" class="input-image">
      <ion-input item-left no-lines type="number" placeholder="Username" (ionChange)="onchnageusernumber($event)"></ion-input>
    </ion-item>
    <div *ngIf="usernum_errormessage == false" class="error_message">*Please enter valid number
      </div>
    <ion-item no-lines class="input-fileds">
      <img item-left src="assets/images/key-variant.png" class="input-image">
      <ion-input item-left no-lines type="password" placeholder="Password" (ionChange)="onchnageuserpassword($event)"></ion-input>
    </ion-item>
    <p [hidden]="user_number_errmsg" class="validation-msg">**please enter you credentials
    </p>
    <ion-button expand="full" shape="round" class="sign_in" (click)="Farmdashboard()">Sign In</ion-button>
    <!-- <ion-item no-lines class="passwords-item"> -->
      <p  class="forgot_password" (click)="forgotPassword()">Forgot password?</p>
      <!-- <p slot="end" class="reset_password"> Reset password?</p> -->
    <!-- </ion-item> -->
  </div>
</div>
