.list{
background: transparent !important;
}
.input-fileds{
    --min-height: 30px;
    --padding-start: 5px;
    --border-radius: 5px;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 24px;
    --border-width: 0 0 0 0 !important;
    --show-full-highlight: 0 !important;
    --show-inset-highlight: 0 !important;
}
.input-image{
    padding-right: 6px;
    border-right: 1.5px solid #BABABA;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button 
{ 
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
margin: 0; 
}
ion-input{
margin-left: 16px !important;
margin-top: 3px !important;
}
:host(.ion-color) .toolbar-background{
background:blue  !important;
}
ion-content { 
--background-repeat: no-repeat;
--background-size: 100% 100%;
}
ion-title{
text-align:center;
color:#fff;
font-size:16px;
}
ion-toolbar {
--background: #ff9800 100%;
--ion-color-base: #ff9800 100% !important;
}
.passwords-item{
--background: transparent;  
--border-color: transparent; 
}
.form_background{
    width: 75%;
    height: 390px;
    margin-left: 48px;
    /* margin-right: 5px; */
    border-radius: 8px;
    /* left: 56px; */
    text-align: center;
    margin-top: -18%;
    border-radius: 8px;
    background-color: rgba(51, 59, 42, 0.6);
    border: 1px solid rgba(187, 187, 187, 0.87);
}
.forgot_password{
color:#fff;
font-size: 12px;
text-align:center;
}
.reset_password{
color:#fff;
font-size: 13px;
margin-left: 0px;
}
.sign_in{
    --background: #ff9800;
    width: 60%;
    margin-bottom: 20px;
    margin-left: 21%;
    text-transform: none;
}
.farm_userstyle{

    text-align: center;
    margin-top: 8%;

}
.farm_userimg{
    width: 145px;
    height: 145px;
    opacity: 0.98;
    border-radius: 100px; 
    object-fit: cover;
}
h2 {
    margin-top: 70px;
    font-size: 24px;
    margin-bottom: 24px;
    color: #fff;
}
.error_message{
color: red;
margin-top: 10px;
margin-bottom: 10px;
}
.passwords-item{
width: 100% !important;
margin-left: 0% !important;
}
.validation-msg{
color:red; 
}
